@(editingDate : String, timetable : List[models.timetable.Timetable])

@import be.objectify.deadbolt.java.views.html._
@import be.objectify.deadbolt.core.utils.TemplateUtils._


@import helper.inputText;
@import models.entities.user._;
@import models.entities.social._;
@import helper.twitterBootstrap._

@import models.logic.social._;
@import models.logic.education._;
@import html5.tags.html._

@import helper.inputPassword;
@import helper.inputRadioGroup;
<style>
.multiselect {
    width:200px;
    height:75px;
    border:solid 1px #c0c0c0;
    overflow:auto;
}
.cabinet {
	width:65px;
	margin-top:3px;
}

td {
	min-height:40px; 
}

.verticalText
{
text-align: center;
vertical-align: middle;
border:1px black; 
margin-top: 300%;
white-space: nowrap;
-webkit-transform: rotate(-90deg);
-moz-transform: rotate(-90deg);
}

</style>
@_content(Messages("AttendancePage")) {
@if(flash.containsKey("success")) {
        <div class="alert alert-success">
	      	<button type="button" class="close" data-dismiss="alert">x</button>
            <strong>Done!</strong> @flash.get("success")
        </div>
    }
<h3> @editingDate </h3>

	@helper.form(action = controllers.education.routes.Registers.otherDate()) {
		<h4>@Messages("GototheDate")</h4> <input id=datePicker type = date name = date style="height:30px; width:239px; margin-right:30px"> <input type="submit" class="btn btn-primary" style="margin-top:-5px" value="@Messages("Go")" >
	}	
	
	<table border=1>
	<thead>
		<th>@Messages("Start")</th>
		<th>@Messages("Finish")</th>
		<th>@Messages("Cabinet")</th>
		<th>@Messages("Lesson")</th>
		<th>@Messages("Teacher")</th>
		<th>@Messages("Group")</th>
	</thead>
		@*
	@for(row <- timetable){
		<tr>
		<td>@row.startTime.format("HH:mm") </td> 
		<td>@row.endTime.format("HH:mm") </td> 
		<td>@row.cabinet </td> 
		<td>@if(row.lesson == null) { @row.electiveGroup.name }else{ @row.lesson.name }</td>
		<td>@if(row.teacher == null) { @row.electiveGroup.curator.profile.lastName.@row.electiveGroup.curator.profile.firstName.charAt(0). }else{ 
			@row.teacher.profile.lastName.@row.teacher.profile.firstName.charAt(0). 
		} </td>
		<td><a href="@controllers.education.routes.Registers.attendanceList(editingDate, row.id)">@row.dostykGroup.name</a></td>
		</tr>
	}*@
	</table>
}
<script type="text/javascript" src='@routes.Application.javascriptRoutes'></script>
<script>
$(document).ready( function() {
    var now = new Date();
    var month = (now.getMonth() + 1);               
    var day = now.getDate();
    if(month < 10) 
        month = "0" + month;
    if(day < 10) 
        day = "0" + day;
    var today = now.getFullYear() + '-' + month + '-' + day;
    $('#datePicker').val(today);
});
</script>