@import models.timetable.TimetableLesson
@import models.entities.education.Attendance

@(lesson:TimetableLesson,list:List[Attendance],today:String)

@_content(lesson.timetable.grade.name + " " + lesson.subject.name) {
	<form class="form form-inline">
		<font size="5">@lesson.subject.name - @lesson.timetable.grade.name</font>
		<span class="pull-right">
			<label for="today">@Messages("Date")</label>
			<input class="form-control" id="today" type="date" value="@today"/>
			<input class="form-control" id="ok" type="button" value="OK"/>			
		</span>  
	</form>
	<table class="table table-condensed table-hover">
    	<thead>
    		<tr>
    			<td>№</td>
		   		<td>@Messages("profile.firstName")</td>
		   		<td>@Messages("profile.lastName")</td>
		   		<td>@Messages("attendance")</td>
    		</tr>    		
		</thead>
		<tbody>			
			@for((att, i) <- list.zipWithIndex) {
				<tr>
					<td>@{i+1}</td>
					<td>@att.student.profile.firstName</td>
					<td>@att.student.profile.lastName</td>
					<td>
						<input type="button" id="att_@att.id" class="attendance btn btn-xs 
							@if(att.status == 0) {btn-success} @if(att.status == 1) {btn-warning} @if(att.status == 2) {btn-danger}"
							value="@if(att.status == 0){@Messages("present")}@if(att.status == 1){@Messages("late")}@if(att.status == 2){@Messages("absent")}">
					</td>					
				</tr>
			}
		</tbody>		
	</table>
	<input type="button" value="@Messages("Save")" class="btn btn-success" id="update">
}
<script type="text/javascript" src='@routes.Application.javascriptRoutes'></script>
<script type="text/javascript">
	$(document).on("click", "#ok", function() {
		var tdy = $("#today").val();
		console.log(tdy);
		var URL = '@controllers.education.routes.Attendances.edit(0, "tdy")';
   	 	URL = URL.replace('0', @lesson.id);
   	 	URL = URL.replace('tdy', tdy);
		window.location.href = URL; 
	});
	$(document).on("click", ".attendance", function() {
		var id = this.id.split("_")[1];
		if ($("#att_"+id).hasClass("btn-success")) {
			$("#att_"+id).addClass("btn-warning");
			$("#att_"+id).removeClass("btn-success");
			$("#att_"+id).attr("value", "@Messages("late")");
		} else if ($("#att_"+id).hasClass("btn-warning")) {
			$("#att_"+id).addClass("btn-danger");
			$("#att_"+id).removeClass("btn-warning");
			$("#att_"+id).attr("value", "@Messages("absent")");
		} else if ($("#att_"+id).hasClass("btn-danger")) {			
			$("#att_"+id).addClass("btn-success");
			$("#att_"+id).removeClass("btn-danger");
			$("#att_"+id).attr("value", "@Messages("present")");
		}		
	}); 
	$(document).on("click", "#update", function() {
		var content = {};
		@for((att,i) <- list.zipWithIndex) {
			var x = 2;
			if ($("#att_"+@att.id).hasClass("btn-success")) x = 0;
			else if ($("#att_"+@att.id).hasClass("btn-warning")) x = 1;
			content[@att.id] = x;				
		}		
		var cont = JSON.stringify(content);			
		$.ajax({
	        url: '@controllers.education.routes.Attendances.update()',
	        data: cont,
	        headers: {
	          'Content-Type': 'application/json'
	        },
	        type: 'POST',
	        success: function(resId) {
	          toastr.success("@Messages("SavedSuccessfully")");	          
	        }
	   	});
	});
</script>