@(teacher : models.entities.user.AuthorisedUser, students : List[models.entities.user.AuthorisedUser], editingDate : String, timetableId : Long, state : List[String])

@import be.objectify.deadbolt.java.views.html._
@import be.objectify.deadbolt.core.utils.TemplateUtils._


@import helper.inputText;
@import models.entities.user._;
@import models.entities.social._;
@import helper.twitterBootstrap._

@import models.logic.social._;
@import models.logic.education._;
@import html5.tags.html._

@import helper.inputPassword;
@import helper.inputRadioGroup;
<style>
td {
	min-height:40px; 
}
</style>
@_content(Messages("AttendanceList")) {
    
<h2> @editingDate </h2>
	
	@helper.form(action = controllers.education.routes.Registers.save()) {
	<input style="display:none" name ="date" type=text value = "@editingDate">
	<input style="display:none" type=text name="timetableId" value="@timetableId">
	<table border=1 class="table-condensed">
	<thead>
		<th>@Messages("FullName")</th>
		<th>@Messages("Phone.Number") </th>
		<th>@Messages("Presence")</th>
	</thead>
	<tbody>
	<tr style="background-color:#fea">
		<td>@teacher.profile.lastName @teacher.profile.firstName</td>
		<td>@teacher.profile.phoneNumber </td>
		<td>
				@if(state.get(0).equals("present")){
					<button style="min-width:100px; margin:5px;" type="button" status = "present" class="btn changeStatusBtn btn-success"> @Messages("Present") </button>
					<input style="display:none" type = text value = "present" name="@teacher.id">
				}
				
				@if(state.get(0).equals("notPresent")){
					<button style="min-width:100px; margin:5px;" type="button" status = "notPresent" class="btn changeStatusBtn btn-danger"> @Messages("Not.present") </button>
					<input style="display:none" type = text value = "notPresent" name="@teacher.id">
				}
				
				@if(state.get(0).equals("late")){
					<button style="min-width:100px; margin:5px;" type="button" status = "late" class="btn changeStatusBtn btn-warning"> @Messages("Late") </button>
					<input style="display:none" type = text value = "late" name="@teacher.id">
				}
				 
		</td>
	</tr>
	@for(i <- 0 to students.size()-1){
		<tr>
			<td>@students.get(i).profile.lastName @students.get(i).profile.firstName </td>
			<td>@students.get(i).profile.phoneNumber </td>
			<td>
				@if(state.get(i+1).equals("present")){
					<button style="min-width:100px; margin:5px;" type="button" status = "present" class="btn changeStatusBtn btn-success"> @Messages("Present") </button>
					<input style="display:none" type = text value = "present" name="@students.get(i).id">
				}
				
				@if(state.get(i+1).equals("notPresent")){
					<button style="min-width:100px; margin:5px;" type="button" status = "notPresent" class="btn changeStatusBtn btn-danger"> @Messages("Not.present") </button>
					<input style="display:none" type = text value = "notPresent" name="@students.get(i).id">
				}
				
				@if(state.get(i+1).equals("late")){
					<button style="min-width:100px; margin:5px;" type="button" status = "late" class="btn changeStatusBtn btn-warning"> @Messages("Late") </button>
					<input style="display:none" type = text value = "late" name="@students.get(i).id">
				}
			</td>
		</tr>
	}
	<tr>
	<td colspan=3>
		<center>
		<input type="submit" class="btn btn-primary" value="@Messages("Save")" id="save">
		</center>
	</td>
	</tr>
	</tbody>
	
	</table>
	}
}
<script type="text/javascript" src='@routes.Application.javascriptRoutes'></script>
<script>
	$(".changeStatusBtn").on("click", function() {
		status = $(this).attr("status");
		cur = $(this);
		if (status=="present") {
			cur.toggleClass('btn-success btn-warning');
			cur.attr("status", "late");
			cur.html("@Messages("Late")");
			cur.next().val("late"); 
		} else if (status == "late") {
			cur.toggleClass('btn-warning btn-danger');
			cur.attr("status", "notPresent");
			cur.html("@Messages("Not.Present")");
			cur.next().val("notPresent");
		} else {
			cur.toggleClass('btn-danger btn-success');
			cur.attr("status", "present");
			cur.html("@Messages("Present")");
			cur.next().val("present");
		}
	});
</script>