@(dList: List[models.entities.education.CourseType], dForm: Form[models.entities.education.CourseType])


@import helper._
@import helper.twitterBootstrap._
@import html5.tags.html._

@translate(text: String) = @{
    Messages(text)
}

@_content(Messages("ctype.setCourseTypes")){
<div class="span9">
    <div class="page-header">
        <h3>@Messages("ctype.setCourseTypes")</h3>
    </div>
    <div style="display:none" id="result_div">
    </div>
    <table class="table table-striped">
        <tr>
            <td>
                <b>@Messages("ctype.class")</b>
            </td>
            <td>
                <b>@Messages("ctype.name")</b>
            </td>
            <td>
            	<b>@Messages("ctype.code")</b>
            </td>
            
            <td></td>
        </tr>
        @for(ctype <- dList){
        <tr class=@ctype.id>
            <td>
                @ctype.classNumber
            </td>
            <td>
                @ctype.name
            </td>
            <td>
            	@ctype.code
            </td>
            <td>
                <div class="actions">
                	<a href="@controllers.education.routes.CourseTypes.editCourseType(ctype.id)" class="btn"><i class="icon icon-edit"></i></a>                	
                	<button class="btn delete" id=@ctype.id ><i class="icon icon-remove"></i></button>
                </div>
            </td>
        </tr>
        }
        @helper.form(action = controllers.education.routes.CourseTypes.saveCourseType, 'method -> "POST") {
        <tr>
            <td>
                @number(
                dForm("classNumber"),
                '_label -> translate("ctype.classNumber"),
                '_error -> dForm.globalError,
                '_min -> 0,
                '_max -> 12,
                '_showConstraints -> false
                )
            </td>
            <td>
                @text(
                dForm("name"),
                '_label -> translate("ctype.name"),
                '_error -> dForm.globalError,
                '_showConstraints -> false
                )
            </td>
            <td>
            	@text(
                dForm("code"),
                '_label -> translate("ctype.code"),
                '_error -> dForm.globalError,
                '_showConstraints -> false
                )
            </td>
            <td></td>
        </tr>
        <tr>
            <td colspan="4">
                <div class="actions" align="right">
                    <input type="submit" class="btn primary" value='@Messages("add")'>
                    <a href="@routes.Application.index" class="btn">@Messages("cancel")</a>
                </div>
            </td>
        </tr>
        }
    </table>
}
<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
<script type="text/javascript" src='@routes.Application.javascriptRoutes'></script>
<script type="text/javascript">
    $(".delete").click(function(){
        value = this.id;
        if (value.length>0) {
            $("#"+value).attr("disabled", true);
            $("#"+value).html("<img src='@routes.Assets.at("images/loaderAJAX.gif")'/>");
            myJsRoutes.controllers.education.CourseTypes.deleteCourseType(value).ajax({
                success : function(data) {
                    $("#result_div").hide();
                    $("#result_div").html(data);
                    $("#result_div").slideDown();
                    $("."+value).hide();
                },
                error : function(jqXHR, textStatus, errorThrown) {
                    $('#tb').prepend(''+jqXHR.responseText);
                    $(".alert-error").slideDown();
                    $("#"+value).html("<b>×</b>");
                    $("#"+value).attr("disabled", false);
                }
            });
        }
    });
</script>