@(dostyks : List[models.entities.social.Dostyk])

@import be.objectify.deadbolt.java.views.html._
@import be.objectify.deadbolt.core.utils.TemplateUtils._


@import helper.inputText;
@import models.entities.user._;
@import models.entities.social._;
@import helper.twitterBootstrap._

@import models.logic.social._;
@import models.logic.user._;
@import models.logic.education._;
@import html5.tags.html._


@_content(Messages("report.courseType")){
<button id="myButtonControlID" class="btn">@Messages("excelExport")</button>
<style>
tbody > tr > th {
    width: 180px;
}
thead > tr > th {
    height: 80px;
}
.rotate{
/* FF3.5+ */
  -moz-transform: rotate(-90.0deg);
  /* Opera 10.5 */
  -o-transform: rotate(-90.0deg);
  /* Saf3.1+, Chrome */
  -webkit-transform: rotate(-90.0deg);
  /* IE6,IE7 */
  filter: progid: DXImageTransform.Microsoft.BasicImage(rotation=0.083);
  /* IE8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=0.083)";
  /* Standard */
  transform: rotate(-90.0deg);
  transform-origin: left;
  margin-top: 20px;
  position: relative;
  width: 0px;
  left: 15px;

}

.hover { background-color: #db056f; }
</style>
<div id="divTableDataHolder" style="overflow: auto">
<table class="table table-hover">
	@restrict(la(as("admin"))){
	<colgroup></colgroup>	
	@for(dostyk<-dostyks){
	<colgroup></colgroup>
	}
	<thead>
        <tr>
            <th></th>
            @for(dostyk<-dostyks){
            <th ><div class="rotate"><span>@dostyk.name</span></div></th>
            }
        </tr>
    </thead>
    <tbody>
    	<tr>
    		<th>@Messages("StudentCount")</th>
    		@for(dostyk<-dostyks){
    		<td>@models.logic.social.DostykLogic.getStudentsSize(dostyk,"active")</td>
    		}
    	</tr>
    	<tr>
    		<th>@Messages("deletedUsers")</th>
    		@for(dostyk<-dostyks){
    		<td>@models.logic.social.DostykLogic.getStudentsSize(dostyk,"completed")</td>
    		}
    	</tr>
    	@for(course<-CourseTypeLogic.getAll()){
    	<tr>
    		<th>@course.name</th>
    		@for(dostyk<-dostyks){
    		<td>@dostyk.courseTypeCount.get(course)</td>
    		}
    	</tr>
    	}
    </tbody>
    }
	@restrict(la(as("moderator"))){
    <thead>
        <tr>
            <th></th>
            <th>@Messages("StudentCount")</th>
            <th>@Messages("deletedUsers")</th>
            @for(course<-CourseTypeLogic.getAll()){
            <th>@course.name</th>}
        </tr>
    </thead>	
    
    <tbody>
    @for(dostyk<-dostyks){
		<tr class="dostyk" dostykid="@dostyk.id">
            <th><a>@dostyk.name</a></th>
            <td>@models.logic.social.DostykLogic.getStudentsSize(dostyk,"active")</td>
            <td>@models.logic.social.DostykLogic.getStudentsSize(dostyk,"completed")</td>
            @for(course<-CourseTypeLogic.getAll()){
            <td>@dostyk.courseTypeCount.get(course)</td>	
            }
        </tr>
        @restrict(la(as("moderator"))){
        @for(group<-dostyk.dostykGroups){
		<tr class="dostyk_@dostyk.id groups">
			<td>@group.name</td>
			@*
			@if(group.`type`=="E"){
			<td>@group.electiveStudents.size()</td>
			@for(course<-CourseTypeLogic.getAll()){
			<td>@group.courseTypeCount.get(course)</td>
			}
			}else{			
			<td>@group.students.size()</td>
			@for(course<-CourseTypeLogic.getAll()){
			<td>@group.courseTypeCount.get(course)</td>                    
			}
			}*@
		}
		}
		</tr>
	}
	</tbody>
	}
</table>
</div>
}
<script>
$("[id$=myButtonControlID]").click(function(e) {
    window.open('data:application/vnd.ms-excel,' 
    	+ encodeURIComponent( $('div[id$=divTableDataHolder]').html()));
    e.preventDefault();
});
	$(document).ready(function() {
		$(".groups").hide();	
	});
	$(".dostyk").click(function() {
		var dostykid = $(this).attr("dostykid");
		$(".dostyk_" + dostykid).toggle();
	});
	
	$("table").delegate('td','mouseover mouseleave', function(e) {
	    if (e.type == 'mouseover') {
	      $(this).parent().addClass("hover");
	      $("colgroup").eq($(this).index()).addClass("hover");
	    }
	    else {
	      $(this).parent().removeClass("hover");
	      $("colgroup").eq($(this).index()).removeClass("hover");
	    }
	});
</script>