@(filledForm: Form[models.entities.education.Lesson],courseList:List[models.entities.education.Course],checkedList: List[models.entities.education.Course] ,id: Long)



@import helper.twitterBootstrap._
@import html5.tags.html._

@translate(text: String) = @{
    Messages(text)
}
@language = @{ Seq("KZ"->"Қаз","RU"->"Рус") }
@_content(Messages("lesson.edit")){
<div class="span9">
    <div class="page-header">
        <h3>@Messages("lesson.edit")</h3>
    </div>
    <div style="display:none" id=result_div></div>
        @helper.form(action = controllers.education.routes.Lessons.saveExistingLesson(id), 'method -> "POST") {
            @text(
                filledForm("name"),
                '_label -> translate("lesson.name"),
                '_error -> filledForm.globalError,
                '_showConstraints -> false
            )
            @number(
                filledForm("code"),
                '_label -> translate("Lesson.code"),
                '_error -> filledForm.globalError,
                '_min -> 1,
                '_max -> 40,
                '_showConstraints -> false
            )
            @select(
                filledForm("language"),
                options = language,
                '_label -> translate("lesson.language"),
                '_showConstraints -> false
            )
            @for(course <- courseList){
                @if(checkedList.contains(course)){
                    <b>@course.title</b> <input type="checkbox" name="@course.id" checked> &nbsp &nbsp
                } else {
                    <b>@course.title</b> <input type="checkbox" name="@course.id"> &nbsp &nbsp
                }

            }
            <div class="actions" align="right">
                <input type="submit" class="btn primary" value='@Messages("save")'>
                <a href="/lesson/list" class="btn">@Messages("cancel")</a>
            </div>
        }
</div>
}
<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">