@(filledForm: Form[models.entities.education.CourseType], id: Long)


@import helper._
@import helper.twitterBootstrap._
@import html5.tags.html._

@translate(text: String) = @{
    Messages(text)
}
@_content(Messages("courseType.edit")){
<div class="span5">
    <div class="page-header">
        <h3>@Messages("courseType.edit")</h3>
    </div>
    
        @helper.form(action = controllers.education.routes.CourseTypes.updateCourseType(id), 'method -> "POST") {
            @number(
                filledForm("classNumber"),
                '_label -> translate("courseType.classNumber"),
                '_error -> filledForm.globalError,
                '_min -> 0,
                '_max -> 12,
                '_showConstraints -> false
            )
            @text(
                filledForm("name"),
                '_label -> translate("courseType.name"),
                '_error -> filledForm.globalError,
                '_showConstraints -> false
            )            
            @text(
                filledForm("code"),
                '_label -> translate("courseType.code"),                
                '_error -> filledForm.globalError,
                '_showConstraints -> false
            )
            <div class="actions" align="right">
                <input type="submit" class="btn primary" value='@Messages("save")'>
                <a href="/dostyk/list" class="btn">@Messages("cancel")</a>
            </div>
        }
       </div>
</div>
}
<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
