@()

@import be.objectify.deadbolt.java.views.html._
@import be.objectify.deadbolt.core.utils.TemplateUtils._

@import models.logic.education._;
@import models.logic.social.DostykGroupLogic 

@_content(Messages("extra.journal")) {

	@if(flash.containsKey("success")) {
        <div class="alert alert-success">
	      	<button type="button" class="close" data-dismiss="alert">x</button>
            <strong>Done!</strong> @flash.get("success")
        </div>
    }
    
	<select id=lesson>
		<option value="no"> @Messages("selectLesson") </option>
		@for(l <- LessonLogic.getAll) {
			<option value=@l.id> @l.language  @l.name </option>
		}
	</select>
	
	<select id="group" >
				<option value="no"> @Messages("selectGroup") </option>
				@for(g <- DostykGroupLogic.getByConnected) {
					<option value=@g.id> @g.name </option>
				} 
	</select>
	
	<select id="teacher" >
				<option value="no"> @Messages("selectTeacher") </option> 
	</select>
	
	<input id=datePicker type = date name = date style="height:30px; width:239px; margin-right:30px">
	
	 
	<input type="submit" class="btn btn-primary" style="margin-top:-5px" id="submit" value="@Messages("Go")" >
	
	<table class="table table-bordered"></table>
	@loading()
	<div id=res>
	</div>
}

<script type="text/javascript" src='@routes.Application.javascriptRoutes'></script>
<script>
$(document).ready( function() {
    var now = new Date();
    var month = (now.getMonth() + 1);               
    var day = now.getDate();
    if(month < 10) 
        month = "0" + month;
    if(day < 10) 
        day = "0" + day;
    var today = now.getFullYear() + '-' + month + '-' + day;
    $('#datePicker').val(today);
});

$("#lesson").change(function(){
	$("#group").empty().append('<option value="no"> @Messages("Loading...") </option>');
	lesson = $("#lesson").val();
	
	if (lesson == "no") return;
	
	
	myJsRoutes.controllers.education.Registers.getGroups(lesson).ajax({         
			success : function(data) {
				$("#group").empty().append('<option value="no"> @Messages("selectGroup") </option>');
				$("#group").append(data);
			},
			error : function(jqXHR, textStatus, errorThrown) {
	    	alert('@Messages("error")');
			}
	});
});


$("#submit").click(function() {
	lesson = $("#lesson").val();
	group = $("#group").val();
	teacher = $("#teacher").val();
	date = $("#datePicker").val();
	
	if (lesson == "no" || group == "no" || date== "mm/dd/yyyy" || teacher == "no") {
		alert("@Messages("select.please")");
		return; 
	}
	$(".loader").show(); 
	myJsRoutes.controllers.education.ExtraJournals.getByLessonAndGroup(lesson, group, date, teacher).ajax({         
			success : function(data) {
				$("#res").html(data);
			},
 			error : function(jqXHR, textStatus, errorThrown) {
    	    	alert('@Messages("error")');
 			},
 			complete : function(data) {
 				$(".loader").hide();
 			}
	});	
});


$("#group").change(function(){
	lesson = $("#lesson").val();
	group = $("#group").val();
	if (lesson == "no" || group == "no") return;
	loadTeachers(); 
}); 

$("#lesson").change(function(){
	lesson = $("#lesson").val();
	group = $("#group").val();
	if (lesson == "no" || group == "no") return;
	loadTeachers(); 
}); 


function loadTeachers() {
	lesson = $("#lesson").val();
	group = $("#group").val();
	
	$("#teacher").empty().append('<option value="no"> @Messages("Loading...") </option>');
	
	myJsRoutes.controllers.education.ExtraJournals.getTeachers(group, lesson).ajax({         
		success : function(data) {
			$("#teacher").empty().append('<option value="no"> @Messages("selectTeacher") </option>');
			$("#teacher").append(data);
		},
		error : function(jqXHR, textStatus, errorThrown) {
	    	alert('@Messages("error")');
		},
		complete : function(data) {
		}
	});	
}

</script>




