@(topics : List[models.entities.education.Topic], students : List[models.entities.user.AuthorisedUser], state : List[String], marks : List[models.entities.education.ExtraJournal], tr : models.entities.education.TopicRegister)

@import be.objectify.deadbolt.java.views.html._
@import be.objectify.deadbolt.core.utils.TemplateUtils._

@import models.logic.education._;
@import models.logic.social.DostykGroupLogic 
    
	@Messages("lessonTopic")
	<select id=topic>
		<option value="no"> @Messages("select") </option>
		@for(t <- topics) {
			<option value=@t.id @if(tr != null && t.id == tr.topic.id){selected} hasTest="@if(t.pathToFile!= null && t.pathToFile.length() > 0) {yes}else{no}">  @t.name </option>
		}
	</select>
	<span id="downloadTest">
	@if(tr != null && tr.topic!=null && tr.topic.pathToFile!=null && tr.topic.pathToFile.length() > 0) {
		<a href=@controllers.routes.ServeFiles.downloadTest(tr.topic.id)> @Messages("downloadTest") <span class="icon-download-alt" aria-hidden="true"> </span></a>
	} else {
		@Messages("noTest")
	}
	</span>
	
	<style>
		input {
			width:60px;
		}
	</style>

	<table class="table table-condensed table-bordered table-striped">
		<thead>
			<th style="width:40px"> @Messages("Number")</th>
			<th style="width:150px"> @Messages("Name")</th>
			<th style="width:90px"> @Messages("5.pan")</th>
			<th style="width:60px"> @Messages("Date")</th>
			<th> 
				@Messages("kazLang")
			</th>
			<th> 
				@Messages("rusLang")
			</th>
			<th> 
				@Messages("math")
			</th>
			<th> 
				@Messages("history_kz")
			</th>
			<th> 
				@Messages("5.pan")
			</th>
			<th> 
				@Messages("total")
			</th>
		</thead>
		@for((u, i) <- students.zipWithIndex) {
			<tr>
				<td> @{i+1}</td>
				<td> @u.profile.firstName @u.profile.lastName </td>
				<td> 
						@for(l <- u.profile.lessons) {
							@if(l.code.compareTo("04") > 0) {
								@l.language @l.name
							}
						}
				</td>
				<td>
					@if(state.get(i).equals("present")){
						<button style="min-width:100px; margin:5px;" type="button" name="@students.get(i).id" status = "present" class="btn changeStatusBtn btn-success"> @Messages("Present") </button>
					}
					
					@if(state.get(i).equals("notPresent")){
						<button style="min-width:100px; margin:5px;" type="button" name="@students.get(i).id" status = "notPresent" class="btn changeStatusBtn btn-danger"> @Messages("Not.present") </button>
					}
					
					@if(state.get(i).equals("late")){
						<button style="min-width:100px; margin:5px;" type="button" name="@students.get(i).id" status = "late" class="btn changeStatusBtn btn-warning"> @Messages("Late") </button>
					}
				</td>
					
				<td>
					<input type=number min=0 max=200 user = @students.get(i).id which = "kaz" class="mark" value=@if(marks.get(i) != null && marks.get(i).kaz != null){ @marks.get(i).kaz}else{0} >
				</td>
					
				<td>
					<input type=number min=0 max=200 user = @students.get(i).id which = "rus" class="mark" value=@if(marks.get(i) != null && marks.get(i).rus != null){ @marks.get(i).rus}else{0}>
				</td>
				
				<td>
					<input type=number min=0 max=200 user = @students.get(i).id which = "math" class="mark" value=@if(marks.get(i) != null && marks.get(i).math != null){@marks.get(i).math}else{0}>
				</td>
					
				<td>
					<input type=number min=0 max=200 user = @students.get(i).id which = "history" class="mark" value=@if(marks.get(i) != null && marks.get(i).history != null){@marks.get(i).history}else{0}>
				</td>
				
				<td>
					<input type=number min=0 max=200 user = @students.get(i).id which = "selected" class="mark" value=@if(marks.get(i) != null && marks.get(i).selected != null){@marks.get(i).selected}else{0}>
				</td>
					
				<td>
					<input type=number min=0 max=200 user = @students.get(i).id class="total" value=@if(marks.get(i) != null) {@{marks.get(i).kaz+marks.get(i).rus+marks.get(i).math+marks.get(i).history+marks.get(i).selected}}else{0}>
				</td>
				
				
			</tr>
		}
	</table>
	<center><input type="submit" class="btn btn-primary" style="margin-top:-5px" id="submitBody" value="@Messages("save")" > <span class="thanks">  </span></center>
	

<script type="text/javascript" src='@routes.Application.javascriptRoutes'></script>
<script>
 
$(document).on("change", "#topic", function() {
	if ($("#topic option:selected").attr("hasTest") == "yes") {
		$("#downloadTest").html("<a href=downloadTest?id="+$("#topic option:selected").val()+">" + "@Messages("downloadTest")" + " <span class='icon-download-alt' aria-hidden='true'> </span></a>");
	} else {
		$("#downloadTest").html("@Messages("noTest")");
	}
});

$(".changeStatusBtn").on("click", function() {
	status = $(this).attr("status");
	cur = $(this);
	if (status=="present") {
		cur.toggleClass('btn-success btn-warning');
		cur.attr("status", "late");
		cur.html("@Messages("Late")");
		cur.next().val("late"); 
	} else if (status == "late") {
		cur.toggleClass('btn-warning btn-danger');
		cur.attr("status", "notPresent");
		cur.html("@Messages("Not.Present")");
		cur.next().val("notPresent");
	} else {
		cur.toggleClass('btn-danger btn-success');
		cur.attr("status", "present");
		cur.html("@Messages("Present")");
		cur.next().val("present");
	}
});

$(document).on("click", "#submitBody", function() {
	states="";
	users="";

	$(".changeStatusBtn").each(function(){
		states = states + " " + $(this).attr("status");
		users = users + " " + $(this).attr("name"); 
	});
	lesson = $("#lesson").val();
	group = $("#group").val();
	date = $("#datePicker").val();
	topic = $("#topic").val();
	teacher = $("#teacher").val();
	
	$(".thanks").html("@Messages("Saving...")");
	topicId = topic; 
	if (topic == "no") topicId = -1;
	
	myJsRoutes.controllers.education.ExtraJournals.save(states, users, lesson, group, date, teacher, topicId).ajax({         
			success : function(data) {
			},
			error : function(jqXHR, textStatus, errorThrown) {
	    		alert('@Messages("error")');
			},
			complete : function(data) {
				//alert("@Messages("saved")");
			}
	});
	
	users="";
	marks="";
	which="";
	$(".mark").each(function() {
		users = users + " " + $(this).attr("user");
		which = which + " " + $(this).attr("which");
		marks = marks + " " + $(this).val(); 
	});
	
	myJsRoutes.controllers.education.ExtraJournals.saveMarks(users, marks, which, date).ajax({         
		success : function(data) {
		},
		error : function(jqXHR, textStatus, errorThrown) {
    		alert('@Messages("error")');
		},
		complete : function(data) {
			$(".thanks").html("@Messages("Saved")"); 
		}
	});
	 
	
	if (topic != "no") {
		myJsRoutes.controllers.education.TopicRegisters.save(topic, date, group, lesson).ajax({         
			success : function(data) {
			},
			error : function(jqXHR, textStatus, errorThrown) {
	    		alert('@Messages("error")');
			},
			complete : function(data) {
				//alert("@Messages("saved")");
			}
		});
	} 
	
});


</script>




