@(dList: List[models.entities.education.Lesson],cList: List[models.entities.education.Course], dForm: Form[models.entities.education.Lesson])



@import helper.twitterBootstrap._
@import html5.tags.html._

@translate(text: String) = @{
    Messages(text)
}
@language = @{ Seq("KZ"->"Қаз","RU"->"Рус") }
@_content(Messages("Lesson.setDostyk")){
<div class="span9">
    <div class="page-header">
        <h3>@Messages("Lesson.setDostyk")</h3>
    </div>
    <div style="display:none" id=result_div>
    </div>
    <table class="table table-striped" >
        <tr>
            <td>
                <b>@Messages("lesson.name")</b>
            </td>
            <td>
                <b>@Messages("Lesson.code")</b>
            </td>
            <td>
                <b>@Messages("language")</b>
            </td>
            @for(course <- cList){
                <td>
                    <b>@course.title</b>
                </td>
            }
            <td></td>
            <td></td>
        </tr>
        @for(lesson <- dList){
            <tr class=@lesson.id>
                <td>
                    @lesson.name
                </td>
                <td>
                    @lesson.code
                </td>
                <td>
                    @if(lesson.language == "KZ") {
                        Қаз
                    } else {
                        Рус
                    }


                </td>
                @for(course <- cList){
                    <td>
                        @if(lesson.course.contains(course)){
                            <img src="@routes.Assets.at("images/checked.png")">
                        }
                    </td>
                }
                <td>
                    <div class="actions">
                        <a href="/lesson/edit/@lesson.id" class="btn"><i class="icon icon-edit"></i></a>
                    </div>
                </td>
                <td>
                    <div class="actions">
                        <button class="btn delete" id=@lesson.id ><i class="icon icon-remove"></i></button>
                    </div>
                </td>
            </tr>
        }
        @helper.form(action = controllers.education.routes.Lessons.saveLesson, 'method -> "POST") {
         <tr>
            <td id="asd">
                @text(
                    dForm("name"),
                    '_label -> translate("lesson.name"),
                    '_error -> dForm.globalError,
                    '_showConstraints -> false
                )
            </td>
            <td>
                @number(
                    dForm("code"),
                    '_label -> translate("Lesson.code"),
                    '_error -> dForm.globalError,
                    '_min -> 1,
                    '_max -> 40,
                    '_showConstraints -> false
                )
            </td>
            <td>
                @select(
                    dForm("language"),options = language,'_error -> dForm.globalError,'_showConstraints -> false
                )
            </td>
            @for(course <- cList){
                <td>
                <label>@course.title<input type="checkbox" name="@course.title"></label>
                </td>
            }
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td colspan="3"></td>
            @for(course <- cList){
                <td>
                </td>
            }
            <td><input type="submit" class="btn primary" value='@Messages("add")'></td>
            <td><a href="@routes.Application.index" class="btn">@Messages("cancel")</a></td>
        </tr>
        }
    </table>
</div>
}
<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
<script type="text/javascript" src='@routes.Application.javascriptRoutes'></script>
<script type="text/javascript">
    $(".delete").click(function(){
        value = this.id;
        var r=confirm("@Messages("areYouSure")");
        if (value.length>0&&r==true) {
            $(this).attr("disabled", true);
            $(this).html("<img src='@routes.Assets.at("images/loaderAJAX.gif")'/>");
            myJsRoutes.controllers.education.Lessons.deleteLesson(value).ajax({
                success : function(data) {
                    $("#result_div").hide();
                    $("#result_div").html(data);
                    $("#result_div").slideDown();
                    $("."+value).hide();
                },
                error : function(jqXHR, textStatus, errorThrown) {
                    $('#tb').prepend(''+jqXHR.responseText);
                    $(".alert-error").slideDown();
                    $("#"+value).attr("disabled", false);
                    $("#"+value).html("<i class='icon icon-remove'></i>");
                }
            });
        }
    });
</script>