@(lessonHoursForm : Form[models.entities.education.LessonHours],dostyk: models.entities.social.Dostyk )

@import be.objectify.deadbolt.java.views.html._
@import be.objectify.deadbolt.core.utils.TemplateUtils._

@import html5.tags.html._
@import models.logic.education._

@for(lesson<-models.logic.education.LessonLogic.getAll()){
<tr>
  <td>@lesson.language</td>
  <td>@lesson.name</td>
  <td>
    <form action="@controllers.education.routes.LessonHourss.save()" method="POST" id="lesson_@lesson.id.toString" style="margin:0">	
      @if(LessonHoursLogic.getLessonHoursId(dostyk,lesson)!=0L){<input type="hidden" name="id" value="@LessonHoursLogic.getLessonHoursId(dostyk,lesson)" />}
      <input type="hidden" name="lesson.id" value="@lesson.id" />
      <input type="hidden" name="dostyk.id" value="@dostyk.id" />
  	  <input type="tel" class="text save" name="hours" value="@LessonHoursLogic.getHours(dostyk,lesson)" />
    </form>		  		
  </td>	  		
</tr>
  	
  }
	  
<script type="text/javascript" src='@routes.Application.javascriptRoutes'></script>
<script>
$('.save').on("change",
	function () {
		var form_id = "#lesson_"+$(this).siblings('[name="lesson.id"]').val()
		var id = $(this).siblings('[name="id"]').val()
		var lessonId = $(this).siblings('[name="lesson.id"]').val()
		var dostykId = $(this).siblings('[name="dostyk.id"]').val()
		var hours    = $(this).val
		myJsRoutes.controllers.education.LessonHourss.save().ajax({
			data: $(form_id).serialize(),
			//data: "{'id':'" + id+ "', 'lesson.id':'" + lessonId+ "', 'dostyk.id':'" + dostykId+ "', 'hours':'" + hours+ "'}",
			success : function(data) {
				$("#lessonHoursTableBody").html(data);
			},
			error : function(jqXHR, textStatus, errorThrown) {
				console.log(textStatus);
			}
		});


})

</script>