@(lessonHoursForm : Form[models.entities.education.LessonHours],dostyk: models.entities.social.Dostyk )

@import be.objectify.deadbolt.java.views.html._
@import be.objectify.deadbolt.core.utils.TemplateUtils._

@import html5.tags.html._
@import models.logic.education._

@_content(Messages("lessonHoursForm")){
<div class="span9">
  <legend>@Messages("lessonHoursForm")</legend>
  <fieldset>
    <table class="table table-hover table-condensed table-bordered">
      <thead>
        <tr>
          <th>@Messages("lesson.language")</th>
          <th>@Messages("lesson.name")</th>
          <th>@Messages("lesson.hours")</th>
        </tr>
      </thead>
      <tbody id="lessonHoursTableBody">
        @lessonHoursTableBody(lessonHoursForm,dostyk)	  
	  </tbody>
  	</table>
  </fieldset>
</div>
}
