@(topics : List[models.entities.education.Topic], students : List[models.entities.user.AuthorisedUser], state : List[String], att : List[Integer], utt : List[Integer], tr : models.entities.education.TopicRegister, teacher : models.entities.user.AuthorisedUser)

@import be.objectify.deadbolt.java.views.html._
@import be.objectify.deadbolt.core.utils.TemplateUtils._

@import models.logic.education._;
@import models.logic.social.DostykGroupLogic 
    
	<center>
		@if(teacher != null){
			<p><b>@Messages("teacher")</b>: @teacher.profile.lastName @teacher.profile.firstName</p>
		}
		
		<b>@Messages("lessonTopic")</b>:
		<select id=topic>
			<option value="no"> @Messages("select") </option>
			@for(t <- topics) {
				<option value=@t.id @if(tr != null && t.id == tr.topic.id){selected}>  @t.name </option>
			}
		</select>
	</center>
	
	 
	<table class="table table-condensed table-bordered table-striped">
		<thead>
			<th> @Messages("Number")</th>
			<th> @Messages("Name")</th>
			<th> @Messages("Attendance")</th>
			<th> 
				<select name=att id=att>
					@for( i <- 1 to 30) {
						<option value=@i>
							@Messages("ATT") @i
						</option>
					} 
				</select>
			</th>
			<th> 
				<select name=utt id=utt>
					@for( i <- 1 to 30) {
						<option value=@i>
							@Messages("YTT") @i
						</option>
					} 
				</select>
			</th>
		</thead>
		@for((u, i) <- students.zipWithIndex) {
			<tr>
				<td> @{i+1}</td>
				<td> @u.profile.firstName @u.profile.lastName </td>
				<td>
					@if(state.get(i).equals("present")){
						<button style="min-width:100px; margin:5px;" type="button" name="@students.get(i).id" status = "present" class="btn changeStatusBtn btn-success"> @Messages("Present") </button>
					}
					
					@if(state.get(i).equals("notPresent")){
						<button style="min-width:100px; margin:5px;" type="button" name="@students.get(i).id" status = "notPresent" class="btn changeStatusBtn btn-danger"> @Messages("Not.present") </button>
					}
					
					@if(state.get(i).equals("late")){
						<button style="min-width:100px; margin:5px;" type="button" name="@students.get(i).id" status = "late" class="btn changeStatusBtn btn-warning"> @Messages("Late") </button>
					}
				</td>
					
				<td>
					<input type=number min=0 max=200 user = @students.get(i).id class="attFields" value=@att.get(i)>
				</td>
					
				<td>
					<input type=number min=0 max=200 user = @students.get(i).id class="uttFields" value=@utt.get(i)>
				</td>
			</tr>
		}
	</table>
	<center> <input type="submit" class="btn btn-primary" style="margin-top:-5px" id="submitBody" value="@Messages("save")" > <span class="thanks">  </span></center>
	

<script type="text/javascript" src='@routes.Application.javascriptRoutes'></script>
<script>
$(".changeStatusBtn").on("click", function() {
	status = $(this).attr("status");
	cur = $(this);
	if (status=="present") {
		cur.toggleClass('btn-success btn-warning');
		cur.attr("status", "late");
		cur.html("@Messages("Late")");
		cur.next().val("late"); 
	} else if (status == "late") {
		cur.toggleClass('btn-warning btn-danger');
		cur.attr("status", "notPresent");
		cur.html("@Messages("Not.Present")");
		cur.next().val("notPresent");
	} else {
		cur.toggleClass('btn-danger btn-success');
		cur.attr("status", "present");
		cur.html("@Messages("Present")");
		cur.next().val("present");
	}
});

$(document).on("click", "#submitBody", function() {
	states="";
	users="";

	$(".changeStatusBtn").each(function(){
		states = states + " " + $(this).attr("status");
		users = users + " " + $(this).attr("name"); 
	});
	lesson = $("#lesson").val();
	group = $("#group").val();
	date = $("#datePicker").val();
	
	$(".thanks").html("@Messages("Saving...")");
	
	myJsRoutes.controllers.education.Registers.save2(states, users, lesson, group, date).ajax({         
			success : function(data) {
			},
			error : function(jqXHR, textStatus, errorThrown) {
	    		alert('@Messages("error")');
			},
			complete : function(data) {
				$(".thanks").html("@Messages("Saved")!");
			}
	});
	
	users="";
	marks=""; 
	$(".attFields").each(function() {
		users = users + " " + $(this).attr("user");
		marks = marks + " " + $(this).val(); 
	});
	
	number = $("#att").val();
	
	myJsRoutes.controllers.examination.ATTUTTs.save(users, marks, lesson, number, "ATT").ajax({         
		success : function(data) {
		},
		error : function(jqXHR, textStatus, errorThrown) {
    		alert('@Messages("error")');
		},
		complete : function(data) {
			//alert("@Messages("saved")");
		}
	});
	
	users="";
	marks=""; 
	$(".uttFields").each(function() {
		users = users + " " + $(this).attr("user");
		marks = marks + " " + $(this).val(); 
	});
	
	
	number = $("#utt").val();
	
	myJsRoutes.controllers.examination.ATTUTTs.save(users, marks, lesson, number, "UTT").ajax({         
		success : function(data) {
		},
		error : function(jqXHR, textStatus, errorThrown) {
    		alert('@Messages("error")');
		},
		complete : function(data) {
			//alert("@Messages("saved")");
		}
	});
	
	
	topic = $("#topic").val(); 
	
	if (topic != "no") {
		myJsRoutes.controllers.education.TopicRegisters.save(topic, date, group, lesson).ajax({         
			success : function(data) {
			},
			error : function(jqXHR, textStatus, errorThrown) {
	    		alert('@Messages("error")');
			},
			complete : function(data) {
				//alert("@Messages("saved")");
			}
		});
	} 
	
});

$(document).on("change", "#att", function() {
	users="";
	$(".attFields").each(function() {
		users = users + " " + $(this).attr("user");
	});
	$(".loader").show(); 
	number = $("#att").val();
	myJsRoutes.controllers.examination.ATTUTTs.getATT(users, lesson, number).ajax({         
		success : function(data) {
			data = data.split(" ");
			var arr = document.getElementsByClassName('attFields');
			for (i=0; i<arr.length; i++) {
				arr[i].value = parseInt(data[i + 1]);
			}
		},
		error : function(jqXHR, textStatus, errorThrown) {
    		alert('@Messages("error")');
		},
		complete : function(data) {
			$(".loader").hide();
		}
	});
});

$(document).on("change", "#utt", function() {
	users="";
	$(".uttFields").each(function() {
		users = users + " " + $(this).attr("user");
	});
	$(".loader").show();
	number = $("#utt").val();
	myJsRoutes.controllers.examination.ATTUTTs.getUTT(users, lesson, number).ajax({         
		success : function(data) {
			data = data.split(" ");
			var arr = document.getElementsByClassName('uttFields');
			for (i=0; i<arr.length; i++) {
				arr[i].value = parseInt(data[i + 1]);
			}
		},
		error : function(jqXHR, textStatus, errorThrown) {
    		alert('@Messages("error")');
		},
		complete : function(data) {
			$(".loader").hide();
		}
	});
});

</script>




