@(exams: List[models.entities.examination.Exam], dostyks: List[models.entities.social.Dostyk], dostyk: models.entities.social.Dostyk)

@import be.objectify.deadbolt.java.views.html._
@import be.objectify.deadbolt.core.utils.TemplateUtils._
@import models.logic.education.LessonLogic

@_content(Messages("topic.report")){

<div class="row-fluid">
  	<div id="query" class="span9">
	<select name=exam id="exam">
		@for(e <- exams) {
			<option value="@e.id"> @e.name </option> 
		}
	</select>
	
	@restrict(la(as("admin"))){
		<select name=dostyk id="dostyk">
			<option value="all"> @Messages("all") </option>
			@for(d <- dostyks) {
				<option value="@d.id"> @d.name </option> 
			}
		</select>
		<select name="group" id="group">
			<option value="all"> @Messages("all") </option>
		</select>
	}
	
	@restrict(la(as("moderator"))) {
		<select name=dostyk id="dostyk" style="display:none">
			<option value="@dostyk.id"> @dostyk.name </option>
		</select>
		
		<select name="group" id="group">
			<option value="all"> @Messages("all") </option>
			@for(g <- dostyk.dostykGroups) {
				<option value="@g.id"> @g.name </option>
			}
		</select>
	}
	<select name=lesson id="lesson">
		@for(lesson <- LessonLogic.getAll()) {
			<option value="@lesson.id"> @lesson.language @lesson.name </option> 
		}
	</select>
	</div>
	<a href="#" class="btn btn-primary span1" id="submit"> @Messages("Submit") </a>
</div>
	@loading()
	<div id="response">
	</div>
  
  
}

<script type="text/javascript" src='@routes.Application.javascriptRoutes'></script>
<script>
	
	$("#dostyk").change(function(){
		dostykId = $("#dostyk").val();
		if (dostykId != "all") {
				myJsRoutes.controllers.social.Dostyks.getGroups(dostykId).ajax({         
         			success : function(data) {
         				$("#group").html(data);
         			},
	         		error : function(jqXHR, textStatus, errorThrown) {
		            	alert('@Messages("cantGetGroups")');
	         		}
     			});			
		}
	});
		
	$("#submit").click(function(){
		$(".loader").show(); 
		examId = $("#exam").val();
		dostykId = $("#dostyk").val();
		groupId = $("#group option:selected").val();
		lessonId = $("#lesson").val();
		if (dostykId == "all") dostykId=-1;
		if (groupId == "all") groupId=-1;
		if (groupId == undefined) groupId=-2;
		myJsRoutes.controllers.education.Topics.getReport(examId, dostykId, groupId, lessonId).ajax({         
         		success : function(data) {
         			$("#response").html(data);
         		},
	        	error : function(jqXHR, textStatus, errorThrown) {
		           	alert('@Messages("error")');
	        	}, 
	        	complete : function(data) {
	        		$(".loader").hide();
	        	}
    	});
	}); 
</script>
