@(rows : TreeMap[String, TreeMap[String, TreeMap[String, controllers.education.Topics.Pair]]], which : Int)

@import be.objectify.deadbolt.java.views.html._
@import be.objectify.deadbolt.core.utils.TemplateUtils._

@if(rows.size() > 0) {
<table class="table table-condensed table-bordered table-striped" style="width:auto; height:auto">
<thead>
	<tr>
		<th rowspan=2>
			<center> @Messages("name") </center>
		</th>
		@for((k, v) <- rows.head._2) {
			<th colspan="@v.size()"> <center> @k </center> </th>
		}
	</tr>
	<tr>
		@for((k, v) <- rows.head._2) {
			@for((k2, v2) <- v) {
				<th style="font-size:10px; width:60px"> <center> @k2 <center></th>
			}
		}
	</tr>
</thead>

	@for((k,v) <-rows) {
		<tr>
		<td> @k </td>
		@for((k2, v2) <- v) {
			@for((k3, v3) <- v2) {
				<td> 
					@if(which == 0) {
						@if(v3.a>0) {
							@{(v3.b*100)/v3.a}% 
						} else {
							@Messages("no")
						}
					} else {
						@if(v3.a>0) {
							@{(v3.b*100)/v3.a}% 
						}
						@v3.b/@v3.a
					}
				</td>
			}
		}
		</tr>
	}
</table>
} else {
	<h3> @Messages("thereIsNoResult") </h3>
}

