@(dostyks : List[models.entities.social.Dostyk], teachers : List[models.entities.user.AuthorisedUser], counts : List[Integer])

@import be.objectify.deadbolt.java.views.html._
@import be.objectify.deadbolt.core.utils.TemplateUtils._

@import models.logic.education._;
@import models.logic.social.DostykGroupLogic 

@_content(Messages("report.byTeacher")) {
	@loading()
	<div id="res">
	<button class="btn btn-info" class="toExcel" onclick="fnExcelReport();" > @Messages("exportToExcel")</button>
	@if(dostyks != null) {
		<table class="table table-condensed table-striped" id="lessons">
			<thead>
				<th> @Messages("Dostyk") </th>
				<th> @Messages("extraLessonsNumber") </th>
			</thead>
			<tbody>
				@for((d,i) <- dostyks.zipWithIndex) {
					<tr>
						<td> <a href="#" class="dostyk" dostykId=@d.id> @d.name </a> </td>
						<td> @counts.get(i) </td>					
					</tr>
				}
			</tbody>
		</table>
	} else {
		<table class="table table-condensed table-striped" id="teachers">
			<thead>
				<th> @Messages("Teacher") </th>
				<th> @Messages("extraLessonsNumber") </th>
			</thead>
			<tbody>
				@for((t,i) <- teachers.zipWithIndex) {
					<tr>
						<td> <a href="#" class="teacher" teacherId=@t.id >@t.profile.lastName @t.profile.firstName </a></td>
						<td> @counts.get(i) </td>
					</tr>
				}
			</tbody>
		</table>
	}
	</div>
	<iframe id="txtArea1" style="display:none"></iframe>
}

<script type="text/javascript" src='@routes.Application.javascriptRoutes'></script>
<script>
	$(".dostyk").click(function() {
		$("#lessons").hide();
		$(".loader").show();
		dostykId = $(this).attr("dostykId");
		myJsRoutes.controllers.education.ExtraJournals.teachersByDostyk(dostykId).ajax({         
			success : function(data) {
				$("#res").append(data);
			},
			error : function(jqXHR, textStatus, errorThrown) {
	    		alert('@Messages("error")');
			},
			complete : function(data) {
				$(".loader").hide(); 
			}
		});
	});
	
	$(document).on("click", ".teacher", function() {
		$("#teachers").hide(); 
		$(".loader").show();
		teacherId = $(this).attr("teacherId");
		myJsRoutes.controllers.education.ExtraJournals.extraLessonsByTeacher(teacherId).ajax({         
			success : function(data) {
				$("#res").append(data);
			},
			error : function(jqXHR, textStatus, errorThrown) {
	    		alert('@Messages("error")');
			},
			complete : function(data) {
				$(".loader").hide(); 
			}
		});
	});
	
	$(document).on("click", "#backExtraLessons", function() {
		$("#extraLessons").remove();
		$("#teachers").show(); 
	}); 
	
	$(document).on("click", "#backTeachers", function() {
		$("#teachers").remove(); 
		$("#lessons").show();
	});
	
	function fnExcelReport()
	{
	    var tab_text="<table border='2px'><tr bgcolor='#87AFC6'>";
	    var textRange; var j=0;
	    var tables = document.getElementsByTagName("TABLE");
	    
	    tab = tables[tables.length - 2];

	    for(j = 0 ; j < tab.rows.length ; j++) 
	    {     
	        tab_text=tab_text+tab.rows[j].innerHTML+"</tr>";
	        //tab_text=tab_text+"</tr>";
	    }

	    tab_text=tab_text+"</table>";
	    tab_text= tab_text.replace(/<a[^>]*>|<\/a>/g, "");//remove if u want links in your table
	    tab_text= tab_text.replace(/<img[^>]*>/gi,""); // remove if u want images in your table
	    tab_text= tab_text.replace(/<input[^>]*>|<\/input>/gi, ""); // reomves input params

	    /*var ua = window.navigator.userAgent;
	    var msie = ua.indexOf("MSIE "); 

	    if (msie > 0 || !!navigator.userAgent.match(/Trident.*rv\:11\./))      // If Internet Explorer
	    {
	        txtArea1.document.open("txt/html","replace");
	        txtArea1.document.write(tab_text);
	        txtArea1.document.close();
	        txtArea1.focus(); 
	        sa=txtArea1.document.execCommand("SaveAs",true,"Say Thanks to Sumit.xls");
	    }  
	    else                 //other browser not tested on IE 11
	        sa = window.open('data:application/vnd.ms-excel,' + '\uFEFF' + encodeURIComponent(tab_text));  
*/
	    var link = document.createElement("a");
        link.download = "export.xls";
        link.href = 'data:application/vnd.ms-excel,' + '\uFEFF' + encodeURIComponent(tab_text);
        link.click();
	}
</script>




