@(lessons: List[models.entities.education.Lesson], courseList: List[models.entities.education.Course], lesId: Long)

@import views.html.helps._
@import be.objectify.deadbolt.java.views.html._
@import be.objectify.deadbolt.core.utils.TemplateUtils._
@restrict(la(as("admin"))) {
    @_content(Messages("Topics")) {
        @for(i <- 0 until lessons.size) {
            @if(i%2==0){
                <div class="span12 row-fluid">
            }
            <div class="span6 accordion" id="accordion@lessons.get(i).id">
                <div class="accordion-group">
                    <div class="accordion-heading">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion@lessons.get(i).id"
                          href="#collapse@lessons.get(i).id">
                            @lessons.get(i).language @lessons.get(i).code @lessons.get(i).name
                        </a>
                    </div>
                    <div id="collapse@lessons.get(i).id" class="accordion-body collapse">
                        <div class="accordion-inner">
                            <div class="lessons" lessons="@lessons.get(i).id">
                                <select id="courseID@lessons.get(i).id" >
                                    <option selected></option>
                                    @for(j <-0 until courseList.size()) {
                                        <option value="@courseList.get(j).id">@courseList.get(j).title</option>
                                    }
                                </select>
                            </div>
                            <ul id="lesson-topics@lessons.get(i).id">

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            @if(i%2==1){
                <div>
            }
        }
    }
}
<script type="text/javascript" src='@routes.Application.javascriptRoutes'></script>
<script type="text/javascript">
        $(document).on("change", ".lessons",function(){
            var lid = $(this).attr("lessons");
            var cid = $("#courseID"+lid).find(":selected").text();
            $("#lesson-topics" + lid ).html("");
            myJsRoutes.controllers.education.Topics.getTopic(lid,cid).ajax({
                success: function(data){
                    console.log(data);
                    for(var i in data){
                        $("#lesson-topics" + lid ).append (
                                '<li id="topic-holder'+data[i].id+'" class="tholder" topic="'+data[i].id+'"' +
                                'title="@Messages("ClickToEdit")">'+
                                '<form class="form-inline topic-form" id="topic-form'+lid+''+data[i].id+'">'+
                                '<input type="hidden" name="id" value="'+data[i].id+'"/>'+
                                '<input type="hidden" name="lesson" value="'+lid+'"/>'+
                                '<input type="hidden" name="course" value="'+cid+'"/>'+
                                '<input type="text" id="topic-input'+data[i].id+'" name="name" value="'+data[i].name+'"'+
                                'placeholder="@Messages("NewTopic")" required readonly="true"/>'+
                                '<a id="saver'+data[i].id+'" class="btn btn-small btn-primary saver" course="'+cid+'"'+
                                'topic="'+data[i].id+'" lesson="'+lid+'" style="display:none;">'+
                                '@Messages("Save")'+
                                '</a>'+
                                '<a id="remover'+data[i].id+'" for="'+data[i].id+'"'+
                                'class="btn btn-small btn-danger remover" style="display:none;">'+
                                '@Messages("Delete")'+
                                '</a></form></li>'
                        );
                    }
                    $("#lesson-topics"+lid).append(
                            '<form class="form-inline topic-form" id="topic-form'+lid+'-1">'+
                                '<input type="hidden" name="id" value="-1"/>'+
                                '<input type="hidden" name="course" value="'+cid+'"/>'+
                                '<input type="hidden" name="lesson" value="'+lid+'"/>'+
                                '<input type="text" id="topic-input'+lid+'-1" name="name" value="" placeholder="@Messages("NewTopic")" required/>'+
                                '<a class="btn btn-small btn-primary saver" course="'+cid+'" topic="-1" lesson="'+lid+'">'+
                                '@Messages("Save")'+
                                '</a>'+
                            '</form>'
                    );
                }
            });
        });
        $(document).on("click", ".tholder",function() {
            var tid = $(this ).attr("topic");
            var ro = $("#topic-input"+tid ).attr("readonly");
            console.log(ro);
            $("#topic-input"+tid ).attr("readonly",!ro);
            $("#saver"+tid ).toggle();
            $("#remover"+tid ).toggle();
        });
        $(document).on("click",".remover",function(){
            var tid = $(this ).attr("for");
            var hold=$("#topic-holder"+tid);
            myJsRoutes.controllers.education.Topics.delete(tid).ajax({
                success : function(data) {
                    var res = data.toString();
                    if(res=="exception"){
                        alert(@Messages("callTechnovision"));
                    }else if(res=="error"){
                        alert(@Messages("suchTopicExist"));
                    }
                    else {
                        hold.remove();
                    }
                    //$("#topic_holder"+id ).remove();
                },
                error : function(jqXHR, textStatus, errorThrown) {
                    alert('@Messages("checkInternet")');
                    console.log(jqXHR.responseText);
                }
            });
        });
        $( document).on("click",".saver",function(){
            var tid= $(this ).attr("topic");
            var lid= $(this ).attr("lesson");
            var cid= $(this ).attr("course");
            var name=$("#topic-input"+lid+tid );
            var hold=$("#topic-form"+lid+tid);
            myJsRoutes.controllers.education.Topics.save().ajax({
            data:hold.serialize(),
            method: "POST",
            success : function(data) {
                var res = data.toString();
                if(res=="\  \   "){
                    alert(@Messages("callTechnovision"));
                }else if(res=="error"){
                    alert(@Messages("suchTopicExist"));
                }
                else {
                    if(tid==-1){
                        $("#lesson-topics" + lid ).append (
                        '<li id="topic-holder'+res+'" class="tholder" topic="'+res+'"' +
                        'title="@Messages("ClickToEdit")">'+
                        '<form class="form-inline topic-form" id="topic-form'+lid+''+res+'">'+
                        '<input type="hidden" name="id" value="'+res+'"/>'+
                        '<input type="hidden" name="course" value="'+cid+'"/>'+
                        '<input type="hidden" name="lesson" value="'+lid+'"/>'+
                        '<input type="text" id="topic-input'+res+'" name="name" value="'+name.val()+'"'+
                        'placeholder="@Messages("NewTopic")" required readonly="true"/>'+
                        '<a id="saver'+res+'" class="btn btn-small btn-primary saver" course="'+cid+'"'+
                        'topic="'+res+'" lesson="'+lid+'" style="display:none;">'+
                        '@Messages("Save")'+
                        '</a>'+
                        '<a id="remover'+res+'" for="'+res+'"'+
                        'class="btn btn-small btn-danger remover" style="display:none;">'+
                        '@Messages("Delete")'+
                        '</a></form></li>'
                        );
                        hold.appendTo("#lesson-topics" + lid);
                        name.val("");
                    }
                }
                //$("#topic_holder"+id ).remove();
            },
            error : function(jqXHR, textStatus, errorThrown) {
                 alert('@Messages("checkInternet")');
                console.log(jqXHR.responseText);
            }
        });
    });
</script>