@(list : List[models.entities.education.Topic])

@import be.objectify.deadbolt.java.views.html._
@import be.objectify.deadbolt.core.utils.TemplateUtils._

@import models.logic.education._;
@import models.logic.social.DostykGroupLogic 


	<table class="table table-condensed table-striped table-bordered">
		<thead>
			<th style="width:40px"> @Messages("number") </th>
			<th style="width:300px"> @Messages("name") </th>
			<th style="width:400px"> @Messages("task") </th>
		</thead>
		@for((l,i) <- list.zipWithIndex) {
			<tr> <td> @i </td> <td>@l.name</td> 
			<td>
				@l.fileName
				<input type=button class="get_file" value="@Messages("upload")">
        		<input id=@l.id  type="file" name=file class="alternative" multiple style="display:none"/> 
			</td></tr>	
		}
	</table>


<script type="text/javascript" src='@routes.Application.javascriptRoutes'></script>
<script>
</script>




