@()

@import be.objectify.deadbolt.java.views.html._
@import be.objectify.deadbolt.core.utils.TemplateUtils._

@import models.logic.education._;
@import models.logic.social.DostykGroupLogic 

@_content(Messages("UploadTask")) {
<script type="text/javascript" src='@routes.Assets.at("javascripts/upload2.js")'></script>
<link rel="stylesheet" media="screen" href='@routes.Assets.at("stylesheets/upload.css")'/>

	@if(flash.containsKey("success")) {
        <div class="alert alert-success">
	      	<button type="button" class="close" data-dismiss="alert">x</button>
            <strong>Done!</strong> @flash.get("success")
        </div>
    }
    
	<select id=lesson>
		<option value="no"> @Messages("selectLesson") </option>
		@for(l <- LessonLogic.getAll) {
			<option value=@l.id> @l.language  @l.name </option>
		}
	</select>

	
	<table class="table table-bordered"></table>
	@loading()
	<div id=res>
	</div>
}

<script type="text/javascript" src='@routes.Application.javascriptRoutes'></script>
<script>
$("#lesson").change(function(){
	
	lesson = $("#lesson").val();
	
	if (lesson == "no") return;
	$(".loader").show();
	myJsRoutes.controllers.education.Topics.getBy(lesson).ajax({         
			success : function(data) {
				$("#res").empty().append(data);
			},
			error : function(jqXHR, textStatus, errorThrown) {
	    		alert('@Messages("error")');
			},
			complete : function(data) {
				$(".loader").hide();
			}
	});
});

</script>




