@import models.entities.education.Attendance
@import models.entities.user.AuthorisedUser

@import helper.inputText;
@import helper.twitterBootstrap._

@import views.html.user.profilePack.tabMenu

@(user : AuthorisedUser, start : String, end : String, list : List[Attendance])

<style>
td {
	min-height:40px; 
}
</style>

@_content(Messages("AttendanceList")) {

    @tabMenu(user, user.roles.get(0).name, user.id, "ATTENDANCE")
    <div class="span10">
		@helper.form(action = controllers.education.routes.Attendances.viewBetween(), 'method -> "POST") {
			@Messages("startDate"):<input type=date name=start value="@if(start != null) {@start}" required>
			@Messages("endDate"):<input type=date name=end value="@if(end != null) {@end}" required>
			<input type=submit value=@Messages("OK") class="btn btn-primary">
		}

		<table class="table table-condensed table-hover">
	    	<thead>
	    		<tr>
			   		<td>@Messages("Date")</td>
			   		<td>@Messages("lesson")</td>
			   		<td>@Messages("status")</td>
	    		</tr>    		
			</thead>
			<tbody>	
				@if(list != null) {		
				@for(att <- list) {
					<tr>
						<td>@att.getDateValue</td>
						<td>@att.lesson.subject.name</td>
						<td>
							@if(att.status == 1) {
								<input type="button" class="btn btn-xs btn-warning" value="@Messages("late")"/>									
							} else {
								<input type="button" class="btn btn-xs btn-danger" value="@Messages("absent")"/>									
							}
						</td>					
					</tr>
				}
				}
			</tbody>		
		</table>
		
	
	</div>
	
}
