
#wrapper{
	width:90%;
	margin: 0 auto;
}
#topLine{
	width:100%;
	background-color:#e74c3c;
	height:5px;
}
#topText{
	background-color:#e74c3c;
	width:70%;
	height:26px;
	margin:0 auto;
	color:white;
	text-align: center;
	font-size: 14px;
	border-radius:0px 0px 15px 15px;
	padding-top: 5px;
	font-weight: bold;
}
#wrapperText{
	background-color:white;
	color:black;
	border-radius:15px;
	font-weight: bold;
	padding:0px 8px;
}
#mainContent{
	margin-top:20px;
}

/*  LEFTSIDE BAR  */
#leftBar{
	width:65%;
	float:left;
}
#okulBlock{
	float:left;
}
#okul{
	background-color:#e67e22;
	border:1px solid #e67e22;
	width:95px;
	border-radius:10px 10px 0px 0px;
	text-align: center;
}
#okulText{
	color:black;
	width:350px;
	border: 2px solid #e67e22;
	border-radius:0px 0px 0px 5px;
	text-align: center;
}
#sube{
	float:left;
	/*width:25px; */
	font-size:12px;
	background-color:#e67e22;
	padding:3px;
	/*height:33.5px;*/
	height:45px;
	border-radius:10px 0px 0px 0px;
	border: 1px solid #e67e22;
}
#sube p {
	margin: 12px 0px;
}
#subeSan{
	font-size: 24px;
	border:2px solid #e67e22;
	border-radius: 0px 0px 5px 0px;
	width:75px;
	float:left;
	height:45px;
	text-align: center;
}
#ilBlock{
	width:470px;
	border:2px solid #e67e22;
	border-radius:5px 5px 0px 0px;
	float:left;
	text-align: left;
	background-color: #e67e22;
	font-size:13px;
	padding:5px 0px 0px 5px;
	clear:left;
}
.ilBlock_font{
	background-color:white;
	display:inline-block;
	width:175px;
	text-align: center;
}
table{
	border-radius: 13px 13px 0px 0px;
	max-width:70%;
	border-spacing: 0px;
	text-align: center;
	font-size: 8px;
	float:left;
}
.topTd{
	text-align: center;
	background-color:#2980b9;
	color:white;
	border-radius: 10px 10px 0px 0px;
}
table td{
	border: 1px solid black;
	border-radius:inherit !important;
	background-color: #E2F2FF;
	padding-left: 2px;
	padding-right: 2px;
}
.invisibleTd{
	border:0px solid white !important;
	background-color: white;
}
.leftsideTd{
	border-radius: 10px 0px 0px 10px;
}

.orange{
	background-color: #e67e22;
}
.yellow{
	background-color: #f1c40f;
}
.green{
	background-color: #27ae60;
}
.white-green{
	background-color: #2ecc71;
}
.white-blue{
	background-color: #3498db;
}
.blue{
	background-color: #2980b9;
}

/*  RIGHTSIDE BAR  */
#rightBar{
	width:35%;
	float:right;
	/*margin-top:20px;*/
}
#ad-soyad{
	background-color: #e67e22;
	border:2px solid #e67e22;
	border-radius: 5px 5px 0px 0px;
	text-align: center;
}
#iin{
	background-color: #e67e22;
	border:2px solid #e67e22;
	border-radius: 0px 0px 5px 5px;
	/*text-align: 200px;*/
	text-align: center;
}
.rightBar_font{
	background-color: white;
	text-align: left;
	float:right;
	/*width:300px;*/
	border-radius:2px 3px 3px 2px;
	padding-left: 3px;
	text-align: center;
}
#puan{
	border:2px solid #e67e22;
	border-radius: 3px;
	width:100px;
	/*height:60px;*/
	text-align: center;
	float:right;
	margin:0px 140px 0px 0px;
}
#upside{
	background-color: #f1c40f;
	font-size: 27px;
	border-bottom:1px solid #f1c40f;
}
#downside{
	font-size: 23px;
}
/* VERY BIG TABLE */
#bigTable{
	width:100%;
	max-width:100%;
	margin-top:20px;
	float:none;
	clear: both;
	padding-top:10px;

}
.empty{
	background-color: white;
	width:40px;
	height:25px;
	border-radius: 4px;
	display: inline-block;
	margin-top:-4px;
	margin-left:10px;
	color:black;
	font-size: 11px;
}
#konuLeft{
	border:1px solid black;
	width:49%;
	float:left;
	color:white;
	text-align: center;
	height: 900px;
	margin-top: 5px;
	border-radius: 10px 10px 0px 0px;

}
#konuRight{
	border: 1px solid black;
	width:49%;
	float:right;
	color: white;
	text-align: center;
	height: 900px;
	margin-top: 5px;
	border-radius: 10px 10px 0px 0px;
}
.konuInner{
	background-color: white;
	color:black;
	width:100%;
}
.konuInnerTable{
	width:90%;
	max-width:90%;
	text-align: center;
	padding-top: 5px;
	background-color: white;
	float:none !important;
	margin:0 auto;
}
.konuInnerTable td{
	background-color: white;
}
.konuInnerTable tr:first-child td{
	background-color: #E2F2FF !important;
}

.konuInnerTable td:first-child{
	width:50%;
}
.konuInnerTable td:nth-of-type(2) ~ td{
	width:10%;
}

.item{
	background-color: #E77E22 !important;
	margin:5px;
	/*padding:3px;*/
	height:30px;
	width:300px;
	border-radius: 4px;
}

.item>p{
	color:white !important;
	font-size:16px;
	text-align: center;
}

.item>input{
	border: 1px solid #E77E22;
	outline-width: 0;
	border-radius: 3px;
	background-color:white !important;
	float:right;
}

@media(max-width: 780px){
	.item>p{
		font-size:9px;
		top:20%;
		text-align: left;
	}
	.item>input{
		font-size:9px;
		padding:5px;
	}
}
@media (max-width: 960px){
	.item{
		height:20px;
	}
}

@media print{
	body{
		-webkit-print-color-adjust: exact;
	}

}

@media (max-width: 1024px){
	#okulText{
		width:200px;
	}
	#ilBlock{
	}
}