#myModal{
	position: absolute;
    overflow: scroll;
}    
input[type="number"] {
    position: relative;
    margin: 0 0 0;
    border: 1px solid #BBB;
    border-color: #BBB #ECECEC #ECECEC #BBB;
    padding: .2rem;
}

.kol{
	cursor: pointer;
}

a {
	cursor: pointer; 
}

.help-inline{
    color: red;
}
.help-block{
    color: blue;
}
.table-nonfluid {
    width: auto;
}
.narrow{
    font-family: "Helvetica Narrow","Arial Narrow",Tahoma,Arial,Helvetica,sans-serif;
    letter-spacing: 0px;
}
.topic{
    max-width:150px;
    word-wrap: break-word;
}
.numbers{
    width:20px;
}
body{
    /*background-image:url('/assets/images/bg.svg');*/
    /*background-repeat:repeat;*/
    /*background-color: #DBDCE8 !important; */
}

/****************** CUSTOM ONE *******************/

/*default settings updated for navlist*/
.nav-list>li>a, .nav-list .nav-header{
  text-shadow: none;
  color:white !important;
}
.nav-list{
  padding:0 0;
}
.dropdown-submenu>a:after{
    display: none;
}

.navbar-inner{
  min-height: 0;
  border:none;
}

/*default settings for all inputs*/
select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input{
  font-size:16px;
  height:30px;
  border-radius: 0;
  border: 1px solid #ccc;
}

#searchbox{
  width:240px;
}

.table-hover tbody tr:hover>td, .table-hover tbody tr:hover>th{
  background-color: #EAF5F2;
}

.table th, .table td{
  border-top: 1px solid #E6E9ED;
  padding-left:20px;
}

/*some default settings for all tables*/
.table{
  background-color: white;
  border:1px solid #95a5a6;
}

/*settings for footer*/
#footer a:hover{
  color:white;
}
#footer{
    background-color:#567ABB !important;
}
#footer>p,#footer>p>a{
    color:white;
}
#footer>p{
    margin:0;
}

/*default settings for navlist and its inners*/
.nav.side-menu>li.active, .nav.side-menu>li.current-page{
    /*border-right:none;*/
}
.nav>li{
    position: relative ;
    display: block;
}
ul.nav.child_menu li:before{
     background: rgba(255,255,255,.75);
     bottom: auto;
     content: "";
     height: 8px;
     left: 23px;
     margin-top: 15px;
     position: absolute;
     width: 8px;
     z-index: 1;
     border-radius: 50%;
    color:white;
}
ul.nav.child_menu li:after{
    border-left: 1px solid rgba(255,255,255,.75);
    bottom: 0;
    content: "";
    left: 27px;
    position: absolute;
    top: 0;
}
.nav.side-menu>li.active>a{
    background: linear-gradient(#3563B3,#2C4257),#3563B3;
}

.nav-list>li>a:hover{
  background: #426DB9;
  box-shadow: rgba(0,0,0,.25) 0 1px 0, inset rgba(255,255,255,1) 0 1px 0;
}
.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus, .dropdown-submenu:hover>a, .dropdown-submenu:focus>a{
  background: #426DB9;
  box-shadow: rgba(0,0,0,.25) 0 1px 0, inset rgba(255,255,255,1) 0 1px 0;
}
/* second nested ul*/
.dropdown-menu>li>a{
  background-color: #567ABB;
  color:white !important;
}
/* divider line color */
.dropdown-menu{
  text-shadow: none;
  background-color: #567ABB;
}/*426DB9*/
.dropdown-menu .divider{
  border-bottom: 1px solid white;
}
/*.dropdown-submenu>a:after{*/
  /*border-left-color:#B60646;*/
/*}*/

/* fix of height */
#sPrice, #ePrice{
  margin-top: -10px;
}

/* width of logo in navlist section */
#logo3{
  width:100%;
}

/*Support popup*/
#support{
    height:400px;
}

.modal-backdrop{
    background-color: #567ABB;
}

/*change all inputs' width with type="text"*/
select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input{
  width:225px;
}
.accordion-inner>ul{
  margin-left:0;
}
.form-inline>a{
  margin-left:15px;
}

/* GLOBAL settings*/
.well{
  background-color: #F5F5F5 !important;
}
.container-fluid{
  background-color: #567ABB;
}
#wrap{
  background-color: #567ABB;
}
.x_panel{
    margin-top:20px;
}

/* signup/teacher */
input[type="radio"], input[type="checkbox"]{
  margin:0;
}
#accept{
  margin:4px 0 0;
}

/* report/payment */
.input-append .add-on, .input-prepend .add-on{
  height:29.6px;
}

/* /outlays */
.range_inputs .input-mini{
  width:160px;
}
.daterangepicker .ranges .range_inputs>div:nth-child(2){
  padding-left: 0px !important;
}

/* lesson/list*/
#name{
  width:200px;
}
#code{
  width:90px;
}
#language{
  width:90px;
}
/*  login */


/*.row-fluid{
  background-color: white;
}
.container-fluid{
  background: #fff;
}*/

/* Sticky footer styles
      -------------------------------------------------- */

      html,
      body {
        height: 99%;
        background-color: #F5F5F5;
        /* The html and body elements cannot have any padding or margin. */
      }

      /* Wrapper for page content to push down footer */
      #wrap {
        min-height: 100%;
        height: auto !important;
        height: 100%;
        /* Negative indent footer by it's height */
        margin: 0 auto -20px;
      }

      /* Set the fixed height of the footer here */
      #push,
      #footer {
        height: 20px;
      }
      #footer {
        //background-color: #f5f5f5;
      }

      /* Lastly, apply responsive CSS fixes as necessary */
      @media (max-width: 767px) {
        #footer {
          margin-left: -20px;
          margin-right: -20px;
          padding-left: 20px;
          padding-right: 20px;
        }
      }
