/* Font Definitions */
    @font-face
    {font-family:Calibri;
    panose-1:2 15 5 2 2 2 4 3 2 4;}
    @font-face
    {font-family:Tahoma;
    panose-1:2 11 6 4 3 5 4 4 2 4;}
    /* Style Definitions */
    p.MsoNormal, li.MsoNormal, div.MsoNormal
    {margin-top:0cm;
    margin-right:0cm;
    margin-bottom:10.0pt;
    margin-left:0cm;
    line-height:115%;
    font-size:11.0pt;
    font-family:\"Calibri\",\"sans-serif\";}
    p.MsoAcetate, li.MsoAcetate, div.MsoAcetate
    {mso-style-link:\"Balloon Text Char\";
    margin:0cm;
    margin-bottom:.0001pt;
    font-size:8.0pt;
    font-family:\"Tahoma\",\"sans-serif\";}
    span.BalloonTextChar
    {mso-style-name:\"Balloon Text Char\";
    mso-style-link:\"Balloon Text\";
    font-family:\"Tahoma\",\"sans-serif\";}
    p.msochpdefault, li.msochpdefault, div.msochpdefault
    {mso-style-name:msochpdefault;
    margin-right:0cm;
    margin-left:0cm;
    font-size:12.0pt;
    font-family:\"Calibri\",\"sans-serif\";}
    p.msopapdefault, li.msopapdefault, div.msopapdefault
    {mso-style-name:msopapdefault;
    margin-right:0cm;
    margin-bottom:10.0pt;
    margin-left:0cm;
    line-height:115%;
    font-size:12.0pt;
    font-family:\"Times New Roman\",\"serif\";}
    .MsoChpDefault
    {font-size:10.0pt;
    font-family:\"Calibri\",\"sans-serif\";}
    @page WordSection1
    {size:595.3pt 841.9pt;
    margin:49.65pt 42.5pt 2.0cm 3.0cm;}
    div.WordSection1
    {page:WordSection1;}