body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: "Times New Roman", Times, serif;
}
* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}
.page {
    width: 210mm;
    min-height: 297mm;
    padding: 10mm;
    margin: 10mm auto;
    border: 1px #D3D3D3 solid;
    border-radius: 5px;
    background: white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.subpage {
    padding: 1cm;
    height: 255mm;
    position: relative;
}

.page-landscape {
    width: 297mm;
    min-height: 210mm;
    padding: 10mm;
    margin: 10mm auto;
    border: 1px #D3D3D3 solid;
    border-radius: 5px;
    background: white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.subpage-landscape {
    padding: 1cm;
    width: 257mm;
    position: relative;
}
.footer{
    width:150mm;
    position: absolute;
    bottom: 0;
}

@page {
    size: A4;
    margin: 0;
}
@media print {
    /*
    html, body {
        width: 210mm;
        height: 297mm;
    }
    html, .body-landscape {
        height: 210mm;
        width: 297mm;
    }
    */
    .page {
        margin: 0;
        border: initial;
        border-radius: initial;
        width: initial;
        min-height: initial;
        box-shadow: initial;
        background: initial;
        page-break-after: always;
    }
    .page-landscape {
        margin: 0;
        border: initial;
        border-radius: initial;
        width: initial;
        min-height: initial;
        box-shadow: initial;
        background: initial;
        page-break-after: always;
    }
}
.table-fluid{
    width:100%;
    table-layout: fixed;
}
.table1 tr{
    vertical-align: middle;
}
.table1 td{
    width: auto;
}
.logo{
    display: block;
    width: 190px;
    margin-left: auto;
    margin-right: auto;
}
.myrow{
    vertical-align: middle;
}
.tta tr td{
    height:5px;
}
.first_tr{

    width: 250px;
}
.oto{
    width: 50px;

}

@media all {
    .da {
        background-color: #dca7a7 !important;
        -webkit-print-color-adjust: exact;
    }}

@media all {
    .ma {
        background-color: #00b3ee !important;
        -webkit-print-color-adjust: exact;
    }}
@media print
{
    .non-breakable{
        page-break-inside: avoid;
    }
}
hr{
    color: black;
}
.text12{
    font-size:12px !important;
}
.text14{
    font-size:14px !important;
}
.text10{
    font-size:10px !important;
}
.text8{
    font-size:8px !important;
}
.br{
    margin-bottom:5px;
}
.table-bordered td {
    border-left: 1px solid lightgrey;
}
.table-bordered {
    border: 1px solid lightgrey;
}
ol{
    margin: 0px 0px 0px 0px;
}
/* OL {
     counter-reset: item;
     margin: 0px 0px 0px 0px;
 }
LI { display: block }
LI:before {
    content: counters(item, ".") " ";
    counter-increment: item;
}*/
table, tr, td{
    vertical-align:top;
}
.padding-top0{
    padding-top:0;
}