@(currentPage : com.avaje.ebean.Page[models.entities.user.AuthorisedUser], page : Int, currentSortBy : String, currentOrder : String, currentFilter : String, dostykGroups: List[models.entities.social.DostykGroup], electiveGroups : List[models.entities.social.DostykGroup])

@import be.objectify.deadbolt.java.views.html._
@import be.objectify.deadbolt.core.utils.TemplateUtils._


@import helper.inputText;
@import models.entities.user._;
@import models.entities.social._;
@import helper.twitterBootstrap._

@import models.logic.social._;
@import models.logic.education._;
@import html5.tags.html._

@import helper.inputPassword;
@import helper.inputRadioGroup;

@link(newPage:Int, newSortBy:String) = @{
    var sortBy = currentSortBy
    var order = currentOrder
    if(newSortBy != null) {
        sortBy = newSortBy
        if(currentSortBy == newSortBy) {
            if(currentOrder == "asc") {
                order = "desc"
            } else {
                order = "asc"
            }
        } else {
            order = "asc"
        }
    }
    controllers.ten.routes.UserTen.list(newPage, sortBy, order, currentFilter)
}

@header(key:String, title:String) = {
    <th class="@key.replace("public","_") header @if(currentSortBy == key) @{if(currentOrder == "asc") "headerSortDown" else "headerSortUp"}">
        <a href="@link(0, key)">@Messages(title)</a>
    </th>
}

@_content(Messages("users.list")) {

    <h1 id="homeTitle">@Messages("users.list.title") </h1>
    <div class="btn-group">
        <a class="btn dropdown-toggle btn-primary" data-toggle="dropdown" href="#">
            @Messages("add.newuser")
            <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            <li><a href="@controllers.ten.routes.UserTen.signUp()">@Messages("add.student")</a></li>
        </ul>
    </div>

    <button type="button" class="btn btn-default" id="export-xls" >@Messages("exportToExcel")</button>
    @if(flash.containsKey("success")) {
        <div class="alert-message warning">
            <strong>Done!</strong> @flash.get("success")
        </div>
    }

    <div id="actions">
        <br>
        <form action="@link(0, "surname")" method="GET">
            <input type="search" id="searchbox" name="f" value="@currentFilter" placeholder="@Messages("Searchbyusernameorsurname")">
            <input type="submit" id="searchsubmit" value=@Messages("Search") class="btn btn-default" style="margin-top:-10px;">
        </form>
    </div>
    @if(currentPage.getTotalRowCount == 0) {
        <div class="well">
            <em>Nothing to display</em>
        </div>
    }else{
        <table class="table users table-condensed table-hover">
            <thead>
                <tr class="">
                    @header("name", "name")
                    <th>@Messages("idNumber")</th>
                    @header("email", "email")
                    <th>@Messages("ten.exam.lang")</th>
                    <th>@Messages("ten.session")</th>
                    <th> @Messages("DeleteFromDostyk")</th>
                </tr>
            </thead>
            <tbody>
            @for(user <- currentPage.getList if(user.roles.get(0).name=="ten" && user.roles.get(0).name!="moderator" && user.status!="deleted")){
                <tr class="okuwy">
                    <td><a href="@controllers.user.routes.AuthorisedUsers.editProfile(user.id)">@user.profile.lastName @user.profile.firstName</a></td>
                    <td>
                    @if(user.profile.idNumber == null || !user.status.equals("active")){
                        <em>@Messages("userNotActiveYet")</em>
                    }else{
                        @user.profile.idNumber
                    }
                    </td>
                    <td>
                    @if(user.email == null){
                        <em>-</em>
                    }else{
                        @user.email
                    }
                    </td>
                    <td>@Messages(user.profile.inn)</td>
                    <td>
                        Сеанс @user.profile.examSession.session,
                        @if(user.profile.examSession.session==1){09:00-12:30}
                        @if(user.profile.examSession.session==2){12:30-16:00}
                        @if(user.profile.examSession.session==3){16:00-19:30}
                    </td>
                    <td><button type="button" userId="@user.id" class="btn delete btn-warning"> <i class="icon-trash"></i> </button></td>
                </tr>
            }
            </tbody>
        </table>

        <div id="pagination" class="pagination">
            <ul>
                @if(currentPage.hasPrev){
                    <li class="prev">
                        <a href="@link(currentPage.getPageIndex - 1, null)">&larr; @Messages("previous")</a>
                    </li>
                }else{
                    <li class="prev disabled">
                        <a>&larr; @Messages("previous")</a>
                    </li>
                }
                <li class="current">
                    <a>@Messages("displaying") @(currentPage.getPageIndex+1) @*getDisplayXtoYofZ(" "+Messages("to")+" "," "+Messages("of")+" ")*@</a>
                </li>
                @if(currentPage.hasNext){
                    <li class="next">
                        <a href="@link(currentPage.getPageIndex + 1, null)">@Messages("next") &rarr;</a>
                    </li>
                }else{
                    <li class="next disabled">
                        <a>@Messages("next") &rarr;</a>
                    </li>
                }
            </ul>
        </div>

    }

}
<script type="text/javascript" src='@routes.Application.javascriptRoutes'></script>

<script>
        $('.dropdown-toggle').dropdown();

        $(".delete").on("click",function() {
            var userId = $(this).attr("userId");
            var cur = $(this);
            var result = confirm('@Messages("areYouSure")');
            if (result) {
                //Logic to delete the item
                //alert("yes")
                myJsRoutes.controllers.user.AuthorisedUsers.deleteFromDostyk(userId).ajax({
                    success : function(data) {
                        cur.parent().parent().remove();
                    },
                    error : function(jqXHR, textStatus, errorThrown) {
                        alert("Error!");
                        console.log(textStatus);
                    }
                });
            }else{
                //alert("no")
            }
        });

    $(document).on('click','#export-xls',function(e){
        e.preventDefault();
        myJsRoutes.controllers.ten.UserTen.printXLS().ajax({
            success : function(data) {
                var win = window.open('about:blank');
                with(win.document) {
                    open();
                    write(data);
                    //print()
                    close();
                }
                //win.print();
            },
            error : function(jqXHR, textStatus, errorThrown) {
                console.log(textStatus);
            }
        });
    });
</script>