@(signupForm: Form[models.entities.user.AuthorisedUser], role : String, regions : List[models.entities.social.Region])

@import be.objectify.deadbolt.java.views.html._
@import be.objectify.deadbolt.core.utils.TemplateUtils._

@import models.entities.user._;
@import models.entities.social._;
@import helper.twitterBootstrap._

@import models.logic.social._;
@import models.logic.education._;
@import html5.tags.html._
@import helper.inputText;
@import helper.inputPassword;
@import helper.inputRadioGroup;
@_content(Messages("signUpForm")){
    <style>

    .multiselect {
    width:218px;
        @if(role=="student") {
            height:203px;
        }else{
            margin-top: 15px;
            height:261px;
        }
    border:solid 1px #c0c0c0;
    overflow:auto;
    border-color: transparent;
    }
    input:required:invalid, input:focus:invalid {
    background-image: url("/assets/images/invalid.png");
    background-position: right top;
    background-repeat: no-repeat;
    }
    input:required:valid {
    background-image: url(/assets/images/valid.png);
    background-position: right top;
    background-repeat: no-repeat;
    }
    div.profile {
    background-color: rgba(180, 180, 180, 0.1);
    padding: 20px;
    border-radius: 5px;
    }
    label.header{
    font-size: 25px;
    border-bottom: dotted 1px;
    }
    input.parent{
    margin-bottom: 5px;
    }
    </style>

    @helper.form(action = controllers.ten.routes.UserTen.signUpSubmit, 'id -> "form_id") {
        <div class="span12 profile">
            <label class="header">@Messages(role)</label>
            <div class="row-fluid">
                <div class="span3">
                    @text(signupForm("profile.lastName"), '_label -> Messages("profile.lastName"),'_help -> "" ,'required->"true")
                    @text(signupForm("profile.firstName"), '_label -> Messages("profile.firstName"),'_help -> "" ,'required->"true")
                    @*
                    @text(signupForm("profile.secondName"), '_label -> Messages("profile.secondName"),'_help -> "" )
                    @select(
                        signupForm("profile.gender"),
                        options = options("male"->Messages("gender.male"), "female"->Messages("gender.female")),
                        '_help -> "",
                        'required->"true",
                        '_label -> Messages("profile.gender"),
                        '_error -> signupForm("profile.dostyk").error.map(_.withMessage("Please select your gender"))
                    )

                    @date(
                        signupForm("profile.birthDate"),
                        '_help -> "",
                        'required->"true",
                        '_label -> Messages("profile.birthdate")
                    )
                    *@
                    @text(signupForm("email"),'required->"true",'_label -> Messages("email"),'_help -> "")
                </div>

                <div class="span3">
                    @tel(
                        signupForm("profile.phoneNumber"),
                        '_help -> "",
                        '_label -> Messages("profile.phone"),
                        'required->"true",
                        '_error -> signupForm("profile.phoneNumber").error.map(_.withMessage("Please select your dostyk"))
                    )

                    @password(
                        signupForm("password"),
                        'required->"true",
                        'label -> "password",
                        'help -> "help.password",
                        '_help ->"",
                        'required -> "required"
                    )

                    @password(
                        signupForm("repeatPassword"),
                        'required->"true",
                        '_label -> Messages("confirmPassword"),
                        '_help -> "",
                        '_error -> signupForm.error("password"),
                        'required -> "required"
                    )
                </div>

                    <div class="span3">
                        @select(
                            signupForm("profile.inn"),
                            options = options("ten.kz"->Messages("ten.kz"), "ten.ru"->Messages("ten.ru")),
                            '_help -> "",
                            'required->"true",
                            '_label -> Messages("ten.exam.lang"),
                            '_error -> signupForm("profile.dostyk").error.map(_.withMessage("Please select your gender"))
                        )
                    @subjectNotPresent(){
                    @select(
                        signupForm("dostyk"),
                        options = options(DostykLogic.list),
                        'required->"true",
                        'id->"dostyk",
                        '_default -> Messages("help.dostyk"),
                        '_label -> Messages("profile.dostyk"),
                        'required -> "required",
                        '_error -> signupForm("profile.dostyk").error.map(_.withMessage("Please select your dostyk"))
                    )

                        <div style="display:none" id="session_div"></div>
                    }

                        @restrict(la(as("moderator"))) {
                            <input type="hidden" name="dostyk" value="@models.entities.user.AuthorisedUser.getUserByEmail(session.get("connected")).dostyks.get(0).name" />
                            @Messages("ten.session")
                            <br>
                            <select name="profile.examSession.id" id=session required>
                                <option value="">@Messages("select.session")</option>
                                @for(es<-models.entities.ten.ExamSession.findByDostyk(models.entities.user.AuthorisedUser.getUserByEmail(session.get("connected")).dostyks.get(0))){
                                    <option value = @es.id @if(!es.status.equalsIgnoreCase("available")){disabled}>Сеанс @es.session, @if(es.session==1){09:00-12:30}
                                        @if(es.session==2){12:30-16:00}
                                        @if(es.session==3){16:00-19:30} @if(!es.status.equalsIgnoreCase("available")){@Messages("ten.full")}</option>
                                }
                            </select>
                        }
                    </div>

                <div class="span3">
                @if(role=="student") {
                    @*<label> @Messages("Ulgerimi") </label>*@
                    @*<select name=ulgerimi required>*@
                        @*<option value="" class=blank> @Messages("Ulgerimi")</option>*@
                        @*<option value=jaksy> @Messages("jaksy")</option>*@
                        @*<option value=kizilAttestat> @Messages("kizilAttestat")</option>*@
                        @*<option value=altynBelgi> @Messages("altynBelgi")</option>*@
                    @*</select>*@

                    <label for="region">@Messages("region")</label>
                    <select name=region id=region required>
                        <option value="" class=blank> @Messages("selectRegion")</option>
                        @for(r<-regions) {
                            <option value=@r.code>
                            @if(session().get("lang") == "kk"){
                                @r.name_kz
                            } else {
                                @r.name_ru
                            }
                            </option>
                        }
                    </select>
                    <div style="display:none" id="district_div"></div>
                    <div style="display:none" id="school_div"></div>

                }
                </div>



                @*<input type=text name=role value="studentTen" style="display:none">*@

            </div>
        </div>

        <div class="row-fluid">
            <div class="span12">
                <fieldset>
                    <br>
                    <label class="checkbox">
                    @checkbox(
                        signupForm("accept"),
                        '_label -> None,
                        '_text -> Messages("help.agreement"),
                        '_showConstraints -> false
                    )
                    </label>
                </fieldset>

                <div class="actions">
                    <input type="submit" class="btn btn-primary" value="@Messages("signUp")" id="signUp">
                    <a href="@routes.Application.index" class="btn">@Messages("cancel")</a>
                </div>
            </div>
        </div>

    }
}

<script src="@routes.Assets.at("javascripts/jquery.maskedinput.min.js")" type="text/javascript"></script>
<script type="text/javascript" src='@routes.Application.javascriptRoutes'></script>
<script>
$("input:checkbox").eq(-2).attr("required", "required");

$("#profile_phoneNumber").mask("+7(999) 999 99 99");
$("#mother_phoneNumber1").mask("+7(999) 999 99 99");
$("#mother_phoneNumber2").mask("+7(999) 999 99 99");

$("#father_phoneNumber1").mask("+7(999) 999 99 99");
$("#father_phoneNumber2").mask("+7(999) 999 99 99");

$("#guardian_phoneNumber1").mask("+7(999) 999 99 99");
$("#guardian_phoneNumber2").mask("+7(999) 999 99 99");



$("input:checkbox").click(function() {
    ok = 0;
    $("input:checkbox").each(function() {
        if ($(this).is(":checked")) ok = ok + 1;
    });

    $("input:checkbox").each(function() {
        $(this).removeAttr("required");
    });

    if ($("input:checkbox").last().is(":checked")) ok = ok - 1;

    $("input:checkbox").last().attr("required", "required");

    if (ok == 0) {
        $("input:checkbox").eq(-2).attr("required", "required");
    }
});

$(document).ready(function() {
    $('#dostyk').trigger('change');
    /*
    var value = $("#dostyk option:selected").val();
    if (value.length > 0) {
        myJsRoutes.controllers.ten.UserTen.getSessions(value).ajax({
            success: function(data) {
                $("#session_div").hide();
                $("#session_div").html(data);
                $("#session_div").slideDown();
            },
            error: function(jqXHR, textStatus, errorThrown) {
                console.log(textStatus);
            }
        });

    }
    */
});

$(document).on("change", "#dostyk", function() {
    var value = $("#dostyk option:selected").val();
    if (value.length > 0) {
        myJsRoutes.controllers.ten.UserTen.getSessions(value).ajax({
            success: function(data) {
                $("#session_div").hide();
                $("#session_div").html(data);
                $("#session_div").slideDown();
            },
            error: function(jqXHR, textStatus, errorThrown) {
                console.log(textStatus);
            }
        });

    }
});

$("#region").on("change", function() {
    $("#district_div").hide();
    $("#school_div").hide();
    region = $("#region option:selected").html();
    value = $("#region option:selected").val();
    if (value.length > 0) {
        myJsRoutes.controllers.social.Regions.getDistricts(value).ajax({
            success: function(data) {
                $("#district_div").html(data);
                $("#district_div").slideDown();
            },
            error: function(jqXHR, textStatus, errorThrown) {
                console.log(textStatus);
            }
        });

    }
});

$(document).on("change", "#district", function() {
    district = $("#district option:selected").html();
    value = $("#district option:selected").val();
    region = $("#region option:selected").html();
    reg = $("#region option:selected").val();
    if (value.length > 0) {
        myJsRoutes.controllers.social.Districts.getSchools(value, reg).ajax({
            success: function(data) {
                $("#school_div").hide();
                $("#school_div").html(data);
                $("#school_div").slideDown();
            },
            error: function(jqXHR, textStatus, errorThrown) {
                console.log(textStatus);
            }
        });

    }
});
@if(role == "student"){
$('#signUpTab a').click(function(e) {
    e.preventDefault();
    $(this).tab('show');
});
}
</script>


