@(dostyks : List[models.entities.social.Dostyk])

@import be.objectify.deadbolt.java.views.html._
@import be.objectify.deadbolt.core.utils.TemplateUtils._


@import helper.inputText;
@import models.entities.user._;
@import models.entities.social._;
@import helper.twitterBootstrap._

@import models.logic.social._;
@import models.logic.user._;
@import html5.tags.html._


@_content(Messages("report.ten")){
    <button id="myButtonControlID" class="btn">@Messages("excelExport")</button>
    <div id="divTableDataHolder">
        <style>
        td {
        mso-number-format:"\@@";/*force text*/
        }
        </style>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th></th>
                    <th>@Messages("StudentCount")</th>
                    <th>Сеанс 1, 09:00-12:30</th>
                    <th>Сеанс 2, 12:30-16:00</th>
                    <th>Сеанс 3, 16:00-19:30</th>
                </tr>
            </thead>
            @for(dostyk<-dostyks){
                <tbody>
                    <tr class="dostyk" dostykid="@dostyk.id">
                        <th>@dostyk.name</th>
                        <td>@models.logic.social.DostykLogic.getTenStudentsSize(dostyk,"active")</td>
                        <td>@models.logic.user.ProfileLogic.getSessionCount(dostyk, 1) / @models.entities.ten.ExamSession.find.where.eq("dostyk",dostyk).eq("session",1).findUnique().sessionMax</td>
                        <td>@models.logic.user.ProfileLogic.getSessionCount(dostyk, 2) / @models.entities.ten.ExamSession.find.where.eq("dostyk",dostyk).eq("session",2).findUnique().sessionMax </td>
                        <td>@models.logic.user.ProfileLogic.getSessionCount(dostyk, 3) / @models.entities.ten.ExamSession.find.where.eq("dostyk",dostyk).eq("session",3).findUnique().sessionMax</td>
                    </tr>
                    @*
                    @restrict(la(as("moderator"))){
                    @for(group<-dostyk.dostykGroups ){
                    <tr class="dostyk_@dostyk.id groups">
                    <td>@group.name</td>
                    @if(group.`type`.equals("E")){
                    <td>@group.electiveStudents.size()</td>
                    <td>@models.logic.user.ProfileLogic.getGenderCount(group, "male") </td>
                    <td>@models.logic.user.ProfileLogic.getGenderCount(group, "female")</td>
                    }else{
                    <td>@group.students.size()</td>
                    <td>@models.logic.user.ProfileLogic.getGenderCount(group, "male")</td>
                    <td>@models.logic.user.ProfileLogic.getGenderCount(group, "female")</td>
                    }
                    </tr>
                    }}
                    *@
                </tbody>
            }
        </table>
    </div>
}
<script>
        $("[id$=myButtonControlID]").click(function(e) {
            window.open('data:application/vnd.ms-excel,' + encodeURIComponent( $('div[id$=divTableDataHolder]').html()));
            e.preventDefault();
        });
        /*
         $(document).ready(function() {
         $(".groups").hide();
         });
         $(".dostyk").click(function() {
         var dostykid = $(this).attr("dostykid");
         $(".dostyk_" + dostykid).toggle();
         });
         */
</script>