@import models.timetable.Settings
@import models.timetable.LessonPeriod
@import be.objectify.deadbolt.java.views.html._
@import be.objectify.deadbolt.core.utils.TemplateUtils._
@(settings:Settings, lessonPeriods:List[LessonPeriod], all:List[Settings], status:String)

@getBreak(i: Int) = @{
	lessonPeriods.get(i).getStartInMin - lessonPeriods.get(i-1).getEndInMin
}

@_content(Messages("EditSettings")){
	<div class="row">
		<div class="col-sm-8">
		<form class="form form-inline">
			<label for="names">@Messages("AllSettings")</label>
			<select id="names" class="form-control" >
				@if(settings.id == null) { <option selected></option> }
				@for(curSettings <- all){
					<option value="@curSettings.id" @if(settings.id == curSettings.id) {selected}>
						@curSettings.name
					</option>
				}
			</select>
			<button class="btn btn-primary" type="button" onclick="window.location='/timetable/settings/edit/new'"><i class="fa fa-plus fa-fw"></i>@Messages("NewSettings")</button>
		</form>
		</div>	
		<div class="col-sm-4">
			<div class="pull-right">
                @if(settings.id != null && settings.isActive == false) {      
					<div class="col-sm-6 alert alert-info">
    	                @Messages("Inactive")
        	        </div>        
					<input class="col-sm-6 btn btn-primary" type="button" value="@Messages("Activate")"					
						onclick="window.location='/timetable/settings/active/'+@settings.id">
				} 
				@if(settings.id != null && settings.isActive == true) {
					<div class="col-sm-12 alert alert-info">
    	                @Messages("Active")
        	        </div>        				
				}		
			</div>
		</div>
	</div>	
	<form action="@controllers.routes.CTimetableSettings.save(if(settings.id!=null){String.valueOf(settings.id)}else{"new"})"
     	method="post" class="form-horizontal myform" id="myform">     
		<div class="row">
			<div class="col-sm-6 form-group">
				<label class="col-sm-6 control-label">@Messages("SettingsName")</label>
				<div class="col-sm-6">
					<input class="forselect form-control" id="name" name="name" value="@settings.name">
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-6 form-group">
				<label class="col-sm-6 control-label">@Messages("LessonMinute")</label>
				<div class="col-sm-6">
					<input class="forselect form-control" id="lessonTime" name="lessonTime" value="@settings.lessonTime">
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-6 form-group">
				<label class="col-sm-6 control-label">@Messages("LessonDays")</label>
				<div class="col-sm-6">
					<select id="lesson-days" name="lesson-days" class="forselect form-control">
						@for(day <- 1 to 7){
							<option value="@day" @if(day == settings.lessonDays){selected}>@day</option>
						}
					</select>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-6 form-group">
				<label class="col-sm-6 control-label">@Messages("MaxLessons")</label>
				<div class="col-sm-6">
					<select id="max-lessons" name="max-lessons" class="forselect form-control">
						@for(lesson <- 1 to 12){
							<option value="@lesson" @if(lesson == settings.maxLessons){selected}>@lesson</option>
						}
					</select>
				</div>
			</div>
		</div>
		<table class="table table-condensed panel panel-primary">
	        <caption class="panel-heading"><h4>@Messages("LessonPeriods")</h4></caption>
    	    <thead>
        	    <tr>
	                <th>
	                    №
	                </th>
	                <th>
	                    @Messages("StartTime")
	                </th>
	                <th>
	                    @Messages("EndTime")
	                </th>
	                <th>
	                    @Messages("Break")
	                </th>
	            </tr>
	        </thead>
	        <tbody>	 
				@for(period <- 1 to 12){
						<tr class="timetable-period" id="timetable-period_@period" @if(period > settings.maxLessons) {style="display:none"}>
							<div class="col-sm-1">							
							<td>@period.</td>
							</div>
							<div class="col-sm-4">
							<td>
									<input id="start-time_@period" name="start-time_@period" class="form-control" 
										 placeholder="hh:mm" type="time" @if(settings.maxLessons >= period && lessonPeriods.size() > 0) {value="@lessonPeriods.get(period-1).getStartTime"}>
							</td>
							</div>
							<div class="col-sm-4">							
							<td>
									<input id="end-time_@period" name="end-time_@period" class="form-control" 
										placeholder="hh:mm" type="time" @if(settings.maxLessons >= period && lessonPeriods.size() > 0) {value="@lessonPeriods.get(period-1).getEndTime"}>
							</td>
							</div>
							<div class="col-sm-3">							
							<td>
									<input type="number" id="break_@period" class="forselect form-control" 
										@if(settings.maxLessons > period && lessonPeriods.size() > 0) {value="@getBreak(period)"}>
							</td>
							</div>							
						</tr>			
				}
				<tr>
					<td></td>
					<td></td>
					<td></td>
					<td>
						<div class="pull-right">
							<input class="btn btn-primary" id="generate" type="button" value="@Messages("Generate")">
						</div>						
					</td>
				</tr>
	        </tbody>
		</table>
		<input class="btn btn-success" type="submit" value="@Messages("Save")">
		<input class="btn btn-danger" type="button" value="@Messages("Delete")" id="delete" @if(settings.id == null) {disabled}>
	</form>
}

<link rel="stylesheet" media="screen" href='@routes.Assets.at("stylesheets/toastr.min.css")' />
<script type="text/javascript" src='@routes.Assets.at("javascripts/toastr.min.js")'></script>
<script type="text/javascript">

	$(document).on("ready", function(){
		@if(status == "saved") {
	    	toastr.success('@Messages("SavedSuccessfully")');
	    }
	    @if(status == "unsaved") {
	    	toastr.warning('@Messages("NotSaved")');
	    }
	    @if(status == "deleted") {
	    	toastr.success('@Messages("SuccessfullyDeleted")');
	    }
	    @if(status == "undeleted") {
	    	toastr.warning('@Messages("NotDeleted")');
	    }
	    @if(status == "activated") {
	    	toastr.success('@Messages("ActivatedSuccessfully")');
	    }
	});
	$(document).on("change", "#names", function(){
	    var selected = $("#names option:selected").val();
	    var URL = '@controllers.routes.CTimetableSettings.edit("new")';
	    URL = URL.replace('new',selected);
	    window.location.href = URL;
	});  
	$(document).on("change", "#max-lessons", function() {
		var max = $(this).val();
		for (i = 1; i < 13; i++) {
			if (i <= max) $("#timetable-period_" + i).show();
			else $("#timetable-period_" + i).hide();
		}
	});
	$(document).on("click", "#generate", function() {
		var max = $("#max-lessons").val();
		var ltime = $("#lessonTime").val();
		if (check(max)) {
			for (i = 1; i <= max; i++) {
				start = $("#start-time_"+i).val();
				_break = $("#break_"+i).val();
				end = addTime(start, Number(ltime));
				nextStart = addTime(start, Number(ltime) + Number(_break));
				$("#end-time_"+i).val(end);
				if (i < max) {
					$("#start-time_"+(i+1)).val(nextStart);
				}
			}
			toastr.success('@Messages("GeneratedSuccessfully")');
		} else {
			toastr.warning('@Messages("FillBreaks")');
		}
	});
	$(document).on("click", "#delete", function(){
		@if(settings.id != null) {
			if (confirm('@Messages("confirm_question")') == true) {
				var URL = '@controllers.routes.CTimetableSettings.delete(settings.id)';
			   	window.location.href = URL;
			}
		}
	});
	function check(max) {
		for (i = 1; i < max; i++) {
			if (!$("#break_"+i).val()) return false;
		}
		return $("#start-time_1").val();
	}
	function addTime(start, add) {
		a = start.split(":");
		ans = Number(a[0])*60 + Number(a[1]) + add;
		x = Math.floor(ans/60);
		y = ans%60;
		if (x < 10) x = "0" + x;
		if (y < 10) y = "0" + y;
		return x+":"+y; 
	}
</script>


