@import be.objectify.deadbolt.java.views.html._
@import be.objectify.deadbolt.core.utils.TemplateUtils._
@import models.timetable._
@import models.logic.social.DostykGroupLogic
@import models.entities.education.LessonHours
@import models.entities.user.AuthorisedUser

@(timetable:Timetable, teachers:List[AuthorisedUser], lessons:List[TimetableLesson], lessonHours:List[LessonHours], settings:Settings, gid:Long,creditColor:List[String],lessonColor:List[String])

@_content(Messages("Timetable")) {
		@if(gid==0){
			<div id="error_fields2" class="alert alert-danger" role="alert">@Messages("nogroup")</div>
		} else {
			@if(settings == null){
				<div id="error_fields3" class="alert alert-danger" role="alert">@Messages("noSettings")</div>
			} else {
		<form class="form form-inline">
			<label for="grades">@Messages("dostykGroup")</label>
			<select id="grades" class="form-control" @if(timetable.id != null) {disabled}>
				@for(tempGrade <- DostykGroupLogic.getAllByDostyk(timetable.organization)) {
           			<option value="@tempGrade.id" @if(gid == tempGrade.id) {selected} >@tempGrade.name</option>
          		}
			</select>
			@if(timetable.id == null) {
				<button class="btn btn-primary" id="refresh" type="button">@Messages("Refresh")</button>
			}
		</form>
		<div id="redips-drag">
			<table id="table1">
				<colgroup><col width="150"/><col width="150"/><col width="150"/><col width="150"/><col width="150"/><col width="150"/><col width="150"/></colgroup>
				<tr>
					<td class="redips-mark"></td>
					@for(day <- 1 to settings.lessonDays) {
						<td class="redips-mark">@Messages("day"+day)</td>					
					}
				</tr>
				@for(period <- LessonPeriod.bySettings(settings)) {				
					<tr style="background-color: #eee">						
						<td class="redips-mark">@period.getPeriod</td>
						@for(day <- 1 to settings.lessonDays) {
							<td>
								@for((lesson, i) <- lessons.zipWithIndex) {
									@if(lesson.period == period && lesson.day == day) {
										<div id="lesson_@lesson.id-@lesson.subject.id-@lesson.subjectTeacher.id" class="redips-drag t1">
											@lesson.subject.name
											<div class="dropdown" id="teacher_@lesson.id-@lesson.subject.id">

												<!-- выбор и имя преподавателей -->
												<p class="dropdown-toggle" data-toggle="dropdown" id="lesson_dropdown_@lesson.id-@lesson.subject.id">@lesson.subjectTeacher.profile.firstName @lesson.subjectTeacher.profile.lastName</p>
												<!-- список преподователей -->
												<ul class="dropdown-menu">
													@for(teacher <- teachers){
														@for(l <- teacher.profile.lessons){
															@if(lesson.subject.id==l.id){
																<li><a href="#" id="lesson_@lesson.day@teacher.id@lesson.id" >@teacher.profile.firstName @teacher.profile.lastName</a></li>
															}
														}
													}
												</ul>
											</div>
										</div>
									}
								}							
							</td>
						}	
					</tr>
				}
			</table>
			<table id="table3">
				<tr style="background-color: #eee">
					@for(credit <- lessonHours) {
						@for(count <- 1 to credit.hours) {
							<td>
								<div id="credit_@count-@credit.lesson.id" class="redips-drag t1" teacher="">
									@credit.lesson.name
									<div class="dropdown">
										<!-- выбор и имя преподавателей -->
										<p class="dropdown-toggle" data-toggle="dropdown" id="credit_dropdown_@count-@credit.lesson.id">Select teacher</p>
										<!-- список преподователей -->
										<ul class="dropdown-menu" >
											@for(teacher <- teachers){
												@for(l <- teacher.profile.lessons){
													@if(credit.lesson.id==l.id){
														<li><a href="#" id="credit_@count-@teacher.id@l.id">@teacher.profile.firstName @teacher.profile.lastName</a></li>
													}
												}
											}
										</ul>
									</div>
								</div>
							</td>
						}
					}			
					@for(i <- 1 to 10) {
						<td></td>
					}											
				</tr>
			</table>
			<div id="message" class="redips-mark" style="display:none"> </div>
		</div>	
		<br>
		<input type="button" value='@Messages("Save")' class="btn btn-success" onclick="save_timetable()">
		@if(timetable.id != null) {
			<input isActive="@timetable.isActive" type="button" value='@if(timetable.isActive) {@Messages("Deactivate")} else {@Messages("Activate")}' class="btn btn-primary" id="active">
			<input type="button" value='@Messages("Delete")' class="btn btn-danger" id="delete">
		} 
	  }
	}
}

<link rel="stylesheet" href='@routes.Assets.at("stylesheets/timetable-style.css")' type="text/css" media="screen" />
<style>
	#redips-drag{
		margin-top:40px;
		margin-left:0;
		width:900px !important;
	}
	.redips-drag{
		line-height:15px;
		height:auto;
	}	
	#table3{
		display: block;
    	overflow: scroll;
	}
</style>
<script type="text/javascript" src='@routes.Application.javascriptRoutes'></script>
<script type="text/javascript" src='@routes.Assets.at("javascripts/redips-drag-min.js")'></script>
<script type="text/javascript" src='@routes.Assets.at("javascripts/timetable-script.js")'></script>
<script type="text/javascript" src='@routes.Assets.at("javascripts/toastr.min.js")'></script>
<link rel="stylesheet" media="screen" href='@routes.Assets.at("stylesheets/toastr.min.css")' />
<script type="text/javascript">

	$(function(){
		@if(lessons!=null && lessonHours!=null){
			@for((lesson, i) <- lessons.zipWithIndex){
            	@for(teacher <- teachers){
					$("#lesson_@lesson.day@teacher.id@lesson.id").click(function(){
                		$("#lesson_dropdown_@lesson.id-@lesson.subject.id:first-child").text($(this).text());
               	 		$("#lesson_dropdown_@lesson.id-@lesson.subject.id:first-child").val($(this).text());
               	 		$("#lesson_@lesson.id-@lesson.subject.id-@lesson.subjectTeacher.id").attr("id", "lesson_@lesson.id-@lesson.subject.id-@teacher.id");
            			}
            		);
				}
            }

			@for(credit <- lessonHours) {
				@for(count <- 1 to credit.hours) {
            		@for(teacher <- teachers){
						$("#credit_@count-@teacher.id@credit.lesson.id").click(function(){
                			$("#credit_dropdown_@count-@credit.lesson.id:first-child").text($(this).text());
               	 			$("#credit_dropdown_@count-@credit.lesson.id:first-child").val($(this).text());
               	 			$("#credit_@count-@credit.lesson.id").attr("id", "credit_@count-@credit.lesson.id-@teacher.id");
            			});
					}
            	}
        	}
        }

    });





	$(document).ready(function() {
		@if(lessons!=null){
			@for((lesson, i) <- lessons.zipWithIndex) {
				$("#lesson_@lesson.id-@lesson.subject.id").css("border-color", "@lessonColor.get(i)");
			}
		}

	});
	$(document).on("click", "#refresh", function() {		
		var gid = $("#grades option:selected").val();
		var URL = '@controllers.routes.CTimetable.edit(99, "new")';
		URL = URL.replace("99", gid);
	    window.location.href = URL;
	});
	$(document).on("click", "#active", function() {	
		var type = $(this).attr("isActive");	
		@if(timetable.id != null) {
			myJsRoutes.controllers.CTimetable.active(@timetable.id).ajax({
		        success : function(jqXHR, textStatus) {
		          var response = jqXHR.toString();
		          if(response=="CantActivate"){
		            toastr.warning('@Messages("CantActivateTimetable")');
		          }else{
		        	if (type == 'false') {
			       		document.getElementById("active").setAttribute("isActive", true);
			        	document.getElementById("active").setAttribute("value", '@Messages("Deactivate")');	        	
		        		toastr.success('@Messages("ActivatedSuccessfully")');
		        	} else {
			       		document.getElementById("active").setAttribute("isActive", false);
			        	document.getElementById("active").setAttribute("value", '@Messages("Activate")');	        	
		        		toastr.success('@Messages("DeactivatedSuccessfully")');	        		
		        	} 
		          }
		        },
		        error : function(jqXHR, textStatus, errorThrown) {
		          toastr.error('@Messages("ConError")');
		        },
		        method: 'GET',
		    });	
		}
	});

	$(document).on("click", "#delete", function() {		
		@if(timetable.id != null) {
			myJsRoutes.controllers.CTimetable.delete(@timetable.id).ajax({
		        success : function(jqXHR, textStatus) {
		          var response = jqXHR.toString();
		          if(response=="active"){
		            toastr.warning('@Messages("CantDeleteTimetable")');
		          } else{
		      	    var URL = '@controllers.CTimetable.viewAll( 0, "active")';
		    	    window.location.href = URL;
		          }
		        },
		        error : function(jqXHR, textStatus, errorThrown) {
		          toastr.error('@Messages("ConError")');
		        },
		        method: 'GET',
		    });	
		}
	});
	// show prepared content for saving
	function save_timetable() {
		var table_content = REDIPS.drag.saveContent('table1', 'json');
		if (!table_content) {
			alert('Table is empty!');
		} else {
			console.log("techno", table_content);
			$.ajax({
		        url: '@controllers.routes.CTimetable.save(gid, if(timetable.id != null) {""+timetable.id} else {"new"}, if(settings != null) {""+settings.id} else {"0"})',
		        data: table_content,
		        headers: {
		          'Content-Type': 'application/json'
		        },
		        type: 'POST',
		        success: function(resId) {
		          toastr.success("@Messages("SavedSuccessfully")");
		          @if(timetable == null) {
		        	 var URL = '@controllers.routes.CTimetable.edit( 99, "new")';
		        	 URL = URL.replace('99', @gid);
		        	 URL = URL.replace('new', resId);		        	 
					 window.location.href = URL;  
		          }
		        },
		        error : function(jqXHR, textStatus, errorThrown) {
		          toastr.error('@Messages("noteacher")');
		        },
		   	});
		}
	}
</script>

