@import be.objectify.deadbolt.java.views.html._
@import be.objectify.deadbolt.core.utils.TemplateUtils._
@import models.timetable._
@import models.entities.education.Lesson

@(timetable:Timetable,lessons:List[TimetableLesson],settings:Settings)

@_content(Messages("Timetable")) {
	@if(timetable == null) {
		<div id="error_fields" class="alert alert-danger" role="alert">@Messages("noTimetable")</div>
	} else {
		@Messages("dostykGroup"): @timetable.grade.name
		<div id="redips-drag">

			<table id="table1">					
				<tr>
					<td class="redips-mark"></td>
					@for(day <- 1 to settings.lessonDays) {
						<td class="redips-mark">@Messages("day"+day)</td>
					}
				</tr>
				@for(period <- LessonPeriod.bySettings(settings)) {				
					<tr style="background-color: #eee">						
						<td class="redips-mark">@period.getPeriod</td>
						@for(day <- 1 to settings.lessonDays) {
							<td>
								@for(lesson <- lessons) {
									@if(lesson.period == period && lesson.day == day) {
										<div>
											@lesson.subject.name
											<br>
											@lesson.subjectTeacher.profile.firstName @lesson.subjectTeacher.profile.lastName
										</div>
										<br>								
									}
								}							
							</td>
						}	
					</tr>
				}
			</table>
		</div>
		<a href="/timetable/edit/@timetable.grade.id/@timetable.id" type="button" class="btn btn-primary">@Messages("edit")</a>
	}
}

<link rel="stylesheet" href="@routes.Assets.at("stylesheets/timetable-style.css")" type="text/css" media="screen" />
<style>
	#redips-drag{
		margin-top:40px;
		margin-left:0;
		width:900px !important;
	}
	.redips-drag{
		line-height:15px;
		height:auto;
	}	
</style>
