@import models.timetable._
@import models.logic.social.DostykGroupLogic
@import models.entities.user.AuthorisedUser
@(list:List[Timetable], gid:Long, st:String)

@_content(Messages("Timetable")) {
<form class="form form-inline">
	<label for="grades">@Messages("Select.group")</label>
	<select id="grades" class="form-control" >
		<option value="0" @if(gid == 0){ selected }>@Messages("all")</option>
		@for(tempGrade <- DostykGroupLogic.getAllByDostyk(AuthorisedUser.getUserByEmail(session.get("connected")).dostyks.get(0))){
		<option value="@tempGrade.id"
				@if(gid==tempGrade.id){ selected }
		>@tempGrade.name </option>
		}
	</select>

	<label for="status" style="margin-top: 15px">@Messages("Status")</label>
	<select id="status" class="form-control" >
		<option value="all" @if(st == "all"){ selected }>@Messages("all")</option>
		<option value="active" @if(st == "active"){ selected }>@Messages("Active")</option>
		<option value="inactive" @if(st == "inactive"){ selected }>@Messages("Inactive")</option>
	</select>

	<table style="width: 100%">
		<tr>
			<td>
				<a class="btn btn-primary" id="refresh" style="margin-top: 15px; ">
					<i class="fa fa-refresh fa-fw"></i>
					@Messages("Refresh")
				</a>
			</td>
			<td>
				<div class="pull-right" style="margin-top: 15px">
					<a class="btn btn-primary" id="new_tt">
						<i class="fa fa-plus fa-fw"></i>
						@Messages("NewTimetable")
					</a>
				</div>
			</td>
		</tr>
	</table>


</form>
<div class="row">
	<div class="col-sm-12">
		<div class="table-responsive">
			<table class="table table-hover table-condensed table-bordered" id="dataTables-example">
				<thead>
				<tr>
					<th style="text-align: center; padding-left: 10px; padding-right: 10px">@Messages("grade")</th>
					<th style="text-align: center; padding-left: 10px; padding-right: 10px">@Messages("SettingsName")</th>
					<th style="text-align: center; padding-left: 10px; padding-right: 10px">@Messages("status")</th>
					<th style="text-align: center; padding-left: 10px; padding-right: 10px"></th>
				</tr>
				</thead>
				<tbody>
				@for(tt <- list) {
				<tr id="tt-row_@tt.id">
					<td>@tt.grade.name</td>
					<td>@tt.settings.name</td>
					<td id="tt-active-col_@tt.id">@if(tt.isActive){ @Messages("Active") } else{ @Messages("Inactive") } </td>
					<td>
						<a href="/timetable/view/@tt.id" type="button" class="btn btn-warning btn-xs" id="tt-view-btn_@tt.id">@Messages("user_view")</a>
						<a href="/timetable/edit/@tt.grade.id/@tt.id" type="button" class="btn btn-primary btn-xs" id="tt-edit-btn_@tt.id">@Messages("edit")</a>
						<a type="button" class="delete btn btn-danger btn-xs" id="tt-delete-btn_@tt.id">@Messages("delete")</a>
						<a type="button" class="activate btn btn-danger btn-xs" id="tt-active-btn_@tt.id" isActive="@tt.isActive">
							@if(tt.isActive == true) {@Messages("Deactivate")} else {@Messages("Activate")}
						</a>
					</td>
				</tr>
				}
				</tbody>
			</table>
		</div>
	</div>
</div>
}
<script type="text/javascript" src='@routes.Application.javascriptRoutes'></script>
<script type="text/javascript">
	$(document).on("click", "#refresh", function() {
		var sgrade = $("#grades option:selected").val();
		var sstatus = $("#status option:selected").val();
		var URL = '@controllers.routes.CTimetable.viewAll(99, "status")';
		URL = URL.replace('99', sgrade);
		URL = URL.replace('status', sstatus);
		window.location = URL;
	});
	$(document).on("click", "#new_tt", function() {
		var sgrade = $("#grades option:selected").val();

		var URL = '@controllers.routes.CTimetable.edit(3, "new")';
		URL = URL.replace('3', sgrade);
		window.location = URL;
	});
	$(document).on("click", ".activate", function() {
		var id = $(this).attr("id").split("_")[1];
		var type = $(this).attr("isActive");	
		var sstatus = $("#status option:selected").val();
		myJsRoutes.controllers.CTimetable.active(id).ajax({
	        success : function(jqXHR, textStatus) {
	          var response = jqXHR.toString();
	          if(response=="CantActivate"){
	            toastr.warning('@Messages("CantActivateTimetable")');
	          } else{
	        	if (type == 'false') {
	        		if (sstatus == "inactive") {
	        			document.getElementById("tt-row_"+id).hidden = true;
	        		} else if (sstatus == "all") {
		        		document.getElementById("tt-active-btn_"+id).innerHTML = '@Messages("Deactivate")';
		        		document.getElementById("tt-active-btn_"+id).setAttribute("isActive", true);
		        		document.getElementById("tt-active-col_"+id).innerHTML = '@Messages("Active")';
		        		//change active timetable to inactive
		        		if (response != "no") {
			        		document.getElementById("tt-active-btn_"+response).innerHTML = '@Messages("Activate")';
			        		document.getElementById("tt-active-btn_"+response).setAttribute("isActive", false);
			        		document.getElementById("tt-active-col_"+response).innerHTML = '@Messages("Inactive")';
		        		}
	        		}
	        		toastr.success('@Messages("ActivatedSuccessfully")');
	        	} else {
	        		if (sstatus == "active") {
	        			document.getElementById("tt-row_"+id).hidden = true;
	        		} else {	        			
		        		document.getElementById("tt-active-btn_"+id).innerHTML = '@Messages("Activate")';
		        		document.getElementById("tt-active-btn_"+id).setAttribute("isActive", false);
		        		document.getElementById("tt-active-col_"+id).innerHTML = '@Messages("Inactive")';
	        		}
	        		toastr.success('@Messages("DeactivatedSuccessfully")');	        		
	        	} 
	          }
	        },
	        error : function(jqXHR, textStatus, errorThrown) {
	          toastr.error('@Messages("ConError")');
	        },
	        method: 'GET',
	    });
	});
	$(document).on("click", ".delete", function() {		
		if (confirm('@Messages("confirm_question")') == true) {
			var id = $(this).attr("id").split("_")[1];
			var type = $("#tt-active-btn_"+id).attr("isActive");	
			if (type == 'true') {
				toastr.warning('@Messages("CantDeleteTimetable")');			
			} else {
				myJsRoutes.controllers.CTimetable.delete(id).ajax({
			        success : function(jqXHR, textStatus) {
			          var response = jqXHR.toString();
			          if(response=="active"){
			            toastr.warning('@Messages("CantDeleteTimetable")');
			          }else{
			        	$("#tt-active-col_"+id).html('@Messages("Deleted")');
			        	$("#tt-row_"+id).addClass("alert-danger");
			        	$("#tt-view-btn_"+id).attr("disabled", true);
			        	$("#tt-edit-btn_"+id).attr("disabled", true);
			        	$("#tt-delete-btn_"+id).attr("disabled", true);
			        	$("#tt-active-btn_"+id).attr("disabled", true);
			        	toastr.success('@Messages("SuccessfullyDeleted")');
			          }
			        },
			        error : function(jqXHR, textStatus, errorThrown) {
			          toastr.error('@Messages("ConError")');
			        },
			        method: 'GET',
			    });
			}
		}
	});
</script>