@import be.objectify.deadbolt.java.views.html._
@import be.objectify.deadbolt.core.utils.TemplateUtils._
@import models.timetable._
@import models.logic.social.DostykGroupLogic
@import models.entities.education.LessonHours
@import models.entities.user.AuthorisedUser

@(settings:Settings, timetableLessons: List[TimetableLesson], today : String)

@_content(Messages("Timetable")) {
	@if(settings == null) {
		<div id="error_fields" class="alert alert-danger" role="alert">@Messages("noSettings")</div>
	} else {
		@if(timetableLessons.size()==0){
			<div id="error_fields2" class="alert alert-danger" role="alert">@Messages("noTeacherTimetable")</div>
		} else {
		<div id="redips-drag">
			<table id="table1">
				<colgroup><col width="150"/><col width="150"/><col width="150"/><col width="150"/><col width="150"/><col width="150"/><col width="150"/></colgroup>
				<tr>
					<td class="redips-mark"></td>
					@for(day <- 1 to settings.lessonDays) {
						<td class="redips-mark">@Messages("day"+day)</td>					
					}
				</tr>
				@for(period <- LessonPeriod.bySettings(settings)) {				
					<tr style="background-color: #eee">						
						<td class="redips-mark">@period.getPeriod</td>
						@for(day <- 1 to settings.lessonDays) {
							<td>
								@for((lesson, i) <- timetableLessons.zipWithIndex) {
									@if(lesson.period == period && lesson.day == day) {
										<div id="lesson_@lesson.id" class="redips-drag t1" onclick="take_attendance(this.id)">
											@lesson.subject.name
											@lesson.timetable.grade.name
										</div>
									}
								}
							</td>
						}	
					</tr>
				}
			</table>
		</div>	
		<br>
		}
	}
}

<link rel="stylesheet" href='@routes.Assets.at("stylesheets/timetable-style.css")' type="text/css" media="screen" />
<style>
	#redips-drag{
		margin-top:40px;
		margin-left:0;
		width:900px !important;
	}
	.redips-drag{
		line-height:15px;
		height:auto;
	}	
	#table3{
		display: block;
    	overflow: scroll;
	}
</style>
<script type="text/javascript" src='@routes.Application.javascriptRoutes'></script>
<script type="text/javascript" src='@routes.Assets.at("javascripts/toastr.min.js")'></script>
<link rel="stylesheet" media="screen" href='@routes.Assets.at("stylesheets/toastr.min.css")' />
<script type="text/javascript">
	function take_attendance(id) {		
		id = id.split("_")[1];
		var URL = '@controllers.education.routes.Attendances.edit(0, today)';
   	 	URL = URL.replace('0', id);		        	 
		window.location.href = URL;  
	}
</script>

