@import be.objectify.deadbolt.java.views.html._
@import be.objectify.deadbolt.core.utils.TemplateUtils._

@import html5.tags.html._

@import models.order.Category
@import models.order.Orders
@import models.order.OrderStatus
@(orders:List[Orders],category: List[Category],status: List[OrderStatus])

<style>
	#addOrd {
		border-collapse: collapse;
		border-radius: 10px;
		border-style: hidden; /* hide standard table (collapsed) border */
		box-shadow: 0 0 0 2px dodgerblue; /* this draws the table border  */
	}
	td {
		padding-left: 10px;
	}
	#yourBtn{
		font-family: calibri;
		width: 225px;
		padding: 10px;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		border: 1px dashed #BBB;
		text-align: center;
		background-color: lightgreen;
		color: black;
		cursor:pointer;
	}

</style>


@_content(Messages("add.order")){

	<div class="container">
		<div class="row" style="vertical-align: middle">
			<form enctype="multipart/form-data">
			<table id="addOrd" style="margin-left: 30px; margin-top: 30px;">
				<tr><td colspan="2" style="text-align: center; font-weight: bold; padding: 10px">@Messages("new.order")<div style="border-bottom: 2px solid dodgerblue; padding-top: 5px"></div></td></tr>
				<tr>
					<td>@Messages("order.name"):</td>
					<td style="padding-top: 4px; padding-right: 15px"><input type="text" id="order-name"></td>
				</tr>
				<tr>
					<td>@Messages("category"):</td>
					<td style="padding-top: 4px">
						<select id="category">
							<option value="choose">@Messages("ChooseOne")</option>
							@for(c <- category){
								<option value="@c.id">@c.name</option>
							}
						</select>
					</td>
				</tr>
				<tr>
					<td>@Messages("order.price"):</td>
					<td><input type="number" min="0" id="order-price"></td>
				</tr>
				<tr>
					<td style="padding-top: 3px">@Messages("order.last.date")</td>
					<td style="padding-top: 10px"><input type="date" id="order-date"></td>
				</tr>
				<tr>
					<td>@Messages("order.status"):</td>
					<td style="padding-top: 5px">
						<select id="status">
							@for(s <- status){
								<option value="@s.id">@s.status</option>
							}
						</select>
					</td>
				</tr>
				<tr>
					<td style="vertical-align: top; padding-top: 8px">@Messages("order.description"):</td>
					<td><textarea id="order-comment" style="height: 120px; max-height: 120px; width: 225px; max-width: 225px"></textarea></td>
				</tr>
				<tr>
					<td>@Messages("order.picture"):</td>
					<td style="padding-top: 6px">
						<div id="yourBtn" onclick="getFile()">@Messages("upload.file")</div>
						<div style='height: 0px;width: 0px; overflow:hidden;'><input id="upfile" type="file" value="upload" onchange="sub(this)" accept="image/*"/></div>
					</td>
				</tr>
				<tr>
					<td colspan="2" style="padding:10px 10px 10px 10px; text-align: right"><input class="btn btn-info" type="submit" id="submit" name="" value='@Messages("add.order")' ></td>
				</tr>

			</table>
		</form>
		</div>
		<div class="row">
			<table class="table table-striped" style="margin-left: 30px; width: 80%" id="orderList">
				<thead>
					<tr>
						<th style="font-weight: bold; padding: 10px;">@Messages("order.name")</th>
						<th style="font-weight: bold">@Messages("category")</th>
						<th style="font-weight: bold">@Messages("amount")</th>
						<th style="font-weight: bold">@Messages("order.price")</th>
						<th style="font-weight: bold">@Messages("order.last.date")</th>
						<th style="font-weight: bold">@Messages("order.status")</th>
						<th style="font-weight: bold"></th>
						<th style="font-weight: bold"></th>
					</tr>
				</thead>
				<tbody>
				@for(o <- orders) {
					<tr id="@o.id">
						<td><a href="showOrderCount/@o.id" style="color: red">@o.name</a></td>
						<td>@o.category.name</td>
						<td>
							 @o.getOrderAmount()
						</td>
						<td>@o.price</td>
						<td>@o.date.format("dd-MMM-YYYY")</td>
						<td>@o.orderStatus.status</td>
						<td><img src="@routes.Assets.at("images/pencil.png")" style="width: 16px; height: 16px" id="edit@o.id" onclick="editOrder(@o.id)"></td>
						<td><img src="@routes.Assets.at("images/rubbish-bin.png")" style="width: 16px; height: 16px"  id="delete@o.id" onclick="deleteOrder(@o.id)"></td>

					</tr>
				}

				</tbody>
			</table>
		</div>


	</div>

}



<script type="text/javascript" src='@routes.Application.javascriptRoutes'></script>
<link rel="stylesheet" href='@routes.Assets.at("stylesheets/toastr.min.css")'>
<script src='@routes.Assets.at("javascripts/toastr.min.js")'></script>
<script>
		$('#submit').click(function (event) {
		    event.preventDefault();
			var name = document.getElementById("order-name").value;
			var category = document.getElementById("category").value;
			var price = document.getElementById("order-price").value;
			var status = document.getElementById("status").value;
			var comment = document.getElementById("order-comment").value;
			var date = document.getElementById("order-date").value;

			var month = new Array();
			month[0] = "янв";
			month[1] = "фев";
			month[2] = "мар";
			month[3] = "апр";
			month[4] = "май";
			month[5] = "июн";
			month[6] = "июл";
			month[7] = "авг";
			month[8] = "сен";
			month[9] = "окт";
			month[10] = "ноя";
			month[11] = "дек";
			var d = new Date(date);
			var n = month[d.getMonth()];
			var dateAr = date.split('-');
			var newDate = dateAr[2] + '-' + n + '-' + dateAr[0];
			console.log(newDate);


			var checkInputs = true;
			if(name == '' || name == null || name.length < 3){
				document.getElementById("order-name").style.borderColor = 'red';
				checkInputs = false;
			}else{
				document.getElementById("order-name").style.borderColor = 'lightgrey';
			}

			if(category == 'choose'){
				document.getElementById("category").style.borderColor = 'red';
				checkInputs = false;
			}else{
				document.getElementById("category").style.borderColor = 'lightgrey';
			}

			if(price == '' || price == null){
				document.getElementById("order-price").style.borderColor = 'red';
				checkInputs = false;
			}else{
				document.getElementById("order-price").style.borderColor = 'lightgrey';
			}

			if(date == '' || date == null){
				document.getElementById("order-date").style.borderColor = 'red';
				checkInputs = false;
			}else{
				document.getElementById("order-date").style.borderColor = 'lightgrey';
			}

			if(status == '' || status == null){
				document.getElementById("status").style.borderColor = 'red';
				checkInputs = false;
			}else{
				document.getElementById("status").style.borderColor = 'lightgrey';
			}


			if(checkInputs){
				var file = $('#upfile').get(0).files[0];
				var formData = new FormData();
				formData.append('file', file);
				formData.append('name',name);
				formData.append('category',category);
				formData.append('price',price);
				formData.append('status',status);
				formData.append('comment',comment);
				formData.append('date',date);
				$.ajax({
					url: '/saveOrder',
					data: formData,
					type: 'POST',
					contentType: false,
					processData: false,
					success: function (data) {
						$('#orderList').find('tbody').prepend([
							'<tr id="'+data+'">',
							'<td><a href="showOrderCount/'+data+'" style="color: red">'+name+'</a></td>',
							'<td>'+$('#category option:selected').html()+'</td>',
							'<td>0</td>',
							'<td>'+price+'</td>',
							'<td>'+newDate+'</td>',
							'<td>'+$('#status option:selected').html()+'</td>',
							'<td><img src="@routes.Assets.at("images/pencil.png")" style="width: 16px; height: 16px" id="edit'+data+'" onclick="editOrder('+data+')"></td>',
							'<td><img src="@routes.Assets.at("images/rubbish-bin.png")" style="width: 16px; height: 16px"  id="delete'+data+'" onclick="deleteOrder('+data+')"></td>',
							'</tr>'
						].join(''));

						document.getElementById("order-name").value = '';
						document.getElementById("category").value = 'choose';
						document.getElementById("order-price").value = '';
						document.getElementById("status").value = '1';
						document.getElementById("order-comment").value = '';
						document.getElementById("order-date").value = null;
						document.getElementById("upfile").value = null;
						document.getElementById("yourBtn").innerHTML = '@Messages("upload.file")';
					},
					error: function (jqXHR, textStatus, errorThrown) {

					}
				});
				return false;
			}

		});
		function getFile(){
			document.getElementById("upfile").click();
		}
		function sub(obj){
			var file = obj.value;
			var fileName = file.split("\\");
			document.getElementById("yourBtn").innerHTML = fileName[fileName.length-1];
			document.myForm.submit();
			event.preventDefault();
		}
		function editOrder(id){
		    window.location.href = '/editOrder/'+id;
		}
		function deleteOrder(id){
				if(confirm("@Messages("areYouSure")")){

					var url = '/deleteOrder/'+id;
					var ok = function(data) {
						$('#'+id).remove();
					};
					var badRequest = function(xhr, status, error) {

					};
					$.ajax({
						url: url,
						type: 'GET',
						success: ok,
						error: badRequest
					});
				}

		}


</script>
