@import be.objectify.deadbolt.java.views.html._
@import be.objectify.deadbolt.core.utils.TemplateUtils._

@import html5.tags.html._

@import models.order.Category
@import models.order.Orders
@import models.order.OrderStatus
@import models.order.Debt
@(debtList:List[Debt])
@import scala.Predef; var index = 0;
<style>
	#addOrd {
		border-collapse: collapse;
		border-radius: 10px;
		border-style: hidden; /* hide standard table (collapsed) border */
		box-shadow: 0 0 0 2px dodgerblue; /* this draws the table border  */
	}
	td {
		padding-left: 10px;
	}
	#yourBtn{
		font-family: calibri;
		width: 225px;
		padding: 10px;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		border: 1px dashed #BBB;
		text-align: center;
		background-color: lightgreen;
		color: black;
		cursor:pointer;
	}

</style>


@_content(Messages("debtors")){

	<div class="container">

		<div class="row">

			<table class="table table-striped" style="margin-left: 30px; width: 300px" id="orderList">
				<thead>
					<tr>
						<th style="font-weight: bold; padding: 10px;">№</th>
						<th style="font-weight: bold">@Messages("Dostyk")</th>
						<th style="font-weight: bold">@Messages("debt")</th>
					</tr>
				</thead>
				<tbody>
				@for(d <- debtList) {
					@{index +=1}
					<tr>
						<td>@index</td>
						<td><a href="showDostykPayments/@d.dostyk.id" style="color: red">@d.dostyk.name</a></td>
						<td>@d.debt</td>
					</tr>
				}

				</tbody>
			</table>

		</div>


	</div>

}



<script type="text/javascript" src='@routes.Application.javascriptRoutes'></script>
<link rel="stylesheet" href='@routes.Assets.at("stylesheets/toastr.min.css")'>
<script src='@routes.Assets.at("javascripts/toastr.min.js")'></script>
<script>
		$('#submit').click(function (event) {
		    event.preventDefault();
			var name = document.getElementById("order-name").value;
			var category = document.getElementById("category").value;
			var price = document.getElementById("order-price").value;
			var status = document.getElementById("status").value;
			var comment = document.getElementById("order-comment").value;
			var date = document.getElementById("order-date").value;

			var month = new Array();
			month[0] = "янв";
			month[1] = "фев";
			month[2] = "мар";
			month[3] = "апр";
			month[4] = "май";
			month[5] = "июн";
			month[6] = "июл";
			month[7] = "авг";
			month[8] = "сен";
			month[9] = "окт";
			month[10] = "ноя";
			month[11] = "дек";
			var d = new Date(date);
			var n = month[d.getMonth()];
			var dateAr = date.split('-');
			var newDate = dateAr[2] + '-' + n + '-' + dateAr[0];
			console.log(newDate);


			var checkInputs = true;
			if(name == '' || name == null || name.length < 3){
				document.getElementById("order-name").style.borderColor = 'red';
				checkInputs = false;
			}else{
				document.getElementById("order-name").style.borderColor = 'lightgrey';
			}

			if(category == 'choose'){
				document.getElementById("category").style.borderColor = 'red';
				checkInputs = false;
			}else{
				document.getElementById("category").style.borderColor = 'lightgrey';
			}

			if(price == '' || price == null){
				document.getElementById("order-price").style.borderColor = 'red';
				checkInputs = false;
			}else{
				document.getElementById("order-price").style.borderColor = 'lightgrey';
			}

			if(date == '' || date == null){
				document.getElementById("order-date").style.borderColor = 'red';
				checkInputs = false;
			}else{
				document.getElementById("order-date").style.borderColor = 'lightgrey';
			}

			if(status == '' || status == null){
				document.getElementById("status").style.borderColor = 'red';
				checkInputs = false;
			}else{
				document.getElementById("status").style.borderColor = 'lightgrey';
			}


			if(checkInputs){
				var file = $('#upfile').get(0).files[0];
				var formData = new FormData();
				formData.append('file', file);
				formData.append('name',name);
				formData.append('category',category);
				formData.append('price',price);
				formData.append('status',status);
				formData.append('comment',comment);
				formData.append('date',date);
				$.ajax({
					url: '/saveOrder',
					data: formData,
					type: 'POST',
					contentType: false,
					processData: false,
					success: function (data) {
						$('#orderList').find('tbody').prepend([
							'<tr id="'+data+'">',
							'<td><a href="showOrderCount/'+data+'" style="color: red">'+name+'</a></td>',
							'<td>'+$('#category option:selected').html()+'</td>',
							'<td>'+price+'</td>',
							'<td>'+newDate+'</td>',
							'<td>'+$('#status option:selected').html()+'</td>',
							'<td><img src="@routes.Assets.at("images/pencil.png")" style="width: 16px; height: 16px" id="edit'+data+'" onclick="editOrder('+data+')"></td>',
							'<td><img src="@routes.Assets.at("images/rubbish-bin.png")" style="width: 16px; height: 16px"  id="delete'+data+'" onclick="deleteOrder('+data+')"></td>',
							'</tr>'
						].join(''));

						document.getElementById("order-name").value = '';
						document.getElementById("category").value = 'choose';
						document.getElementById("order-price").value = '';
						document.getElementById("status").value = '1';
						document.getElementById("order-comment").value = '';
						document.getElementById("order-date").value = null;
						document.getElementById("upfile").value = null;
						document.getElementById("yourBtn").innerHTML = '@Messages("upload.file")';
					},
					error: function (jqXHR, textStatus, errorThrown) {

					}
				});
				return false;
			}

		});
		function getFile(){
			document.getElementById("upfile").click();
		}
		function sub(obj){
			var file = obj.value;
			var fileName = file.split("\\");
			document.getElementById("yourBtn").innerHTML = fileName[fileName.length-1];
			document.myForm.submit();
			event.preventDefault();
		}
		function editOrder(id){
		    window.location.href = '/editOrder/'+id;
		}
		function deleteOrder(id){
				if(confirm("@Messages("areYouSure")")){

					var url = '/deleteOrder/'+id;
					var ok = function(data) {
						$('#'+id).remove();
					};
					var badRequest = function(xhr, status, error) {

					};
					$.ajax({
						url: url,
						type: 'GET',
						success: ok,
						error: badRequest
					});
				}

		}


</script>
