@import be.objectify.deadbolt.java.views.html._
@import be.objectify.deadbolt.core.utils.TemplateUtils._

@import html5.tags.html._
@(orderValue: Int)
@_content(Messages("order.defaultValue")){
    <div class="col-xs-4">
        @Messages("order.defaultValue")  :
        <input type="number" min="0" id="order-value" value="@if(orderValue != -1){@orderValue}else{0}">
    </div>
    <input type="button" value='@Messages("Save")' class="btn btn-success" onclick="save_ordervalue()">
}
<script type="text/javascript" src='@routes.Application.javascriptRoutes'></script>
    <link rel="stylesheet" href='@routes.Assets.at("stylesheets/toastr.min.css")'>
    <script src='@routes.Assets.at("javascripts/toastr.min.js")'></script>
<script>

        function save_ordervalue(){
            var orderValue = document.getElementById("order-value").value;
            if (orderValue<0) {
                orderValue=0;
                toastr.error("@Messages("numberError")");
            }else{
                var formData = new FormData();
                formData.append('orderValue',orderValue);
                $.ajax({
                    url: '/saveOrderValue',
                    data: formData,
                    type: 'POST',
                    contentType: false,
                    processData: false,
                    success: function (data) {
                        toastr.success("@Messages("SavedSuccessfully")");
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                    }
                });
            }
            return false;
        }
</script>