@import be.objectify.deadbolt.java.views.html._
@import be.objectify.deadbolt.core.utils.TemplateUtils._

@import html5.tags.html._

@import models.order.Category
@import models.order.Orders
@import models.order.OrderStatus
@(order:Orders,category: List[Category],status: List[OrderStatus])

<style>
	#addOrd {
		border-collapse: collapse;
		border-radius: 10px;
		border-style: hidden; /* hide standard table (collapsed) border */
		box-shadow: 0 0 0 2px dodgerblue; /* this draws the table border  */
	}
	td {
		padding-left: 10px;
	}
	#yourBtn{
		font-family: calibri;
		width: 225px;
		padding: 10px;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		border: 1px dashed #BBB;
		text-align: center;
		background-color: lightgreen;
		color: black;
		cursor:pointer;
	}

</style>


@_content(Messages("edit.order")){

	<div class="container">
		<div class="row" style="vertical-align: middle">
			<form enctype="multipart/form-data">
			<table id="addOrd" style="margin-left: 30px; margin-top: 30px;">
				<tr><td colspan="2" style="text-align: center; font-weight: bold; padding: 10px">
					<div class="alert alert-success" style="text-align: center; display: none" id="updated" >
					@Messages("updated")
					</div>

					@Messages("edit.order")<div style="border-bottom: 2px solid dodgerblue; padding-top: 5px"></div>
				</td></tr>
				<tr>
					<td>@Messages("order.name"):</td>
					<td style="padding-top: 4px; padding-right: 15px"><input type="text" id="order-name" value="@order.name"></td>
				</tr>
				<tr>
					<td>@Messages("category"):</td>
					<td style="padding-top: 4px">
						<select id="category">
							@for(c <- category){
								@if(c.id == order.category.id) {
									<option value="@c.id" selected>@c.name</option>
								}else{
									<option value="@c.id">@c.name</option>
								}

							}
						</select>
					</td>
				</tr>
				<tr>
					<td>@Messages("order.price"):</td>
					<td><input type="number" min="0" id="order-price" value="@order.price"></td>
				</tr>
				<tr>
					<td style="padding-top: 3px">@Messages("order.last.date")</td>
					<td style="padding-top: 10px"><input type="date" id="order-date" value="@order.date.format("yyyy-MM-dd")"></td>
				</tr>
				<tr>
					<td>@Messages("order.status"):</td>
					<td style="padding-top: 5px">
						<select id="status">
							@for(s <- status){
								@if(s.id == order.orderStatus.id){
									<option value="@s.id" selected>@s.status</option>
								}else{
									<option value="@s.id">@s.status</option>
								}

							}
						</select>
					</td>
				</tr>
				<tr>
					<td style="vertical-align: top; padding-top: 8px">@Messages("order.description"):</td>
					<td><textarea id="order-comment" style="height: 120px; max-height: 120px; width: 225px; max-width: 225px" >@order.description</textarea></td>
				</tr>
				<tr>
					<td>@Messages("order.picture"):</td>
					<td style="padding-top: 6px">
						<div id="yourBtn" onclick="getFile()">
							@if(order.image == null || order.image == ""){
								@Messages("upload.file")
							}else{
								@order.image
							}


						</div>
						<div style='height: 0px;width: 0px; overflow:hidden;'><input id="upfile" type="file" value="upload" onchange="sub(this)" accept="image/*"/></div>
					</td>
				</tr>
				<tr>
					<td></td>
					<td>
						 <img src="@{Application.getImage(order.image)}"/>

					</td>
				</tr>
				<tr>
					<td colspan="2" style="padding:10px 10px 10px 10px; text-align: right">
						<input class="btn btn-warning" onclick="back()" value='@Messages("back")' style="width: 100px" >
						<input class="btn btn-info" type="submit" id="submit" name="" value='@Messages("edit.order")' >
					</td>
				</tr>

			</table>
		</form>
		</div>


	</div>

}



<script type="text/javascript" src='@routes.Application.javascriptRoutes'></script>
<link rel="stylesheet" href='@routes.Assets.at("stylesheets/toastr.min.css")'>
<script src='@routes.Assets.at("javascripts/toastr.min.js")'></script>
<script>
	function back(){
	    window.location.href = '/addOrder'
	}

		$('#submit').click(function (event) {
		    event.preventDefault();
		    document.getElementById("updated").style.display = 'none';
			var name = document.getElementById("order-name").value;
			var category = document.getElementById("category").value;
			var price = document.getElementById("order-price").value;
			var status = document.getElementById("status").value;
			var comment = document.getElementById("order-comment").value;
			var date = document.getElementById("order-date").value;

			var checkInputs = true;
			if(name == '' || name == null || name.length < 3){
				document.getElementById("order-name").style.borderColor = 'red';
				checkInputs = false;
			}else{
				document.getElementById("order-name").style.borderColor = 'lightgrey';
			}

			if(category == 'choose'){
				document.getElementById("category").style.borderColor = 'red';
				checkInputs = false;
			}else{
				document.getElementById("category").style.borderColor = 'lightgrey';
			}

			if(price == '' || price == null){
				document.getElementById("order-price").style.borderColor = 'red';
				checkInputs = false;
			}else{
				document.getElementById("order-price").style.borderColor = 'lightgrey';
			}

			if(date == '' || date == null){
				document.getElementById("order-date").style.borderColor = 'red';
				checkInputs = false;
			}else{
				document.getElementById("order-date").style.borderColor = 'lightgrey';
			}

			if(status == '' || status == null){
				document.getElementById("status").style.borderColor = 'red';
				checkInputs = false;
			}else{
				document.getElementById("status").style.borderColor = 'lightgrey';
			}


			if(checkInputs){
				var file = $('#upfile').get(0).files[0];
				var formData = new FormData();
				formData.append('file', file);
				formData.append('name',name);
				formData.append('category',category);
				formData.append('price',price);
				formData.append('status',status);
				formData.append('comment',comment);
				formData.append('date',date);
				formData.append('id',@order.id);
				$.ajax({
					url: '/updateOrder',
					data: formData,
					type: 'POST',
					contentType: false,
					processData: false,
					success: function (data) {
						document.getElementById("updated").style.display = 'block';
					},
					error: function (jqXHR, textStatus, errorThrown) {

					}
				});
				return false;
			}

		});
		function getFile(){
			document.getElementById("upfile").click();
		}
		function sub(obj){
			var file = obj.value;
			var fileName = file.split("\\");
			document.getElementById("yourBtn").innerHTML = fileName[fileName.length-1];
			document.myForm.submit();
			event.preventDefault();
		}

		function editOrder(id){
		    alert(id);
		}

		function deleteOrder(id){
				if(confirm("@Messages("areYouSure")")){

					var url = '/deleteOrder/'+id;
					var ok = function(data) {
						$('#'+id).remove();
					};
					var badRequest = function(xhr, status, error) {

					};
					$.ajax({
						url: url,
						type: 'GET',
						success: ok,
						error: badRequest
					});
				}

		}

		function addCategory(){

			var category = document.getElementById("categoryvalue").value;
			if(category == '' || category == null || category.length < 1){
				document.getElementById("categoryvalue").style.borderColor = "red";
			}else{
				document.getElementById("btnAddCategory").dissabled = "true";
				document.getElementById("categoryvalue").style.borderColor = "lightgrey";
				var url = '/addCategory/'+category;
				var ok = function(data) {
					document.getElementById("btnAddCategory").dissabled = "false";
					$('#categoryList').find('tbody').prepend([
						'<tr  style="padding-bottom: 20px" id="'+data+'">',
						'<td style="min-width: 100px">'+category+'</td>',
						'<td style="padding-left: 10px">',
						'<img src="@routes.Assets.at("images/pencil.png")" style="width: 16px; height: 16px" id="edit'+data+'" onclick="editCategory('+data+')">',
						'<img src="@routes.Assets.at("images/save.png")" style="width: 16px; height: 16px;display: none"  id="save'+data+'" onclick="saveCategory('+data+')"></td>',
						'<td style="padding-left: 10px"><img src="@routes.Assets.at("images/rubbish-bin.png")" style="width: 16px; height: 16px"  id="delete'+data+'" onclick="deleteCategory('+data+')"></td></tr>',
						'</tr>'
					].join(''));
					document.getElementById("categoryvalue").value = '';
				};
				var badRequest = function(xhr, status, error) {
					document.getElementById("btnAddCategory").dissabled = "false";
				};
				$.ajax({
					url: url,
					type: 'GET',
					success: ok,
					error: badRequest
				});
			}

		}




</script>
