@import be.objectify.deadbolt.java.views.html._
@import be.objectify.deadbolt.core.utils.TemplateUtils._

@import html5.tags.html._

@import models.order.Orders
@(orders:List[Orders])

	<div class="container">
		<div class="row">
			<table class="table table-striped" style="margin-left: 30px; width: 80%" id="orderList">
				<thead>
					<tr>
						<th style="font-weight: bold; padding: 10px;">@Messages("order.name")</th>
						<th style="font-weight: bold">@Messages("category")</th>
						<th style="font-weight: bold">@Messages("amount")</th>
						<th style="font-weight: bold">@Messages("order.price")</th>
						<th style="font-weight: bold">@Messages("order.last.date")</th>
						<th style="font-weight: bold">@Messages("order.status")</th>

					</tr>
				</thead>
				<tbody>
				@for(o <- orders) {
					<tr id="@o.id">
						<!-- <td><a href="showOrderCount/@o.id" style="color: red">@o.name</a></td> -->
						<td>@o.name</td>
						<td>@o.category.name</td>
						<td>
							 @o.getOrderAmount()
						</td>
						<td>@o.price</td>
						<td>@o.date.format("dd-MMM-YYYY")</td>
						<td>@o.orderStatus.status</td>
					</tr>
				}

				</tbody>
			</table>
		</div>


	</div>

<script type="text/javascript" src='@routes.Application.javascriptRoutes'></script>
<link rel="stylesheet" href='@routes.Assets.at("stylesheets/toastr.min.css")'>
<script src='@routes.Assets.at("javascripts/toastr.min.js")'></script>
