@import be.objectify.deadbolt.java.views.html._
@import be.objectify.deadbolt.core.utils.TemplateUtils._

@import html5.tags.html._

@import models.order.Category
@import models.order.Orders
@import models.order.OrderStatus
@(category: List[Category])

<style>
	#addOrd {
		border-collapse: collapse;
		border-radius: 10px;
		border-style: hidden; /* hide standard table (collapsed) border */
		box-shadow: 0 0 0 2px dodgerblue; /* this draws the table border  */
	}
	td {
		padding-left: 10px;
	}
	#yourBtn{
		font-family: calibri;
		width: 225px;
		padding: 10px;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		border: 1px dashed #BBB;
		text-align: center;
		background-color: lightgreen;
		color: black;
		cursor:pointer;
	}

</style>


@_content(Messages("order.report")){

	<div class="container">
		<div class="row" style="vertical-align: middle">
			<table id="addOrd" style="margin-left: 30px; margin-top: 30px;">
				<tr>
					<td>@Messages("category"):</td>
					<td style="padding-top: 12px">
						<select id="category">
							<option value="choose">@Messages("ChooseOne")</option>
							@for(c <- category){
								<option value="@c.id">@c.name</option>
							}
						</select>
					</td>
					<td colspan="2" style="padding:15px 10px 10px 10px; text-align: right"><input type="button" class="btn btn-info" onclick="getByCategory()" value='@Messages("search")' ></td>
				</tr>
			</table>

		</div>

		<div class="row" style="margin-left: 15px; width: 85%; margin-top: 20px; display: none" id="progress">
				<div class="progress-bar progress-bar-striped active progress-bar-warning" role="progressbar"
				aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:100%; height: 20px">
				</div>
		</div>

		<div class="row" id="result" style="margin-top:20px; padding-left: 7px">

		</div>


	</div>

}



<script type="text/javascript" src='@routes.Application.javascriptRoutes'></script>
<link rel="stylesheet" href='@routes.Assets.at("stylesheets/toastr.min.css")'>
<script src='@routes.Assets.at("javascripts/toastr.min.js")'></script>
<script>
		function getByCategory() {
			event.preventDefault();

			var category = document.getElementById("category").value;
			if (category == 'choose') {
				document.getElementById("category").style.borderColor = 'red';
			} else {
				document.getElementById("progress").style.display = "block";
				document.getElementById("category").style.borderColor = 'lightgrey';
				document.getElementById("result").innerHTML = "";


				var url = '/getOrdersByCategory/'+category;
				var ok = function(data) {
					document.getElementById("result").innerHTML = data;
					document.getElementById("progress").style.display = "none";
				};
				var badRequest = function(xhr, status, error) {
				};
				$.ajax({
					url: url,
					type: 'GET',
					success: ok,
					error: badRequest
				});

			}

		}

</script>
