@import be.objectify.deadbolt.java.views.html._
@import be.objectify.deadbolt.core.utils.TemplateUtils._

@import html5.tags.html._

@import models.order.Category
@import models.order.Orders
@import models.order.OrderStatus
@import models.order.OrderPayments
@(orderPayments:List[OrderPayments],dostyk:String,id:Long)
@import scala.Predef; var index = 0; var total = 0;
<style>
	#addOrd {
		border-collapse: collapse;
		border-radius: 10px;
		border-style: hidden; /* hide standard table (collapsed) border */
		box-shadow: 0 0 0 2px dodgerblue; /* this draws the table border  */
	}
	td {
		padding-left: 10px;
	}
	#yourBtn{
		font-family: calibri;
		width: 225px;
		padding: 10px;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		border: 1px dashed #BBB;
		text-align: center;
		background-color: lightgreen;
		color: black;
		cursor:pointer;
	}

</style>


@_content(Messages("payments")){

	<div class="container">

		<div class="row" style="vertical-align: middle">
			<input class="btn btn-warning" onclick="back()" value='@Messages("back")' style="width: 100px; margin-left: 30px" >
			<table id="addOrd" style="margin-left: 30px; margin-top: 30px;">
				<tr><td colspan="2" style="text-align: center; font-weight: bold; padding: 10px">@Messages("new.peyment") (@dostyk)<div style="border-bottom: 2px solid dodgerblue; padding-top: 5px"></div></td></tr>

				<tr>
					<td>@Messages("paymentPrice"):</td>
					<td><input type="number" min="0" id="order-price" style="width: 200px; margin-right: 10px"></td>
				</tr>
				<tr>
					<td style="padding-top: 3px">@Messages("paymentDate")</td>
					<td style="padding-top: 10px"><input type="date" id="order-date"  style="width: 200px; margin-right: 10px"></td>
				</tr>

				<tr>
					<td colspan="2" style="padding:10px 10px 10px 10px; text-align: right"><input class="btn btn-info" type="submit" id="submit" name="" value='@Messages("add")' style="width: 100px"></td>
				</tr>

			</table>

		</div>
		<div class="row" style="padding-top: 20px">
			<table class="table table-striped" style="margin-left: 30px; width: 400px" id="orderList">
				<thead>
					<tr>
						@*<th style="font-weight: bold; padding: 10px;">№</th>*@
						<th style="font-weight: bold; padding: 10px;">@Messages("paymentDate")</th>
						<th style="font-weight: bold">@Messages("payed")</th>

					</tr>
				</thead>
				<tbody>
				@for(o <- orderPayments) {
					@{index +=1}
					@{total = total + o.amount}
					<tr id="@o.id">
						@*<td>@index</td>*@
						<td>@o.date.format("dd-MMM-YYYY")</td>
						<td>@o.amount</td>
					</tr>
				}
					<tr>
						@*<td></td>*@
						<td style="font-weight: bold; text-align: right">@Messages("Total")</td>
						<td id="total" style="font-weight: bold">@total</td>
					</tr>

				</tbody>
			</table>
		</div>


	</div>

}



<script type="text/javascript" src='@routes.Application.javascriptRoutes'></script>
<link rel="stylesheet" href='@routes.Assets.at("stylesheets/toastr.min.css")'>
<script src='@routes.Assets.at("javascripts/toastr.min.js")'></script>
<script>
		function back(){
			window.location.href = '/debtors'
		}

		$('#submit').click(function (event) {
		    event.preventDefault();
			var price = document.getElementById("order-price").value;
			var date = document.getElementById("order-date").value;

			var month = new Array();
			month[0] = "янв";
			month[1] = "фев";
			month[2] = "мар";
			month[3] = "апр";
			month[4] = "май";
			month[5] = "июн";
			month[6] = "июл";
			month[7] = "авг";
			month[8] = "сен";
			month[9] = "окт";
			month[10] = "ноя";
			month[11] = "дек";
			var d = new Date(date);
			var n = month[d.getMonth()];
			var dateAr = date.split('-');
			var newDate = dateAr[2] + '-' + n + '-' + dateAr[0];


			var checkInputs = true;
			if(price == '' || price == null){
				document.getElementById("order-price").style.borderColor = 'red';
				checkInputs = false;
			}else{
				document.getElementById("order-price").style.borderColor = 'lightgrey';
			}

			if(date == '' || date == null){
				document.getElementById("order-date").style.borderColor = 'red';
				checkInputs = false;
			}else{
				document.getElementById("order-date").style.borderColor = 'lightgrey';
			}


			if(checkInputs){
				var formData = new FormData();
				formData.append('price',price);
				formData.append('id',@id);
				formData.append('date',date);
				$.ajax({
					url: '/savePayment',
					data: formData,
					type: 'POST',
					contentType: false,
					processData: false,
					success: function (data) {
						@{index += 1}
						$('#orderList').find('tbody').prepend([
							'<tr>',
							'<td>'+newDate+'</td>',
							'<td>'+price+'</td>',
							'</tr>'
						].join(''));

						document.getElementById("order-price").value = '';
						document.getElementById("order-date").value = null;

						var total = document.getElementById("total").innerHTML;
						total = parseInt(total) + parseInt(price);
						document.getElementById("total").innerHTML = total;

					},
					error: function (jqXHR, textStatus, errorThrown) {

					}
				});
				return false;
			}

		});
		function getFile(){
			document.getElementById("upfile").click();
		}
		function sub(obj){
			var file = obj.value;
			var fileName = file.split("\\");
			document.getElementById("yourBtn").innerHTML = fileName[fileName.length-1];
			document.myForm.submit();
			event.preventDefault();
		}
		function editOrder(id){
		    window.location.href = '/editOrder/'+id;
		}
		function deleteOrder(id){
				if(confirm("@Messages("areYouSure")")){

					var url = '/deleteOrder/'+id;
					var ok = function(data) {
						$('#'+id).remove();
					};
					var badRequest = function(xhr, status, error) {

					};
					$.ajax({
						url: url,
						type: 'GET',
						success: ok,
						error: badRequest
					});
				}

		}


</script>
