@import be.objectify.deadbolt.java.views.html._
@import be.objectify.deadbolt.core.utils.TemplateUtils._

@import html5.tags.html._

@import models.order.OrderPayments
@(payments:List[OrderPayments])
@import scala.Predef; var index = 0; var total = 0;

	<div class="container">
		<div class="row">
			<table class="table table-striped" style="margin-left: 30px; width: 40%" id="orderList">
				<thead>
					<tr>
						<th style="font-weight: bold; padding: 10px;">№</th>
						<th style="font-weight: bold; padding: 10px;">@Messages("Dostyk")</th>
						<th style="font-weight: bold">@Messages("paymentDate")</th>
						<th style="font-weight: bold">@Messages("payed")</th>
					</tr>
				</thead>
				<tbody>
				@for(p <- payments) {
					@{index = index + 1}
					@{total = total + p.amount}
					<tr>
						<td>@index</td>
						<td>@p.dostyk.name</td>
						<td>@p.date.format("dd-MMM-YYYY")</td>
						<td>@p.amount</td>
					</tr>
				}
					<tr>
						<td></td>
						<td></td>
						<td><strong>@Messages("Total")</strong></td>
						<td><strong>@total</strong></td>
					</tr>

				</tbody>
			</table>
		</div>


	</div>

<script type="text/javascript" src='@routes.Application.javascriptRoutes'></script>
<link rel="stylesheet" href='@routes.Assets.at("stylesheets/toastr.min.css")'>
<script src='@routes.Assets.at("javascripts/toastr.min.js")'></script>
