@import be.objectify.deadbolt.java.views.html._
@import be.objectify.deadbolt.core.utils.TemplateUtils._

@import html5.tags.html._

@import models.order.Category
@import models.order.Suplier
@import models.entities.social.Dostyk
@import models.entities.social.Firm
@(categoryList: List[Category], suplierList: List[Suplier], dostyk: List[Dostyk],firm: List[Firm])



@_content(Messages("settings")){

	<div class="container">

		<ul class="nav nav-tabs">
			<li class="active"><a data-toggle="tab" href="#category">@Messages("category")</a></li>
			<li><a data-toggle="tab" href="#menu1">@Messages("supplier")</a></li>
			<li><a data-toggle="tab" href="#menu2">@Messages("Firms")</a></li>
		</ul>

		<div class="tab-content">
			<div id="category" class="tab-pane fade in active">
				<table>
					<tr>
						<td style="padding-right: 15px">@Messages("add.category")</td>
						<td style="padding-right: 10px"><input type="text" placeholder="@Messages("category")" style="margin-top: 8px" id="categoryvalue"></td>
						<td><input class="btn btn-info" type="button" value="@Messages("add")" style="margin-top: 2px; min-width: 120px" onclick="addCategory()" id="btnAddCategory"></td>
					</tr>
				</table>

				<hr>

				<table class="table table-striped" style="width: auto;" id="categoryList">
					<thead>
						<tr>
							<th style="width: 300px">@Messages("category")</th>
							<th style="width: 40px"></th>
							<th style="width: 40px"></th>
						</tr>
					</thead>
					<tbody>
					@for((cat,index) <- categoryList.zipWithIndex){
						<tr style="padding-bottom: 20px" id="@cat.id">
							<td style="min-width: 100px" id="td@cat.id">@cat.name</td>
							<td style="padding-left: 10px">
								<img src="@routes.Assets.at("images/pencil.png")" style="width: 16px; height: 16px" id="edit@cat.id" onclick="editCategory(@cat.id)">
								<img src="@routes.Assets.at("images/save.png")" style="width: 16px; height: 16px;display: none"  id="save@cat.id" onclick="saveCategory(@cat.id)">
							</td>
							<td style="padding-left: 10px"><img src="@routes.Assets.at("images/rubbish-bin.png")" style="width: 16px; height: 16px"  id="delete@cat.id" onclick="deleteCategory(@cat.id)"></td>
						</tr>
					}
					</tbody>
				</table>



			</div>
			<div id="menu1" class="tab-pane fade">
				@myAccordion(){
					@myAccordionTab("firms","new",Messages("NewSupplier")){
						@myFirmForm(null,true)
					}
					@for(firm <- suplierList){
						@myAccordionTab("firms",firm.id+"",firm.name){
							@myFirmForm(firm,false)
						}
					}
				}
			</div>
			<div id="menu2" class="tab-pane fade">
				<table class="table table-striped" style="width: auto;" id="categoryList">
					<thead>
						<tr>
							<th style="width: 20px; max-width: 20px">№</th>
							<th style="width: 300px">@Messages("Dostyk")</th>
							<th style="width: 40px">@Messages("Firm")</th>
							<th style="width: 40px"></th>
						</tr>
					</thead>
					<tbody>
					@for((d,index) <- dostyk.zipWithIndex){
						<tr style="padding-bottom: 20px">
							<td >@{index+1}</td>
							<td style="min-width: 100px">@d.name</td>
							<td style="padding-left: 10px">
								<select id="firm@d.id">
									<option value="choose">@Messages("ChooseFirm")</option>
									@for(f <- firm){
										@if(f.dostyk.id == d.id){
											@if(f.id.toString.equals(d.mainFirmId)){
												<option selected value="@f.id">@f.name</option>
											}else {
												<option value="@f.id">@f.name</option>
											}

										}
									}
								</select>
							</td>
							<td style="padding-left: 10px"><button class="btn btn-info" onclick="saveFirm(@d.id)">@Messages("save")</button></td>
						</tr>
					}
					</tbody>
				</table>
			</div>

		</div>

	</div>



}

@myAccordion()(content:Html)={
	<div class="accordion" id="accordion_firms">
	@content
	</div>
}

@myAccordionTab(parentId:String,id:String,title: String)(content:Html)={
	<div class="accordion-group" id="group_@id">
		<div class="accordion-heading">
			<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion_@parentId" href="#collapse_@id">
			@title
			</a>
		</div>
		<div id="collapse_@id" class="accordion-body collapse">
			<div class="accordion-inner">
			@content
			</div>
		</div>
	</div>
}

@myFirmForm(firm: Suplier, isNew: Boolean)={
@myHorizontalForm(if(isNew==true){"form_new"}else{"form_"+firm.id}){
	@myFormControl("name",Messages("Name")){
		<input class="input" type="text" name="name" @if(isNew==false){id="name_@firm.id"}else{id="name_new"}
		required="true" value="@if(isNew==false){@firm.name}">
	}
	@myFormControl("city",Messages("City")){
		<input class="input" type="text" name="city" id="city" value="@if(isNew==false){@firm.getCity}">
	}
	@myFormControl("address",Messages("Address")){
		<input class="input" type="text" name="address" id="address" value="@if(isNew==false){@firm.getAddress}">
	}
	@myFormControl("phone",Messages("Phone")){
		<input class="input" type="tel" name="phone" id="phone" value="@if(isNew==false){@firm.getPhone}">
	}
	@myFormControl("director",Messages("Director")){
		<input class="input" type="text" name="director" id="director" value="@if(isNew==false){@firm.getDirector}">
	}
	@myFormControl("bik",Messages("BIK")){
		<input class="input" type="text" name="bik" id="bik" value="@if(isNew==false){@firm.getBik}">
	}
	@myFormControl("iik",Messages("IIK")){
		<input class="input" type="text" name="iik" id="iik" value="@if(isNew==false){@firm.getIik}">
	}
	@myFormControl("bin",Messages("BIN")){
		<input class="input" type="text" name="bin" id="bin" value="@if(isNew==false){@firm.getBin}">
	}
	@myFormControl("bank",Messages("Bank")){
		<input class="input" type="text" name="bank" id="bank" value="@if(isNew==false){@firm.getBank}">
	}
	@myFormControl("kbe",Messages("KBE")){
		<input class="input" type="text" name="kbe" id="kbe" value="@if(isNew==false){@firm.getKbe}">
	}
	<div class="control-group">
		<div class="controls" @if(isNew==true){id="controls_new"}else{id="controls_@firm.id"}>
		@if(isNew==true) {
			<a class="btn btn-success saver" for="form_new">@Messages("Save")</a>
		}else{
			<a class="btn btn-success saver" for="form_@firm.id" firm="@firm.id">@Messages("Edit")</a>
			<a class="btn btn-danger deleter" for="@firm.id">@Messages("Delete")</a>
		}
		</div>
	</div>
}
}

@myHorizontalForm(id:String)(content:Html)={
	<form id="@id" class="form-horizontal">
	@content
	</form>
}
@myFormControl(id:String,name:String)(content: Html)={
	<div class="control-group">
		<label class="control-label" for="@id">@name</label>
		<div class="controls">
		@content
		</div>
	</div>
}

<script type="text/javascript" src='@routes.Application.javascriptRoutes'></script>
<link rel="stylesheet" href='@routes.Assets.at("stylesheets/toastr.min.css")'>
<script src='@routes.Assets.at("javascripts/toastr.min.js")'></script>
<script>

		function addCategory(){

			var category = document.getElementById("categoryvalue").value;
			if(category == '' || category == null || category.length < 1){
				document.getElementById("categoryvalue").style.borderColor = "red";
			}else{
				document.getElementById("btnAddCategory").dissabled = "true";
				document.getElementById("categoryvalue").style.borderColor = "lightgrey";
				var url = '/addCategory/'+category;
				var ok = function(data) {
					if(data == "exists"){
						alert('@Messages("category.exists")');
					}else {
						document.getElementById("btnAddCategory").dissabled = "false";
						$('#categoryList').find('tbody').prepend([
							'<tr  style="padding-bottom: 20px" id="'+data+'">',
							'<td style="min-width: 100px" id="td'+data+'">'+category+'</td>',
							'<td style="padding-left: 10px">',
							'<img src="@routes.Assets.at("images/pencil.png")" style="width: 16px; height: 16px" id="edit'+data+'" onclick="editCategory('+data+')">',
							'<img src="@routes.Assets.at("images/save.png")" style="width: 16px; height: 16px;display: none"  id="save'+data+'" onclick="saveCategory('+data+')"></td>',
							'<td style="padding-left: 10px"><img src="@routes.Assets.at("images/rubbish-bin.png")" style="width: 16px; height: 16px"  id="delete'+data+'" onclick="deleteCategory('+data+')"></td></tr>',
							'</tr>'
						].join(''));
						document.getElementById("categoryvalue").value = '';
					}

				};
				var badRequest = function(xhr, status, error) {
					document.getElementById("btnAddCategory").dissabled = "false";
				};
				$.ajax({
					url: url,
					type: 'GET',
					success: ok,
					error: badRequest
				});
			}

		}
		function editCategory(id){
		    document.getElementById("edit"+id).style.display = 'none';
		    document.getElementById("save"+id).style.display = 'block';
		    var oldValue = document.getElementById("td"+id).innerHTML;
		    document.getElementById("td"+id).innerHTML = '';
		    document.getElementById("td"+id).innerHTML = '<input type="text" placeholder="@Messages("category")" id="categoryvalue'+id+'" value="'+oldValue+'">';
		}
		function saveCategory(id){
		    var newValue = document.getElementById("categoryvalue"+id).value;
			var url = '/updateCategory/'+id+'/'+newValue;
			var ok = function(data) {
			    	document.getElementById("edit" + id).style.display = 'block';
					document.getElementById("save" + id).style.display = 'none';
					document.getElementById("td" + id).innerHTML = newValue;
			};
			var badRequest = function(xhr, status, error) {

			};
			$.ajax({
				url: url,
				type: 'GET',
				success: ok,
				error: badRequest
			});

		}
		function deleteCategory(id){

		    if(confirm("@Messages("areYouSure")")){

				var url = '/deleteCategory/'+id;
				var ok = function(data) {
				    if(data == "deleted") {
						$('#' + id).remove();
					}else {
						alert('@Messages("category.used")');
				    }
				};
				var badRequest = function(xhr, status, error) {

				};
				$.ajax({
					url: url,
					type: 'GET',
					success: ok,
					error: badRequest
				});
			}

		}
		$(document).on("click",".saver",function(){
		    if (window.confirm("@Messages("areYouSure")")) {
				var form=$("#"+$(this).attr("for"));
				var firmId = $(this).attr("firm");
				console.log(form);
				if(validation($(this).attr("for"))==true){
					var url;
					if(form.attr("id").indexOf("new") > -1){
						url = '@controllers.order.routes.orderController.save(-1,true)';
					}else{
						url = '@controllers.order.routes.orderController.save(-1,false)';
						url = url.replace("suplierId=-1", "suplierId="+firmId);
					}
					$.ajax({
						url: url,
						data:form.serialize(),
						method: "POST",
						type:"POST",
						success : function(data) {
							var res = data.toString();
							if(res=="exception"){
								toastr.warning('@Messages("CallTechnovision")');
							}else if(res=="name_already_exists") {
								//$("#name_"+firmId).val($("a[href='#collapse_"+firmId+"']").html().replace(/ /g,''));
								toastr.warning('@Messages("NameAlreadyUsed")');

							}else{
								toastr.success('@Messages("Saved.Successfully")');
								if(form.attr("id").indexOf("new") > -1){
									transfer(res);
									clear();
									prepare(res);
								}else{
									changeName(firmId);
								}
							}
						},
						error : function(jqXHR, textStatus, errorThrown) {
							toastr.warning('@Messages("CallTechnovision")');
							console.log(jqXHR.responseText);
						}
					});
				}else{
					toastr.warning('@Messages("FillFieldsFirst")');
				}
			}
		});
		$(document).on("click",".deleter",function(){
			if (window.confirm("@Messages("areYouSure")")) {
				console.log("technovision", "deleteke kirdi");
				var firmId = $(this).attr("for");
				url = '@controllers.order.routes.orderController.delete(-1)';
				url = url.replace("firmId=-1", "firmId="+firmId);
				console.log("technovision", "url: "+url);
				$.ajax({
					url: url,
					method: "GET",
					success : function(data) {
						var res = data.toString();
						if(res=="exception"){
							toastr.warning('@Messages("CallTechnovision")');
						}else if(res=="success"){
							toastr.success('@Messages("DeletedSuccessfully")');
							$("#group_"+firmId).remove();
						}
					},
					error : function(jqXHR, textStatus, errorThrown) {
						toastr.warning('@Messages("CallTechnovision")');
						console.log(jqXHR.responseText);
					}
				});
			}
		});
		function validation(formName){
			var result = true;
			$("#"+formName+" input.input").each(function() {
				console.log("technovision","input: "+$(this).attr("id"));
				if($(this).prop('required')) {
					console.log("technovision","value is null: "+$(this).val());
					if($(this).val()){

					}else{
						result = false;
					}
				}
			});
			return result;
		}
		function transfer(res){
			var field = [];
			$("#form_new input").each(function() {
				field[$(this).attr("name")] = $(this).val();
			});
			var accordion_new = $('#group_new').wrap('<p/>').parent().html();
			$('#group_new').unwrap();
			var replaced = accordion_new.replace(/new/g,res);
			$("#accordion_firms").append(replaced);
			$("a[href='#collapse_"+res+"']").html(field["name"]);
			$("#form_"+res+" input").each(function() {
				$(this).val(field[$(this).attr("name")]);
			});
			$("#controls_"+res).html(
					'<a class="btn btn-success saver" for="form_'+res+'" firm="'+res+'">@Messages("Edit")</a>'+
					'<a class="btn btn-danger deleter" for="'+res+'">@Messages("Delete")</a>'
			);
		}
		function clear(){
			$("#form_new input").each(function() {
				$(this).val(null);
			});
		}
		function prepare(res){
			$('.collapse.in')
					.collapse('hide');
		}
		function changeName(firmId){
			var name = $("#form_"+firmId+" input[name='name']").val();
			$("a[href='#collapse_"+firmId+"']").html(name);
		}

		function saveFirm(id){
		    var firmId =document.getElementById("firm"+id).value;
			if(firmId !="choose" ){
				var url = '/saveFirm/'+id+'/'+firmId;
				var ok = function(data) {
					alert('@Messages("Saved.Successfully")');
				};
				var badRequest = function(xhr, status, error) {

				};
				$.ajax({
					url: url,
					type: 'GET',
					success: ok,
					error: badRequest
				});
			}else {
				alert('@Messages("ChooseFirm")');
		    }
		}

</script>
