@import be.objectify.deadbolt.java.views.html._
@import be.objectify.deadbolt.core.utils.TemplateUtils._

@import html5.tags.html._

@import models.order.OrderCount
@(orderCounts: List[OrderCount],price: Int)
@import scala.Predef; var index = 0; var totalAmount = 0; var totalPrice = 0

<style>
	#addOrd {
		border-collapse: collapse;
		border-radius: 10px;
		border-style: hidden; /* hide standard table (collapsed) border */
		box-shadow: 0 0 0 2px dodgerblue; /* this draws the table border  */
	}
	td {
		padding-left: 10px;
	}
	#yourBtn{
		font-family: calibri;
		width: 225px;
		padding: 10px;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		border: 1px dashed #BBB;
		text-align: center;
		background-color: lightgreen;
		color: black;
		cursor:pointer;
	}

</style>


@_content(Messages("add.order")){

	<div class="container">
		<div class="row">

			<input class="btn btn-warning" onclick="back()" value='@Messages("back")' style="width: 100px; margin-left: 30px" >
			<table class="table table-striped" style="margin-left: 30px; width: 80%">
				<thead>
					<tr>
						<th style="font-weight: bold; padding: 10px;">№</th>
						<th style="font-weight: bold; padding: 10px;">@Messages("order.name")</th>
						<th style="font-weight: bold">@Messages("Dostyk")</th>
						<th style="font-weight: bold">@Messages("amount")</th>
						<th style="font-weight: bold">@Messages("order.price")</th>
						<th style="font-weight: bold">@Messages("Total")</th>
						<th style="font-weight: bold"></th>
					</tr>
				</thead>
				<tbody>

				@for(o <- orderCounts) {
					@{index += 1}
					@{totalAmount += o.count}
					@{totalPrice += o.count * o.orders.price}

					<tr id="@o.id">
						<input type="hidden" value="@{o.count * o.orders.price}" id="oldTotal@o.id">
						<input type="hidden" value="@o.count" id="count@o.id">

						<td>@index </td>
						<td>@o.orders.name</td>
						<td>@o.dostyk.name</td>
						<td id="td@o.id">@o.count </td>
						<td id="price@o.id">@o.orders.price</td>
						<td id="total@o.id">@{o.count * o.orders.price} </td>
						<td>
							<img src="@routes.Assets.at("images/pencil.png")" style="width: 16px; height: 16px" id="edit@o.id" onclick="editOrderCount(@o.id)">
							<img src="@routes.Assets.at("images/save.png")" style="width: 16px; height: 16px; display: none" id="save@o.id" onclick="saveOrderCount(@o.id)">
						</td>
					</tr>
				}

					<tr>
						<td></td>
						<td></td>
						<td></td>
						<td style="font-weight: bold"  id="totalAmount">@totalAmount</td>
						<td></td>
						<td style="font-weight: bold" id="totalPrice">@totalPrice</td>
						<td></td>
					</tr>
				</tbody>
			</table>

		</div>
	</div>

}



<script type="text/javascript" src='@routes.Application.javascriptRoutes'></script>
<link rel="stylesheet" href='@routes.Assets.at("stylesheets/toastr.min.css")'>
<script src='@routes.Assets.at("javascripts/toastr.min.js")'></script>
<script>
		var price = @price


		function back(){
			window.location.href = '/addOrder'
		}

		function amountChanged(id){

		    var newValue = document.getElementById("orderamount"+id).value;
			var price = document.getElementById("price"+id).innerHTML;
			var total = parseInt(newValue) * parseInt(price);
			document.getElementById("total"+id).innerHTML = total;

			var oldAmount = parseInt(document.getElementById("count"+id).value);
			var oldTotal = parseInt(document.getElementById("oldTotal"+id).value);

			var changedAmount = newValue-oldAmount;
			var changedTotal = changedAmount*price;

			document.getElementById("count"+id).value = newValue;
			document.getElementById("oldTotal"+id).value = total;


			var totalAmount = parseInt(document.getElementById("totalAmount").innerHTML);
			var totalPrice = parseInt(document.getElementById("totalPrice").innerHTML);
			document.getElementById("totalAmount").innerHTML = totalAmount+changedAmount;
			document.getElementById("totalPrice").innerHTML = totalPrice+changedTotal


		}

		function editOrderCount(id){
			document.getElementById("edit"+id).style.display = 'none';
			document.getElementById("save"+id).style.display = 'block';
			var oldValue = document.getElementById("td"+id).innerHTML;
			document.getElementById("td"+id).innerHTML = '';
			document.getElementById("td"+id).innerHTML = '<input onchange="amountChanged('+id+');" type="number" min="0" placeholder="@Messages("amount")" id="orderamount'+id+'" value='+oldValue+' style="width:100px">';
		}
		function saveOrderCount(id){
			var newValue = document.getElementById("orderamount"+id).value;
			var url = '/updateOrderAmount/'+id+'/'+newValue;
			var ok = function(data) {
				document.getElementById("edit"+id).style.display = 'block';
				document.getElementById("save"+id).style.display = 'none';
				document.getElementById("td"+id).innerHTML = newValue;
			};
			var badRequest = function(xhr, status, error) {

			};
			$.ajax({
				url: url,
				type: 'GET',
				success: ok,
				error: badRequest
			});

		}

		function deleteOrder(id){
				if(confirm("@Messages("areYouSure")")){

					var url = '/deleteOrder/'+id;
					var ok = function(data) {
						$('#'+id).remove();
					};
					var badRequest = function(xhr, status, error) {

					};
					$.ajax({
						url: url,
						type: 'GET',
						success: ok,
						error: badRequest
					});
				}

		}





</script>
