@import be.objectify.deadbolt.java.views.html._
@import be.objectify.deadbolt.core.utils.TemplateUtils._

@import html5.tags.html._

@import models.order.Orders
@import models.order.OrderCount
@import models.order.OrderPayments
@import models.order.DefaultOrderValue
@import models.entities.social.Dostyk

@(orderPayments: List[OrderPayments], totalPayment: Int, totalSum: Int)
@import scala.Predef; var c=0; var k=0; var sum =0;
@_content(Messages("order.dostykAmaount")){

    <form action="/viewDostykOrder" method="post" class="form-horizontal myform" id="myform">
        <div>
            <input type="date" name="date1" id="date1" value='@{new Date().format("yyyy-MM-dd")}'>
            <input type="date" name="date2" id="date2" value='@{new Date().format("yyyy-MM-dd")}'>
            <button type="submit" class="btn btn-primary"> @Messages("Submit")</button>
        </div>
        <br>
    </form>

    @if(totalSum!=0){
        <table class="table">
            <thead class="thead-default">
                <tr>
                    <th>#</th>
                    <th>@Messages("Date")</th>
                    <th>@Messages("paymentList")</th>
                </tr>
            </thead>
            <tbody>
            @for(payment <- orderPayments){
                @{ c+=1;}
                <tr>
                    <th scope="row">@c</th>
                    <td data-type="date" data-format-string="Do MMMM YYYY">@payment.date</td>
                    <td>@payment.amount</td>
                </tr>
            }
            </tbody>
        </table>
        @{k = totalSum - totalPayment}
        <h4 class="product-sum">@Messages("total.debt"): = @k </h4>
    }

}