@import be.objectify.deadbolt.java.views.html._
@import be.objectify.deadbolt.core.utils.TemplateUtils._

@import html5.tags.html._

@import models.order.Orders
@import models.order.OrderCount
@import models.order.DefaultOrderValue
@import models.entities.social.Dostyk

@(orders: List[Orders], orderCounts: List[OrderCount], orderValue: Int)
@import scala.Predef; var c=0; var k=0; var sum =0;
@_content(Messages("order.view")){
    <div class="panel-body">
    @for(order <- orders){

        @{k=0;sum=0;}
        @for(count <- orderCounts){
            @if(order.id==count.orders.id){
                @{k=1; c=count.count;}
            }
        }
        <div class="row">
            <div class="col">
                <h4 class="product-name"><strong>@order.name</strong></h4>
            </div>
        </div>
        <div class="row">

            <div class="col-xs-2">
                 @* <img class="img-responsive" src='@routes.Assets.at("./public/orderimage/techno.jpg")' /> *@
            </div>
            <div class="col-xs-4">
                <h4><small>@order.category.name</small></h4>
                <h4><small>@order.date.format("dd-MMM-YYYY")</small></h4>
                <h4><small>@order.description</small></h4>
            </div>
            <div class="col-xs-6">
                <div class="col-xs-6 text-right">
                    <h6> @Messages("order.price") :  <strong> <p id="order-price_@order.id">@order.price</p> <span class="text-muted">тг</span></strong></h6>
                    <h4><small>@order.orderStatus.status</small></h4>
                </div>
                @if(order.orderStatus.id==1){
                    <div class="col-xs-4">

                        <input type="number" min="0" id="ordercount_@order.id" value='@if(k != 0){@c}else{@orderValue}'>
                        <input type="button" value='@Messages("Save")' class="btn btn-success" onclick="saveCount(@order.id)">
                        <h4 class="product-sum"> @Messages("total") : <p id="ordersum_@order.id" ></p> </h4>
                    </div>
                }
            </div>
        </div>
        <hr>


        }


    </div>
}
<script type="text/javascript" src='@routes.Application.javascriptRoutes'></script>
<link rel="stylesheet" href='@routes.Assets.at("stylesheets/toastr.min.css")'>
<script src='@routes.Assets.at("javascripts/toastr.min.js")'></script>
<script>
    function saveCount(id){
        var orderCount = document.getElementById("ordercount_"+id).value;
        var orderId = id;
        var formData = new FormData();
        formData.append("orderCount",orderCount);
        formData.append("orderId",orderId);
        var url = '@controllers.order.routes.orderController.saveOrderCount()';
        $.ajax({
            url: url,
            data: formData,
            type: 'POST',
            contentType: false,
            processData: false,
            success: function (mydata) {
                toastr.success("@Messages("SavedSuccessfully")");
            }
        });

    }

@*
        $(function(){
            @for(order <- orders){
                $("#order-count_@order.id").click(function(){
                    var orderCount = document.getElementById("order-count_@order.id").value;
                    //console.log("orderCount = ",orderCount);
                    var orderPrice = document.getElementById("order-price_@order.id").innerHTML;
                    //console.log("orderPrice = ",orderPrice);
                    var sum =orderCount*orderPrice;
                    //console.log("sum = ",sum);
                    document.getElementById("order-sum_@order.id").innerHTML=sum
                });

            $("#order-save_@order.id").click(function(){
                var orderCount = document.getElementById("order-count_@order.id").value;
                var orderId = @order.id;
                var dostykId = @myDostk.id;
                var formData = new FormData();
                formData.append('orderCount',orderCount);
                formData.append('orderId',orderId);
                formData.append('dostykId',dostykId);
                $.ajax({
                    url: '/saveOrderCount',
                    data: formData,
                    type: 'POST',
                    contentType: false,
                    processData: false,
                    success: function (data) {
                        toastr.success("@Messages("SavedSuccessfully")");
                        console.log("save");
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                    }
                });
            });

            }
        });
*@
</script>