@(exams : List[models.entities.examination.Exam])


@_content(Messages("ActiveExams")) {
    <div class="alert alert-block">
        <h4>@Messages("bigEndian")</h4>
        <img src="@routes.Assets.at("images/bigendian.png")"/>
    </div>
	<table class="table table-condensed table-hover">
	@for(exam <- exams) {
		<tr>
		@helper.form(action = controllers.examination.routes.Exams.upload(exam.id), 'enctype -> "multipart/form-data") {
			<td> @exam.name </td>
			<td> @exam.startDate.format("EE dd/MM/yyyy HH:mm")</td>
			<td> @exam.endDate.format("EE dd/MM/yyyy HH:mm")</td> 
			<td> <input type=file name=file></td>
			<td> <input type=submit class="btn btn-primary" value="@Messages("send")"></td>		
		}
		</tr>
	}
	</table>
}
