@(exams : List[models.entities.examination.Exam], examResults : List[models.entities.examination.ExamResult], user : models.entities.user.AuthorisedUser, missed : Int, divider : Int)

@import be.objectify.deadbolt.java.views.html._
@import be.objectify.deadbolt.core.utils.TemplateUtils._


@import helper.inputText;
@import models.entities.user._;
@import models.entities.social._;
@import helper.twitterBootstrap._

@import models.logic.social._;
@import models.logic.examination._;
@import html5.tags.html._

@import helper.inputPassword;
@import helper.inputRadioGroup;




@_content(Messages("allResult")) {
	<h4>@user.profile.lastName @user.profile.firstName </h4>
	<h4>@Messages("missed") : @missed </h4>
	<table class="table table-bordered" border=1>
	@if(divider > 0) {
		<thead>
			@if(exams.get(0).grade==11) {
				<th><center>@Messages("name")</center></th>
				<th><center>@Messages("kazLang")</center></th>
				<th><center>@Messages("rusLang")</center></th>
				<th><center>@Messages("history_kz")</center></th>
				<th><center>@Messages("math")</center></th>
				<th><center>@Messages("selected.lesson")</center></th>
				<th><center>@Messages("total")</center></th>
				<th><center>@Messages("rankKZ")</center></th>
				<th><center>@Messages("rankDostyk")</center></th>
				<th><center>@Messages("rankGroup")</center></th>
			} else {
			<th><center>@Messages("name")</center></th>
				@for(detailed <- examResults.get(0).detailedResults){
				<td>
					<center> @detailed.lesson.name </center>
				</td>
				}
				<!--<th><center>@Messages("math")</center></th>-->
				<!--<th><center>@Messages("logic")</center></th>-->
				<th><center>@Messages("total")</center></th>
				<th><center>@Messages("rankKZ")</center></th>
				<th><center>@Messages("rankDostyk")</center></th>
				<th><center>@Messages("rankGroup")</center></th>
			}
		</thead>
		@for(i <- 0 to divider - 1) {
		<tr>
			<td> <center> <a href=@controllers.education.routes.Topics.getReport2(exams.get(i).id, user.id) > @exams.get(i).name </a> </center> </td>
			@if(examResults.get(i) == null) {
				@if(exams.get(i).grade==11) {
					@for(i <- 1 to 9) {
						<td> <center> 0 </canter> </td>
					}
				} else {
					@for(i <- 1 to 6) {
						<td> <center> 0 </center></td>
					}
				}
			} else {
				@for(detailed <- examResults.get(i).detailedResults){
					<td>
						<center> @detailed.correct </center>
					</td>
				}
				<td> <center> @examResults.get(i).total </center></td>
				<td> <center> @examResults.get(i).rankKZ </center></td>
				<td> <center> @examResults.get(i).rankDostyk </center></td>
				<td> <center> @examResults.get(i).rankGroup </center></td>
			}
		</tr>
		}
	} 
	</table>
	@if(exams.size() == 0) {
		@Messages("noExamsDone")
	} else {
		<br>
		<table class="table table-bordered" border=1>
		<thead>
			@if(exams.get(0).grade==11) {
				<th><center>@Messages("name")</center></th>
				<th><center>@Messages("kazLang")</center></th>
				<th><center>@Messages("rusLang")</center></th>
				<th><center>@Messages("history_kz")</center></th>
				<th><center>@Messages("math")</center></th>
				<th><center>@Messages("selected.lesson")</center></th>
				<th><center>@Messages("total")</center></th>
				<th><center>@Messages("rankKZ")</center></th>
				<th><center>@Messages("rankDostyk")</center></th>
				<th><center>@Messages("rankGroup")</center></th>
			} else {
				<th><center>@Messages("name")</center></th>
				@for(detailed <- examResults.get(0).detailedResults){
				<td>
					<center> @detailed.lesson.name </center>
				</td>
				}
			<!--<th><center>@Messages("math")</center></th>-->
			<!--<th><center>@Messages("logic")</center></th>-->
				<th><center>@Messages("total")</center></th>
				<th><center>@Messages("rankKZ")</center></th>
				<th><center>@Messages("rankDostyk")</center></th>
				<th><center>@Messages("rankGroup")</center></th>
			}
		</thead>
		@for(i <- divider to exams.size() - 1) {
		<tr>
			<td> <center> <a href=@controllers.education.routes.Topics.getReport2(exams.get(i).id, user.id) > @exams.get(i).name </a> </center> </td>
			@if(examResults.get(i) == null) {
				@if(exams.get(i).grade==11) {
					@for(i <- 1 to 9) {
						<td> <center> 0 </center></td>
					}
				} else {
					@for(i <- 1 to 6) {
						<td> <center>0</center> </td>
					}
				}
			} else {
				@for(detailed <- examResults.get(i).detailedResults){
					<td>
						<center>@detailed.correct</center>
					</td>
				}
				<td> <center>@examResults.get(i).total</center> </td>
				<td> <center>@examResults.get(i).rankKZ </center></td>
				<td> <center>@examResults.get(i).rankDostyk </center></td>
				<td><center> @examResults.get(i).rankGroup </center></td>
			}
		</tr>
		} 
	</table>
	}
	
	<center><button style="width:120px;" class="btn btn-primary noprint" onclick="window.print()" > Print </button> </center>
}