@(answerKeys : List[models.entities.examination.AnswerKey], exams : List[models.entities.examination.Exam])

@import be.objectify.deadbolt.java.views.html._
@import be.objectify.deadbolt.core.utils.TemplateUtils._


@import helper.inputText;
@import models.entities.user._;
@import models.entities.social._;
@import helper.twitterBootstrap._

@import models.logic.social._;
@import models.logic.education._;
@import html5.tags.html._

@import helper.inputPassword;
@import helper.inputRadioGroup;



@_content(Messages("AnswerKeyList")) {
	<table id = "answerKeys"class="table-condensed" border=1>
		@for(answerKey<-answerKeys) {
			<tr>
				<td>
					@helper.form(action = controllers.examination.routes.AnswerKeys.save()) {
						<input type="text" value="@answerKey.id" style="display:none" name=id>  
						@Messages("Variant") : <input type=text name=variant value="@answerKey.variant" required>
						@Messages("Grade") : 
						<select name="grade">
							@for(i <- 5 to 11) {
								<option value=@i @if(answerKey.grade==i){selected}> @i </option>
							} 
						</select>
						@Messages("examination") :
						<select name="exam">
							<option value> @Messages("select") </option>
							@for(exam <- exams) {
								<option value=@exam.id @if(answerKey.exam != null && answerKey.exam.id==exam.id){selected}> @exam.name </option>
							}  
						</select>
						 
						<input type=submit value=@Messages("save") class="btn btn-primary" style="margin-top:-10px">
						<a href="@controllers.examination.routes.LessonAnswers.showByAnswerKey(answerKey.id)" class="btn btn-info" style="margin-top:-10px"> @Messages("Lessons") </a>
						<a href="@controllers.examination.routes.AnswerKeys.delete(answerKey.id)" class="btn btn-danger" style="margin-top:-10px"> @Messages("Delete") </a>
					}
				</td>
			</tr>
		}
	</table >
	
	<table id ="hidden" style="display:none">
		<tr>
		<td style="padding-top:10px">
			@helper.form(action = controllers.examination.routes.AnswerKeys.save()) {
				<input type="text" value="-1" style="display:none" name=id>  
				@Messages("Variant") : <input type=text name=variant value="" required>
				@Messages("Grade") : 
						<select name="grade">
							@for(i <- 5 to 11) {
								<option value=@i> @i </option>
							} 
						</select>
						@Messages("Exam") :
						<select name="exam">
							<option value> @Messages("Select") </option>
							@for(exam <- exams) {
								<option value=@exam.id > @exam.name </option>
							} 
						</select> 
						<input type=submit value=@Messages("save") class="btn btn-primary" style="margin-top:-10px">
						<a href="#" disabled class="btn btn-info" style="margin-top:-10px"> @Messages("Lessons") </a>
						<a href="#" disabled class="btn btn-danger" style="margin-top:-10px"> @Messages("Delete") </a>
			}
		</td>	
		</tr> 
	</table>
	<br>
	<button class="btn btn-primary" id = "new" > @Messages("Add.New") </button>
	
}

<script>

$("#new").on("click", function() {
	$("#answerKeys").append($("#hidden tbody").html()); 	
});
</script>