@(answers : List[models.entities.examination.Answer], lessonAnswerId : Long, topics : List[models.entities.education.Topic])

@import be.objectify.deadbolt.java.views.html._
@import be.objectify.deadbolt.core.utils.TemplateUtils._


@import helper.inputText;
@import models.entities.user._;
@import models.entities.social._;
@import helper.twitterBootstrap._

@import models.logic.social._;
@import models.logic.examination._;
@import html5.tags.html._

@import helper.inputPassword;
@import helper.inputRadioGroup;



@_content(Messages("AnswersList")) {
	@helper.form(action = controllers.examination.routes.Answers.save()) {
	<input type="text" name=lessonAnswerId value="@lessonAnswerId" style="display:none">
	<h3>@LessonAnswerLogic.getById(lessonAnswerId).answerKey.variant - @LessonAnswerLogic.getById(lessonAnswerId).lesson.name</h3>
	<table id = "answers" class="table-condensed" border=1>
		@for(answer<-answers) {
			<tr>
				<td>
					@answer.questionNumber
				</td>
				<td>
					<select name="qn@answer.questionNumber">
						<option value="A" @if(answer.answerCode.equals("A")){selected}> A </option>
						<option value="B" @if(answer.answerCode.equals("B")){selected}> B </option>
						<option value="C" @if(answer.answerCode.equals("C")){selected}> C </option>
						<option value="D" @if(answer.answerCode.equals("D")){selected}> D </option>
						<option value="E" @if(answer.answerCode.equals("E")){selected}> E </option>
						<option value="F" @if(answer.answerCode.equals("F")){selected}> F </option>
					</select>
				</td>
				<td>
					<select name="topicn@answer.questionNumber">
						@for(t <- topics) {
							<option value="@t.name" @if(t.name.equals(answer.topic)){selected}> @t.name </option>
						}
					</select>
				</td>
				<td>
					<a href="#" class="delete btn btn-danger" disabled> @Messages("Delete") </a>
				</td>
			</tr>
		}
		
		@if(answers.size() == 0) {
			@for(i <- 1 to 2) {
				<tr>
					<td>
						@i
					</td>
					<td>
						<select name="qn@i">
							<option value="A"> A </option>
							<option value="B"> B </option>
							<option value="C"> C </option>
							<option value="D"> D </option>
							<option value="E"> E </option>
							<option value="F"> F </option>
						</select>
					</td>
					<td>
						<select name="topicn@i">
							@for(t <- topics) {
								<option value="@t.name"> @t.name </option>
							}
						</select>
					</td>
					<td>
						<a href="#" disabled class="delete btn btn-danger" > @Messages("Delete") </a>
					</td>
				</tr>
			}
		}
	</table>
	
	<input type=submit class="btn btn-primary" value="@Messages("save")">
	}
	<br>
	<input type=number id="count" value=0> <button class="btn btn-info" id="adder"> @Messages("add.questions") </button>
}


<script type="text/javascript" src='@routes.Application.javascriptRoutes'></script>
<script>
	$(document).ready(function(){
		$(".delete").last().removeAttr("disabled"); 
	});
	
	$(document).on("click", ".delete", function() {
		if (!$(this).is("[disabled]")||$(this).attr("disabled")==true) {
			$(this).parent().parent().remove();
			questionNumber = parseInt($("td", $(this).parent().parent()).eq(0).html());
			myJsRoutes.controllers.examination.Answers.delete(questionNumber, @lessonAnswerId).ajax({});
			$(".delete").last().removeAttr("disabled");
		}	
	});
	
	$("#adder").click(function() {
		count = parseInt($("#count").val()); 
		
		present = $(".delete").length; 
		
		$(".delete").last().attr("disabled", "true");
		
		for (i=present+1; i<present + count + 1; i++) {
			html = "<tr style='background-color:#fea'> <td>" + i + "</td> <td>";
			html = html + "<select name=qn"+i+">";
			html = html + "<option value=A> A </option>";
			html = html + "<option value=B> B </option>";
			html = html + "<option value=C> C </option>";
			html = html + "<option value=D> D </option>";
			html = html + "<option value=E> E </option>";
			html = html + "<option value=F> F </option>";
			html = html + "</select>"
			html = html + "</td> <td> "; 
			html = html + "<select name=topicn"+i+">";
			@for(t <- topics) {
				html = html + "<option value='@t.name'> @t.name </option>";
			}
			html = html + "</select>";
			html = html + "</td> <td>"; 
			html = html + "<a href='#' disabled class='delete btn btn-danger' > @Messages("Delete") </a>" + "</td> </tr>"; 
			$("#answers").append(html);  
		}
		$(".delete").last().removeAttr("disabled");
	}); 
</script>