@(names : List[String], a : Array[Array[java.lang.Double]])


<table class="table table-condensed table-bordered table-striped">
	<thead>
		<th> @Messages("name") </th>
		@for(i <- 1 to a(0).length) {
			<th>
				@Messages("ATT") @i
			</th>
		}		
	</thead>
	<tbody>
		@for(i <- 0 to a.length-1) {
			<tr>
				<td> @names.get(i) </td>
				@for(j <- 0 to a(i).length-1) {
					<td>
						@{
							"%.2f".format(a(i)(j))
						}
					</td>
				}
			</tr>
		}
	</tbody>
</table>
 


