@()

@import be.objectify.deadbolt.java.views.html._
@import be.objectify.deadbolt.core.utils.TemplateUtils._

@import models.logic.education._;
@import models.logic.social.DostykGroupLogic 

@_content(Messages("ATT/YTT")) {

	@if(flash.containsKey("success")) {
        <div class="alert alert-success">
	      	<button type="button" class="close" data-dismiss="alert">x</button>
            <strong>Done!</strong> @flash.get("success")
        </div>
    }
    
	<select id=lesson>
		<option value="no"> @Messages("selectLesson") </option>
		@for(l <- LessonLogic.getAll) {
			<option value=@l.id> @l.language  @l.name </option>
		}
	</select>
	
	<input type="submit" class="btn btn-primary" style="margin-top:-5px" id="submit" value="@Messages("Go")" >
	
	<table class="table table-bordered"></table>
	@loading()
	<div id=res>
	</div>
}

<script type="text/javascript" src='@routes.Application.javascriptRoutes'></script>
<script>
$("#submit").click(function() {
	lesson = $("#lesson").val();

	
	if (lesson == "no") {
		alert("@Messages("select.please")");
		return; 
	}
	
	$(".loader").show(); 
	
	myJsRoutes.controllers.examination.ATTUTTs.reportByLesson(lesson).ajax({         
			success : function(data) {
				$("#res").html(data);
			},
 			error : function(jqXHR, textStatus, errorThrown) {
    	    	alert('@Messages("error")');
 			},
 			complete : function(data) {
 				$(".loader").hide();
 			}
	});
});
</script>




