@(blocks : List[models.entities.examination.Block], layoutId : Long)


@_content("Blocks List") {
	<table id = "layouts"class="table table-condensed table-hover">
		@for(block<-blocks) {
			<tr>
				<td>
					@helper.form(action = controllers.examination.routes.Blocks.save()) {
						<input type="text" value="@block.id" style="display:none" name=id>  
						@Messages("Name") : <input type=text name=name value="@block.name" required>
						@Messages("Delimeter") : <input type=number style="width: 45px;" name=delimeter value="@block.delimeter" required>
						@Messages("Weight") : <input type=number style="width: 45px;" name=weight value="@block.weight" required>
						@Messages("Check") : <input type=number style="width: 45px;" name=checking value="@block.checking" required> 
						<button type=submit class="btn btn-success" style="margin-top:-10px">
							<i class="icon-ok-sign"></i>
						</button>
						<a href="@controllers.examination.routes.Blocks.delete(block.id)" class="btn btn-danger" style="margin-top:-10px"> <i class="icon-trash"></i> </a>
					}
				</td>
			</tr>
		}
	</table >
	
	<table id ="hidden" style="display:none">
		<tr>
		<td style="padding-top:10px">
			@helper.form(action = controllers.examination.routes.Blocks.save()) {
						<input type="text" value="-1" style="display:none" name=id>
						<input type="text" value="@layoutId" style="display:none" name=layoutId>  
						@Messages("Name") : <input type=text name=name required>
						@Messages("Delimeter") : <input type=number name=delimeter style="width: 30px;" value="" required>
						@Messages("Weight") : <input type=number style="width: 30px;" name=weight value="" required>
						@Messages("Check") : <input type=number style="width: 30px;" name=checking value="" required> 
						<button type=submit class="btn btn-success" style="margin-top:-10px">
							<i class="icon-ok-sign"></i>
						</button>
						<a href="#" disabled class="btn btn-danger" style="margin-top:-10px"> <i class="icon-trash"></i> </a>
			}
		</td>	
		</tr> 
	</table>
	<br>
	<button class="btn btn-primary" id = "new" > @Messages("Add.New") </button>
	
}

<script>

$("#new").on("click", function() {
	$("#layouts").append($("#hidden tbody").html()); 	
});
</script>