@(users: List[models.entities.user.AuthorisedUser], ent : List[models.entities.examination.ENT], lessons : List[models.entities.education.Lesson])

@import be.objectify.deadbolt.java.views.html._
@import be.objectify.deadbolt.core.utils.TemplateUtils._

@import html5.tags.html._

@_content(Messages("dostykGroupList")){
<form action=@controllers.examination.routes.ExamResults.saveEnt() method="POST">
	<table class="table table-bordered table-hover table-condensed">
	<thead>
		<tr>
			<th rowspan=2> @Messages("name") </th>
			<th colspan=7> <center>@Messages("ENT") </center></th>
		</tr>
		<tr>
					<th><center>@Messages("kazLang")</center></th>
					<th><center>@Messages("rusLang")</center></th>
					<th><center>@Messages("history_kz")</center></th>
					<th><center>@Messages("math")</center></th>
					<th><center>@Messages("selected.lesson")</center></th>
					<th><center>@Messages("total")</center></th>
					<th><center>@Messages("selected.lesson")</center></th>
		</tr>
	</thead>
	
	@for(i <-0 to users.size() - 1) {
		<tr>
			<td>
				@users.get(i).profile.lastName @users.get(i).profile.firstName  
			</td>
			
				<td>
					<input type=number name=kaz_@users.get(i).id @if(ent.get(i) != null) {value=@ent.get(i).kaz} style="width:40px">
				</td>
				<td>
					<input type=number name=rus_@users.get(i).id @if(ent.get(i) != null) {value=@ent.get(i).rus} style="width:40px">
				</td>
				<td>
					<input type=number name=history_@users.get(i).id @if(ent.get(i) != null) {value=@ent.get(i).history} style="width:40px">
				</td>
				<td>
					<input type=number name=math_@users.get(i).id @if(ent.get(i) != null) {value=@ent.get(i).math} style="width:40px">
				</td>
				<td>
					<input type=number name=selected_@users.get(i).id @if(ent.get(i) != null) {value=@ent.get(i).selected} style="width:40px">
				</td>
				<td>
					<input type=number name=points_@users.get(i).id @if(ent.get(i) != null) {value=@ent.get(i).points} style="width:40px">
				</td>
				<td>	
					<select name=lesson_@users.get(i).id>
						@for(l <- lessons if (l.code.compareTo("04") > 0)) {
							<option value=@l.id @if(ent.get(i) != null && ent.get(i).lesson != null && l.id == ent.get(i).lesson.id) {selected}> @l.name </option>
						}
					</select>
				</td>
			
		</tr>
	}
	</table>
	<center> <input type=submit class="btn btn-primary" value=@Messages("save")></center>	
</form>

}