@(incorrect : List[Map[String, String]], exam : models.entities.examination.Exam)

@import be.objectify.deadbolt.java.views.html._
@import be.objectify.deadbolt.core.utils.TemplateUtils._


@import helper.inputText;
@import models.entities.user._;
@import models.entities.examination._;
@import helper.twitterBootstrap._

@import models.logic.social._;
@import models.logic.examination._;
@import html5.tags.html._

@import helper.inputPassword;
@import helper.inputRadioGroup;



@_content("Error report") {
	@if(incorrect.size() == 0) {
		<h3> @Messages("Successfully.uploaded") </h3>
	} else {
	
		<table class="table table-condensed">
		<thead>
			<th>@Messages("surname.name")</th>
			<th>@Messages("IdNumber")</th>
			<th>@Messages("Variant")</th>
			@if(exam.examType.layout.name!="D5"){
			<th>@Messages("selected.lesson") </th>
			}
			<th>@Messages("Error")</th>
			<td>@Messages("Submit") </td>
		</thead>	
		@for(map <- incorrect){
			<tr>
			<td> @map.get("81").@map.get("82"). </td>
			<td> <input type="text" name="idNumber" value="@map.get("87")"></td>
			<td> 
				
				<input type="text" name="variant" value="@map.get("55")">
				
				<input type="text" name="01" value="@map.get("01")" style="display:none">
				<input type="text" name="02" value="@map.get("02")" style="display:none">
				<input type="text" name="03" value="@map.get("03")" style="display:none">
				<input type="text" name="04" value="@map.get("04")" style="display:none">
				<input type="text" name="05" value="@map.get("05")" style="display:none">
				@if(exam.examType.layout.name=="D5"){
				<input type="text" name="06" value="@map.get("06")" style="display:none">
				<input type="text" name="07" value="@map.get("07")" style="display:none">
				<input type="text" name="08" value="@map.get("08")" style="display:none">
				<input type="text" name="09" value="@map.get("09")" style="display:none">
				<input type="text" name="10" value="@map.get("10")" style="display:none">
				}
				
			</td>
			
			<td>
				@if(exam.examType.layout.name!="D5"){
				
				<select name=5pan>
					<option value="none"> @Messages("select")</option>
					<option value="E" @if(map.get("99").equals("E")){selected}> @Messages("Physics") </option>
					<option value="F" @if(map.get("99").equals("F")){selected}> @Messages("Chemistry") </option>
					<option value="G" @if(map.get("99").equals("G")){selected}> @Messages("Biology") </option>
					<option value="H" @if(map.get("99").equals("H")){selected}> @Messages("Geography") </option>
					<option value="I" @if(map.get("99").equals("I")){selected}> @Messages("World.history") </option>
					<option value="J" @if(map.get("99").equals("J")){selected}> @Messages("Literature") </option>
					<option value="K" @if(map.get("99").equals("K")){selected}> @Messages("English") </option>
					<option value="L" @if(map.get("99").equals("L")){selected}> @Messages("German") </option>
					<option value="M" @if(map.get("99").equals("M")){selected}> @Messages("French") </option>
				</select> 
				}	
			</td>
			
			<td style="color:red"> 
				@if(map.get("idExistence").equals("false")){ @Messages("no.such.id") }
				@if(map.get("dublicate").equals("true")){ @Messages("dublicate.id") }
				@if(map.get("variant").equals("incorrect")){ @Messages("incorrect.variant") }
				@if(map.containsKey("5pan") && map.get("5pan").equals("incorrect")){ @Messages("incorrect.5pan") }
			</td>
			<td>
				<input type=submit class="send btn btn-primary" layout="@exam.examType.layout.name" value = '@Messages("save")'>
			</td>
			</tr>
		}
		</table>
	}
}


<script type="text/javascript" src='@routes.Application.javascriptRoutes'></script>
<script>
$(".send").click(function(){
	var layout = $(this).attr("layout");
	
	cur = $(this).parent();
	tr = cur.parent();
	pan = $("select[name=5pan]",cur.prev().prev()).val(); 
	idNumber = $("input[name=idNumber]",cur.prev().prev().prev().prev()).val();
	variant = $("input[name=variant]",cur.prev().prev().prev()).val();
	lesson01 = $("input[name=01]",cur.prev().prev().prev()).val();
	lesson02 = $("input[name=02]",cur.prev().prev().prev()).val();
	lesson03 = $("input[name=03]",cur.prev().prev().prev()).val();
	lesson04 = $("input[name=04]",cur.prev().prev().prev()).val();
	lesson05 = $("input[name=05]",cur.prev().prev().prev()).val(); 
	var ls = "";
	if(layout==="D5"){
		lesson06 = $("input[name=06]",cur.prev().prev().prev()).val();
		lesson07 = $("input[name=07]",cur.prev().prev().prev()).val();
		lesson08 = $("input[name=08]",cur.prev().prev().prev()).val();
		lesson09 = $("input[name=09]",cur.prev().prev().prev()).val();
		lesson10 = $("input[name=10]",cur.prev().prev().prev()).val();
		
		ls=lesson01+","+
		lesson02+","+
		lesson03+","+
		lesson04+","+
		lesson05+","+
		lesson06+","+
		lesson07+","+
		lesson08+","+
		lesson09+","+
		lesson10
	}
	
	cnt=0; 
	$('input[name=idNumber]').each(function() {
		if ($(this).val() == idNumber) cnt++; 
	}); 
	if (pan=="none" && @exam.grade>9) {
		alert("@Messages("select.5pan")"); 
	}else
	if (cnt>1) {
		alert("@Messages("You.have.multiple.users.with.this.idNumber")"); 
	} else {
		if(layout!="D5"){
			console.log("not d5")
			myJsRoutes.controllers.examination.Exams.submitResult(@exam.id, idNumber, variant, pan, lesson01, lesson02, lesson03, lesson04, lesson05).ajax({
				success : function(response) {
					if (response == "incorrectVariant") {
						alert("@Messages("incorrect.variant")"); 
						
					} else
					if (response == "noIdNumber") {
						alert("@Messages("no.such.idNumber")"); 
					} else {
						alert("@Messages("Successfully.saved")");
						tr.remove();  
					}
				},
				error : function() {
					alert("Error occured, try later"); 	
				}
			});
		
		}else{
			console.log("is d5")
			myJsRoutes.controllers.examination.Exams.submitResultD5(@exam.id, idNumber, variant, ls).ajax({
				success : function(response) {
					if (response == "incorrectVariant") {
						alert("@Messages("incorrect.variant")");
						console.log(variant)
					} else
					if (response == "noIdNumber") {
						alert("@Messages("no.such.idNumber")"); 
					} else {
						alert("@Messages("Successfully.saved")");
						tr.remove();  
					}
				},
				error : function() {
					alert("Error occured, try later"); 	
				}
			});
			
		}
	}
}); 
</script>