@(examTypes : List[models.entities.examination.ExamType])


@import models.logic.examination._;



@_content(Messages("ExamTypeList")) {
	<table id = "examTypes"class="table">
		@for(examType<-examTypes) {
			<tr>
				<td>
					@helper.form(action = controllers.examination.routes.ExamTypes.save()) {
						<input type="text" value="@examType.id" style="display:none" name=id>  
						@Messages("Name") : <input type=text name=name value="@examType.name">
						@Messages("Layout") : 
						<select name=layout required>
							<option value="-1"> @Messages("ChooseOne") </option>
							@for(layout<-LayoutLogic.getAll()){
								<option value=@layout.id @if(examType.layout != null && examType.layout.id == layout.id){selected}>
									@layout.name
								</option>
							}
						</select> 
						<button type=submit class="btn btn-success" style="margin-top:-10px">
							<i class="icon-ok-sign"></i>
						</button>
						<a href="@controllers.examination.routes.ExamTypes.delete(examType.id)" class="btn btn-danger" style="margin-top:-10px"> <i class="icon-trash"></i> </a>
					}
				</td>
			</tr>
		}
	</table>
	
	<table id ="hidden" style="display:none">
		<tr>
		<td style="padding-top:10px">
			@helper.form(action = controllers.examination.routes.ExamTypes.save()) {
				<input type="text" value="-1" style="display:none" name=id>  
				@Messages("Name") : <input type=text name=name>
				@Messages("Layout") : 
						<select name=layout required>
							<option value="-1"> @Messages("ChooseOne") </option>
							@for(layout<-LayoutLogic.getAll()){
								<option value=@layout.id>
									@layout.name
								</option>
							}
						</select> 
				<button type=submit class="btn btn-success" style="margin-top:-10px">
					<i class="icon-ok-sign"></i>
				</button>
				<a href="#" class="btn btn-danger" disabled style="margin-top:-10px"> <i class="icon-trash"></i> </a>
			}
		</td>	
		</tr> 
	</table>
	<br>
	<button class="btn btn-primary" id = "new" > @Messages("Add.New") </button>
	
}

<script>

$("#new").on("click", function() {
	$("#examTypes").append($("#hidden tbody").html()); 	
});
</script>