@(exams : List[models.entities.examination.Exam])

@import be.objectify.deadbolt.java.views.html._
@import be.objectify.deadbolt.core.utils.TemplateUtils._


@import helper.inputText;
@import models.entities.user._;
@import models.entities.social._;
@import helper.twitterBootstrap._

@import models.logic.examination._;
@import models.logic.education._;
@import html5.tags.html._

@import helper.inputPassword;
@import helper.inputRadioGroup;



@_content(Messages("ExamList")) {
	<table id = "exams" class="table table-condensed table-hover table-bordered">
		<thead>
			<th> @Messages("Name") </th>
			<th> @Messages("ExamType")</th>
			<th> @Messages("startDate") </th>
			<th> @Messages("endDate") </th>
			<th> @Messages("Status") </th>
			<th> @Messages("Delete") </th>
			<th> @Messages("Check")</th>
		</thead>
		@for(exam<-exams) {
			<tr>
				<td style="width:300px"> <input type=text value="@exam.name" examId = @exam.id > <button class="btn btn-success saveName"> @Messages("save") </button> </td>
				<td>@exam.examType.name</td>
				<td>  @exam.startDate.format("dd/MM/yyyy HH:mm")</td>
				<td>  @exam.endDate.format("dd/MM/yyyy HH:mm") </td>
				<td>
				
				@if(exam.status.equals("active")){
					<button style="min-width:100px; margin:5px;" type="button" examId = @exam.id status = "active" class="btn changeStatusBtn btn-success"> @Messages("Active") </button>
				}
				
				@if(exam.status.equals("inactive")){
					<button style="min-width:100px; margin:5px;" type="button" examId = @exam.id status = "inactive" class="btn changeStatusBtn btn-warning"> @Messages("Inactive") </button>
				}
				
				@if(exam.status.equals("finished")){
					<button style="min-width:100px; margin:5px;" type="button" examId = @exam.id status = "finished" class="btn changeStatusBtn btn-danger"> @Messages("Finished") </button>
				} 
				</td>
				<td> <a href="@controllers.examination.routes.Exams.delete(exam.id)" class="btn btn-danger"> <i class="icon-trash"></i> </a></td>
				<td> <a href="@controllers.examination.routes.Exams.checkExam(exam.id)" class="btn btn-info"> @Messages("check")</a></td>
			</tr>
		}
	</table>
	
	<!-- Button to trigger modal -->
	<br/>
<a href="#myModal" role="button" class="btn btn-primary" data-toggle="modal"> @Messages("Add.new")</a>
 
<!-- Modal -->
<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">@Messages("New.exam")</h3>
  </div>
  <div class="modal-body">
  
  @helper.form(action = controllers.examination.routes.Exams.save()) {
  	<label>@Messages("ExamType")</label>
    <select name="examType" required>
    	@for(examType <- ExamTypeLogic.getAll()){
    		<option value=@examType.id>
    			@examType.name
    		</option>
    	}
    </select>
    <br>
    <label>@Messages("name")</label>
    <input type=text name=name placeholder=name required>
    <br>
    <label>@Messages("Grade")</label>
    <select name = "grade" required>
    	<option value="11"> 11 </option>
    	<option value="10"> 10 </option>
    	<option value="9"> 9 </option>
    	<option value="8"> 8 </option>
    	<option value="7"> 7 </option>
    	<option value="6"> 6 </option>
    	<option value="5"> 5 </option>
    </select>
    <br>
    <label>@Messages("StartTime")</label>
    <input type="date" name="startDate" required> <input type="startTime" name="startTime" style="width:70px" required>
    <br>
    <label>@Messages("EndTime")</label>
    <input type="date" name="endDate"  required><input type="startTime" name="endTime" style="width:70px" required>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">@Messages("Cancel")</button>
    <button class="btn btn-primary">@Messages("Save")</button>
  </div>
  }
</div>
	
}


<script type="text/javascript" src='@routes.Application.javascriptRoutes'></script>
<script>

	$(".saveName").on("click", function() {
		examId = $(this).prev().attr("examId");  
		name = $(this).prev().val(); 
		myJsRoutes.controllers.examination.Exams.changeName(examId, name).ajax({});
		alert("Successfully Saved!!!"); 
	});
	 
	$(".changeStatusBtn").on("click", function() {
		status = $(this).attr("status");
		examId = $(this).attr("examId"); 
		cur = $(this);
		if (status=="active") {
			cur.toggleClass('btn-success btn-warning');
			cur.attr("status", "inactive");
			cur.html("@Messages("Inactive")"); 
			myJsRoutes.controllers.examination.Exams.changeStatus(examId, "inactive").ajax({});
		} else if (status == "inactive") {
			cur.toggleClass('btn-warning btn-danger');
			cur.attr("status", "finished");
			cur.html("@Messages("Finished")");
			status = "finished"; 
			myJsRoutes.controllers.examination.Exams.changeStatus(examId, status).ajax({});
		} else {
			cur.toggleClass('btn-danger btn-success');
			cur.attr("status", "active");
			cur.html("@Messages("Active")");
			myJsRoutes.controllers.examination.Exams.changeStatus(examId, "active").ajax({});
		}
	});
</script>
