@(examResults : List[models.entities.examination.ExamResult])
@import be.objectify.deadbolt.java.views.html._
@import be.objectify.deadbolt.core.utils.TemplateUtils._
   
 
@import helper._; 

@import html5.tags.html._

@check(detailedResults : List[models.entities.examination.DetailedResult]) = @{
    var tf = false
    for(major<-detailedResults){
        if(major.lesson.code.compareTo("05")>=0){
            tf = true
        }
    }
    if(tf==true){
        1
    }else{
        0
    }
}

<table>	
	<thead>
		<tr>
            <th>#</th>
			<th>@Messages("student.idCode")</th>
			<th>@Messages("student.firstnameLastname")</th>
			<th>@Messages("student.group") </th>
			<th>@Messages("examResult.variant")</th>
            @if(examResults.get(0).exam.examType.layout.name=="D1"){
            <th>@Messages("examResult.major")</th>
			}
			@for(detail<-models.logic.examination.DetailedResultLogic.getByExamResult(examResults.get(0))){
                @if(examResults.get(0).exam.examType.layout.name=="D1"&&detail.lesson.code.compareTo("05")<1){
			        <th>@detail.lesson.name</th>
                }
			}
            @if(examResults.get(0).exam.examType.layout.name=="D1"){
			    <th>@Messages("examResult.major.correct")</th>
            }else{

                @for(detail<-models.logic.examination.DetailedResultLogic.getByExamResult(examResults.get(0))){
                    <th>@detail.lesson.name</th>
                }
            }
			<th>@Messages("examResult.total")</th>
            @if(examResults.get(0).exam.examType.layout.name.contains("BIL")){
            <th>@Messages("examResult.totalGrade")</th>
            }
		</tr>
	</thead>
	<tbody>		
	@for((examResult,index)<-examResults.zipWithIndex){
		<tr>
            <td>@{index+1}</td>
			<td><a href="@controllers.examination.routes.ExamResults.showByUser(examResult.student.id)">@examResult.student.profile.idNumber</a></td>
			<td>@examResult.student.profile.firstName @examResult.student.profile.lastName</td>
			<td><a class="showDostykGroupResults"
                @if(examResult.student.profile.dostykGroup!=null){groupid="@examResult.student.profile.dostykGroup.id"}
                examid="@examResult.exam.id">
            @if(examResult.student.profile.dostykGroup!=null){@examResult.student.profile.dostykGroup.name}else{
                @Messages("groupEmpty")
            }
        </a></td>
			<td>@examResult.variant</td>
			@if(examResults.get(0).exam.examType.layout.name=="D1"){
                @if(check(examResult.detailedResults)==1){
                    @for(major<-examResult.detailedResults){
                        @if(major.lesson.code.compareTo("05")>=0){
                            <td>@major.lesson.name</td>
                        }
                    }
                }else{
                    <td></td>
                }
            }
			@if(examResults.get(0).exam.name=="MC"){
			    <td>@examResult.detailedResults.get(0).lesson.name</td>
			}

			@for(detailResult<-models.logic.examination.DetailedResultLogic.getByExamResult(examResult)){
			    <th>@detailResult.correct</th>
			}
            @if(check(examResult.detailedResults)==1){

            }else{
                <td></td>
            }
			<td>@examResult.total</td>
            @if(examResults.get(0).exam.examType.layout.name.contains("BIL")){
            <td>@examResult.getTotalMark</td>
            }
		</tr>
	}
	</tbody>
</table>