@(user: models.entities.user.AuthorisedUser)

@import be.objectify.deadbolt.java.views.html._
@import be.objectify.deadbolt.core.utils.TemplateUtils._
   
 
@import helper._; 

@import html5.tags.html._
@import views.html.accounting._numberFormat;

@dostykList(exam: models.entities.examination.Exam) = {
            <a id="dost_@exam.id">@Messages("dostyks")</a>
			<table id="dostyktar_@exam.id">
				<thead>
				<tr>
					<th>@Messages("dostyk.name")</th>
					<th>@Messages("dostyk.studentsSize")</th>
                    <th>@Messages("dostyk.attendedStudentsSize")</th>
					<th>@Messages("dostyk.examAverage")</th>
					<th>@Messages("")</th>
				</tr>
				</thead>		
				@for(dostyk<-models.logic.social.DostykLogic.getAll()){
					<tr>
						<td><a class="showDostykResults" dostykid="@dostyk.id" examid="@exam.id">@dostyk.name</a></td>
						<td>@models.logic.social.DostykLogic.getStudents(exam,dostyk,"active")</td>
						<td>@models.logic.examination.ExamResultLogic.getAttendedStudentsSize(exam, dostyk)</td>
						<td>@_numberFormat(models.logic.examination.ExamResultLogic.getDostykAverage(exam,dostyk))</td>
						
					</tr>
				}
			</table>

}


@_content(Messages("exam.report")) {
<button id="myButtonControlID" class="btn">Export Table data into Excel</button>
<div id="divTableDataHolder">
<table class="table table-condensed">
	<thead>
		<tr>
			<th>@Messages("exam.name")</th>
			<th>@Messages("exam.startDate")</th>
			<th>@Messages("exam.endDate")</th>
			<th>@Messages("")</th>
		</tr>
	</thead>	
	<tbody>	
	@for(exam<-models.logic.examination.ExamLogic.findAll){
		<tr class = "exam" examid="@exam.id">
            @restrict(la(as("admin"))){
                <td><a>@exam.name</a></td>
            }
            @restrict(la(as("moderator"))){
			    <td>
                    <a class="showDostykResults" dostykid="@user.dostyks.get(0).id" examid="@exam.id">@exam.name</a>
                    <div id="row_@exam.id" style="display:none"></div>
                </td>
            }
			<td>@exam.startDate.format("dd/MM/yyyy")</td>
			<td>@exam.endDate.format("dd/MM/yyyy")</td>
		</tr>
		<tr id="exam_@exam.id" class="child">
			@restrict(la(as("admin"))){
                <td colspan="3">
				    @dostykList(exam)
                    <div id="row_@exam.id" style="display:none"></div>
                </td>
			}
		</tr>
	}
	</tbody>
</table>
</div>
<script type="text/javascript" src='@routes.Application.javascriptRoutes'></script>
<script>
$("[id$=myButtonControlID]").click(function(e) {
    window.open('data:application/vnd.ms-excel,' 
    	+ encodeURIComponent( $('div[id$=divTableDataHolder]').html()));
    e.preventDefault();
});
$(document).on("click",".showDostykResults", function(){
	var examId = $(this).attr("examid");
	var dostykId = $(this).attr("dostykid");

	 myJsRoutes.controllers.examination.ExamResults.examReportByDostyk(examId,dostykId).ajax({         
         success : function(data) {
        	 //$("#row_"+examId).hide();
         	$("#row_"+examId).html(data);
            @restrict(la(as("admin"))){
                $("#dostyktar_"+examId).hide();
            }
         },
         error : function(jqXHR, textStatus, errorThrown) {
            alert('@Messages("examDidntUploaded")');
         }
     });	
});

//---------------------------------------------------------------------------------------------

$(document).on("click",".showDostykGroupResults", function(){
	var examId = $(this).attr("examid");
	var dostykGroupId = $(this).attr("groupid");

	myJsRoutes.controllers.examination.ExamResults.examReportByDostykGroup(examId,dostykGroupId).ajax({         
         success : function(data) {
        	//$("#row_"+examId).hide();
         	$("#row_"+examId).html(data);
         },
         error : function(jqXHR, textStatus, errorThrown) {

            alert('@Messages("examDidntUploaded")');
         }
     });
	
});

$(document).ready(function(){
	$(".child").hide();
});
@for(exam<-models.logic.examination.ExamLogic.getAll if(exam.status!="status")){
    $("#dost_@exam.id").on("click",function(){
        $("#dostyktar_@exam.id").toggle();
        //$("#row_@exam.id").toggle();
        console.log("alert");
        
    });
}
$(".exam").on("click",function(){
	$("#exam_"+$(this).attr("examid")).toggle();
	$("#row_"+$(this).attr("examid")).toggle();
});
</script>
}
