@(dostykGroups: List[models.entities.social.DostykGroup])

@import be.objectify.deadbolt.java.views.html._
@import be.objectify.deadbolt.core.utils.TemplateUtils._

@import html5.tags.html._

@_content(Messages("dostykGroupList")){
	<table class="table table-bordered table-hover table-condensed">
		<thead>
			<th>@Messages("Group")</th>
			<th>@Messages("examination")</th>
			<th>@Messages("examination")</th>
		</thead>
		@for(group <- dostykGroups if(group.courses.title==6||group.courses.title==11)){

				<tr>
					<td>
						 @group.name  
					</td>
					<td>
						<a href="@controllers.examination.routes.ExamResults.showGroup(group.id, 0)"> @Messages("PKS") </a>
					</td>
					<td>
						@if(group.courses.title==6){
							<a href="@controllers.examination.routes.ExamResults.showGroup(group.id, 0)">
								@Messages("DAS"),@Messages("DAB")
							</a>
						}
						@if(group.courses.title==11){
						<a href="@controllers.examination.routes.ExamResults.showGroup(group.id, 1)">
							@Messages("DAS"),@Messages("DAB"),@Messages("ENT")
						</a>
						}
					</td>
				</tr>

		}
		
				<tr>
					<td>
						 @Messages("deletedUsers")  
					</td>
					<td colspan=2>
						<center> <a href="@controllers.examination.routes.ExamResults.deletedUsers()"> @Messages("ENT") </a> </center>
					</td>
					
				</tr>
	</table>

}