@(layouts : List[models.entities.examination.Layout])

@_content(Messages("LayoutList")) {
	<table id = "layouts"class="table table-condensed table-hover">
		@for(layout<-layouts) {
			<tr>
				<td>
					@helper.form(action = controllers.examination.routes.Layouts.save()) {
						<input type="text" value="@layout.id" style="display:none" name=id>  
						@Messages("Name") : <input type=text name=name value="@layout.name"> 
						<button type=submit class="btn btn-success" style="margin-top:-10px">
							<i class="icon-ok-sign"></i>
						</button>
						<a href="@controllers.examination.routes.Blocks.showByLayout(layout.id)" class="btn btn-info" style="margin-top:-10px"> @Messages("Blocks") </a>
						<a href="@controllers.examination.routes.Layouts.delete(layout.id)" class="btn btn-danger" style="margin-top:-10px"> <i class="icon-trash"></i> </a>
					}
				</td>
			</tr>
		}
	</table >
	
	<table id ="hidden" style="display:none">
		<tr>
		<td style="padding-top:10px">
			@helper.form(action = controllers.examination.routes.Layouts.save()) {
				<input type="text" value="-1" style="display:none" name=id>  
				@Messages("Name") : <input type=text name=name> 
				<button type=submit class="btn btn-success" style="margin-top:-10px">
					<i class="icon-ok-sign"></i>
				</button>
				<a href="#" class="btn btn-info" disabled style="margin-top:-10px"> @Messages("Blocks") </a>
				<a href="#" class="btn btn-danger" disabled style="margin-top:-10px"> <i class="icon-trash"></i> </a>
			}
		</td>	
		</tr> 
	</table>
	<br>
	<button class="btn btn-primary" id = "new" > @Messages("Add.New") </button>
	
}

<script>

$("#new").on("click", function() {
	$("#layouts").append($("#hidden tbody").html()); 	
});
</script>