@(lessonAnswers : List[models.entities.examination.LessonAnswer], names : List[String],  answerKeyId : Long)

@import be.objectify.deadbolt.java.views.html._
@import be.objectify.deadbolt.core.utils.TemplateUtils._


@import helper.inputText;
@import models.entities.user._;
@import models.entities.social._;
@import helper.twitterBootstrap._;

@import models.logic.social._;
@import models.logic.education._;
@import html5.tags.html._

@import helper.inputPassword;
@import helper.inputRadioGroup;

@_content(Messages("LayoutAnswerList")) {
	<table id = "lessonAnswers" class="table-condensed" border=1>
		@for((lessonAnswer, i) <- lessonAnswers.zipWithIndex) {
			<tr>
				<td>
					@lessonAnswer.lesson.language @lessonAnswer.lesson.name
				</td>
				<td>
					<a href=@controllers.examination.routes.Answers.uploadVideo(lessonAnswer.id)> @Messages("uploadVideos")</a>
				</td>
				<td>
					<input style="width:35px" type=text id=@lessonAnswer.id value=@lessonAnswer.code> <button class="btn btn-success save"> @Messages("save")</button>
				</td>
				<td>
					<a href="@controllers.examination.routes.Answers.showByLessonAnswer(lessonAnswer.id)" class="btn btn-info" > @Messages("Answers") </a>
				</td>
				<td>
					<a href="@controllers.examination.routes.LessonAnswers.delete(lessonAnswer.id)" class="btn btn-danger" > @Messages("Delete") </a>
				</td>
			</tr>
		}
	</table>
	
	<!-- Button to trigger modal -->
<a href="#myModal" role="button" class="btn btn-primary" data-toggle="modal"> @Messages("Add.new")</a>
 
<!-- Modal -->
<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">@Messages("New.exam")</h3>
  </div>
  <div class="modal-body">
  
  @helper.form(action = controllers.examination.routes.LessonAnswers.save()) {
  	<input type="text" name="answerKeyId" value="@answerKeyId" style="display:none">
  	<label>@Messages("Lesson")</label>
    <select name="lessonId" required>
    	@for(lesson <- LessonLogic.getAll()){
    		<option value=@lesson.id>
    			@lesson.language @lesson.name
    		</option>
    	}
    </select>
    <label>@Messages("DMR.code")</label>
    <input type=text name=code required>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">@Messages("Cancel")</button>
    <button class="btn btn-primary">@Messages("Save")</button>
  </div>
  }
</div>
	
}
<script type="text/javascript" src='@routes.Application.javascriptRoutes'></script>
<script>
 $(".save").click(function() {
 	id = $(this).prev().attr("id");
 	val = $(this).prev().val();
 	myJsRoutes.controllers.examination.Exams.changeCode(id, val).ajax({});
	alert("Successfully Saved!!!"); 
 }); 
</script>
