@(tip: String, userInfo: String, examInfo: String, language: String,
        rows : TreeMap[String, TreeMap[String, TreeMap[String, controllers.education.Topics.Pair]]],
        res : models.entities.examination.ExamResult)

@import be.objectify.deadbolt.java.views.html._
@import be.objectify.deadbolt.core.utils.TemplateUtils._
@import models.logic.examination._;

    @form(text: String) = @{
        if(text.length()>20)
            text.substring(0, 10)+ "..."+text.substring(text.length()-10,text.length())
        else
            text
    }

@_contentFree(userInfo+" "+examInfo) {
@if(rows.size() > 0) {
    <p>@userInfo, @examInfo</p>
    @if(tip.equals("statistics")){
        <div id="statistics" class="span12 row-fluid">
            <table class="table table-condensed">
                <tr>
                @for(detailed <- res.detailedResults) {
                    <td>
                        <small>@detailed.lesson.name</small>
                        <table class="table table-condensed table-bordered narrow">
                        @for(i <- 1 to detailed.studentAnswers.length()) {
                            <tr>
                                <td class="numbers"><small>@i</small></td>
                                <td class="topic">
                                    <small>@form(DetailedResultLogic.getTopic(detailed, i-1))</small>
                                </td>
                                <td class="numbers alert-success"><small>@DetailedResultLogic.getAnswer(detailed, i-1)</small></td>
                                <td class="numbers
                                    @if(DetailedResultLogic.getAnswer(detailed, i-1)==detailed.studentAnswers.charAt(i-1)){
                                    alert-success
                                }else{
                                    alert-danger
                                }">
                                    <small>@detailed.studentAnswers.charAt(i-1)</small>
                                </td>
                            </tr>
                        }
                        </table>
                    </td>
                }
                </tr>
            </table>
        </div>
    }
    @for(detailed <- res.detailedResults) {
        @if(tip.equals(detailed.lesson.id+"")) {
            <div class="row-fluid span12" id="graph@detailed.lesson.id">
                <div class="example-plot jqplot-target span8" id="chart@detailed.lesson.id" style="height:600px;">
                </div>
                <div class="span3">
                    <ol>
                    @for((k, v) <- rows) {
                        @for((k2, v2) <- v) {
                            @if(k2.equals(detailed.lesson.name)) {
                                @for((k3, v3) <- v2) {
                                    <li>
                                        <small>@form(k3): @{
                                            (v3.b * 100) / v3.a
                                        }% (@v3.b/@v3.a)</small>
                                    </li>
                                }
                            }
                        }
                    }
                    </ol>
                </div>
            </div>
        }
    }
}else {
    @Messages("thereIsNoResult")
}

}
<link rel="stylesheet" type="text/css" href='@routes.Assets.at("jqplot/jquery.jqplot.min.css")' />
<script type="text/javascript" src='@routes.Assets.at("jqplot/jquery.jqplot.min.js")'></script>
<script type="text/javascript" src='@routes.Assets.at("jqplot/jqplot.logAxisRenderer.min.js")'></script>
<script type="text/javascript" src='@routes.Assets.at("jqplot/jqplot.canvasTextRenderer.min.js")'></script>
<script type="text/javascript" src='@routes.Assets.at("jqplot/jqplot.canvasAxisLabelRenderer.min.js")'></script>
<script type="text/javascript" src='@routes.Assets.at("jqplot/jqplot.canvasAxisTickRenderer.min.js")'></script>
<script type="text/javascript" src='@routes.Assets.at("jqplot/jqplot.dateAxisRenderer.min.js")'></script>
<script type="text/javascript" src='@routes.Assets.at("jqplot/jqplot.categoryAxisRenderer.min.js")'></script>
<script type="text/javascript" src='@routes.Assets.at("jqplot/jqplot.barRenderer.min.js")'></script>
<script>
$(document).ready(function(){
var s1,s2;
    @for(detailed <- res.detailedResults) {
        @for((k,v) <-rows) {
            @for((k2, v2) <- v) {
                @if(k2.equals(detailed.lesson.name)) {
                    @if(tip.equals(""+models.logic.education.LessonLogic.findByNameAndLang(k2,language).id)){
                        s1 = [
                        @for((k3, v3) <- v2) {
                            @v3.b,
                        }
                        ];
                        s2 = [
                        @for((k3, v3) <- v2) {
                            @{v3.a-v3.b},
                        }
                        ];
                        plot3 = $.jqplot('chart@models.logic.education.LessonLogic.findByNameAndLang(k2,language).id', [s1, s2], {
                        stackSeries: true,
                        title: '@detailed.lesson.name',
                        seriesDefaults:{
                        renderer:$.jqplot.BarRenderer,
                        rendererOptions: {
                        barMargin: 30
                        },
                        pointLabels: {
                        show: true,
                        }
                        },
                        series: [
                        {label: '@Messages("Corrects")'}, {label: '@Messages("All")'}
                        ],
                        axes: {
                        xaxis: {
                        renderer: $.jqplot.CategoryAxisRenderer
                        },
                        yaxis: {
                        min:0,
                        padMin: 0,
                        tickOptions: {
                        labelPosition: 'middle',
                        formatString:"%'d "
                        },
                        tickInterval: 1
                        }
                        },
                        legend: {
                        show: true,
                        location: 'se',
                        placement: 'inside'
                        }
                        });
                    }
                }
            }
        }
    }
});
</script>