@(lessonAnswer : models.entities.examination.LessonAnswer)

@import be.objectify.deadbolt.java.views.html._
@import be.objectify.deadbolt.core.utils.TemplateUtils._


@_content(Messages("uploadVideo")) {
	<script type="text/javascript" src='@routes.Application.javascriptRoutes'></script>
	<script type="text/javascript" src='@routes.Assets.at("javascripts/upload.js")'></script>
	<link rel="stylesheet" media="screen" href='@routes.Assets.at("stylesheets/upload.css")'/>
    
	<h3> @lessonAnswer.answerKey.variant - @lessonAnswer.lesson.language @lessonAnswer.lesson.name</h3>
	<h4> @Messages("nameOftheFileMustBeNumber") : 1.mp4, 2.mp4 ... @Messages("UseMp4Only")</h4>
	@if(lessonAnswer.answers == null || lessonAnswer.answers.size() == 0) {
		@Messages("firstEnterAnswers")
	} else {
		<input type=button class="get_file" value="@Messages("uploadVideos")" >
    	<input id=@lessonAnswer.id  type="file" name=file class="alternative" accept=".mp4" style="display:none"/>
    }
   	
}

