@(examResults : List[models.entities.examination.ExamResult])

@import be.objectify.deadbolt.java.views.html._
@import be.objectify.deadbolt.core.utils.TemplateUtils._


@import helper.inputText;
@import models.entities.user._;
@import models.entities.social._;
@import helper.twitterBootstrap._

@import models.logic.social._;
@import models.logic.examination._;
@import html5.tags.html._

@import helper.inputPassword;
@import helper.inputRadioGroup;

@maxLength(list:List[models.entities.examination.DetailedResult]) = @{
	var max=0;
	for(cur <- list) {
		if (cur.studentAnswers.length()>max) max=cur.studentAnswers.length();
	}
	max
}

@_content("UserExamResults") {

	<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/examples.css")">
	<script src="@routes.Assets.at("javascripts/jquery.js")" type="text/javascript"></script>
	<script src="@routes.Assets.at("javascripts/jquery.flot.js")" type="text/javascript"></script>
	
	<div class="alert alert-block">
        <h4>@Messages("resultsByLesson")</h4>
        <img src="@routes.Assets.at("images/help.jpg")"/>
    </div>
    
    
	
		@for(cur <- examResults){
			<div align="center" id="exam@cur.id" class="detailedResult" style="display:none">
				<table border=1 class="table table-condensed">
				<thead>
					<th>@Messages("Lesson")</th>

					    @for(i <- 1 to maxLength(models.logic.examination.DetailedResultLogic.getByExamResult(cur))){
						    <th>@i</th>
					    }
					<th>@Messages("Correct")</th>
					<th>@Messages("rankKZ")</th>
					<th>@Messages("rankDostyk")</th>
					<th>@Messages("rankGroup")</th>
				</thead>
				@for(detailed <- cur.detailedResults){ 
					<tr>
						<td rowspan=2>@detailed.lesson.name</td>
						@for(i <- 0 to detailed.studentAnswers.length()-1){
							<td @if(detailed.studentAnswers.charAt(i) == DetailedResultLogic.getAnswer(detailed, i)){style="background-color:green;"}else{style="background-color:red;"}>
							<label title="@DetailedResultLogic.getTopic(detailed, i)">@detailed.studentAnswers.charAt(i)</label>
							</td>	
						}
						@for(i <- detailed.studentAnswers.length()+1 to maxLength(models.logic.examination.DetailedResultLogic.getByExamResult(cur))){
						    <td></td>
					    }
						<td rowspan=2>@detailed.correct</td>
						<td rowspan=2>@detailed.rankKZ </td>
						<td rowspan=2>@detailed.rankDostyk</td>
						<td rowspan=2>@detailed.rankGroup</td>
					</tr>
					<tr>
						@for(s <- DetailedResultLogic.getCorrect(detailed)){
							<td style="background-color:#fea;">@s.charAt(0)</td>	
						}
						@for(i <- detailed.studentAnswers.length()+1 to maxLength(models.logic.examination.DetailedResultLogic.getByExamResult(cur))){
						    <td></td>
					    }
					</tr>
				}
				<tr><td></td><td colspan=@maxLength(models.logic.examination.DetailedResultLogic.getByExamResult(cur))><center>@Messages("Total")</center></td><td>@cur.total</td><td>@cur.rankKZ</td> <td>@cur.rankDostyk</td> <td>@cur.rankGroup</td></tr>
				</table>
			</div>
		}
	
<div class="demo-container">
			<div id="placeholder" class="demo-placeholder" style="padding: 0px; position: relative;">
			<canvas class="flot-base" style="direction: ltr; position: absolute; left: 0px; top: 0px; width: 518px; height: 413px;" width="518" height="413"></canvas>
			<div class="flot-text" style="position: absolute; top: 0px; left: 0px; bottom: 0px; right: 0px; font-size: smaller; color: rgb(84, 84, 84);">
			<div class="flot-x-axis flot-x1-axis xAxis x1Axis" style="position: absolute; top: 0px; left: 0px; bottom: 0px; right: 0px; display: block;">
			
		</div>

	</div>	
		<input style="display:none" id="enableTooltip" type="checkbox" checked>
		
}


<script type="text/javascript" src='@routes.Application.javascriptRoutes'></script>

<script type="text/javascript">

	$(function() {
		var	data = new Array(), arr = [];
		j=0;
		  
		@for(cur <- examResults){
			j++; 
			arr.push([j, @cur.total, @cur.id]);  
		}
 
var datas = [
    {label: "student", data: arr}  
];

var markings = [
    { color: '#f33', lineWidth: 1, yaxis: { from: 2600 } },
    { color: '#f77', lineWidth: 1, yaxis: { from: 2200, to: 2599 } },
    { color: '#ffbb55', lineWidth: 1, yaxis: { from: 2050, to: 2199 } },
    { color: '#ffcc88', lineWidth: 1, yaxis: { from: 1900, to: 2049 } },
    { color: '#f8f', lineWidth: 0, yaxis: { from: 125, to: 1899 } },
    { color: '#aaf', lineWidth: 0, yaxis: { from: 100, to: 125 } },
    { color: '#7f7', lineWidth: 1, yaxis: { from: 75, to: 100 } },
    { color: '#afa', lineWidth: 1, yaxis: { from: 50, to: 75 } },
    { color: '#ccc', lineWidth: 1, yaxis: { from: 0, to: 50 } },
];

var options = {
    lines: { show: true },
    points: { show: true, radius: 7 },
    //xaxis: { tickDecimals: 1, tickSize: 1 },
    xaxis: { min: 0, max:10},
    yaxis: { min: 0, max: 150, ticks: [25, 50, 75, 100, 125] },
    grid: { hoverable: true, markings: markings }
};

var plot = $.plot($("#placeholder"), datas, options);

function showTooltip(x, y, contents) {
    $('<div id="tooltip">' + contents + '</div>').css( {
        position: 'absolute',
        display: 'none',
        top: y - 20,
        left: x + 10,
        border: '1px solid #fdd',
        padding: '2px',
        'font-size' : '11px',
        'background-color': '#fee',
        opacity: 0.80
    }).appendTo("body").fadeIn(200);
}

var ctx = plot.getCanvas().getContext("2d");

var prev = -1;
$("#placeholder").bind("plothover", function (event, pos, item) {
    if (item) {
        if (prev != item.dataIndex) {
            $("#tooltip").remove();
            var params = arr[item.dataIndex];
			
            var total = params[1];
            var id = params[2];
             
            var html = "= " + total + " <a href=# class=showOne examId=" + id +">" + '@Messages("detailed")' + "</a>";
            showTooltip(item.pageX, item.pageY, html);
            setTimeout(function() {
                $("#tooltip").fadeOut(200);
                prev = -1;
            }, 4000);
            prev = item.dataIndex;
        }
    }
});

});

function show(id) {   	 
	$(".detailedResult").each(function(){
		$(this).hide(); 
	});   
	$("#exam"+id).show();
}
 
$(document).on("click", ".showOne", function(){
	id = $(this).attr("examId");
	show(id);  
});

	</script>