@()

@import be.objectify.deadbolt.java.views.html._
@import be.objectify.deadbolt.core.utils.TemplateUtils._


@import helper.inputText;
@import models.entities.user._;
@import models.entities.examination._;
@import helper.twitterBootstrap._

@import models.logic.education._;
@import models.logic.examination._;
@import html5.tags.html._

@import helper.inputPassword;
@import helper.inputRadioGroup;



@_content("Video") {
	<div>
	@Messages("examination")
	<select name=exam id="exam">
		<option value> @Messages("select") </option>
		@for(exam <- ExamLogic.getAll) {
			<option value=@exam.id>
				@exam.name
			</option>
		}
	</select>
	@Messages("Variant")
	<select name=variant id="variant">
		<option value> @Messages("select") </option>
	</select>
	@Messages("lesson")
	<select name=lesson id="lesson">
		<option value> @Messages("select") </option>
		@for((lesson,i) <- (LessonLogic.getAll).zipWithIndex) {
			<option value=@lesson.id class="@lesson.language lesson">
				@lesson.language @lesson.name
			</option>
		}
	</select>
	<button id="send" class="btn btn-primary"> @Messages("send") </button>
	</div>
	<div id="video">
	</div>
}
<script type="text/javascript" src='@routes.Application.javascriptRoutes'></script>
<script>
	$(document).on("click", ".question", function(){
		//console.log("technovision","question clicked");
		var path = $(this).attr("videoSrc");
		//console.log("technovision","source: "+path);
		$("#video li").removeClass('active');
		$(this).parent().addClass('active');
		$("#videoPlayer_html5_api").empty();
		$("#videoPlayer_html5_api").attr("src", path);
		$("#videoPlayer_html5_api").children().eq(0).remove(); 
		$("#videoPlayer_html5_api").prepend("<source src='"+path+"' type='video/mp4' />");
		$('.video-js')[0].player.play();
	}); 
	
	$("#exam").change(function(){
		exam = $("#exam").val();
		$("#variant").empty().append("<option value> @Messages("select") </option>");
		myJsRoutes.controllers.examination.AnswerKeys.options(exam).ajax({         
	         success : function(data) {
	         	$("#variant").append(data);
	         },
	         error : function(jqXHR, textStatus, errorThrown) {
	            alert("error");
	         }
	    });
	});
	
	$("#variant").change(function(){
		lang = $("#variant option:selected").attr('lang');
		$("#lesson option:selected").removeAttr('selected');
		$(".lesson").hide();
		$("."+lang).show(); 
	}); 
	
	$("#send").click(function(){
		exam = $("#exam").val();
		variant = $("#variant").val();
		lesson = $("#lesson").val();
		if (exam == "" || variant == "" || lesson=="") {
			alert("@Messages("select please")");
			return;
		}
		myJsRoutes.controllers.examination.LessonAnswers.getVideo(exam,variant,lesson).ajax({         
         success : function(data) {
         	$("#video").html(data);
         },
         error : function(jqXHR, textStatus, errorThrown) {
            alert("error");
         },
         complete: function(data) {
        	 $(document).ready(function(){
        		 $("#q0").trigger("click"); 
        	 }); 
         }
     	});
	});
	//$(document).ready(function(){ document.oncontextmenu = function() {return false;}; }); 	
</script>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-58473011-1', 'auto');
  ga('send', 'pageview');

</script>



