@(user : models.entities.user.AuthorisedUser, role : String, id : Long, lang : String)

@import helper.twitterBootstrap._

@import views.html.helps._
@import be.objectify.deadbolt.java.views.html._
@import be.objectify.deadbolt.core.utils.TemplateUtils._
@import models.logic.social._

@restrict(la(as("moderator"), as("admin"))) {
@_content(Messages("billForm")){

@tabMenu(user, role, id, "BILL")

@if(models.logic.accounting.PaymentLogic.checkPayment(user)==false){
<ul class="nav nav-tabs" id="myTab2">
    <li><a href="#prostoy" data-toggle="tab">@Messages("Usual")</a></li>
    <li><a href="#mekeme" data-toggle="tab">@Messages("Mekeme")</a></li>
</ul>

<div class="tab-content">

@if(flash.containsKey("success")){
<div class="alert alert-success">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    @Messages("Saved.Successfully")
</div>
}

    <div class="tab-pane fade" id=prostoy >
        <div style="display:none" id=result_div></div>
        <div style="display:none" id=confirmation>
        @sure(Messages("areYouSure"))
        </div>
        <div style="display:none" id="dialog_div">
        @dialog("MESSAGE")
        </div>
        <div id="print_div">
            <input type="hidden" id="synyp" value='@user.profile.course.classNumber'/>
            <form id="bill_form">
                <input type="hidden" name="weeks" id="weeks" value="0"/>
                <div class="row-fluid">
                    <div class="span6">
                        <table style="width: 1000px">
                            <tr id="title1" style="display: none">
                                <td colspan="2" style="text-align: right; height: 100px"><div id="prilojenie"></div></td>
                            </tr>
                            <tr id="title2" style="display: none">
                                <td colspan="2" style="text-align: center; height: 100px"><div id="formTitle">ТӨЛЕМ ФОРМАСЫ / ФОРМА ОПЛАТЫ</div><br><br></td>
                            </tr>
                            <tr>
                                <td>
                                    <p>@Messages("fullname")</p>
                                </td>
                                <td>
                                    <p>@user.profile.firstName @user.profile.lastName</p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p>@Messages("hoursPerWeek")</p>
                                </td>
                                <td>
                                    <input type="hidden" name="hoursPerWeek" value="@models.logic.education.LessonHoursLogic.getHoursByStudent(user.dostyks.get(0), user.profile.lessons)"/>
                                    @if(models.logic.education.LessonHoursLogic.getHoursByStudent(user.dostyks.get(0), user.profile.lessons)<=0){
                                        <p class="help-inline">@Messages("hoursPerWeek.error")</p>
                                    }else{
                                        <p id="hoursPerWeek">@models.logic.education.LessonHoursLogic.getHoursByStudent(user.dostyks.get(0), user.profile.lessons)</p>
                                    }
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p>Бір академиялық сағат /<br> Один академический час: </p>
                                </td>
                                <td>
                                    ________ минут
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p>@Messages("pricePerWeek")</p>
                                </td>
                                <td>
                                    <input type="hidden" name="pricePerWeek" value="@models.logic.education.LessonHoursLogic.getPricePerWeekForStudent(user)"/>
                                    @if(models.logic.education.LessonHoursLogic.getPricePerWeekForStudent(user)<=0){
                                        <p class="help-inline">@Messages("pricePerWeek.error")</p>
                                    }else{
                                        <p id="pricePerWeek">@models.logic.education.LessonHoursLogic.getPricePerWeekForStudent(user)</p>
                                    }
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p>@Messages("startDate")</p>
                                </td>
                                <td>
                                    <input id="startDate" name="startDate" type="date"/>
                                    <p id="startDatePrint"></p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p>@Messages("endDate")</p>
                                </td>
                                <td>
                                    <input id="endDate" name="endDate" type="date"/>
                                    <p id="endDatePrint"></p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p>@Messages("Lessons")</p>
                                </td>
                                <td>
                                    <p>
                                    @for(lesson<-user.profile.lessons){
                                        @lesson.name,
                                    }
                                    </p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p>@Messages("materialCost")</p>
                                </td>
                                <td>
                                    <input id="material_cost" name="material_cost" type="number" min="0" value="1000"/>
                                    <p id="material_cost_print"></p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p>@Messages("discounts")</p>
                                </td>
                                <td>
                                    <select id="discount" name="discount">
                                    @for(discount <- models.logic.accounting.DiscountValueLogic.getAllByDostykByValue(user.dostyks.get(0))){
                                        @if(discount.dmax.nameKz!="Bonus"){
                                            <option value='@discount.id'>
                                            @if(lang.equals("kk")) {
                                                @discount.dmax.nameKz: @discount.value
                                            }else{
                                                @discount.dmax.nameRu: @discount.value
                                            }
                                            </option>
                                        }
                                    }
                                    </select>
                                    <p id="discount_print"></p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <a id="calc" class="btn" onClick="calc()">@Messages("calculate")</a>
                                </td>
                                <td>
                                    <a id="print" class="btn btn-primary" onClick="printDiv('print_div')"><i class="icon-print icon-white"></i></a>

                                </td>
                            </tr>
                            <tr>
                                <td id="bill_form_div">

                                </td>
                            </tr>

                            <iframe name=print_frame width=0 height=0 frameborder=0 src=about:blank></iframe>
                            <tr>
                                <td>
                                    <p>@Messages("comments"): </p>
                                </td>
                                <td>
                                    <input id="comments" name="comments" type="text" value='@Messages("noComments")' />
                                    <p id="comments_print"></p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p style="color:#BD0404;font-weight:bold;">*@Messages("agreement.no"): </p>
                                </td>
                                <td>
                                    <input id="contract" name="contract" type="text" placeholder="@Messages("agreement.no")" />
                                    <p id="contract_print"></p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p style="color:#BD0404;font-weight:bold;">*@Messages("agreement.date"): </p>
                                </td>
                                <td>
                                    <input id="contract_date" name="beginDate" type="date" placeholder="@Messages("agreement.date")" />
                                    <p id="contract_date_print"></p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <button type="button" disabled id="send_button" onClick='areYouSure()' class="btn btn-primary">@Messages("send")</button>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="span6">
                        <div class="accordion row-fluid" id="accordion2">
                            <div class="accordion-group span12">
                                <div class="accordion-heading">
                                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
                                    @Messages("moreOptions")
                                    </a>
                                </div>
                                <div id="collapseOne" class="accordion-body collapse in">
                                    <div class="accordion-inner">
                                        <div class="row-fluid">
                                            <div class="span6">
                                                <p>@Messages("bonusPeriods")</p>
                                            </div>
                                            <div class="span6">
                                                <input id="bonus_periods" type="number" min="0" value="4"/>
                                            </div>
                                        </div>
                                        <div class="row-fluid">
                                            <div class="span6">
                                                <p>@Messages("dontIncludeLastMonth")</p>
                                            </div>
                                            <div class="span6">
                                                <input id="last_month" type="checkbox" checked="checked"/>
                                            </div>
                                        </div>
                                        <div class="row-fluid">
                                            <div class="span6">
                                                <p>@Messages("considerHolidays")</p>
                                            </div>
                                            <div class="span6">
                                                <input id="holidays" type="checkbox" checked="checked"/>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <button id="dealer" class="btn btn-default" style="display:none;">
            @Messages("PrintDeal")
            </button>
            <div id="totalPrice"></div>
            <table style="width: 1000px; text-align: center; margin-top: 250px; display: none" id="extraInfo">
                <tr style="font-size: 18px; font-weight: bold; border: 1px solid black">
                    <td>« @user.firm.getName »</td><td style="padding-left: 50px">Тапсырыс беруші / Заказчик</td>
                </tr>
                <tr style="border: 1px solid black">
                    <td><div style=" border-bottom: 1px solid black; margin-left: 50px; margin-right: 50px">&nbsp</div></td><td><div style=" border-bottom: 1px solid black;  margin-left: 50px; margin-right: 30px">@user.parents.get(0).lastName @user.parents.get(0).firstName</div></td>
                </tr>
                <tr>
                    <td>уәкілетті тұлғаның қолы / подпись уполномоченного лица</td><td style="padding-left: 50px;">Аты-жөні, қолы / Ф.И.О. подпись</td>
                </tr>
                <tr><td colspan="2" style="height: 20px; "></td></tr>
                <tr><td colspan="2" style="text-align: left; color: grey; font-size: 16px; margin-left: 50px">
                    Осы беттегі мәтінмен таныстым және келісемін. / Подтверждаю, что с текстом на данной странице ознакомлен и согласен с ним.<br>
                    <Аты-жөні><Фамилия И.О.> _______________________   (күні, айы, жылы / дд.мм.гг)<br>
                        Қолы/подпись

                </td>
                </tr>
            </table>
        </div>
    </div>

    <div class="tab-pane" id=mekeme>
    @helper.form(action = controllers.accounting.routes.BillForms.saveMekeme) {
        <input type=text value=@user.id style="display:none" name=userId>
        <label>@Messages("Group")</label>
        <select name=group id="mekemeSelected" value="" required>
            <option value="none">@Messages("Select.group")</option>
            @for(mekeme <- DostykGroupLogic.getMekeme(user.dostyks.get(0))){
                <option value=@mekeme.id>
                @mekeme.name
                </option>
            }
        </select>
        @for(mekeme <- DostykGroupLogic.getMekeme(user.dostyks.get(0))){
            <table id=mekeme@mekeme.id class="table table-condensed mekemeGroup" style="display:none">
                <thead>
                    <th>@Messages("startDate")</th>
                    <th>@Messages("endDate")</th>
                    <th>@Messages("paymentPerStudent")</th>
                </thead>
                <td><input type="date" name="start_date" id="start_date"/></td>
                <td><input type="date" name="end_date" id="end_date"/></td>
                <td><input type="number" min="0" name="payment_per_student" id="payment_per_student"></td>
            </table>
        }
        <br>
        <input type=submit class="btn btn-primary" value="@Messages("send")">
        }
    </div>


</div>

}else{
<div class="row-fluid">
    <div class="span12">
        <div class='alert alert-success'>
            <a class="close" data-dismiss="alert">×</a>
            <p>@Messages("thisUserAlreadyHasHisPayment")</p>
        </div>
    </div>
</div>
}

}
}
@subjectNotPresent(){
@_content(Messages("paymentList")){
<div class="row-fluid">
    <div class="span12">
        <div class='alert alert-warning'>
            <p>@Messages("thisPageIsRestrictedForYou")</p>
        </div>
    </div>
</div>
}
}
<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
@restrict(la(as("moderator"), as("admin"))) {
<script type="text/javascript" src='@routes.Application.javascriptRoutes'></script>
<script type="text/javascript">
    var periodSelected = false;

$('#contract').on('input',function(e){
    
    console.log("blur:"+$(this).val())
    if( $(this).val() ) {
		console.log("mda")
		$("#send_button").prop("disabled", false);
        $("#dealer").show();
	}else{
		$("#send_button").prop("disabled", true);
        $("#dealer").hide();
	}
});
$(document).on('click','#dealer',function(){
    var sid = @user.id;
    var no = $("#contract").val();
    var date = $("#contract_date").val();
    console.log("sid: "+sid);
    console.log("no: "+no);
    console.log("date: "+date);
    var url = '/print/deal/'+no+'/'+date+'/'+sid+'';
    var win = window.open(url, '_blank');
    if (win) {
        //Browser has allowed it to be opened
        win.focus();
    } else {
        //Browser has blocked it
        alert('Please allow popups');
    }
});

/*
$('#contract').blur(function() {
	console.log("blur:"+$(this).val())
	if( $(this).val() ) {
		console.log("mda")
		$("#send_button").prop("disabled", false);
	}else{
		$("#send_button").prop("disabled", true);
	}
});
*/

function printDiv(divId) {
var startDate    = moment(new Date($("#startDate").val())).format('DD/MM/YYYY');
var endDate      = moment(new Date($("#endDate").val())).format('DD/MM/YYYY');
var material_cost = $("#material_cost").val();
var discount = $("#discount option:selected").html();

var comments = $("#comments").val();
var contract = $("#contract").val();
var contract_date = moment(new Date($("#contract_date").val())).format('DD/MM/YYYY'); 


$("#startDatePrint").html(startDate+"");
$("#endDatePrint").html(endDate+"");
$("#material_cost_print").html(material_cost+"");
$("#discount_print").html(discount+"");
$("#comments_print").html(comments+"");
$("#contract_print").html(contract+"");
$("#contract_date_print").html(contract_date+"");

var date = new Date($("#contract_date").val());
var day = date.getDate();
var month = date.getMonth();
var year = date.getFullYear();

var monthString = ["Январь",
                     "Февраль",
                     "Март",
                     "Апрель",
                     "Май",
                     "Июнь",
                     "Июль",
                     "Август",
                     "Сентябрь","Октябрь","Ноябрь","Декабрь"] 



$("#prilojenie").html('<br><br><br><br>№ '+'<span style="border-bottom: 1px solid black">'+contract+'</span> « <span style="border-bottom: 1px solid black">'+day+'</span>'+'» '+
        '<span style="border-bottom: 1px solid black">'+monthString[month]+'</span> '+year+'ж.<br>Келісім-шартқа №1 Қосымша /<br>Приложение № 1 к Договору<br>'+
        '№ '+'<span style="border-bottom: 1px solid black">'+contract+'</span> от « <span style="border-bottom: 1px solid black">'+day+'</span>'+'» '+
        '<span style="border-bottom: 1px solid black">'+monthString[month]+'</span> '+year+'г.');
$("#formTitle").show();
$("#startDate").hide();
$("#endDate").hide();
$("#material_cost").hide();
$("#discount").hide();
$("#comments").hide();
$("#contract").hide();
$("#contract_date").hide();
$('#send_button').hide();
$('#dealer').hide();

$('#title1').show();
$('#title2').show();
if(periodSelected) {
      $('#calculatedTbale').hide();
      $('#extraInfo').show();
}

var printDivCSS = new String ('<link rel="stylesheet" media="print" href="@routes.Assets.at("bootstrap/css/bootstrap.css")" />');

window.frames["print_frame"].document.head.innerHTML = printDivCSS;
window.frames["print_frame"].document.body.innerHTML = printDivCSS + document.getElementById(divId).innerHTML;
window.frames["print_frame"].window.focus();
window.frames["print_frame"].window.print();
    $('#calculatedTbale').show();
    $('#dealer').show();
    $('#send_button').show();
    $('#extraInfo').hide();
    $('#title1').hide();
    $('#title2').hide();

}
$("#mekemeSelected").on('change', function(){
val = $("#mekemeSelected").val();
$(".mekemeGroup").each(function(){
$(this).hide();
});

if (val != "none") {
$("#mekeme"+val).slideDown();
}
});

$(function () {
$('#myTab2 a:first').tab('show');
})

$(document).ready(function(){
$(".collapse").collapse("hide");
$("#period").hide();
$("#send_button").hide();
$("#print").hide();
var synyp = $("#synyp").val()*1;
var now = new Date();
var day = ("0" + now.getDate()).slice(-2);
var month = ("0" + (now.getMonth() + 1)).slice(-2);
if(month>6){
var thisYear = parseInt(now.getFullYear());
}
else{
var thisYear = parseInt(now.getFullYear())-1;
}
var nextYear = thisYear+1;
var today = thisYear+"-09-09" ;
if(synyp==6){
var after = nextYear+"-04-20" ;
}
else{
var after = nextYear+"-05-31" ;
}
$('#startDate').val(today);
$('#endDate').val(after);
$('#contract_date').val(moment().format('YYYY-MM-DD'));
});
function calc(){

    periodSelected = false;
    console.log("kirdi");
$("#print").show();
$('#accordion2').hide();
$("#bill_form_div").empty();
var hoursPerWeek = $("#hoursPerWeek").text();
var pricePerWeek = $("#pricePerWeek").text();
var startDate    = $("#startDate").val();
var endDate      = $("#endDate").val();

var synyp        = $("#synyp").val()*1;
var startDate = startDate.split("-");
var date = startDate[2]*1;
var month= startDate[1]-1;
var year = startDate[0]*1;
var start = new Date(year,month,date);
var endDate = endDate.split("-");
var date = endDate[2]*1;
var month= endDate[1]-1;
var year = endDate[0]*1;
var end = new Date(year,month,date);
var today = new Date();
var year = ""+today.getFullYear();

today.setFullYear(year.substr(2,4));
if(end<today){
$("#dialog_title").html("@Messages("warning")");
$("#dialog_status").attr("class", "alert alert-warning");
$("#dialog_message").html("@Messages("endDateMustBeAfterToday"):\n@Messages("endDate"): "+end+"\n@Messages("today"): "+today);
$("#dialog_div").show();
$('#dialog').modal("show");
$("#send_button").hide();
return;
}
var weeks =0;
if(end>start)
weeks = weeks_between(start,end);
else{
$("#dialog_title").html("@Messages("warning")");
$("#dialog_status").attr("class", "alert alert-warning");
$("#dialog_message").html("@Messages("youSetDatesIncorrectly"):\n@Messages("startDate"): "+start+"\n@Messages("endDate")"+end);
$("#dialog_div").show();
$('#dialog').modal("show");
}
var locale = $("#language").val();
$("#totalPrice").html("");
$("#totalPrice").append("<div>@Messages("weeks") = "+weeks+"</div>");
$("#weeks").val(weeks);
var tarih_book = $("#tarih_book").text();
var kaz_book = $("#kaz_book").text();
var test = $("#test").text();
var paper_test = $("#paper_test").text();
var materials = $("#material_cost").val();
$("#totalPrice").append("<div>@Messages("materialCost") = "+materials+" тг.</div>");
var totalPrice = weeks*pricePerWeek;
var discount = $("#discount option:selected").html();
var discount = discount.split(": ");
var discount = discount[1];
$("#totalPrice").append("<div>@Messages("totalPrice") = "+totalPrice+" тг.</div>");
$("#totalPrice").append("<div>@Messages("discount") = "+ discount   )+"%</div>";
$("#totalPrice").append("<div>@Messages("discountedTotal") = "+totalPrice*(1-(discount/100))+" тг.</div>");
totalPrice = weeks*pricePerWeek*(1-(discount/100));
var cashForPayment;
periodOfPayment=monthDiff(start,end);
periodOfPayment++;
    console.log("periods 1: "+periodOfPayment);
if(periodOfPayment>2&&start.getDate()>=19)
    periodOfPayment-=1;
/**/
if($('#last_month').is(':checked')&&periodOfPayment>1)
	periodOfPayment--;
    console.log("periods 2: "+periodOfPayment);
var discount = [];
var x = @models.logic.accounting.DiscountValueLogic.getBonusByDostyk(user.dostyks.get(0)).value;
var p = $("#bonus_periods").val();
if(weeks >= 28){
for(var i=0;i<p;i++){
discount[i] = x * ((p-i)/p);
}
}
else if(weeks <= 27 && weeks >= 20){
for(var i=0;i<p-1;i++){
discount[i] = x * ((p-i)/p);
}
}
var date = new Date();
$("#totalPrice").append("<table border='1' id='calculatedTbale'><tr id='periodOfPayment'>");
    //console.log("periodOfPayment: "+periodOfPayment);
    for($i=periodOfPayment;$i>0;$i--){
    $("#periodOfPayment").append("<td id='period_"+$i+"'  class='period_td' style='padding:0px;vertical-align: top;'>"+
        '<div onClick="hide_periods(\'period_'+$i+'\')" class="period_div row-fluid">'+
            "<input type='hidden' name='periods'  value="+$i+" />"+
            '<div class="span11" style="background:#dce9f9;text-size:10px;text-align:center;padding-top:1px"><a class="text-center" onClick="hide_periods(\'period_'+$i+'\')"><b>@Messages("period"):'+$i+'</b></a></div>'+
            "<ol style='vertical-align:top' id='periodOfPayment_"+$i+"'>");
                if( typeof(discount[$i-1])!='undefined'){
                var discount_coef = 1-(discount[$i-1]/100);
                var discount_price = totalPrice*(discount_coef);
                $("#periodOfPayment_"+$i).append("<input type='hidden' name='discount_bonus'  value="+discount[$i-1]+" />");
                $("#periodOfPayment_"+$i).append("<div>@Messages("discount") = "+discount[$i-1]+"%</div>");
                cashForPayment = (discount_price/$i-(discount_price/$i)%10);
                }else{
                    cashForPayment = totalPrice/$i-(totalPrice/$i)%10;
                }
                var totalCashForPayment = 0;

                for($j=0;$j<$i;$j++){
                var     periods_payment_price;
                periods_payment_price = cashForPayment;
                var m;
                if($j==0) {
                periods_payment_price = parseInt(cashForPayment)+parseInt(materials);
                date.setMonth(startDate[1]-1,startDate[2]);
                date.setFullYear(2000+(1*startDate[0])%100);
                if(start.getDate()>19){
                date = new Date(new Date(date).setMonth(date.getMonth()+1));
                }
                m = (date.getMonth()+1);
                }
                mmm=""+m;
                if(mmm.length==1)
                mmm = "0"+mmm;
                var string_date = "01"+"/"+mmm+"/"+date.getFullYear();
                m+=parseInt(periodOfPayment/$i);
                if(m>12){
                m=1
                date.setFullYear(date.getFullYear()+1);
                }
                $("#periodOfPayment_"+$i).append("<input type='hidden' name='date"+$j+"' value='"+string_date+"' />");
                $("#periodOfPayment_"+$i).append("<input type='hidden' name='price"+$j+"' value='"+periods_payment_price+"' />");
                $("#periodOfPayment_"+$i).append("<div><li>"+string_date+": "+periods_payment_price+"тг</li></div>");
                totalCashForPayment+=parseInt (periods_payment_price);

                }
                $("#periodOfPayment_"+$i).append("<input type='hidden' name='totalCashForPayment' value='"+totalCashForPayment+"' />");
                $("#periodOfPayment_"+$i).append('<div>@Messages("perPeriod"): '+cashForPayment+'тг</div>'+'<div>@Messages("total"): '+totalCashForPayment+'тг</div>');
                }
                }






                function days_between(date1, date2) {
                if($("#drop_type option:selected").val()=="drop")
                return true;
                else{
                $("#dialog_title").html("@Messages("warning")");
                $("#dialog_status").attr("class", "alert alert-warning");
                $("#dialog_message").html("@Messages("itsNotTimeYet")");
                $("#dialog_div").show();
                $('#dialog').modal("show");
                }
                var ONE_DAY = 1000 * 60 * 60 * 24
                var date1_ms = date1.getTime()
                var date2_ms = date2.getTime()
                var difference_ms = date2_ms - date1_ms
                var difference_day = Math.round(difference_ms/ONE_DAY);
                if(difference_day>=(-30)&&difference_day <=15)
                return true;
                else
                return false;
                }

                function hide_periods(period){
                //$('#submit_form').removeAttr('disabled');
                periodSelected = true;

                $("#send_button").show();
                $("#bill_form_div > td").appendTo("#periodOfPayment");
                $("#"+period).appendTo("#bill_form_div");
                }
                function monthDiff(d1, d2) {
                    var months;
                    months = (d2.getFullYear() - d1.getFullYear()) * 12;
                    console.log("after year dif: "+months);
                    months -= d1.getMonth() + 1;
                    console.log("after first date: "+months);
                    months += d2.getMonth() + 1;
                    console.log("after second date: "+months);
                    return months <= 0 ? 0 : (months);
                }
                function monthsBetween(date1, date2) {
                var date1_ms = date1.getTime();
                var date2_ms = date2.getTime();
                var AVERAGE_MILLIS_PER_MONTH = 365.24 * 24 * 60 * 60 * 1000 / 12;
                return (date2_ms - date1_ms) / AVERAGE_MILLIS_PER_MONTH;
                }

                function weeks_between(d1, d2) {

                    var ONE_WEEK = 1000 * 60 * 60 * 24 * 7;
                    var date1 = getMonday(d1);
                    var date2 = getMonday(d2);
                    var date1_ms = date1.getTime();
                    var date2_ms = date2.getTime();
                    var difference_ms = Math.abs(date1_ms - date2_ms);
                    var weeks = difference_ms / ONE_WEEK;
                    var isWeek = Math.round((weeks - Math.floor(weeks))*100);
                    if(isWeek>85){
                        weeks = Math.ceil(weeks);
                    }
                    else{
                        weeks = Math.floor(weeks);
                    }

                    var HOLIDAYS = 0;
                    var thisYear = date1.getFullYear();
                    var nextYear = date1.getFullYear();
                    if(date1.getFullYear()<date2.getFullYear())
                        nextYear = date2.getFullYear();

                    @for(holiday <- models.entities.accounting.Holiday.find.findList()){

                        var day = @holiday.startDate.format("dd");
                        var month= @holiday.startDate.format("MM")-1;
                        var year = @holiday.startDate.format("yyyy");
                        var start = new Date(year,month,day);
                        day = @holiday.endDate.format("dd");
                        month= @holiday.endDate.format("MM")-1;
                        year = @holiday.endDate.format("yyyy");
                        var end = new Date(year,month,day);

                        var start_ms = start.getTime();
                        var end_ms = end.getTime();
                        difference_ms = Math.abs(start_ms - end_ms);
                        var holiday_weeks = Math.floor(difference_ms / ONE_WEEK);

                        if(date1 < start && start < date2){
                            HOLIDAYS = HOLIDAYS + holiday_weeks;
                        }



                    }

                    /*var newyear = new Date();
                    newyear.setDate(1)
                    newyear.setMonth(0);
                    newyear.setFullYear(nextYear);
                    if(newyear>date1&&newyear<date2){
                        HOLIDAYS++;
                    }
                    var nauryz = new Date();
                    nauryz.setDate(22)
                    nauryz.setMonth(2);
                    nauryz.setFullYear(nextYear);
                    if(nauryz>date1&&nauryz<date2){
                        HOLIDAYS++;
                    }
                    var november = new Date();
                    november.setDate(01)
                    november.setMonth(10);
                    november.setFullYear(thisYear);
                    if(november>date1&&november<date2){
                        HOLIDAYS++;
                    }
                    */

                    if($('#holidays').is(':checked')){
                        weeks = weeks-HOLIDAYS;
                    }

                    return weeks;
                }

                function getMonday(d) {
                    d = new Date(d);
                    var day = d.getDay(),
                    diff = d.getDate() - day + (day == 0 ? -6:1); // adjust when day is sunday
                    return new Date(d.setDate(diff));
                }
                
                $("#sureButton").click(function(){
                //value = this.id;
                $("#send_button").hide();
                $("#send_button").html("<img src='@routes.Assets.at("images/loaderAJAX.gif")'/>");
                myJsRoutes.controllers.accounting.BillForms.saveBillForm(@id).ajax({
                data : $("#bill_form").serialize(),
                success : function(data) {

                $("#result_div").hide();
                $("#send_button").hide();
                window.location.href="@controllers.accounting.routes.Payments.showPaymentList(id)";
                //$("."+value).hide();
                },
                error : function(jqXHR, textStatus, errorThrown) {
                //$("#"+value).attr("disabled", false);
                //$("#"+value).html("<i class='icon icon-remove'></i>");
                $("#bill_form").prepend(''+jqXHR.responseText);
                $('#message').modal("show");
                },
                method: 'POST'
                });
                });
                function areYouSure(){
                $("#confirmation").show();
                $('#sure').modal("show");
                }
</script>
}