@(user : models.entities.user.AuthorisedUser, userForm : Form[models.entities.user.AuthorisedUser], role : String, id : Long)

@import helper.twitterBootstrap._

@import be.objectify.deadbolt.java.views.html._
@import be.objectify.deadbolt.core.utils.TemplateUtils._
@import html5.tags.html._

@_content(Messages("editPassword")){




    @tabMenu(user, role, id, "PASSWORD")
@if(flash.containsKey("success")) {
<div class="alert alert-success">
    <button type="button" class="close" data-dismiss="alert">x</button>
    <strong>Done!</strong>@flash.get("success")
</div>
}
@if(flash.containsKey("error")) {
<div class="alert alert-error">
    <button type="button" class="close" data-dismiss="alert">x</button>
    <strong>Oh!</strong>@flash.get("error")
</div>
}
@helper.form(action = controllers.user.routes.AuthorisedUsers.changePassword(id)) {
@if(id == -1L) {
@password( 
userForm("oldPassword"),
'_label -> Messages("password.old"),
'_help ->  ""
)
}

@password(
userForm("newPassword"),
'_label -> Messages("password.new"),
'_help ->  ""
)

@password(
userForm("repeatPassword"),
'_label -> Messages("password.confirm"),
'_error -> userForm.error("password")
)
<div class="actions">
    <input type="submit" class="btn primary" value="@Messages("Change")" >
</div>
}
}
