@(user : models.entities.user.AuthorisedUser, userForm : Form[models.entities.user.AuthorisedUser], role : String, id : Long)

@import helper.twitterBootstrap._

@import be.objectify.deadbolt.java.views.html._
@import be.objectify.deadbolt.core.utils.TemplateUtils._
@import html5.tags.html._

@_content(Messages("editEmail")){


    @tabMenu(user, role, id, "EMAIL")
@if(flash.containsKey("success")) {
<div class="alert alert-success">
    <button type="button" class="close" data-dismiss="alert">x</button>
    <strong>Done!</strong>@flash.get("success")
</div>
}
@if(flash.containsKey("error")) {
<div class="alert alert-error">
    <button type="button" class="close" data-dismiss="alert">x</button>
    <strong>Oh!</strong>@flash.get("error")
</div>
}
@helper.form(action = controllers.user.routes.AuthorisedUsers.changeMail(id)) {
@text(userForm("email"),
'_label -> Messages("email"),
'_help -> "")
<div class="actions">
    <input type="submit" class="btn primary" value="@Messages("Change")" >
</div>
}
}
