@(user: models.entities.user.AuthorisedUser, payment: models.entities.accounting.Payment, periods: List[models.entities.accounting.PaymentPeriod], receipts: List[models.entities.accounting.PaymentReceipt], role: String, today: String)

@import helper.twitterBootstrap._
@import java.util.Date;
@import views.html.helps._
@import be.objectify.deadbolt.java.views.html._
@import be.objectify.deadbolt.core.utils.TemplateUtils._
@import models.logic.social._;
@import models.logic.education._;
@subjectPresent() {
    @_content(Messages("paymentList")) {

        @tabMenu(user, role, user.id, "PAYMENTS")
        <div class="span12">
            <div style="display: none" id=result_div></div>
            <div style="display: none" id=confirmation>
            @sure(Messages("areYouSure"))
            </div>
            <div style="display: none" id="dialog_div">
            @dialog("MESSAGE")
            </div>
            @restrict(la(as("admin"))) {
                <div class="row-fluid">
                    <div class="span12">
                        <form method="POST" action="@controllers.accounting.routes.Payments.undoPaymentList()">
                            <input type="hidden" id="user_id" name="user_id" value="@user.id"/>
                            <dl class="dl-horizontal">
                                <dt>
                                    <button class="btn"><i class="icon-step-backward"></i>@Messages("Undo")</button>
                                </dt>
                                <dd>
                                @Messages("undoDescription")
                                </dd>
                            </dl>
                        </form>
                        <form method="POST" action="@controllers.accounting.routes.Payments.resetPaymentList()">
                            <input type="hidden" id="user_id" name="user_id" value="@user.id"/>
                            <dl class="dl-horizontal">
                                <dt>
                                    <button class="btn"><i class="icon-retweet"></i>@Messages("Reset")</button>
                                </dt>
                                <dd>
                                @Messages("resetDescription")
                                </dd>
                            </dl>
                        </form>
                        <form method="POST" action="@controllers.accounting.routes.Payments.deletePaymentList()">
                            <input type="hidden" id="user_id" name="user_id" value="@user.id"/>
                            <dl class="dl-horizontal">
                                <dt>
                                    <button class="btn"><i class="icon-remove"></i>@Messages("Delete")</button>
                                </dt>
                                <dd>
                                @Messages("deleteDescription")
                                </dd>
                            </dl>
                        </form>
                    </div>
                </div>
            }
            @if(models.logic.accounting.PaymentLogic.checkBill(user) == true) {

                <div class="row-fluid">
                    <div class="span2">
                        <div>@Messages("agreement.no")</div>
                    </div>
                    <div class="span2">
                        <div id="">@payment.contract </div>
                    </div>
                </div>
                <div class="row-fluid">
                    <div class="span2">
                        <div>@Messages("startDate")</div>
                    </div>
                    <div class="span2">
                        <div id="start_date">@payment.startDate.format("dd.MM.yyyy")</div>
                    </div>
                </div>
                <div class="row-fluid">
                    <div class="span2">
                        <div>@Messages("endDate")</div>
                    </div>
                    <div class="span2">
                        <div id="end_date">@payment.endDate.format("dd.MM.yyyy")</div>
                    </div>
                </div>
                <div class="row-fluid">
                    <div class="span2">
                        <div>@Messages("discount")</div>
                    </div>
                    <div class="span2">
                        <div id="discount">@payment.discount%</div>
                    </div>
                </div>
                <div class="row-fluid">
                    <div class="span10">
                        <table id="tb" class="table table-condensed">
                            <tr>
                                <td>
                                    <div><strong>@Messages("period")</strong></div>
                                </td>
                                <td>
                                    <div><strong>@Messages("paymentDate")</strong></div>
                                </td>
                                <td>
                                    <div><strong>@Messages("paymentPrice")</strong></div>
                                </td>
                                <td>
                                    <div><strong>@Messages("payedAt")</strong></div>
                                </td>
                                <td>
                                    <div><strong>@Messages("payed")</strong></div>
                                </td>
                                <td>
                                    <div><strong>@Messages("debt")</strong></div>
                                </td>
                                <td>
                                    <div><strong>@Messages("comment")</strong></div>
                                </td>
                                <td></td>
                        <tr>
                            @for(period <- periods) {
                                <tr class="@models.logic.accounting.PaymentPeriodLogic.getStatus(period)">
                                    <td>
                                        <div>@(period.period + 1)</div>
                                    </td>
                                    <td>
                                        <div>@period.plannedPaymentDate.format("dd.MM.yyyy")</div>
                                    </td>
                                    <td>
                                        <div @if(period.status == "CURRENT") { id="current-plannedPayment" period="@period.id"}>
                                            @period.plannedPayment
                                        </div>
                                    </td>
                                    @if(period.status == "PAYED") {
                                        <td>
                                            <div>@period.payedPaymentDate.format("dd.MM.yyyy")</div>
                                        </td>
                                        <td>
                                            <div>@period.payedPayment</div>
                                        </td>
                                        <td>
                                            <div>@period.debtPayment</div>
                                        </td>
                                        <td>
                                            <div>@period.comment</div>
                                        </td>
                                        <td>
                                        </td>
                                    }
                                    @if(period.status == "CURRENT") {
                                        @restrict(la(as("moderator"), as("admin"))) {
                                            <form id="paymentForm" action="@controllers.accounting.routes.Payments.savePaymentList(user.id)" method="POST">
                                                <td>
                                                    @*<input style="width: 130px;" type="date" id="payedPaymentDate" name="payedPaymentDate"
                                                    value="@if(period.plannedPaymentDate.before(new Date())) {
                                                        @{
                                                            (new Date()).format("yyyy-MM-dd")
                                                        }
                                                    } else {
                                                        @period.plannedPaymentDate.format("yyyy-MM-dd")
                                                    }" />  *@
                                                    <input style="width: 150px;" type="date" id="payedPaymentDate" name="payedPaymentDate"
                                                    value="@today" />

                                                </td>
                                                <td>
                                                    <input style="width: 65px;" type="number" min="0" max="@period.plannedPayment" name="payedPayment" value='@period.plannedPayment'/>
                                                </td>
                                                <td>
                                                    <div>@period.debtPayment</div>
                                                </td>
                                                <td>
                                                    <input style="width: 150px;" type="text" name="comment" value='@period.comment'/>
                                                </td>
                                                <td>
                                                    <input type="submit" style="display: none" id="realSubmit" class="btn" value='Баспаңыз)'/>
                                                    <a class="btn btn-primary" id="confirm">@Messages("save")</a>
                                                </td>
                                            </form>
                                        }
                                        @restrict(la(as("student"))) {
                                            <td></td>
                                            <td></td>
                                            <td>
                                                <div>@period.debtPayment</div>
                                            </td>
                                            <td>
                                                <div>@period.comment</div>
                                            </td>
                                            <td></td>
                                        }
                                    }

                                    @if(period.status == "PLANNED") {
                                        <td></td>
                                        <td></td>
                                        <td>
                                            <div>@period.debtPayment</div>
                                        </td>
                                        <td>
                                            <div>@period.comment</div>
                                        </td>
                                        <td></td>
                                    }
                                </tr>
                            }
                            <tr>
                                <td>
                                    <div><strong>@payment.periods.size()</strong></div>
                                </td>
                                <td></td>
                                <td>
                                    <div id="plannedPayment"><strong>@payment.plannedPayment</strong></div>
                                </td>
                                <td></td>
                                <td>
                                    <div><strong>@payment.payedPayment</strong></div>
                                </td>
                                <td>
                                    <div><strong>@payment.debtPayment</strong></div>
                                </td>
                                <td>
                                    <div><strong>@payment.comment</strong></div>
                                </td>
                                <td></td>
                            </tr>
                        </table>
                    </div>
                </div>
                @restrict(la(as("moderator"), as("admin"))) {
                    <div class="accordion row-fluid" id="accordion2">
                        <div class="accordion-group span10">
                            <div class="accordion-heading">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
                                @Messages("editCourse")
                                </a>
                            </div>
                            <div id="collapseOne" class="accordion-body collapse in">
                                <div class="accordion-inner">
                                    <ul class="nav nav-tabs" id="myTab2">
                                        <li class="active"><a href="#complete">@Messages("endCourse")</a></li>
                                        <li><a href="#lesson">@Messages("updateLessons")</a></li>
                                        <li><a href="#course-suspend">@Messages("courseSuspend")</a></li>
                                    </ul>
                                    <div class="tab-content">
                                        <div class="tab-pane active" id="complete">
                                            <form method="POST" action="@controllers.accounting.routes.Payments.changeCourse(user.id, payment.id)">
                                                <div class="row-fluid">
                                                    <div class="span2">
                                                        <div>@Messages("materialCost")</div>
                                                    </div>
                                                    <div class="span6">
                                                        <input type="number" id="material_cost" value="@payment.materialCost" min="0"/>
                                                    </div>
                                                </div>
                                                <div class="row-fluid">
                                                    <div class="span2">
                                                        <div>@Messages("startDate")</div>
                                                    </div>
                                                    <div class="span6">
                                                        <div>@payment.startDate.format("dd.MM.yyyy")</div>
                                                    </div>
                                                </div>
                                                <div class="row-fluid">
                                                    <div class="span2">
                                                        <div>@Messages("endDate")</div>
                                                    </div>
                                                    <div class="span6">
                                                        <input type="date" name="real_end_date" id="real_end_date" value="@payment.endDate.format("yyyy-MM-dd")"/>
                                                    </div>
                                                </div>
                                                <div class="row-fluid">
                                                    <div class="span2">
                                                        <div>@Messages("hoursPerWeek")</div>
                                                    </div>
                                                    <div class="span6">
                                                        <div id="hours_per_week">@payment.hoursPerWeek</div>
                                                    </div>
                                                </div>
                                                <div class="row-fluid">
                                                    <div class="span2">
                                                        <div>@Messages("pricePerWeek")</div>
                                                    </div>
                                                    <div class="span6">
                                                        <div id="price_per_week">@payment.pricePerWeek</div>
                                                    </div>
                                                </div>
                                                <div class="row-fluid">
                                                    <div class="span2">
                                                        <div>@Messages("totalPayed")</div>
                                                    </div>
                                                    <div class="span6">
                                                        <div id="total_payed">@payment.payedPayment</div>
                                                    </div>
                                                </div>
                                                <div class="row-fluid">
                                                    <div class="span2">
                                                        <div>@Messages("forfeit")</div>
                                                    </div>
                                                    <div class="span6">
                                                        <select name="forfeit" id="forfeit">
                                                            <option value="10" selected="true">10%</option>
                                                            <option value="5">5%</option>
                                                            <option value="0">0%</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="row-fluid">
                                                    <div class="span2">
                                                        <a onClick="finishCalc()" class="btn">@Messages("calculate")</a>
                                                        <div id="finish_course_calc"></div>
                                                    </div>
                                                </div>
                                                <div class="row-fluid">
                                                    <div class="span6" style="padding-top: 15px">
                                                        <input type="submit" id="submit_finish_form" class="btn btn-primary" value='@Messages("send")'>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                        <div class="tab-pane" id="lesson">
                                            <div class="row-fluid">
                                                <div class="span6">
                                                    <div class="row-fluid">
                                                        <div class="span6">
                                                            <div>@Messages("hoursPerWeek")</div>
                                                        </div>
                                                        <div class="span6">
                                                            <div id="hours_per_week">@payment.hoursPerWeek</div>
                                                        </div>
                                                    </div>
                                                    <div class="row-fluid">
                                                        <div class="span6">
                                                            <div>@Messages("pricePerWeek")</div>
                                                        </div>
                                                        <div class="span6">
                                                            <div id="price_per_week">@payment.pricePerWeek</div>
                                                        </div>
                                                    </div>
                                                    <div class="row-fluid">
                                                        <div class="span6">
                                                            <div>@Messages("updateDate") <br></div>
                                                            <div><i>@Messages("whenWillStart")</i></div>
                                                        </div>
                                                        <div class="span6">
                                                            <input type="date" name="updateDate" id="updateDate" class="prevent-if-change"
                                                            value='@models.logic.accounting.PaymentLogic.getNextMonday()'/>
                                                        </div>
                                                    </div>
                                                    <div class="row-fluid">
                                                        <div class="span6">
                                                            <div>@Messages("NewDealNumber") <br></div>
                                                        </div>
                                                        <div class="span6">
                                                            <input type="text" name="new_deal" id="new_deal" value=''
                                                            class="prevent-if-change"/>
                                                        </div>
                                                    </div>
                                                    <div class="row-fluid">
                                                        <div class="span6">
                                                            <a onClick="calcDifference()" class="btn btn-success">@Messages("calculate")</a>

                                                        </div>
                                                    </div>
                                                    <form method="POST" action="@controllers.accounting.routes.Payments.updateLessons()">
                                                        <div class="row-fluid">
                                                            <input type="hidden" name="user_id" value="@user.id"/>
                                                            <div class="span6" id="update_lessons_form">

                                                            </div>
                                                            <div class="span6">
                                                                <a id="change-printer" class="btn preventable" target="_blank" style="display: none">
                                                                    <i class="icon-print"></i>
                                                                    @Messages("Print")
                                                                </a>
                                                                <input type="submit" id="submit_finish_form3" style="display: none"
                                                                class="btn btn-primary preventable" value='@Messages("send")'>
                                                            </div>
                                                        </div>

                                                        <div class="span6">
                                                            <div style="display:none">
                                                                <label> @Messages("profile.language") </label>
                                                                <select name=lang id="lang" required>
                                                                    <option value="KZ" @if(user.profile.lang == "KZ"){selected}> Қазақша </option>
                                                                    <option value="RU" @if(user.profile.lang == "RU"){selected}> Русский </option>
                                                                </select>
                                                            </div>


                                                            <div class="multiselect" id="langCheckBox">

                                                             @*   @for(lesson<-LessonLogic.getAll){
                                                                    @if(lesson.language == user.profile.lang){
                                                                        <div>
                                                                            <input type = "checkbox" class="lessonCheck prevent-if-click" name = "lesson[]"
                                                                                lessonHours="@LessonHoursLogic.getByLessonAndDostyk(lesson, user.dostyks.get(0))"
                                                                                @for(lesson1 <- user.profile.lessons) {@if(lesson1.id == lesson.id) {checked}}
                                                                                value = "@lesson.id" lesson-name="@lesson.name"> @lesson.name </input>
                                                                        </div>
                                                                    }
                                                                }
                                                                *@

                                                                @for(lesson<-LessonLogic.getAll){

                                                                    @if(lesson.language == user.profile.lang){
                                                                        @for(c<-lesson.course){
                                                                            @if(c.title == user.profile.course.classNumber){
                                                                                <label>
                                                                                    <input type = checkbox class="lessonCheck prevent-if-click" name = "lesson[]" lessonHours="@LessonHoursLogic.getByLessonAndDostyk(lesson, user.dostyks.get(0))" @for(lesson1 <- user.profile.lessons){ @if(lesson1.id==lesson.id){checked} } value = @lesson.id lesson-name="@lesson.name"> @lesson.name
                                                                                </label>
                                                                            }
                                                                        }
                                                                    }else{
                                                                        @for(c<-lesson.course){
                                                                            @if(c.title == user.profile.course.classNumber){
                                                                                <label>
                                                                                    <input type = checkbox class="lessonCheck prevent-if-click" name = "lesson[]" lessonHours="@LessonHoursLogic.getByLessonAndDostyk(lesson, user.dostyks.get(0))" @for(lesson1 <- user.profile.lessons){ @if(lesson1.id==lesson.id){checked} } value = @lesson.id lesson-name="@lesson.name"> @lesson.name
                                                                                </label>
                                                                            }
                                                                        }
                                                                    }
                                                                }
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    
                                        <div class="tab-pane" id="course-suspend">
                                            <div class="row-fluid">
                                                <div class="span6">
                                                    <form id="course-suspend-form" method="POST" action="@controllers.accounting.routes.Payments.suspendPayment(user.id, payment.id)">
                                                        <div class="row-fluid">
                                                            <div class="span2">
                                                                <div>@Messages("reason") <br></div>
                                                            </div>
                                                            <div class="span4">
                                                                <input type="text" name="reason" value='' />
                                                            </div>
                                                        </div>
                                                        <div class="row-fluid">
                                                            <div class="span2">
                                                                <div>@Messages("startDate") <br></div>
                                                            </div>
                                                            <div class="span4">
                                                            <input type="date" id="course-suspend-startDate" name="startDate" value=''/>
                                                            </div>
                                                        </div>
                                                        <div class="row-fluid">
                                                            <div class="span2">
                                                                <div>@Messages("endDate") <br></div>
                                                            </div>
                                                            <div class="span4">
                                                                <input type="date" id="course-suspend-endDate" name="endDate" value=""/>
                                                            </div>
                                                        </div>
                                                        <div class="row-fluid">
                                                            <div class="span4">
                                                                <div>@Messages("hoursPerWeek")</div>
                                                            </div>
                                                            <div class="span4">
                                                                <div><span id="course-suspend-hours_per_week">@payment.hoursPerWeek</span> </div>
                                                            </div>
                                                        </div>
                                                        <div class="row-fluid">
                                                            <div class="span4">
                                                                <div>@Messages("pricePerWeek")</div>
                                                            </div>
                                                            <div class="span4">
                                                                <div><span id="course-suspend-price_per_week">@payment.pricePerWeek</span>    &#8376;</div>
                                                            </div>
                                                        </div>

                                                        <div class="row-fluid">
                                                            <div class="span4">
                                                                <div>@Messages("weeks")</div>
                                                            </div>
                                                            <div class="span4">
                                                                <div id="course-suspend-weeks">@Messages("")</div>
                                                            </div>
                                                        </div>
                                                        <div class="row-fluid">
                                                            <div class="span4">
                                                                <div>@Messages("studyPrice")</div>
                                                            </div>
                                                            <div class="span4">
                                                                <div><span id="course-suspend-studyPrice"></span> &#8376;</div>
                                                            </div>
                                                        </div>
                                                        <div class="row-fluid">
                                                            <div class="span4">
                                                                <div>@Messages("currentPayment")</div>
                                                            </div>
                                                            <div class="span4">
                                                                <div><span id="course-suspend-current-plannedPayment"></span> &#8376;</div>
                                                            </div>
                                                        </div>
                                                        <div class="row-fluid">
                                                            <div class="span4">
                                                                <div>@Messages("total")</div>
                                                            </div>
                                                            <div class="span4">
                                                                <div><span id="course-suspend-total"></span> &#8376;</div>
                                                            </div>
                                                        </div>

                                                        <div class="row-fluid">
                                                            <div class="span6">
                                                                <a onClick="courseSuspendCalc()" class="btn btn-success">@Messages("calculate")</a>
                                                                <input type="hidden" name="period_id" id="course-suspend-period" value=""/>
                                                                <input type="hidden" name="studyPrice" id="course-suspend-periodPayment" value=""/>
                                                                <input type="submit" id="course-suspend-submit" style="display: none" class="btn btn-primary" value='@Messages("send")'>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                                <div class="span6">
                                                    <table class="table table-condensed">
                                                        <thead>
                                                            <tr>
                                                                <th>#</th>
                                                                <th>@Messages("reason")</th>
                                                                <th>@Messages("startDate")</th>
                                                                <th>@Messages("endDate")</th>
                                                                <th>@Messages("studyPrice")</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                        @for((suspend,index)<-payment.findSuspends().zipWithIndex) {
                                                            <tr>
                                                                <td>@{index+1}</td>
                                                                <td>@suspend.reason</td>
                                                                <td>@suspend.startDate.format("dd/MM/yyyy")</td>
                                                                <td>@suspend.endDate.format("dd/MM/yyyy")</td>
                                                                <td>@suspend.studyPrice</td>
                                                            </tr>
                                                        }
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>                                
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                @*</div>*@
                }
            }
        @if(models.logic.accounting.PaymentLogic.checkBill(user) == false) {
            <div class="row-fluid">
                <div class="span10">
                    <div class='alert alert-warning'>
                        <a class="close" data-dismiss="alert">×</a>
                        <div>@Messages("fillBillFormFirst")</div>
                    </div>
                </div>
            </div>
        }
        @for(receipt <- receipts) {
            @if(receipt != null) {@if(receipt.period!=null){
                <div class="row-fluid">
                    <div class="span10">
                    @if(receipt.period.payedPayment > 0) {
                        <div>@receipt.createdDate.format("dd.MM.yyyy") <a href="@controllers.accounting.routes.Payments.printReceipt(user.id, receipt.id)" target="_blank">@Messages("pko") @receipt.number</a></div>
                    } else {
                        <div>@receipt.createdDate.format("dd.MM.yyyy") <a href="@controllers.accounting.routes.Payments.printReceipt(user.id, receipt.id)" target="_blank">@Messages("rko") @receipt.number</a></div>
                    }
                    </div>
                </div>
                }}
        }
        
    }

    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">

    @restrict(la(as("moderator"), as("admin"))) {
        <script type="text/javascript" src="@routes.Application.javascriptRoutes"></script>
        <script type="text/javascript">
                $(document).ready(function () {

                    $(".collapse").collapse();
                    $("#realSubmit2").hide();
                    $("#submit_finish_form").hide();
                    $("#change-printer").hide();
                    var now = new Date();
                    var month = (now.getMonth() + 1);
                    var day = now.getDate();
                    if (month < 10)
                        month = "0" + month;
                    if (day < 10)
                        day = "0" + day;
                    var now = $("#end_date").text();
                    var date = now.split(".");
                    var today = date[2] + "-" + date[1] + "-" + date[0];
                    $("#real_end_date").val(today);
                    var kilt = true;
                    $("#confirm").click(function () {
                        $("#confirmation").show();
                        $('#sure').modal("show");
                        kilt = true;
                    });
                    $("#calcLesson").click(function () {
                        $("#confirmation").show();
                        $('#sure').modal("show");
                        kilt = false;
                    });
                    $("#sureButton").click(function () {
                        if (kilt == true) {
                            $("#realSubmit").click();
                        }
                        else {
                            $("#realSubmit2").click();
                        }
                    });
                });

                $("#lang").on("change", function(){
                    var value = $("#lang option:selected").val();
                    $("#langCheckBox").empty();
                    if(value == "KZ"){
                        @for(lesson<-LessonLogic.getAll) {
                        @if(lesson.language == "KZ"){
                        $("#langCheckBox").append('<label><input type=checkbox name="lesson[]" value=@lesson.id> @lesson.name</label>');
                        }
                        }
                    }else if(value == "RU"){
                        @for(lesson<-LessonLogic.getAll) {
                        @if(lesson.language == "RU"){
                        $("#langCheckBox").append('<label><input type=checkbox name="lesson[]" value=@lesson.id> @lesson.name</label>');
                        }
                        }
                    }

                });

                function courseSuspendCalc() {
                    var hoursPerWeek = 1 * $("#course-suspend-hours_per_week").text();
                    var pricePerWeek = 1 * $("#course-suspend-price_per_week").text();

                    var startDate = $("#course-suspend-startDate").val();
                    //console.log("sv"+$("#course-suspend-startDate").val())
                    //console.log("st"+$("#course-suspend-startDate").text())
                    var realEndDate = $("#course-suspend-endDate").val();

                    //var totalPayed   = 1*$("#total_payed").text();


                    startDate = startDate.split("-");
                    var date = startDate[2] * 1;
                    var month = startDate[1] - 1;
                    var year = startDate[0] * 1;
                    var start = new Date(year, month, date);
                    realEndDate = realEndDate.split("-");
                    date = realEndDate[2] * 1;
                    month = realEndDate[1] - 1;
                    year = realEndDate[0] * 1;
                    var realEnd = new Date(year, month, date);

                    var today = new Date();
                    var year = "" + today.getFullYear();
                    today.setFullYear(year.substr(2, 4));


                    console.log("start:" + start)
                    console.log("realEnd:" + realEnd)

                    @*
                    if(realEnd<today){
                        $("#dialog_title").html("@Messages("warning")");
                        $("#dialog_status").attr("class", "alert alert-warning");
                        $("#dialog_message").html("@Messages("updateDateLessThanToday")");
                        $("#dialog_div").show();
                        $('#dialog').modal("show");
                        $("#submit_finish_form").hide();
                        return;
                    }
                    *@

                    //console.log("start:"+start);
                    //console.log("realEnd:"+realEnd);
                    var weeks;
                    @*
                    if(realEnd>start&days_between(today,realEnd))
                    *@
                    weeks = weeks_between(start, realEnd);
                    @*
                        else{
                         $("#dialog_title").html("@Messages("error")");
                         $("#dialog_status").attr("class", "alert alert-danger");
                         $("#dialog_message").html("@Messages("incorrectDate")");
                         $("#dialog_div").show();
                         $('#dialog').modal("show");
                        }
                    *@

                    var studyPrice = weeks * pricePerWeek;
                    $('#course-suspend-weeks').html(weeks);
                    $('#course-suspend-studyPrice').html(studyPrice);
                    var plannedPayment = $('#current-plannedPayment').val();
                    plannedPayment = plannedPayment.split(".")[0];

                    $('#course-suspend-current-plannedPayment').html(plannedPayment);


                    $('#course-suspend-period').val($('#current-plannedPayment').attr('period'))
                    var total = plannedPayment - studyPrice;
                    $('#course-suspend-total').html(total)
                    $('#course-suspend-periodPayment').val(studyPrice)
//                    console.log("weeks:" + weeks)
//                    console.log("studyPrice:" + studyPrice)
                    $("#course-suspend-submit").show();
                }

                function finishCalc() {
                    $("#submit_finish_form").hide();
                    var hoursPerWeek = 1 * $("#hours_per_week").text();
                    var pricePerWeek = 1 * $("#price_per_week").text();

                    var startDate = $("#start_date").text();
                    var updateDate = $("#update_date").text();

                    var realEndDate = $("#real_end_date").val();
                    var totalPayed = 1 * $("#total_payed").text();



                    console.log("hoursPerWeek:" + hoursPerWeek);
                    console.log("pricePerWeek:" + pricePerWeek);
                    console.log("startDate:" + startDate);
                    console.log("updateDate:" + updateDate);
                    console.log("realEndDate:" + realEndDate);
                    console.log("totalPayed:" + totalPayed);

                    startDate = startDate.split(".");
                    var date = startDate[0] * 1;
                    var month = startDate[1] - 1;
                    var year = startDate[2] * 1;
                    var start = new Date(year, month, date);
                    realEndDate = realEndDate.split("-");
                    date = realEndDate[2] * 1;
                    month = realEndDate[1] - 1;
                    year = realEndDate[0] * 1;
                    var realEnd = new Date(year, month, date);

                    var today = new Date();
                    var year = "" + today.getFullYear();
                    today.setFullYear(year.substr(2, 4));
                    if (realEnd < today) {
                        $("#dialog_title").html("@Messages("warning")");
                        $("#dialog_status").attr("class", "alert alert-warning");
                        $("#dialog_message").html("@Messages("updateDateLessThanToday")");
                        $("#dialog_div").show();
                        $('#dialog').modal("show");
                        $("#submit_finish_form").hide();
                        return;
                    }

                    console.log("start:" + start);
                    console.log("realEnd:" + realEnd);
                    var weeks;
                    //if(realEnd>start&days_between(today,realEnd))
                    weeks = weeks_between(start, realEnd);
                    @*else{
                     $("#dialog_title").html("
                    @Messages("error")");
                     $("#dialog_status").attr("class", "alert alert-danger");
                     $("#dialog_message").html("
                    @Messages("incorrectDate")");
                     $("#dialog_div").show();
                     $('#dialog').modal("show");
                     }*@
                    $("#finish_course_calc").html("");
                    $("#finish_course_calc").append("<div>@Messages("weeks") = " + weeks + '<input type="hidden" name="weeks" value="' + weeks + '"/>' + "</div>");
                    var studyPrice = weeks * pricePerWeek;
                    $("#finish_course_calc").append("<div>@Messages("studyPrice") = " + studyPrice + "</div>");

                    var forfeit_coef = $("#forfeit").val();
                    var plannedPayment = $("#plannedPayment").text();
                    var material = 1 * $("#material_cost").val();
                    var discount = $("#discount").text();
                    var discount = 1 * discount.substring(0, discount.length - 1);
                    var fee = parseInt(((plannedPayment - material) * forfeit_coef) / (100 - discount));



                    $("#finish_course_calc").append("<div>@Messages("forfeit") = " + fee + "</div>");
                    var total = (fee + studyPrice) - (totalPayed);
                    total = total + material;
                    $("#finish_course_calc").append("<div>@Messages("totalPrice") = " + total +
                            '<input type="hidden" id="total_price" name="total_price" value="' + total + '" />' + "</div>");
                    $("#payment_date").val($("#real_end_date").val());
                    $("#payed_at").val($("#real_end_date").val());
                    $("#payed").val(total);
                    $("#submit_finish_form").show();
                }

                $(document).on("click", ".prevent-if-click", function () {
                    $(".preventable").hide();
                });

                $(document).on("change", ".prevent-if-change", function () {
                    $(".preventable").hide();
                    $("#submit_finish_form3").hide();
                    $("#change-printer").hide();
                });

                @if(models.logic.accounting.PaymentLogic.checkBill(user)==true){
                    function calcDifference() {
                        $("#update_lessons_form").empty();
                        $(".preventable").hide();
                        var updateDate = $("#updateDate").val();
                        updateDate = updateDate.split("-");
                        var date = updateDate[2] * 1;
                        var month = updateDate[1] - 1;
                        var year = updateDate[0] * 1;
                        var update = new Date(year, month, date);
                        var endDate = $("#end_date").text();
                        endDate = endDate.split(".");
                        date = endDate[0] * 1;
                        month = endDate[1] - 1;
                        year = endDate[2] * 1;
                        var end = new Date(year, month, date);
                        var weeks = weeks_between(update, end);
                        $("#update_lessons_form").append("<div>@Messages("weeks") = " + weeks + "</div>");
                        var discount = 1 *@payment.discount;
                        var bonus = 0;
                        if (@payment.discountBonus != null )   bonus = 1 *@payment.discountBonus;
                        var dept = 1 *@payment.debtPayment;
                        var planned = 1 *@payment.plannedPayment;
                        var payed = 1 *@payment.payedPayment;
                        var material = 1 *@payment.materialCost;
                        var all = 1 *@models.logic.accounting.PaymentPeriodLogic.getPeriods(payment).size();
                        var unpaid = 1 *@models.logic.accounting.PaymentLogic.getUnpaidPeriodsNumber(payment);
                        var hour = new Array();
                        var price = new Array();
                        @for(i <- 0 to models.logic.accounting.PriceListLogic.getByDostykAndCourse(user.dostyks.get(0), user.profile.course).size()-1){
                            hour[@i] = 1 *@models.logic.accounting.PriceListLogic.getByDostykAndCourse(user.dostyks.get(0), user.profile.course).get(i).hours;
                            price[@i] = 1 *@models.logic.accounting.PriceListLogic.getByDostykAndCourse(user.dostyks.get(0), user.profile.course).get(i).price;
                        }
                        var hour_counter = 0;
                        $("input:checkbox").each(function () {
                            if ($(this).is(":checked")) {
                                hour_counter += $(this).attr("lessonHours") * 1;
                            }
                        });
                        var weekly0 = 1 *@payment.pricePerWeek;
                        var weekly = 0;
                        for (var i = 0; i < hour.length; i++) {
                            if (hour[i] == hour_counter) {
                                weekly = price[i];
                            }
                        }
                        var dealChangeDate = $("#updateDate").val();
                        var newDealNumber = $("#new_deal").val();
                        $("#update_lessons_form").append('<input type="hidden" name="update_date" value="' + dealChangeDate + '" />');
                        $("#update_lessons_form").append('<input type="hidden" name="deal_number" value="' + newDealNumber + '" />');
                        $("#update_lessons_form").append('<div>@Messages("hoursPerWeek") = <input name="hours_per_week" value="' + hour_counter + '" /></div>');
                        $("#update_lessons_form").append('<div>@Messages("pricePerWeek") = <input name="price_per_week" value="' + weekly + '" /></div>');
                        $()
                        var total0 = weeks * weekly0 * (1 - (discount / 100));
                        var total = weeks * weekly * (1 - (discount / 100));
                        var cash0;
                        var cash;
                        if (bonus != 0) {
                            var discount_coef = 1 - (bonus / 100);
                            var discount_price = total * (discount_coef);
                            var discount_price0 = total0 * (discount_coef);
                            cash = discount_price;
                            cash0 = discount_price0;
                        } else {
                            cash = total;
                            cash0 = total0;
                        }
                        cash -= cash % 10;
                        cash0 -= cash0 % 10;
                        var per = 0;
                        var per0 = 0;
                        per = cash + material - payed;
                        per0 = cash0 + material - payed;
                        per1 = per - per0;
                        $("#update_lessons_form").append("<div>@Messages("total") = " + per1 + '<input type="hidden" id="total" name="total" value="' + per1 + '" />' + "</div>");
                        if (unpaid != 0) {
                            per = per / unpaid;
                            per0 = per0 / unpaid;
                            per -= per % 10;
                            per0 -= per0 % 10;
                        }
                        per = per - per0;
                        $("#update_lessons_form").append("<div>@Messages("perPeriodDiff") = " + per + '<input type="hidden" name="per" value="' + per + '" />' + "</div>");
                        if ($("#new_deal").val() != '') {
                            $(".preventable").show();
                        }
                        return true;
                    }
                }

                $(document).on("change", "#new_deal", function () {
                    var value = $(this).val();
                    if (value == '') {
                        $(".preventable").hide();
                    }
                });

                function days_between(date1, date2) {
                    $("#submit_finish_form").hide();
                    $("#dialog_title").html("@Messages("error")");
                    $("#dialog_status").attr("class", "alert alert-danger");
                    $("#dialog_message").html("@Messages("itsNotTimeYet")");
                    $("#dialog_div").show();
                    $('#dialog').modal("show");
                    var ONE_DAY = 1000 * 60 * 60 * 24
                    var date1_ms = date1.getTime()
                    var date2_ms = date2.getTime()
                    var difference_ms = date2_ms - date1_ms
                    var difference_day = Math.round(difference_ms / ONE_DAY);
                    if (difference_day >= (-30) && difference_day <= 15)
                        return true;
                    else
                        return false;
                }

                function weeks_between(d1, d2) {

                    var ONE_WEEK = 1000 * 60 * 60 * 24 * 7;
                    var date1 = d1;//getMonday(d1);
                    var date2 = d2;//getMonday(d2);
                    var date1_ms = date1.getTime();
                    var date2_ms = date2.getTime();
                    var difference_ms = Math.abs(date1_ms - date2_ms);
                    var weeks = difference_ms / ONE_WEEK;
                    var isWeek = Math.round((weeks - Math.floor(weeks))*100);
                    if(isWeek>85){
                        weeks = Math.ceil(weeks);
                    }
                    else{
                        weeks = Math.floor(weeks);
                    }

                    var HOLIDAYS = 0;
                    var thisYear = date1.getFullYear();
                    var nextYear = date1.getFullYear();
                    if(date1.getFullYear()<date2.getFullYear())
                        nextYear = date2.getFullYear();

                    @for(holiday <- models.entities.accounting.Holiday.find.findList()){

                    var day = @holiday.startDate.format("dd");
                    var month= @holiday.startDate.format("MM")-1;
                    var year = @holiday.startDate.format("yyyy");
                    var start = new Date(year,month,day);
                    day = @holiday.endDate.format("dd");
                    month= @holiday.endDate.format("MM")-1;
                    year = @holiday.endDate.format("yyyy");
                    var end = new Date(year,month,day);

                    var start_ms = start.getTime();
                    var end_ms = end.getTime();
                    difference_ms = Math.abs(start_ms - end_ms);
                    var holiday_weeks = Math.floor(difference_ms / ONE_WEEK);

                    if(date1 < start && start < date2){
                        HOLIDAYS = HOLIDAYS + holiday_weeks;
                    }



                    }

                    /*var newyear = new Date();
                     newyear.setDate(1)
                     newyear.setMonth(0);
                     newyear.setFullYear(nextYear);
                     if(newyear>date1&&newyear<date2){
                     HOLIDAYS++;
                     }
                     var nauryz = new Date();
                     nauryz.setDate(22)
                     nauryz.setMonth(2);
                     nauryz.setFullYear(nextYear);
                     if(nauryz>date1&&nauryz<date2){
                     HOLIDAYS++;
                     }
                     var november = new Date();
                     november.setDate(01)
                     november.setMonth(10);
                     november.setFullYear(thisYear);
                     if(november>date1&&november<date2){
                     HOLIDAYS++;
                     }
                     */

                    if($('#holidays').is(':checked')){
                        weeks = weeks-HOLIDAYS;
                    }
                    return weeks;
                }

                $('#myTab2 a').click(function (e) {
                    e.preventDefault();
                    $(this).tab('show');
                });

                $(document).on("click", "#change-printer", function () {

                    if ($("#new_deal").val() == '') {
                        alert('@Messages("WriteDealNumber")');
                    }
                    var student_id = "@user.id";
                    var payment_id = "@payment.id";
                    var hour_counter = 0;
                    var lesson_names = "";
                    var counter = 1;
                    var update_date = $("#updateDate").val();
                    var deal_number = $("#new_deal").val();

                    $("input:checkbox").each(function () {
                        if ($(this).is(":checked")) {
                            lesson_names += counter + ")%20" + $(this).attr("lesson-name") + ";%20";
                            hour_counter += $(this).attr("lessonHours") * 1;
                            counter++;
                        }
                    });
                    var total = $("#total").val() + "";
                    var URL = '@controllers.accounting.routes.Payments.printChanges(user.id,payment.id,"names123","hour123","total123","date123","number123")';
                    URL = URL.replace("total123", total);
                    URL = URL.replace("names123", lesson_names);
                    URL = URL.replace("hour123", hour_counter + "");
                    URL = URL.replace("date123", update_date + "");
                    URL = URL.replace("number123", deal_number + "");
                    window.open(URL, '_blank');

                });
        </script>
    }
}
@subjectNotPresent() {
    @_content(Messages("paymentList")) {
        <div class="row-fluid">
            <div class="span12">
                <div class='alert alert-warning'>
                    <div>@Messages("thisPageIsRestrictedForYou")</div>
                </div>
            </div>
        </div>
    }
}