@(user : models.entities.user.AuthorisedUser, userForm : Form[models.entities.user.AuthorisedUser], role : String, regions : List[models.entities.social.Region], id : Long)

@import helper.twitterBootstrap._
@import be.objectify.deadbolt.java.views.html._
@import be.objectify.deadbolt.core.utils.TemplateUtils._
@import html5.tags.html._
@import views.html.helps._
@import models.logic.social._;
@import models.logic.education._;
@import models.entities.social.Firm
@import controllers.user.AuthorisedUsers

@_content(Messages("editPersonalInfo")){
@if(flash.containsKey("success")) {
<div class="alert alert-success">
    <button type="button" class="close" data-dismiss="alert">x</button>
    <strong>Done!</strong>@flash.get("success")
</div>
}
@if(flash.containsKey("error")) {
<div class="alert alert-error">
    <button type="button" class="close" data-dismiss="alert">x</button>
    <strong>Oh!</strong>@flash.get("error")
</div>
}

@tabMenu(user, role, id, "PERSONAL")

@helper.form(action = controllers.user.routes.AuthorisedUsers.saveProfile(id)) {
<div class="span3">
<fieldset>
    @restrict(la(as("moderator"))){
        @if(role=="student") {
            <label for="sfirm">@Messages("Firm")</label>
            <select name="sfirm" id="sfirm" required>
                @if(user.firm.id.toString.isEmpty) {
                    <option value>@Messages("ChooseFirm")</option>
                }
                @for(firm <- Firm.getAll(user.dostyks.get(0))) {
                        <option value="@firm.id" @if(user.firm.id == firm.id) {selected}>
                        @firm.getName
                        </option>
                }
            </select>
        }
    }
	@text(userForm("profile.lastName"), '_label -> Messages("profile.lastName"),'_help -> "")
    @text(userForm("profile.firstName"), '_label -> Messages("profile.firstName"),'_help -> "")
    @text(userForm("profile.secondName"), '_label -> Messages("profile.secondName"),'_help -> "")
    @text(userForm("profile.inn"), '_label -> Messages("profile.inn"),'_help -> "")

	<label>@Messages("gender")</label>
	<select name ="profile.gender">
		<option value="male" @if(user.profile.gender!=null){@if(user.profile.gender.equals("male")){selected}}> @Messages("gender.male") </option>
		<option value="female" @if(user.profile.gender!=null){@if(user.profile.gender.equals("female")){selected}}> @Messages("gender.female") </option>
	</select>

	<label>@Messages("profile.birthdate")</label>
	<input type=date name="profile.birthDate" value=@if(user.profile.birthDate != null){@user.profile.birthDate.format("yyyy-MM-dd")}>

    @tel(
    userForm("profile.phoneNumber"),
    '_help -> "",
    '_label -> Messages("phoneNumber"),
    '_error -> userForm("profile.phoneNumber").error.map(_.withMessage("Please select your dostyk"))
    )

    @*if(role=="student") {
    @tel(
    userForm("profile.parentNumber"),
    '_help -> "",
    '_label -> Messages("profile.parentNumber")
    )
    }*@

	@if(user.status.equals("deleted")||user.status.equals("waiting")||user.status.equals("inactive")){
		@if(!role.equals("admin")){
	<label> @Messages("profile.dostyk") </label>
    <select name="dostyk">
    	@for(dostyk<-DostykLogic.find.all){    	
    		<option value="@dostyk.name" @if(dostyk.users.contains(user)){selected}> @dostyk.name </option>
    	}
   	</select>
   	}
   	}

    @restrict(la(as("moderator"), as("admin"))) {
        @if(role=="student") {
                <label> @Messages("Ulgerimi") </label>
                <select name=ulgerimi required>
                    <option value=jaksy @if(user.profile.ulgerimi.equals("jaksy")){selected}> @Messages("jaksy") </option>
                    <option value=kizilAttestat @if(user.profile.ulgerimi.equals("kizilAttestat")){selected}> @Messages("kizilAttestat") </option>
                    <option value=altynBelgi @if(user.profile.ulgerimi.equals("altynBelgi")){selected}> @Messages("altynBelgi") </option>
                </select>
                <label> @Messages("profile.courseType")</label>
                @if(models.logic.accounting.PaymentLogic.checkBill(user)==false) {
                    <select name="course" id="course">
                    @for(course <- CourseTypeLogic.list) {
                        <option value="@course"
                        @if(course.equals(user.profile.course.name)) {selected}> @course </option>
                    }
                    </select>
                }else{
                    <select name="course" id="course" disabled>
                    @for(course <- CourseTypeLogic.list) {
                        <option value="@course"
                        @if(course.equals(user.profile.course.name)) {selected}> @course </option>
                    }
                    </select>
                }
            @if(user.profile.region.code!=null&&user.profile.district.code!=null&&user.profile.school.code!=null){
                <p>
                 @if(session().get("lang") == "kk"){
                    @user.profile.region.name_kz, @user.profile.district.name_kz, @user.profile.school.name_kz
                 } else {
                    @user.profile.region.name_ru, @user.profile.district.name_ru, @user.profile.school.name_ru
                 }
                </p>
            }
        }else{

        }
    }

    @if(role=="student") {

        @if(models.logic.accounting.PaymentLogic.checkBill(user)==false){

            <div id="chooseLang">
                <label> @Messages("profile.language") </label>
                <select name=lang id="lang" required>
                    <option value="" class=blank> @Messages("help.language")</option>
                    <option value="KZ" @if(user.profile.lang == "KZ"){selected}> Қазақша </option>
                    <option value="RU" @if(user.profile.lang == "RU"){selected}> Русский </option>
                </select>
            </div>

                 <div class="multiselect" id="langCheckBox">
                    @for(lesson<-LessonLogic.getAll){
                        @if(lesson.language == user.profile.lang){
                            @for(c<-lesson.course){
                                @if(c.title == user.profile.course.classNumber){
                                    <label>
                                        <input type = checkbox name = "lesson[]" @for(lesson1 <- user.profile.lessons){ @if(lesson1.id==lesson.id){checked} } value = @lesson.id> @lesson.name
                                    </label>
                                }
                            }
                        }
                    }
                </div>

            @*    <div class="multiselect" id="langCheckBox">
                    @for(lesson<-LessonLogic.getAll){
                    @if(lesson.language == user.profile.lang){
                                <label>
                                    <input type = checkbox name = "lesson[]" @for(lesson1 <- user.profile.lessons){ @if(lesson1.id==lesson.id){checked} } value = @lesson.id> @lesson.name
                                </label>
                        }
                    }
                </div>
            *@
        }else{

                <div class="multiselect">

                    @for(lesson<-LessonLogic.getAll){
                        @if(lesson.language == user.profile.lang){
                            @for(c<-lesson.course){
                                @if(c.title == user.profile.course.classNumber){
                                    <label>
                                        <input type = checkbox style="display:none" name = "lesson[]" @for(lesson1 <- user.profile.lessons){ @if(lesson1.id==lesson.id){checked} } value = @lesson.id>
                                        <div> @for(lesson1 <- user.profile.lessons){ @if(lesson1.id==lesson.id){<i class="icon-ok"></i>} }  @lesson.name</div>
                                    </label>
                                }
                            }
                        }
                    }
                </div>


        }

    }
    <input type=text name=role value=@role style="display:none">


</fieldset>
</div>
@*  @if(role=="moderator") { *@
  @if(false) {
<div class="span3">
@text(userForm("requisite.dostykOfficial"), '_label -> Messages("requisite.dostykOfficial"),'_help -> "")
@text(userForm("requisite.dostykCity")    , '_label -> Messages("requisite.dostykCity"),'_help -> "")
@text(userForm("requisite.dostykAddress") , '_label -> Messages("requisite.dostykAddress"),'_help -> "")
@text(userForm("requisite.dostykTel")     , '_label -> Messages("requisite.dostykTel"),'_help -> "")
@text(userForm("requisite.dostykDirector"), '_label -> Messages("requisite.dostykDirector"),'_help -> "")
@text(userForm("requisite.dostykBIK")     , '_label -> Messages("requisite.dostykBIK"),'_help -> "")
@text(userForm("requisite.dostykIIK")     , '_label -> Messages("requisite.dostykIIK"),'_help -> "")
@text(userForm("requisite.dostykBIN")     , '_label -> Messages("requisite.dostykBIN"),'_help -> "")
@text(userForm("requisite.dostykBANK")    , '_label -> Messages("requisite.dostykBANK"),'_help -> "")
@text(userForm("requisite.dostykKBE")     , '_label -> Messages("requisite.dostykKBE"),'_help -> "")

</div>
}
<style>
div.profile {
    background-color: rgba(180, 180, 180, 0.1);
    padding: 20px;
    border-radius: 5px;
    }
    input.parent{
    	margin-bottom: 5px;
    }
</style>

@for((parent,index)<-user.parents.zipWithIndex if(parent.responsible) ){
    <div class="span3 profile" style="background-color: rgba(180, 180, 180, 0.5);">
    	<fieldset>  
        <label class="header" style="text-align: center"><input type="radio" hidden name="parents[@index].responsible" class="parent" value="true" @if(parent.responsible){checked}> @Messages(parent.parentType)</label>
            @text(userForm("parents["+index+"].firstName"),'_label -> Messages("profile.firstName"), '_help -> "")
            @text(userForm("parents["+index+"].lastName"),    '_label -> Messages("profile.lastName"),  '_help -> "")
            @text(userForm("parents["+index+"].inn"),    '_label -> Messages("profile.inn"),  '_help -> "")
            @tel(userForm( "parents["+index+"].phoneNumber1"), '_label -> Messages("profile.phone"),     '_help -> "")
            @tel(userForm( "parents["+index+"].phoneNumber2"), '_label -> Messages("profile.phone"),     '_help -> "")
            <select name="parents[@index].work">
        		<option value="" class=blank> -------- </option>
        		@for(job<-models.logic.user.AuthorisedUserLogic.jobs) {
        		<option value = "@job" @if(job.equals(parent.work)){selected}> @job </option>
        		}
   			</select>
            
        </fieldset>
    </div>
    }
 @*
@for((parent,index)<-user.parents.zipWithIndex if(!parent.responsible)){

    <div class="span3 profile" sty>
    	<fieldset>

        <label class="header"><input type="radio" hidden name="parents[@index].responsible" class="parent" value="true" @if(parent.responsible){checked}> @Messages(parent.parentType)</label>

            @text(userForm("parents["+index+"].firstName"),'_label -> Messages("profile.firstName"), '_help -> "")
            @text(userForm("parents["+index+"].lastName"),    '_label -> Messages("profile.lastName"),  '_help -> "")
            @text(userForm("parents["+index+"].inn"),    '_label -> Messages("profile.inn"),  '_help -> "")
            @tel(userForm( "parents["+index+"].phoneNumber1"), '_label -> Messages("profile.phone"),     '_help -> "")
            @tel(userForm( "parents["+index+"].phoneNumber2"), '_label -> Messages("profile.phone"),     '_help -> "")
            <select name="parents[@index].work">
        		<option value="" class=blank> -------- </option>
        		@for(job<-models.logic.user.AuthorisedUserLogic.jobs) {
        		<option value = "@job" @if(job.equals(parent.work)){selected}> @job </option>
        		}
   			</select>
            
        </fieldset>
    </div>

}
   *@


<div class="span12"></div>
<div class="row-fluid">
<div class="span12">
<div class="actions">
    <input type="submit" id="real_save" class="btn primary" value="@Messages("save")"/>
</div>
</div>
}
}

<script src="@routes.Assets.at("javascripts/jquery.maskedinput.min.js")" type="text/javascript"></script>
<script type="text/javascript" src='@routes.Application.javascriptRoutes'></script>
<script>


$("#profile_phoneNumber").mask("+7(999) 999 99 99");

$("#parents_0_phoneNumber1").mask("+7(999) 999 99 99");
$("#parents_0_phoneNumber2").mask("+7(999) 999 99 99");

$("#parents_1_phoneNumber1").mask("+7(999) 999 99 99");
$("#parents_1_phoneNumber2").mask("+7(999) 999 99 99");

$("#parents_2_phoneNumber1").mask("+7(999) 999 99 99");
$("#parents_2_phoneNumber2").mask("+7(999) 999 99 99");

    var choosedCourseGrade = 0;
    myJsRoutes.controllers.education.CourseTypes.getByName($("#course option:selected").val()).ajax({
    success: function(data) {
        choosedCourseGrade = data;
        console.log(choosedCourseGrade);
    },
    error: function(jqXHR, textStatus, errorThrown) {
        console.log(textStatus);
    }
});
    $("#course").on("change", function() {
        value = $("#course option:selected").val();
        if (value.length > 0) {
            $('select[name="lang"]').val('');
            document.getElementById("langCheckBox").innerHTML = '';
            document.getElementById("chooseLang").style.display = 'block';

            myJsRoutes.controllers.education.CourseTypes.getByName(value).ajax({
                success: function(data) {
                    choosedCourseGrade = data;
                    console.log(choosedCourseGrade);
                },
                error: function(jqXHR, textStatus, errorThrown) {
                    console.log(textStatus);
                }
            });

        }else{

            $('select[name="lang"]').val('');
            document.getElementById("chooseLang").style.display = 'none';
            document.getElementById("langCheckBox").innerHTML = '';
        }
});

$(document).ready(function() {
    @restrict(la(as("moderator"))) {
    @if(Firm.getAll(AuthorisedUsers.getConnectedUser().dostyks.get(0)).size()==0){
    $(document).on("ready",function(){
        alert('@Messages("RedirectingToFirms")');
        window.location.replace('@controllers.social.routes.Firms.viewAll');
    });
    }
    }
    $('input[type=radio]').change(function() {
        // When any radio button on the page is selected,
        // then deselect all other radio buttons.
        $('input[type=radio]:checked').not(this).prop('checked', false);
    });
});

$("input:checkbox").click(function() {
    ok = 0;
    $("input:checkbox").each(function() {
        if ($(this).is(":checked")) ok = ok + 1;
    });

    $("input:checkbox").each(function() {
        $(this).removeAttr("required");
    });

    if (ok == 0) {
        $("input:checkbox").eq(-2).attr("required", "required");
    }
});

$("#lang").on("change", function(){
    var value = $("#lang option:selected").val();

    $("#langCheckBox").empty();
    if(value == "KZ"){
        @for(lesson<-LessonLogic.getAll) {
            @if(lesson.language == "KZ"){
                @for(c <- lesson.course){
                    if(@c.title == choosedCourseGrade){
                        $("#langCheckBox").append('<label><input type=checkbox name="lesson[]" value=@lesson.id> @lesson.name</label>');
                    }
                }
            }
        }
    }else if(value == "RU"){
        @for(lesson<-LessonLogic.getAll) {
            @if(lesson.language == "RU"){
                @for(c <- lesson.course){
                    if(@c.title == choosedCourseGrade){
                        $("#langCheckBox").append('<label><input type=checkbox name="lesson[]" value=@lesson.id> @lesson.name</label>');
                    }
                }
            }
        }
    }

});

$("#region").on("change", function() {
    $("#district_div").hide();
    $("#school_div").hide();
    region = $("#region option:selected").html();
    value = $("#region option:selected").val();
    if (value.length > 0) {
        myJsRoutes.controllers.social.Regions.getDistricts(value).ajax({
            success: function(data) {
                $("#district_div").html(data);
                $("#district_div").slideDown();
            },
            error: function(jqXHR, textStatus, errorThrown) {
                console.log(textStatus);
            }
        });
    }
});

$(document).on("change", "#district", function() {
    district = $("#district option:selected").html();
    value = $("#district option:selected").val();
    if (value.length > 0) {
        myJsRoutes.controllers.social.Districts.getSchools(value).ajax({
            success: function(data) {
                $("#school_div").hide();
                $("#school_div").html(data);
                $("#school_div").slideDown();
            },
            error: function(jqXHR, textStatus, errorThrown) {
                console.log(textStatus);
            }
        });
    }
});
</script>