@(user : models.entities.user.AuthorisedUser, role : String, id : Long, activeTab : String)

@import be.objectify.deadbolt.java.views.html._
@import be.objectify.deadbolt.core.utils.TemplateUtils._
@import helper.twitterBootstrap._


<h3>@user.profile.firstName @user.profile.lastName</h3>

<ul class="nav nav-tabs" id="myTab">
    <li @if(activeTab == "PERSONAL"){class="active"}><a href="@controllers.user.routes.AuthorisedUsers.editProfile(id)">@Messages("editPersonalInfo")</a></li>
    <li @if(activeTab == "EMAIL"){class="active"}><a href="@controllers.user.routes.AuthorisedUsers.editMail(id)">@Messages("changeEmail")</a></li>
    <li @if(activeTab == "PASSWORD"){class="active"}><a href="@controllers.user.routes.AuthorisedUsers.editPassword(id)">@Messages("changePassword")</a></li>
    @restrict(la(as("moderator"),as("admin"))){
        @if(role=="student") {
            @if(models.logic.accounting.PaymentLogic.checkPayment(user)==false){
                <li @if(activeTab == "BILL"){class="active"}><a href="@controllers.accounting.routes.BillForms.showBillForm(id)">@Messages("billForm")</a></li>
            }
            <li @if(activeTab == "PAYMENTS"){class="active"}><a href="@controllers.accounting.routes.Payments.showPaymentList(id)">@Messages("paymentList")</a></li>
            @*<li @if(activeTab == "ATTENDANCE") {class="active"}><a href="@controllers.education.routes.Registers.show(id)">@Messages("viewRegister")</a></li>*@
            @*<li @if(activeTab == "TIMETABLE") {class="active"}><a href="@controllers.education.routes.Timetables.show(id)">@Messages("timetable")</a></li>*@
            @*<li @if(activeTab == "RESULTSBYTOPIC") {class="active"}><a href="@controllers.examination.routes.ExamResults.showByUser2(id)">@Messages("resultsByTopic")</a></li>*@
            @*<li @if(activeTab == "KARNE") {class="active"}><a href="@controllers.examination.routes.ExamResults.showByUser(id)">@Messages("results")</a></li>*@
        }
    }
    @restrict(la(as("student"))){
	    <li @if(activeTab == "PAYMENTS"){class="active"}><a href="@controllers.accounting.routes.Payments.showPaymentList(id)">@Messages("paymentList")</a></li>
	    <li @if(activeTab == "ATTENDANCE") {class="active"}><a href="@controllers.education.routes.Attendances.view()">@Messages("viewRegister")</a></li>
    }
    @if(role=="ten") {
        <li @if(activeTab == "KARNE") {class="active"}><a href="@controllers.examination.routes.ExamResults.showByUser(id)">@Messages("results")</a></li>
    }
</ul>