@(user : models.entities.user.AuthorisedUser, state: List[models.entities.education.Register], extras : List[models.entities.education.Register])

@import be.objectify.deadbolt.java.views.html._
@import be.objectify.deadbolt.core.utils.TemplateUtils._


@import helper.inputText;
@import models.entities.user._;
@import models.entities.social._;
@import helper.twitterBootstrap._

@import models.logic.social._;
@import models.logic.education._;
@import html5.tags.html._

@import helper.inputPassword;
@import helper.inputRadioGroup;
<style>
td {
	min-height:40px; 
}
</style>
@count(lesson:models.entities.education.Lesson) = @{
	var cnt=0;
	for(cur <- state) {
		if (cur.lessonid==lesson.id) cnt=cnt+1;
	}
	cnt
}

@_content(Messages("AttendanceList")) {

    @tabMenu(user, user.roles.get(0).name, user.id, "ATTENDANCE")
    <div class="span10">
	@helper.form(action = controllers.education.routes.Registers.show2(user.id), 'method -> "POST") {
		@Messages("startDate"):<input type=date name=start required>
		@Messages("endDate"):<input type=date name=end required>
		<input type=submit value=@Messages("submit") class="btn btn-primary">
	}
	
	@for(lesson<-user.profile.lessons){
		@if(count(lesson)>0) {
			<table border=1 class="table-condensed">
			@lesson.name
			@for(cur<-state){
					@if(cur.lessonid == lesson.id){
						<td style="background-color:@{if(cur.attendance.equals("present")){"#def0a1"} else if(cur.attendance.equals("late")){"#f2dede"} else {"red"}}">
							@cur.date.format("dd.MM.yyyy")
						</td>
					}
			}    
			</table>
		}	
	}
	
	<!-- <table class="table table-condensed table-bordered"> </table> -->
	
	@if(extras != null && extras.size() > 0) {
		<h3>@Messages("extraLesson")</h3>
		<table class="table table-condensed table-striped">
			<thead>
				<th> @Messages("Lesson")</th>
				<th> @Messages("Teacher")</th>
				<th> @Messages("Date")</th>
				<th> @Messages("Attendance")</th>
			</thead>
			<tbody>
				@for(ex <- extras) {
					<tr>
						<td> @ex.lessonid </td>
						<td> @ex.teacher.profile.lastName @ex.teacher.profile.firstName </td>
						<td> @ex.date.format("dd/MM/Y") </td>
						<td> 
						
							@if(ex.attendance.equals("present")) {
								<button class="btn btn-success"> <i class="icon-ok" style="color:green"></i> </button>
							} else {
								@if(ex.attendance.equals("late")) {
									<button class="btn btn-warning"> <i class="icon-ok"></i> </button>
								} else {
									<button class="btn btn-danger"> <i class="icon-remove"></i> </button>
								}
							}
							 
						</td>
					</tr>
				}
			</tbody>
		</table>
	} else {
		@Messages("thereIsNoResult")
	}
	</div>
	
}
