@(cur : models.entities.examination.ExamResult)


@import helper._
@import helper.twitterBootstrap._
@import models.logic.examination._;
@import models.logic.education._;

@maxLength(list:List[models.entities.examination.DetailedResult]) = @{
	var max=0;
	for(cur <- list) {
		if (cur.studentAnswers.length()>max) max=cur.studentAnswers.length();
	}
	max
}
<style>
	td,th {
		font-size:12px;
		min-height:5px;
		max-height:7px;
	}	
</style>
<table border=1 class="">
				<thead>
					<th>@Messages("Lesson")</th>

					    @for(i <- 1 to maxLength(models.logic.examination.DetailedResultLogic.getByExamResult(cur))){
						    <th>@i</th>
					    }
					<th>@Messages("Correct")</th>
					<th>@Messages("notAttended")</th>
				</thead>
				@for(detailed <- cur.detailedResults){ 
					<tr>
						<td rowspan=2>@detailed.lesson.name</td>
						@for(i <- 0 to detailed.studentAnswers.length()-1){
							<td @if(detailed.studentAnswers.charAt(i) == DetailedResultLogic.getAnswer(detailed, i)){style="background-color:green;"}else{style="background-color:red;"}>
							@if(detailed.studentAnswers.charAt(i)==' '){-}else{@detailed.studentAnswers.charAt(i)}
							</td>	
						}
						@for(i <- detailed.studentAnswers.length()+1 to maxLength(models.logic.examination.DetailedResultLogic.getByExamResult(cur))){
						    <td></td>
					    }
						<td rowspan=2>@detailed.correct</td>
						<td rowspan=2>@RegisterLogic.getByUserAndLesson(cur.student, detailed.lesson).size()</td>
					</tr>
					<tr>
						@for(s <- DetailedResultLogic.getCorrect(detailed)){
							<td style="background-color:#fea;">@s.charAt(0)</td>	
						}
						@for(i <- detailed.studentAnswers.length()+1 to maxLength(models.logic.examination.DetailedResultLogic.getByExamResult(cur))){
						    <td></td>
					    }
					</tr>
				}
				<tr><td></td><td colspan=@maxLength(models.logic.examination.DetailedResultLogic.getByExamResult(cur))><center>@Messages("Total")</center></td><td>@cur.total</td> <td></td></tr>
				</table>
