@(list : List[models.entities.education.ExtraLesson], teacher : models.entities.user.AuthorisedUser)

@import helper._ 
@import helper.twitterBootstrap._
<div id="extraLessons">
<button class="btn btn-primary" id="backExtraLessons"> @Messages("back") </button>
<h4> @teacher.profile.lastName @teacher.profile.firstName </h4>
<table class="table table-condensed table-striped">
	<thead>
		<th> @Messages("dostykGroup") </th>
		<th> @Messages("Lesson") </th>
		<th> @Messages("Topic") </th>
		<th> @Messages("Date") </th>
	</thead>
	<tbody>
		@for((l,i) <- list.zipWithIndex) {
			<tr>
				<td> @l.dostykGroup.name</td>
				<td> @l.lesson.name </td>
				<td> 
					@if(l.topic!=null){
						@l.topic.name
					}else{} 
				</td>
				<td> @l.date.format("dd/MM/Y") </td>
			</tr>
		}
	</tbody>
</table>
</div>