@(dostyk : models.entities.social.Dostyk)

@import helper._ 
@import helper.twitterBootstrap._

<option value="all">@Messages("all")</option>
@for(d <- dostyk.dostykGroups) {
	<option value = @d.id>
		@d.name 
	</option>
}
