@(status: String, resultTitle : String, resultText : String)


@import helper._
@import helper.twitterBootstrap._

<div class="span9">
    <div class='@status'>
        <a class="close" data-dismiss="alert">×</a>
        @resultTitle
        <hr>
        @resultText
    </div>
</div>
