@(region:String, districts : List[models.entities.social.District])

@import helper._ 
@import helper.twitterBootstrap._
@import play.i18n.Lang; 

@Messages("district")
<br>
<select name=district id=district required>
<option value="">@Messages("select.district")</option>
@for(d<-districts) {
	<option value = @d.code>
		@if(session().get("lang") == "kk"){
			@d.name_kz
		} else {
			@d.name_ru
		}
	</option>
}
</select>