@(region:String, district:String, schools : List[models.entities.social.School])

@import helper._ 
@import helper.twitterBootstrap._


@Messages("school")
<br>
<select name=school id=school required>
<option value="">@Messages("select.school")</option>
@for(s<-schools) {
	<option value = @s.code>
		@if(session().get("lang") == "kk"){
			@s.name_kz
		} else {
			@s.name_ru
		}
	</option>
}
</select>