@(examSessions : List[models.entities.ten.ExamSession])

@Messages("ten.session")
<br>
<select name="profile.examSession.id" id=session required>
<option value="">@Messages("select.session")</option>
@for(es<-examSessions) {
	<option value = @es.id @if(!es.status.equalsIgnoreCase("available")){disabled}>Сеанс @es.session, @if(es.session==1){09:00-12:30}
		@if(es.session==2){12:30-16:00}
		@if(es.session==3){16:00-19:30} @if(!es.status.equalsIgnoreCase("available")){@Messages("ten.full")}</option>
}
</select>