@(studList : List[models.entities.user.AuthorisedUser])
@import scala.Predef; var count=0;
@import helper._ 
@import helper.twitterBootstrap._



<table class="table table-hover" style="max-width: 600px">
	<tr>
		<td style="max-width: 100px">№</td>
		<td style="max-width: 500px">@Messages("student.firstnameLastname")</td>
	</tr>
	@for(student <- studList){
		<tr>
			<td>
				@{count = count + 1}
				@count
			</td>
			<td>
				@student.profile.lastName @student.profile.firstName
			</td>
		</tr>
	}
</table>