@(teachers : List[models.entities.user.AuthorisedUser], counts : List[Integer])

@import helper._ 
@import helper.twitterBootstrap._
<div id="teachers">
<button class="btn btn-primary" id="backTeachers"> @Messages("back") </button>
<table class="table table-condensed table-striped">
	<thead>
		<th> @Messages("Teacher") </th>
		<th> @Messages("extraLessonsNumber") </th>
	</thead>
	<tbody>
		@for((t,i) <- teachers.zipWithIndex) {
			<tr>
				<td> <a href="#" class="teacher" teacherId = @t.id> @t.profile.lastName @t.profile.firstName </a></td>
				<td> @counts.get(i) </td>
			</tr>
		}
	</tbody>
</table>
</div>