@(l : models.entities.examination.LessonAnswer)

@import helper._
@import helper.twitterBootstrap._

<script src="@routes.Assets.at("javascripts/video.js")" type="text/javascript"></script>
<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/video-js.css")" />
<script>
    videojs.options.flash.swf = "@routes.Assets.at("javascripts/video-js.swf")";
    $('video').on('contextmenu', function(e) {e.preventDefault();});
</script>


@if(l == null) {
	@Messages("noVideo")
} else {
	<div class="row-fluid" style="height:550px">
	<div class="span9" style="margin-left:30px" >
		<video id="videoPlayer" class="video-js vjs-default-skin" controls preload="none" width="90%" height="550px" data-setup="{}" >
    		<source src="@models.entities.examination.Answer.getBy(l, 1).pathToVideo" type='video/mp4' />
    		<track kind="captions" src="demo.captions.vtt" srclang="en" label="English"></track><!-- Tracks need an ending tag thanks to IE9 -->
    		<track kind="subtitles" src="demo.captions.vtt" srclang="en" label="English"></track><!-- Tracks need an ending tag thanks to IE9 -->
    		<p class="vjs-no-js">To view this video please enable JavaScript, and consider upgrading to a web browser that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a></p>
  		</video>
    </div>
    <div class="span3" style="height:100%;overflow:auto; margin-left:-30px;width:150px">
    	<ul class="nav nav-list">
    	@for((ans,i) <- models.entities.examination.Answer.getByLessonAnswer(l).zipWithIndex) {
    		<li @if(i==0) {class="active"}><a href="#" class="question" videoSrc="@ans.pathToVideo" style=""> @Messages("question") @ans.questionNumber</a></li>
    	}
    	</ul>
    </div>
    </div>	
}