@(dostyks : List[models.entities.social.Dostyk])
@import scala.Predef; var totalStudents = 0
@import be.objectify.deadbolt.java.views.html._
@import be.objectify.deadbolt.core.utils.TemplateUtils._

@import html5.tags.html._
@import java.util.TreeMap;

<thead>
<tr class="">
	<th>@Messages("Dostyk")</th>
	<th>@Messages("students")</th>
	<th>@Messages("group.size")</th>
</tr>
</thead>		
<tbody>
@for((dostyk,index) <- dostyks.zipWithIndex) {
	<tr class="lessons">
		<td>@(index+1)</td>
		<td>@dostyk.name</td>
		<td class="count">
		@if(dostyk.code>0){<a class="registration" dostyk="@dostyk.id">@dostyk.code</a>}else{@dostyk.code}
		@(totalStudents = totalStudents + dostyk.code)
		</td>
	</tr>
}		 
</tbody>
<tfoot>
<tr class="lessons">
	<th></th>
	<th>@Messages("total")</th>
	<th>@totalStudents</th>
</tr>
</tfoot>
