@(contentForm : Form[models.entities.social.Content],user : models.entities.user.AuthorisedUser)

@import be.objectify.deadbolt.java.views.html._
@import be.objectify.deadbolt.core.utils.TemplateUtils._

@import html5.tags.html._


    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">@Messages("content.create")</h3>
    </div>
    @if(contentForm.hasErrors) {
        <div class="alert-message error">
            <p><strong>Oops</strong> Please fix all errors</p>
        </div>
    }

    @helper.form(action = controllers.social.routes.Contents.save(), 'id -> "form_id") {
    <div class="modal-body">
        <fieldset>
            @defining(contentForm("id")) { uidField =>
                <input type="hidden" name="@uidField.name"  value="@uidField.value">
            }

            <input type="hidden" name="author.id" value="@user.id"/>
            <input type="hidden" name="dostyk.id" value="@user.dostyks.get(0).id" />
            @restrict(la(as("moderator"),as("teacher"))){
            @select(
                contentForm("dostykGroup.id"),
                options = options(models.logic.social.DostykGroupLogic.option(user.dostyks.get(0))),
                '_help -> "",
                'id -> "group",
                '_default -> (Messages("Dostyk")),
                '_label -> Messages("dostykGroup"),
                '_error -> contentForm("dostykGroup").error.map(_.withMessage("Please select your dostykGroup"))
            )
            }
            	<label>@Messages("title")</label>
            	<input type="text" id="title" name="title" placeholder="[11k1] ....." value="" />
            @textarea(contentForm("body"), 'rows -> 5,
                'class -> "ckeditor",
                '_label -> Messages("body"))

        </fieldset>
    </div>

    }
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true"> @Messages("close")</button>
        <button class="btn btn-primary" class="create" id="create"> @Messages("save")</button>
    </div>

<script type="text/javascript" src='@routes.Application.javascriptRoutes'></script>
<script>
	$("#group").change(function(){
		var title = "["+$("#group option:selected").text()+"]   ";
		$("#title").val(title);
		});
    $("#create").on("click", function(e){

        myJsRoutes.controllers.social.Contents.save().ajax({
            data: $("#form_id").serialize(),
            success : function(data) {
            $("#contents").html(data);
            $("#myAlert").addClass("in");
            $('#myModal').addClass('fade out')
            $('#myModal').modal('hide');
            },
            error : function(jqXHR, textStatus, errorThrown) {
                console.log(textStatus);
            }
        });
    });
</script>