@(contents: List[models.entities.social.Content], contentFrom : Form[models.entities.social.Content], user : models.entities.user.AuthorisedUser)

    @import be.objectify.deadbolt.java.views.html._
    @import be.objectify.deadbolt.core.utils.TemplateUtils._
    
    @import html5.tags.html._

    @_content(Messages("contentPage")){
        <div class="span9">
            @restrict(la(as("admin"), as("moderator"), as("teacher"))){
            <!-- Button to trigger modal -->
            <div class="span9">
            <a href="#myModal" role="button" class="btn btn-primary" data-toggle="modal">@Messages("content.create")</a>
            </div>

            <!-- Modal -->
            <div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            @contentForm(contentFrom,user)
            </div>

            }
            @restrict(la(as("student"))){            
            <div class="span9 well">
            	<table>            	
            	<tbody>
				<tr>
            	<th align="left">@Messages("Dostyk"): </th><td>@user.dostyks.get(0).name</td>
            	</tr>
            	@if(user.profile.dostykGroup!=null){
            	<tr>
            	<th align="left">@Messages("group"): </th><td>@user.profile.dostykGroup.name</td>
            	</tr>
            	<tr>
            	</tr>
            	<tr>
            	<th align="left">@Messages("curator"): </th><td>@user.profile.dostykGroup.curator.profile.firstName @user.profile.dostykGroup.curator.profile.lastName</td>
            	</tr>
            	<tr>
            	<th align="left">@Messages("phoneNumber"): </th><td>@user.profile.dostykGroup.curator.profile.phoneNumber</td>
            	</tr>
            	<tr>
            	<th align="left">@Messages("email"): </th><td>@user.profile.dostykGroup.curator.email</td>
            	</tr>
            	}
            	</tbody>
            	</table>
            </div>
            }
            <div id="contents" class="span9">
                @contentList(contents,user)
            </div>

        </div>
    }

<script type="text/javascript" src='@routes.Application.javascriptRoutes'></script>
<script>
</script>