@(dList: List[models.entities.social.Dostyk], dForm: Form[models.entities.social.Dostyk])


@import helper._
@import helper.twitterBootstrap._
@import html5.tags.html._

@translate(text: String) = @{
    Messages(text)
}
@_content(Messages("dostyk.setDostyk")){
<div class="span9">
    <div class="page-header">
        <h3>@Messages("dostyk.setDostyk")</h3>
    </div>
    <div style="display:none" id=result_div>
    </div>
    <table class="table table-striped">
        <tr>
            <td>
                <b>@Messages("dostyk.name")</b>
            </td>
            <td>
                <b>@Messages("dostyk.code")</b>
            </td>
            <td></td>
            <td></td>
        </tr>
        @for(dostyk <- dList){
            <tr class=@dostyk.id>
                <td>
                    @dostyk.name
                </td>
                <td>
                    @dostyk.code
                </td>
                <td>
                    <div class="actions">
                        <a href="/dostyk/edit/@dostyk.id" class="btn"><i class="icon icon-edit"></i></a>
                    </div>
                </td>
                <td>
                    <div class="actions">
                        <button class="btn delete" id=@dostyk.id ><i class="icon icon-remove"></i></button>
                    </div>
                </td>
            </tr>
        }
        @helper.form(action = controllers.social.routes.Dostyks.saveDostyk, 'method -> "POST") {
        <tr>
            <td>
                @text(
                    dForm("name"),
                    '_label -> translate("dostyk.name"),
                    '_error -> dForm.globalError,
                    '_showConstraints -> false
                )
            </td>
            <td>
                @number(
                    dForm("code"),
                    '_label -> translate("dostyk.code"),
                    '_error -> dForm.globalError,
                    '_min -> 1,
                    '_max -> 40,
                    '_showConstraints -> false
                )
            </td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td colspan="5">
                <div class="actions" align="right">
                    <input type="submit" class="btn primary" value='@Messages("add")'>
                    <a href="@routes.Application.index" class="btn">@Messages("cancel")</a>
                </div>
            </td>
        </tr>
        }
    </table>
</div>
}
<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
<script type="text/javascript" src='@routes.Application.javascriptRoutes'></script>
<script type="text/javascript">
    $(".delete").click(function(){
        value = this.id;
        var r=confirm("@Messages("areYouSure")");
        if (value.length>0&&r==true) {
            $(this).attr("disabled", true);
            $(this).html("<img src='@routes.Assets.at("images/loaderAJAX.gif")'/>");
            myJsRoutes.controllers.social.Dostyks.deleteDostyk(value).ajax({
                success : function(data) {
                    $("#result_div").hide();
                    $("#result_div").html(data);
                    $("#result_div").slideDown();
                    $("."+value).hide();
                },
                error : function(jqXHR, textStatus, errorThrown) {
                    $('#tb').prepend(''+jqXHR.responseText);
                    $(".alert-error").slideDown();
                    $("#"+value).attr("disabled", false);
                    $("#"+value).html("<i class='icon icon-remove'></i>");
                }
            });
        }
    });
</script>