@(filledForm: Form[models.entities.social.Dostyk], id: Long)


@import helper._
@import helper.twitterBootstrap._
@import html5.tags.html._

@translate(text: String) = @{
    Messages(text)
}
@_content(Messages("dostyk.edit")){
<div class="span9">
    <div class="page-header">
        <h3>@Messages("dostyk.edit")</h3>
    </div>
    <div style="display:none" id=result_div></div>
        @helper.form(action = controllers.social.routes.Dostyks.saveExistingDostyk(id), 'method -> "POST") {
            @text(
                filledForm("name"),
                '_label -> translate("dostyk.name"),
                '_error -> filledForm.globalError,
                '_showConstraints -> false
            )
            @number(
                filledForm("code"),
                '_label -> translate("dostyk.code"),
                '_error -> filledForm.globalError,
                '_min -> 1,
                '_max -> 40,
                '_showConstraints -> false
            )
            <div class="actions" align="right">
                <input type="submit" class="btn primary" value='@Messages("save")'>
                <a href="/dostyk/list" class="btn">@Messages("cancel")</a>
            </div>
        }
</div>
}
<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">