@import models.entities.social.Dostyk
@import models.entities.social.Firm
@import models.entities.user.AuthorisedUser

@(moder: AuthorisedUser, dostyk: Dostyk)

@_content(Messages("Firms")){
  <div class="row-fluid">
    <div class="page-header">
      <h3>@Messages("Firms")</h3>
    </div>
  </div>
    @myAccordion(){
        @myAccordionTab("firms","new",Messages("NewFirm")){
            @myFirmForm(moder,dostyk,null,true)
        }
        @for(firm <- Firm.getAll(dostyk)){
            @myAccordionTab("firms",firm.id+"",firm.name){
                @myFirmForm(moder,dostyk,firm,false)
            }
        }
    }
}

@myAccordion()(content:Html)={
    <div class="accordion" id="accordion_firms">
    @content
    </div>
}

@myAccordionTab(parentId:String,id:String,title: String)(content:Html)={
    <div class="accordion-group" id="group_@id">
        <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion_@parentId" href="#collapse_@id">
                @title
            </a>
        </div>
        <div id="collapse_@id" class="accordion-body collapse">
            <div class="accordion-inner">
                @content
            </div>
        </div>
    </div>
}

@myFirmForm(moder: AuthorisedUser, dostyk: Dostyk, firm: Firm, isNew: Boolean)={
@myHorizontalForm(if(isNew==true){"form_new"}else{"form_"+firm.id}){
    @myFormControl("name",Messages("Name")){
        <input class="input" type="text" name="name" @if(isNew==false){id="name_@firm.id"}else{id="name_new"}
        required="true" value="@if(isNew==false){@firm.name}">
    }
    @myFormControl("city",Messages("City")){
        <input class="input" type="text" name="city" id="city
        value="@if(isNew==false){@firm.getCity}@*else{@moder.requisite.dostykCity}*@">
    }
    @myFormControl("address",Messages("Address")){
        <input class="input" type="text" name="address" id="address" value="@if(isNew==false){@firm.getAddress}">
    }
    @myFormControl("phone",Messages("Phone")){
        <input class="input" type="tel" name="phone" id="phone" value="@if(isNew==false){@firm.getPhone}">
    }
    @myFormControl("director",Messages("Director")){
        <input class="input" type="text" name="director" id="director" value="@if(isNew==false){@firm.getDirector}">
    }
    @myFormControl("bik",Messages("BIK")){
        <input class="input" type="text" name="bik" id="bik" value="@if(isNew==false){@firm.getBik}">
    }
    @myFormControl("iik",Messages("IIK")){
        <input class="input" type="text" name="iik" id="iik" value="@if(isNew==false){@firm.getIik}">
    }
    @myFormControl("bin",Messages("BIN")){
        <input class="input" type="text" name="bin" id="bin" value="@if(isNew==false){@firm.getBin}">
    }
    @myFormControl("bank",Messages("Bank")){
        <input class="input" type="text" name="bank" id="bank" value="@if(isNew==false){@firm.getBank}">
    }
    @myFormControl("kbe",Messages("KBE")){
        <input class="input" type="text" name="kbe" id="kbe" value="@if(isNew==false){@firm.getKbe}">
    }
    <div class="control-group">
        <div class="controls" @if(isNew==true){id="controls_new"}else{id="controls_@firm.id"}>
            @if(isNew==true) {
                <a class="btn btn-success saver" for="form_new">@Messages("Save")</a>
            }else{
                <a class="btn btn-success saver" for="form_@firm.id" firm="@firm.id">@Messages("Edit")</a>
                <a class="btn btn-danger deleter" for="@firm.id">@Messages("Delete")</a>
            }
        </div>
    </div>
}
}

@myHorizontalForm(id:String)(content:Html)={
    <form id="@id" class="form-horizontal">
        @content
    </form>
}
@myFormControl(id:String,name:String)(content: Html)={
    <div class="control-group">
        <label class="control-label" for="@id">@name</label>
        <div class="controls">
            @content
        </div>
    </div>
}
<link rel="stylesheet" href='@routes.Assets.at("stylesheets/toastr.min.css")'>
<script src='@routes.Assets.at("javascripts/toastr.min.js")'></script>
    <script type="text/javascript">
        $(document).on("click",".saver",function(){
            if (window.confirm("@Messages("areYouSure")")) {
            console.log("technovision", "saverge kirdi");
            var form=$("#"+$(this).attr("for"));
                var firmId = $(this).attr("firm");
            if(validation($(this).attr("for"))==true){
                console.log("technovision", "saverge kirdi");
                var url;
                if(form.attr("id").indexOf("new") > -1){
                    url = '@controllers.social.routes.Firms.save(dostyk.id,-1,true)';
                }else{
                    url = '@controllers.social.routes.Firms.save(dostyk.id,-1,false)';
                    url = url.replace("firmId=-1", "firmId="+firmId);
                }
                console.log("technovision", "url: "+url);
                $.ajax({
                    url: url,
                    data:form.serialize(),
                    method: "POST",
                    type:"POST",
                    success : function(data) {
                        var res = data.toString();
                        console.log("technovision","res: "+res);
                        if(res=="exception"){
                            toastr.warning('@Messages("CallTechnovision")');
                        }else if(res=="name_already_exists") {
                            $("#name_"+firmId).val($("a[href='#collapse_"+firmId+"']").html().replace(/ /g,''));
                            toastr.warning('@Messages("NameAlreadyUsed")');
                        }else{
                            toastr.success('@Messages("Saved.Successfully")');
                            if(form.attr("id").indexOf("new") > -1){
                                transfer(res);
                                clear();
                                prepare(res);
                            }else{
                                changeName(firmId);
                            }
                        }
                    },
                    error : function(jqXHR, textStatus, errorThrown) {
                        toastr.warning('@Messages("CallTechnovision")');
                        console.log(jqXHR.responseText);
                    }
                });
            }else{
                toastr.warning('@Messages("FillFieldsFirst")');
            }
            }
        });
        $(document).on("click",".deleter",function(){
            if (window.confirm("@Messages("areYouSure")")) {
            console.log("technovision", "deleteke kirdi");
                    var firmId = $(this).attr("for");
                    url = '@controllers.social.routes.Firms.delete(-1)';
                    url = url.replace("firmId=-1", "firmId="+firmId);
                    console.log("technovision", "url: "+url);
                $.ajax({
                    url: url,
                    method: "GET",
                    success : function(data) {
                        var res = data.toString();
                        if(res=="exception"){
                            toastr.warning('@Messages("CallTechnovision")');
                        }else if(res=="success"){
                            toastr.success('@Messages("DeletedSuccessfully")');
                            $("#group_"+firmId).remove();
                        }
                    },
                    error : function(jqXHR, textStatus, errorThrown) {
                        toastr.warning('@Messages("CallTechnovision")');
                        console.log(jqXHR.responseText);
                    }
                });
            }
        });
        function validation(formName){
            var result = true;
            $("#"+formName+" input.input").each(function() {
                console.log("technovision","input: "+$(this).attr("id"));
                if($(this).prop('required')) {
                    console.log("technovision","value is null: "+$(this).val());
                    if($(this).val()){

                    }else{
                        result = false;
                    }
                }
            });
            return result;
        }
        function transfer(res){
            var field = [];
            $("#form_new input").each(function() {
                field[$(this).attr("name")] = $(this).val();
            });
            var accordion_new = $('#group_new').wrap('<p/>').parent().html();
            $('#group_new').unwrap();
            var replaced = accordion_new.replace(/new/g,res);
            $("#accordion_firms").append(replaced);
            $("a[href='#collapse_"+res+"']").html(field["name"]);
            $("#form_"+res+" input").each(function() {
                $(this).val(field[$(this).attr("name")]);
            });
            $("#controls_"+res).html(
                    '<a class="btn btn-success saver" for="form_'+res+'" firm="'+res+'">@Messages("Edit")</a>'+
                    '<a class="btn btn-danger deleter" for="'+res+'">@Messages("Delete")</a>'
            );
        }
        function clear(){
            $("#form_new input").each(function() {
                $(this).val(null);
            });
        }
        function prepare(res){
            $('.collapse.in')
                    .collapse('hide');
        }
        function changeName(firmId){
            var name = $("#form_"+firmId+" input[name='name']").val();
            $("a[href='#collapse_"+firmId+"']").html(name);
        }
    </script>
