@(dostyks : List[models.entities.social.Dostyk])

@import be.objectify.deadbolt.java.views.html._
@import be.objectify.deadbolt.core.utils.TemplateUtils._


@import helper.inputText;
@import models.entities.user._;
@import models.entities.social._;
@import helper.twitterBootstrap._

@import models.logic.social._;
@import models.logic.user._;
@import html5.tags.html._


@_content(Messages("report.gender")){
<button id="myButtonControlID" class="btn">@Messages("excelExport")</button>
<div id="divTableDataHolder">
<table class="table table-hover">
    <thead>
        <tr>
            <th></th>
            <th>@Messages("StudentCount")</th>
            <th>@Messages("male")</th>
            <th>@Messages("female")</th>
        </tr>
    </thead>
@for(dostyk<-dostyks){
    <tbody>
        <tr class="dostyk" dostykid="@dostyk.id">
            <th><a>@dostyk.name</a></th>
            <td>@models.logic.social.DostykLogic.getStudentsSize(dostyk,"active")</td>
            <td>@models.logic.user.ProfileLogic.getGenderCount(dostyk, "male")</td>
            <td>@models.logic.user.ProfileLogic.getGenderCount(dostyk, "female")</td>
        </tr>
        @restrict(la(as("moderator"))){
        @for(group<-dostyk.dostykGroups ){
		<tr class="dostyk_@dostyk.id groups">
			<td>@group.name</td>                    

            <td>@group.students.size()</td>
            <td>@models.logic.user.ProfileLogic.getGenderCount(group, "male")</td>
            <td>@models.logic.user.ProfileLogic.getGenderCount(group, "female")</td>

		</tr>
    	}}
    </tbody>
}
</table>
</div>
}
<script>
$("[id$=myButtonControlID]").click(function(e) {
    window.open('data:application/vnd.ms-excel,' + encodeURIComponent( $('div[id$=divTableDataHolder]').html()));
    e.preventDefault();
});

	$(document).ready(function() {
		$(".groups").hide();	
	});
	$(".dostyk").click(function() {
		var dostykid = $(this).attr("dostykid");
		$(".dostyk_" + dostykid).toggle();
	});
</script>