@(id: Long, examResults: List[models.entities.examination.ExamResult], users: List[models.entities.user.AuthorisedUser], grade: String)

@import be.objectify.deadbolt.java.views.html._
@import be.objectify.deadbolt.core.utils.TemplateUtils._

@import html5.tags.html._
@import views.html.helps.examResult

@inc(x:Int) = @{
	var xx = x; 
	xx=xx+1
	xx
}

@_content(Messages("dostykGroupList")){
<style>
@@media all {
	.page-break	{ display: none; }
}

@@media print {
	.page-break	{ display: block; page-break-before: always; }
}
</style>
<ol>
@for(i <- 0 to users.size() - 1){
	<li> @users.get(i).profile.lastName @users.get(i).profile.firstName @if(examResults.get(i) == null) {<br> @Messages("notAttended") }else {
		@examResult(examResults.get(i))
	}</li>
	<br>	
	@if(grade.equals("11") && i % 3 == 2 && examResults.get(i) != null){<div class="page-break"></div>}
	@if(grade.equals("6") && i % 7 == 6 && examResults.get(i) != null){<div class="page-break"></div>}
}
</ol>
<button style="width:120px; margin-left:320px" class="btn btn-primary noprint" onclick="window.print()" > Print </button> 
}

