@(dostykGroup: models.entities.social.DostykGroup, users: List[models.entities.user.AuthorisedUser])


@import be.objectify.deadbolt.java.views.html._
@import be.objectify.deadbolt.core.utils.TemplateUtils._


@_content(Messages("group.students")) {	
	<table class="table">
	<thead>
	<tr><th colspan="5"><h3>@dostykGroup.name</h3></th></tr>
	<tr>
	<th>@Messages("#")</th>
	<th>@Messages("profile.firstName")</th>
	<th>@Messages("profile.lastName")</th>
	<th>@Messages("profile.idNumber")</th>
	<th>@Messages("profile.phoneNumber")</th>
	<th>@Messages("profile.parentNumber")</th>
	</tr>
	</thead>
	<tbody>
	
	@for((student, index)<-users.zipWithIndex){
		<tr>
		<td>@{index+1}</td>
		<td><a href="@controllers.user.routes.AuthorisedUsers.editProfile(student.id)">@student.profile.firstName</a></td>
		<td>@student.profile.lastName</td>
		<td>@student.profile.idNumber</td>
		<td>@student.profile.phoneNumber</td>
		<td>@student.profile.parentNumber</td>
		</tr>
	}
	</tbody>
	</table>
}