@(groupFrom : Form[models.entities.social.DostykGroup], count : String)

@import be.objectify.deadbolt.java.views.html._
@import be.objectify.deadbolt.core.utils.TemplateUtils._

@import html5.tags.html._
@import scala.collection.immutable._



    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">@Messages("group.create")</h3>
    </div>

	
    @helper.form(action = controllers.social.routes.DostykGroups.submit(), 'id -> "form_id") {
    <div class="modal-body">
        <fieldset>
        	@defining(groupFrom("id")) { uidField =>
                <input type="hidden" name="@uidField.name"  value="@uidField.value">
            }
            @helper.inputText(groupFrom("name"), '_id ->"names", 'size -> 30, '_label -> Messages("name"))

            @select(
            groupFrom("courses.id"),
            options = options("11"->"11","10"->"10","9"->"9","8"->"8","7"->"7","6"->"6","5"->"5","4"->"4"),
            '_help -> "",
            '_label -> Messages("grade"),
            '_error -> groupFrom("courses").error.map(_.withMessage("Please select your grade"))
            )

            @select(
            groupFrom("language"),
            options = options("K"->Messages("group.kazakh"), "R"->Messages("group.russian")),
            '_help -> "",
            '_label -> Messages("language"),
            '_error -> groupFrom("language").error.map(_.withMessage("Please select your language"))
            )

            @select(
            groupFrom("curator.id"),
            options = options(models.logic.social.DostykLogic.getTeacherMap(models.entities.user.AuthorisedUser.getUserByEmail(session.get("connected")).dostyks.get(0))),
            '_help -> "",
            '_label -> Messages("curator"),
            '_error -> groupFrom("curator").error.map(_.withMessage("Please select your curator"))
            )



        </fieldset>
    </div>

    }
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">@Messages("close")</button>
        <button class="btn btn-primary" id="create">@Messages("create")</button>
    </div>



<script type="text/javascript" src='@routes.Application.javascriptRoutes'></script>
<script>
$('.alert .close').on("click", function(e) {
	$(this).parent().hide();
	$('#myModal').modal('hide');
});

$("#create").on("click", function() {
	myJsRoutes.controllers.social.DostykGroups.submit().ajax({
		data: $("#form_id").serialize(),
		success: function(data) {
			$("#groupTableBody").html(data);
			document.location.reload(true);
			$('#myModal').modal('hide');
		},
		error: function(jqXHR, textStatus, errorThrown) {
			console.log("Group with this groupNumber exists!!!(change number)");
			alert('@Messages("groupWithNumberExists")');
		}
	});
});
</script>
