@(dostykGroups: List[models.entities.social.DostykGroup])

@import be.objectify.deadbolt.java.views.html._
@import be.objectify.deadbolt.core.utils.TemplateUtils._

@import html5.tags.html._


		@for(group<-dostykGroups ){
		<tr id="tr@group.id">
		    <td>@group.name</td> @* <a groupid="@group.id" class="edit">@group.name</a> *@
			<!-- <td>@group.students.size()</td> -->
		    <td>
		    	@if(group.curator!=null){
		    		<a href="@controllers.user.routes.AuthorisedUsers.editProfile(group.curator.id)">@group.curator.profile.lastName @group.curator.profile.firstName</a>
		    	}else{@Messages("curatorNameIsEmpty")}</td>
		    <td>

		        <a href = "@controllers.routes.CTimetable.viewGroupTimetable(group.id)"> <i class="icon-calendar" title="@Messages("timetable.edit")"></i> @Messages("change") </a>

		    </td>
			@*
		    @restrict(la(as("admin"))){
		    	<td>@group.dostyk.name</td>
		        <td><button groupId="@group.id" class="changeStatus btn">@Messages("group.changeStatus")</button>	</td>
			}
			*@
		    @restrict(la(as("moderator"))){    
				<td ><a href="@controllers.social.routes.DostykGroups.groupStudents(group.id)">@group.students.size()</a></td>
				<td ><button class="btn btn-warning" onclick="editGroup(@group.id)">@Messages("edit")</button></td>
				<td ><button class="btn btn-danger" onclick="deleteGroup(@group.id)">@Messages("delete")</button></td>
		    }
		</tr>
		}






