@(id: Long, exams: List[models.entities.examination.Exam])

@import be.objectify.deadbolt.java.views.html._
@import be.objectify.deadbolt.core.utils.TemplateUtils._

@import html5.tags.html._

@_content(Messages("dostykGroupList")){
<ol>
@for(exam<-exams){
	<li> <a href="@controllers.social.routes.DostykGroups.groupTabelByExam(id, exam.id)"> @exam.name </a> </li>
}
</ol>

}