@(dostykGroups: List[models.entities.social.DostykGroup],groupFrom : Form[models.entities.social.DostykGroup])

@import be.objectify.deadbolt.java.views.html._
@import be.objectify.deadbolt.core.utils.TemplateUtils._

@import html5.tags.html._

@_content(Messages("dostykGroupList")){

<div class="span4">
 @restrict(la(as("moderator"))){
<!-- Button to trigger modal -->
<a href="#myModal" role="button" class="btn btn-success" data-toggle="modal">@Messages("group.create")</a>

 
<!-- Modal -->
<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
@groupForm(groupFrom, "1")
</div>
}
<div>&nbsp</div>
<style>
tr:hover{
 background-color: #fff;
}
</style>
<table class="table table-condensed table-bordered">  
  <thead>
  <tr>
    <th style="min-width:150px;">@Messages("group.name")</th>
    <th style="min-width:150px;">@Messages("group.curator")</th>
    <th style="min-width:150px;">@Messages("group.timetable")</th>
    <th style="min-width:150px;">@Messages("group.size")</th>
    <th></th>
    <th></th>
  </tr>
  </thead>
  <tbody id="groupTableBody">
  	 @groupTableBody(dostykGroups)
  </tbody>
</table>	
</div>
}

<script type="text/javascript" src='@routes.Application.javascriptRoutes'></script>
<script>
$(".changeStatus").on("click", function(){
	var groupId = $(this).attr("groupid");
	myJsRoutes.controllers.social.DostykGroups.changeStatus(groupId).ajax({    	
    	success : function(data) {
    		$("#groupTableBody").html(data);    		
    	},
    	error : function(jqXHR, textStatus, errorThrown) {
    		console.log(textStatus);
    	}
    });
});

function editGroup(groupId) {
    var groupId = groupId

    myJsRoutes.controllers.social.DostykGroups.edit(groupId).ajax({
        success: function (data) {
            $('#myModal').html(data);
            $('#myModal').modal('show');
        },
        error: function (jqXHR, textStatus, errorThrown) {
            console.log(textStatus);
        }
    });

}

function deleteGroup(groupId){
    var groupId = groupId;
    var r=confirm("@Messages("areYouSure")");
    if(r==true) {
        myJsRoutes.controllers.social.DostykGroups.delete(groupId).ajax({
            success: function (data) {
                $('#tr' + groupId).remove();
            },
            error: function (jqXHR, textStatus, errorThrown) {
                console.log(textStatus);
            }
        });
    }

}

</script>