@(message: String)

@import be.objectify.deadbolt.java.views.html._
@import be.objectify.deadbolt.core.utils.TemplateUtils._

 
@main(message){	
	@subjectNotPresent() {
		
	            <a href="@controllers.user.routes.AuthorisedUsers.signIn()">signIN</a>
	            <a href="@controllers.user.routes.AuthorisedUsers.signUp("student")">signUP</a>
	}

	
}

