@(dostyks : List[models.entities.social.Dostyk])

@import be.objectify.deadbolt.java.views.html._
@import be.objectify.deadbolt.core.utils.TemplateUtils._


@import helper.inputText;
@import models.entities.user._;
@import models.entities.social._;
@import helper.twitterBootstrap._

@import models.logic.social._;
@import models.logic.user._;
@import html5.tags.html._


@_content(Messages("left.report")){
@*
<button id="myButtonControlID" class="btn">@Messages("excelExport")</button>
*@
<div id="divTableDataHolder">
<table class="table table-hover tablesorter" id="table">
    <thead>
        <tr>
            <th></th>
            <th>@Messages("StudentCount")</th>
            @for((month,index)<-ProfileLogic.movementMonths.zipWithIndex){
            @if(index<9){
            <th>@Messages(month.format("MMMM"))</th>
            }
            }
            <th></th>
        </tr>
    </thead>
    <tbody>
	@for(dostyk<-dostyks){
        <tr class="dostyk" dostykid="@dostyk.id">
            <th><a>@dostyk.name</a></th>
            <td>@models.logic.social.DostykLogic.getStudentsSize(dostyk,"active")</td>
            @for((month,index)<-ProfileLogic.movementMonths.zipWithIndex){
            <td>@if(dostyk.movement.get(month)!=null){
            @if(dostyk.movement.get(month)>0){
            <a dostyk="@dostyk.id" month="@index" class="movement">@dostyk.movement.get(month)</a>
            }else{
            @dostyk.movement.get(month)
            }
            }</td>

            }            
            
        </tr>
        @*
        @restrict(la(as("moderator"))){
        @for(group<-dostyk.dostykGroups ){
		<tr class="dostyk_@dostyk.id groups">                    
			<td>@group.name</td>                    
            @if(group.`type`.equals("E")){
            	<td>@group.electiveStudents.size</td>                      	
            }else{
            	<td>@group.students.size</td>
            }
            <td>@group.ulgerimi("jaksy")</td>
            <td>@group.ulgerimi("kizilAttestat")</td>
            <td>@group.ulgerimi("altynBelgi")</td>            
		</tr>
    	}    
    	}
    	*@
	}
	</tbody>
</table>
</div>
}
<script src='@routes.Application.javascriptRoutes'></script>
<script src='@routes.Assets.at("javascripts/jquery.tablesorter.min.js")'></script>

<script>
$(document).ready(function() {
	$(".groups").hide();
});
$(".dostyk").click(function() {
	var dostykid = $(this).attr("dostykid");
	$(".dostyk_" + dostykid).toggle();
});

$(document).on('click', '.movement', function(e) {
	e.preventDefault();
	$dostyk = $(this).attr('dostyk') * 1;
	$monthIndex = $(this).attr('month') * 1;
	myJsRoutes.controllers.user.UserManagement.movementReportPrint($dostyk,$monthIndex).ajax({		
		success: function(data) {
			var win = window.open('about:blank');
			with(win.document) {
				open();
				write(data);
				window.open('data:application/vnd.ms-excel,'+ encodeURIComponent( data));
				//print();
				close();
			}
			win.print();
		},
		error: function(data) {
			console.log("error")
		}
	});
});
</script>