@(regions : List[models.entities.social.Region])

@import be.objectify.deadbolt.java.views.html._
@import be.objectify.deadbolt.core.utils.TemplateUtils._


@import helper.inputText;
@import models.entities.user._;
@import models.entities.social._;
@import helper.twitterBootstrap._

@import models.logic.social._;
@import models.logic.user._;
@import html5.tags.html._


@_content(Messages("student.schools")){
<button id="myButtonControlID" class="btn btn-success">@Messages("excelExport")</button>


    <label for="region">@Messages("region")</label>
    <select name=region id=region required>
        <option value="" class=blank> @Messages("selectRegion")</option>
        @for(r<-regions) {
            <option value=@r.code>
            @if(session().get("lang") == "kk"){
                @r.name_kz
            } else {
                @r.name_ru
            }
            </option>
        }
    </select>
    <div style="display:none" id="district_div"></div>
    <div style="display:none" id="school_div"></div>
    <div id="divTableDataHolder">

    </div>



}
<script type="text/javascript" src='@routes.Application.javascriptRoutes'></script>
<script>


$("[id$=myButtonControlID]").click(function(e) {
    window.open('data:application/vnd.ms-excel,' + '\uFEFF' + encodeURIComponent( $('div[id$=divTableDataHolder]').html()));
    e.preventDefault();
});


$("#region").on("change", function() {
    $("#district_div").hide();
    $("#school_div").hide();
    region = $("#region option:selected").html();
    value = $("#region option:selected").val();
    if (value.length > 0) {
        myJsRoutes.controllers.social.Regions.getDistricts(value).ajax({
            success: function(data) {
                $("#district_div").html(data);
                $("#district_div").slideDown();
                $("#divTableDataHolder").html("");
            },
            error: function(jqXHR, textStatus, errorThrown) {
                console.log(textStatus);
            }
        });

    }
});
$(document).on("change", "#district", function() {
    district = $("#district option:selected").html();
    value = $("#district option:selected").val();
    region = $("#region option:selected").html();
    reg = $("#region option:selected").val();
    if (value.length > 0) {
        myJsRoutes.controllers.social.Districts.getSchools(value, reg).ajax({
            success: function(data) {
                $("#school_div").hide();
                $("#school_div").html(data);
                $("#school_div").slideDown();
                $("#divTableDataHolder").html("");
            },
            error: function(jqXHR, textStatus, errorThrown) {
                console.log(textStatus);
            }
        });
    }
});
$(document).on("change", "#school", function() {
    district = $("#district option:selected").html();
    region = $("#region option:selected").html();
    reg = $("#region option:selected").val();
    dis = $("#district option:selected").val();
    school = $("#school option:selected").val();
    $("#divTableDataHolder").html("");
    if (school.length > 0) {
        myJsRoutes.controllers.user.UserManagement.getStudentList(reg, dis, school).ajax({
            success: function(data) {
                $("#divTableDataHolder").html(data);
                $("#divTableDataHolder").slideDown();
            },
            error: function(jqXHR, textStatus, errorThrown) {
                console.log(textStatus);
            }
        });


    }
});

</script>