@(dostyks : List[models.entities.social.Dostyk])

@import be.objectify.deadbolt.java.views.html._
@import be.objectify.deadbolt.core.utils.TemplateUtils._


@import helper.inputText;
@import models.entities.user._;
@import models.entities.social._;
@import helper.twitterBootstrap._

@import models.logic.social._;
@import models.logic.user._;
@import html5.tags.html._


@_content(Messages("report.ulgerimi")){
<button id="myButtonControlID" class="btn">@Messages("excelExport")</button>
<div id="divTableDataHolder">
<table class="table table-hover tablesorter" id="table">
    <thead>
        <tr>
            <th></th>
            <th>@Messages("StudentCount")</th>
            <th>@Messages("jaksy")</th>
            <th>@Messages("kizilAttestat")</th>
            <th>@Messages("altynBelgi")</th>            
        </tr>
    </thead>
    <tbody>
	@for(dostyk<-dostyks){
        <tr class="dostyk" dostykid="@dostyk.id">
            <th><a>@dostyk.name</a></th>
            <td>@models.logic.social.DostykLogic.getStudentsSize(dostyk,"active")</td>

            <td>@dostyk.ulgerimi.get("jaksy")</td>
            <td>@dostyk.ulgerimi.get("kizilAttestat")</td>
            <td>@dostyk.ulgerimi.get("altynBelgi")</td>

        </tr>
        @*
        @restrict(la(as("moderator"))){
        @for(group<-dostyk.dostykGroups ){
		<tr class="dostyk_@dostyk.id groups">                    
			<td>@group.name</td>                    

            	<td>@group.students.size</td>


		</tr>
    	}    
    	}
        *@
	}
	</tbody>
</table>
</div>
}
<script src="@routes.Assets.at("javascripts/jquery.tablesorter.min.js")" type="text/javascript"></script>

<script>
$("[id$=myButtonControlID]").click(function(e) {
    window.open('data:application/vnd.ms-excel,' 
    	+ encodeURIComponent( $('div[id$=divTableDataHolder]').html()));
    e.preventDefault();
});
	$(document).ready(function() {
		$(".groups").hide();
		//$("#table").tablesorter(); 
			
	});
	$(".dostyk").click(function() {
		var dostykid = $(this).attr("dostykid");
		$(".dostyk_" + dostykid).toggle();
	});
</script>