@(dostyks : List[models.entities.accounting.Report], currents: Int,	students: Int, totals: TreeMap[String, String])
@import be.objectify.deadbolt.java.views.html._
@import be.objectify.deadbolt.core.utils.TemplateUtils._

@import html5.tags.html._
@import java.util.TreeMap;

<thead>
<tr class="">
	<th>@Messages("Dostyk")</th>
	<th>@Messages("payment.percentage")</th>
	<th>@Messages("payment.planed")</th>
	<th>@Messages("payment.payed")</th>
	<th>@Messages("payment.debt")</th>
</tr>
</thead>		
<tbody>
@for((dostyk) <- dostyks) {
	<tr class="lessons" dostykid="@dostyk.id" id="dostyk_@dostyk.id">
		<td><a class="dostykReport" dostykid="@dostyk.id">@dostyk.name</a></td>		
		<td>
		<span class="student_count" style="cursor:pointer">@dostyk.studentSize</span>
		<span class="percentage" style="cursor:pointer">
		(@{
		if(dostyk.studentSize!=0){
		dostyk.percentage*100/dostyk.studentSize
		}else{0}
		}%)		
		</span>
		<span class="payment_count" style="cursor:pointer">@dostyk.percentage</span>
		</td>
		@*
		<td>
		<span class="coef" style="cursor:pointer">
		@{Math.round(dostyk.plannedPayment/(dostyk.studentSize*100000)*100.0)/100.0}
		</span>
		</td>
		*@
		<td>@dostyk.sPlannedPayment</td>
		<td>@dostyk.sPayedPayment</td>
		<td>@dostyk.sDebtPayment</td>
	</tr>
}
		 
</tbody>
@restrict(la(as("admin"))){
<tfoot>
<tr class="lessons">
	<th>@Messages("total")</th>
	<th>
		@if(students!=0){
			@students
			(@{currents*100/students}%)
			@currents

		}
	</th>
	@for((payment,amount)<-totals){
		<th>@amount
		</th>			
	}	
</tr>
</tfoot>
}


<script type="text/javascript" src='@routes.Application.javascriptRoutes'></script>
<script>


$(document).ajaxSuccess(function() {
	console.log( "Triggered ajaxSuccess handler." );
	
	$('.percentage').tooltip({title:'@Messages("percentage")',placement:'top'});
	$('.payment_count').tooltip({title:'@Messages("paymentSize")',placement:'right'});
	$('.student_count').tooltip({title:'@Messages("dostyk.studentsSize")',placement:'left'});
});
	var d = 0;
	$(".dostykReport").on("click", function(e) {
		if(d%2==0){
			$(".lessons").hide();
			$("#reportType").val("group");
			//$(this).removeClass("icon-arrow-down");
			//$(this).addClass("icon-arrow-up");
			$("#groups").show();
		}
		else{
			$("#reportType").val("dostyk");
			$(".lessons").show();
			$("#groups").hide();
			$("#students").hide();
			//$(this).removeClass("icon-arrow-up");
			//$(this).addClass("icon-arrow-down");
		}
		d++;

		var dostykid = $(this).attr("dostykid");
		$("#dostyk_"+dostykid).show();		
		myJsRoutes.controllers.accounting.Payments.groupReport(dostykid).ajax({
			data : $("#searchForm").serialize(),
			success : function(data) {
				$("#groups").html(data);
			},
			error : function(jqXHR, textStatus, errorThrown) {
				console.log(jqXHR.responseText);
			}
		});
		
		
	});
</script>