@(greports : List[models.entities.accounting.Report], totals: TreeMap[String, String])

@import java.util.TreeMap;

<thead>
<tr class="">
	<th>@Messages("dostykGroup")</th>
	<th>@Messages("payment.students")</th>
	<th>@Messages("payment.coeficient")</th>
	<th>@Messages("payment.planed")</th>
	<th>@Messages("payment.payed")</th>
	<th>@Messages("payment.debt")</th>
</tr>
</thead>
<tbody>
@*for((group, payment) <- groupPayments if(group.`type`!="E")) {*@
@for(greport <- greports){
	<tr class="groups" groupid="@greport.id" id="group_@greport.id">
		<td class="">
		@if(greport.studentSize>0){<a class="groupReport" groupid="@greport.id" dostykid="@greport.dostykId">@greport.name</a>}else{ @greport.name} </td>
		<td>@greport.percentage
		(
		@if(greport.studentSize!=0){
			@{greport.percentage*100/greport.studentSize}
		}
		%)
		@greport.studentSize</td>
		<td>
		@if(greport.studentSize!=0) {
			@{
				Math.round(greport.plannedPayment / (greport.studentSize * 100000) * 100.0) / 100.0
			}
		}
		</td>
		<td>@greport.sPlannedPayment</td>
		<td>@greport.sPayedPayment</td>
		<td>@greport.sDebtPayment</td>
	</tr>
}
</body>
<tfoot>
<tr class="groups">
	<th>@Messages("total")</th>
	<th>
	<th></th>
	
	@for((payment,amount)<-totals){
		<th>@amount
		</th>			
	}	
</tr>
</tfoot>

<script type="text/javascript" src='@routes.Application.javascriptRoutes'></script>
<script>
var g = 0;
$(".groupReport").on("click",function(e){

	if(g%2==0){
		$(".groups").hide();		
		$("#students").show();
		$("#reportType").val("student");
		//$(this).removeClass("icon-arrow-down");
		//$(this).addClass("icon-arrow-up");
	}
	else{		
		$(".groups").show();		
		$("#students").hide();
		$("#reportType").val("group");
		//$(this).removeClass("icon-arrow-up");
		//$(this).addClass("icon-arrow-down");
	}
	g++;
	
		
	var groupid = $(this).attr("groupid");
	$("#groupid").val(groupid);
	
	$("#group_"+groupid).show();
	var morevalue = $(this).attr("dostykid");
	myJsRoutes.controllers.accounting.Payments.studentReport(groupid).ajax({
		data: $("#searchForm").serialize()+ "&dostyk.id=" + morevalue,
		success : function(data) {
         	$("#students").html(data);
        },
        error : function(jqXHR, textStatus, errorThrown) {
            console.log(textStatus);
        }
	});
	
});

</script>
		
</tbody>