@(reports : List[models.entities.accounting.Report], totals: TreeMap[String, String])

@import java.util.TreeMap

<thead>
<tr class="">
	<th>@Messages("fullname")</th>
	<th>@Messages("profile.phoneNumber")</th>	
	<th>@Messages("payment.planed")</th>
	<th>@Messages("payment.payed")</th>
	<th>@Messages("payment.debt")</th>
</tr>
</thead>
<tbody>
@for(report <- reports) {
	<tr class="payment" studentid="@report.id">
		<td class="payment"><a href="@controllers.accounting.routes.Payments.showPaymentList(report.id)"
		class="studentReport" groupid="@report.id">@report.name</a></td>
		<td>@Html(report.phone)</td>
		<td>@report.sPlannedPayment</td>
		<td>@report.sPayedPayment</td>
		<td>@report.sDebtPayment</td>
	</tr>		
}
</tbody>
<tfoot>
<tr class="">
	<th>@Messages("total")</th>		
	<th></th>
	@for((payment,amount)<-totals){
		<th>@amount
		</th>			
	}	
</tr>
</tfoot>
<script type="text/javascript" src='@routes.Application.javascriptRoutes'></script>
<script>
$(document).ready(function(){		
		$("#reportType").val("student");
});
</script>