@(firms : List[models.entities.social.Firm])

@_content(Messages("CashBook")){
    <form action="@controllers.user.routes.UserManagement.getCashBook()" target="_blank" method="post">
        @*<table>
            <tr>
                <td style="width: 200px">
                    <div class="span3" style="width: 190px">
                        @Messages("payment.startDate") - @Messages("payment.endDate")
                    </div>
                </td>
                <td style="padding-top: 5px">
                    <span class="add-on"><i class="icon-calendar"></i></span>
                    <input type="text" name="reservation" id="reservation" />
                </td>
                <td>
                    <button type="submit" class="btn btn-primary" >@Messages("Submit")</button>
                </td>
            </tr>
        </table>
        *@
        <table>
            <tr>
                <td>
                    <label for="date">@Messages("start.date")</label>
                    <input type="date" name="dateStart" id="dateStart" value="@{new Date().format("yyyy-MM-dd")}"/>
                </td>
                <td>
                    <label for="date">@Messages("end.date")</label>
                    <input type="date" name="dateEnd" id="dateEnd" value="@{new Date().format("yyyy-MM-dd")}"/>
                </td>
                <td>
                    <label for="date">@Messages("Firm")</label>
                    <select name="firm" id="firm">
                        <option value="all">@Messages("all")</option>
                        @for(firm <- firms){
                            <option value="@firm.id">@firm.getName</option>
                        }
                    </select>
                </td>
                <td style="padding-left: 10px" >
                    <button type="submit" class="btn btn-primary" style="margin-top: 20px">@Messages("Submit")</button>
                </td>
            </tr>
        </table>
        @*<div>
            <label for="date">@Messages("Date")</label>
            <input type="date" name="date" id="date" value="@{new Date().format("yyyy-MM-dd")}"/>
        </div>
        *@

        <br>

    </form>
}

