@(dostyks: List[models.entities.social.Dostyk], lang : String, userRole: String)
@import be.objectify.deadbolt.java.views.html._
@import be.objectify.deadbolt.core.utils.TemplateUtils._

@import html5.tags.html._


@_content(Messages("discount.report")){
<button id="myButtonControlID" class="btn">@Messages("excelExport")</button>


        @if(userRole.equals("admin")) {
            <div id="divTableDataHolder" style="width: 100%; overflow: auto;">
                <table class="table table-hover" style="width: 100%">
                    <thead>
                        <tr>
                            <th style="min-width: 200px">@Messages("Dostyk")</th>
                            <th>@Messages("StudentCount")</th>
                            @for(discount <- models.logic.accounting.DiscountMaxLogic.getAllOrderByValue() if (discount.nameKz != "Bonus")) {
                                <th>
                                @if(lang.equals("kk")) {
                                    @discount.nameKz
                                } else {
                                    @discount.nameRu
                                }
                                </th>
                            }
                        </tr>
                    </thead>
                    @for(dostyk <- dostyks) {
                        <tbody>
                            <tr>
                                <th>@dostyk.name</th>
                                <td>@models.logic.social.DostykLogic.getStudentsSize(dostyk, "active")</td>
                                @for(discount <- models.logic.accounting.DiscountMaxLogic.getAllOrderByValue() if (discount.nameKz != "Bonus")) {
                                    <td>@models.logic.accounting.DiscountValueLogic.getDiscountCount(dostyk.users).get(discount)</td>
                                }

                            </tr>
                            @*
                            <tr>
                            @for(group<-dostyk.dostykGroups){
                            <tbody>
                            <tr>
                            <td>@group.name</td>

                            @if(group.`type`.equals("E")){
                            <td>@group.electiveStudents.size()</td>
                            @for(discount <-models.logic.accounting.DiscountMaxLogic.getAllOrderByValue() if(discount.name!="Bonus")){
                            <td>@models.logic.accounting.DiscountValueLogic.getDiscountCount(models.logic.user.ProfileLogic.getElectiveGroupUsers(group)).get(discount)
                            @models.logic.accounting.DiscountValueLogic.getDiscountCount(models.logic.user.AuthorisedUserLogic.find.where().eq("profile.electiveGroup", group).findList()).get(discount)

                            </td>}
                            }else{
                            <td>@group.students.size()</td>
                            @for(discount <-models.logic.accounting.DiscountMaxLogic.getAllOrderByValue() if(discount.name!="Bonus")){
                            <td>@models.logic.accounting.DiscountValueLogic.getDiscountCount(models.logic.user.AuthorisedUserLogic.getByProfiles(group.students)).get(discount)</td>
                            }
                            }

                            </tr>
                            </tbody>
                            }
                            </tr>*@
                        </tbody>
                    }
                </table>
            </div>
        }else{
            <div id="divTableDataHolder" style="width: 100%; overflow: auto; display: none">
                <table class="table table-hover" style="width: 100%">
                    <thead>
                        <tr>
                            <th style="min-width: 200px">@Messages("Dostyk")</th>
                            <th>@Messages("StudentCount")</th>
                            @for(discount <- models.logic.accounting.DiscountMaxLogic.getAllOrderByValue() if (discount.nameKz != "Bonus")) {
                                <th>
                                @if(lang.equals("kk")) {
                                    @discount.nameKz
                                } else {
                                    @discount.nameRu
                                }
                                </th>
                            }
                        </tr>
                    </thead>
                    @for(dostyk <- dostyks) {
                        <tbody>
                            <tr>
                                <th>@dostyk.name</th>
                                <td>@models.logic.social.DostykLogic.getStudentsSize(dostyk, "active")</td>
                                @for(discount <- models.logic.accounting.DiscountMaxLogic.getAllOrderByValue() if (discount.nameKz != "Bonus")) {
                                    <td>@models.logic.accounting.DiscountValueLogic.getDiscountCount(dostyk.users).get(discount)</td>
                                }

                            </tr>
                            @*
                            <tr>
                            @for(group<-dostyk.dostykGroups){
                            <tbody>
                            <tr>
                            <td>@group.name</td>

                            @if(group.`type`.equals("E")){
                            <td>@group.electiveStudents.size()</td>
                            @for(discount <-models.logic.accounting.DiscountMaxLogic.getAllOrderByValue() if(discount.name!="Bonus")){
                            <td>@models.logic.accounting.DiscountValueLogic.getDiscountCount(models.logic.user.ProfileLogic.getElectiveGroupUsers(group)).get(discount)
                            @models.logic.accounting.DiscountValueLogic.getDiscountCount(models.logic.user.AuthorisedUserLogic.find.where().eq("profile.electiveGroup", group).findList()).get(discount)

                            </td>}
                            }else{
                            <td>@group.students.size()</td>
                            @for(discount <-models.logic.accounting.DiscountMaxLogic.getAllOrderByValue() if(discount.name!="Bonus")){
                            <td>@models.logic.accounting.DiscountValueLogic.getDiscountCount(models.logic.user.AuthorisedUserLogic.getByProfiles(group.students)).get(discount)</td>
                            }
                            }

                            </tr>
                            </tbody>
                            }
                            </tr>*@
                        </tbody>
                    }
                </table>
            </div>
            <table class="table table-hover" style="max-width: 450px; ">
            @for(dostyk <- dostyks) {
                <tbody>
                    <tr>
                        <td style="max-width: 350px">
                            <div class="card-header" role="tab" id="heading@dostyk.id">
                                <h5 class="mb-0">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse@dostyk.id" aria-expanded="true" aria-controls="collapse@dostyk.id">
                                    @Messages("StudentCount")
                                    </a>
                                </h5>
                            </div>

                        </td>
                        <td style="padding-top: 18px"><span class="badge badge-warning">@models.logic.social.DostykLogic.getStudentsSize(dostyk, "active")</span> </td>
                    </tr>

                    @for(discount <- models.logic.accounting.DiscountMaxLogic.getAllOrderByValue() if (discount.nameKz != "Bonus")) {
                        <tr><td>
                            <div class="card">
                                <div class="card-header" role="tab" id="heading@discount.id">
                                    <h5 class="mb-0">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse@discount.id" aria-expanded="true" aria-controls="collapse@discount.id">
                                        @if(lang.equals("kk")) {
                                            @discount.nameKz
                                        } else {
                                            @discount.nameRu
                                        }
                                        </a>
                                    </h5>
                                </div>
                                <div id="collapse@discount.id" class="collapse show" role="tabpanel" aria-labelledby="heading@discount.id">
                                    <div class="card-block">
                                    @for(payment <- models.logic.accounting.DiscountValueLogic.getDiscountUsers(dostyk.users, discount)) {
                                        <a href="/profile/edit/@payment.user.id" target="_blank" style="padding-left: 15px; color:black">@payment.user.profile.lastName @payment.user.profile.firstName</a>
                                    }
                                    </div>
                                </div>
                            </div>
                        </td>
                            <td style="padding-top: 18px">
                                <span class="badge badge-warning">@models.logic.accounting.DiscountValueLogic.getDiscountCount(dostyk.users).get(discount)</span>
                            </td>

                        </tr>
                    }

                </tbody>
            }


            </table>
        }



}

<script>
$("[id$=myButtonControlID]").click(function(e) {
    window.open('data:application/vnd.ms-excel,' 
    	+ encodeURIComponent( $('div[id$=divTableDataHolder]').html()));
    e.preventDefault();
});
</script>