@(dVals: List[models.entities.accounting.DiscountValue], status: String, message: String, lang: String)


@import helper._
@import helper.twitterBootstrap._

@_content(Messages("discounts.set")){
	<div class="span9">
		<div class="page-header">
			<h3>@Messages("discounts.set")</h3>
		</div>
        @if(message!="") {
            <div class='@status'>
                <a class="close" data-dismiss="alert">×</a>
                @Messages(message)
            </div>
        }
        <table class="table table-bordered">
        	<tr>
    			<td>@Messages("discount.name")</td><td>@Messages("discount.value")</td><td>@Messages("discount.maxValue")</td><td>@Messages("discountMax.user.size")</td>
    		</tr>
            @helper.form(action = controllers.accounting.routes.DiscountValues.saveDiscountValues, 'method -> "POST") {
        	    @for(discount <- dVals){
    			<tr class=@discount.id>
    				<td>
						@if(lang.equals("kk")) {
							@discount.dmax.nameKz
						}else{
							@discount.dmax.nameRu
						}
    				</td>
                    <td>
                        <input type="number" name="@discount.dmax.nameKz" id="@discount.dmax.nameKz" value="@discount.value" min="0" max="@discount.dmax.value"/>
                    </td>
    				<td>
    					@discount.dmax.value
    				</td>
					<td>
						@discount.dmax.maxUserSize
					</td>
    			</tr>
			    }
				<tr>
					<td colspan="4">
						<div class="actions" align="right">
							<input type="submit" class="btn btn-primary" value='@Messages("save")'>
							<a href="@routes.Application.index" class="btn">@Messages("cancel")</a>
						</div>
					</td>
				</tr>
			}
		</table>
	</div>    
}