@(dList: List[models.entities.accounting.DiscountMax], dForm: Form[models.entities.accounting.DiscountMax])


@import helper._
@import helper.twitterBootstrap._
@import html5.tags.html._

@translate(text: String) = @{
    Messages(text)
}

@_content(Messages("discountMaxes.set")){
	<div class="span9">
		<div class="page-header">
			<h3>@Messages("discountMaxes.set")</h3>
		</div>
        <div style="display:none" id=result_div>
        </div>
        <table id="tb" class="table table-striped">
        	<thead>
        	<tr>
    			<th>@Messages("discountMax.name.kz")</th>
                <th>@Messages("discountMax.name.ru")</th>
                <th>@Messages("discountMax.value")</th>
                <th>@Messages("discountMax.user.size")</th>
                <th></th>
                <th></th>
    		</tr>
    		</thead>
        	@for(discount <- dList){
    			<tr class=@discount.id>
    				<td>
    					@discount.nameKz
    				</td>
                    <td>
                        @discount.nameRu
                    </td>
    				<td>
    					@discount.value
    				</td>
                    <td>
                        @discount.maxUserSize
                    </td>
    				<td>
                        @if(discount.nameKz != "Bonus"){
                            <div class="actions">
                                <a href="/discount-maxes/edit/@discount.id" class="btn"><i class="icon icon-edit"></i></a>
                            </div>
                        }
                    </td>
                    <td>
                        @if(discount.nameKz != "Bonus") {
                            <div class="actions">
                                <button class="btn delete" id=@discount.id><i class="icon icon-remove"></i></button>
                            </div>
                        }

                    </td>
    			</tr>
			}
			@helper.form(action = controllers.accounting.routes.DiscountMaxes.saveDiscountMax, 'method -> "POST") {
				<tr>
                    <td>
                        @text(
                            dForm("nameKz"),
                            '_label -> translate("discountMax.name.kz"),
                            '_error -> dForm.globalError,
                            '_showConstraints -> false
                        )
                    </td>
                    <td>
                    @text(
                        dForm("nameRu"),
                        '_label -> translate("discountMax.name.ru"),
                        '_error -> dForm.globalError,
                        '_showConstraints -> false
                    )
                    </td>
					<td>
                        @number(
                            dForm("value"),
                            '_label -> translate("dmax.value"),
                            '_error -> dForm.globalError,
                            '_min -> 0,
                            '_max -> 100,
                            '_showConstraints -> false
                        )
                    </td>
                    <td>
                    @number(
                        dForm("maxUserSize"),
                        '_label -> translate("discountMax.user.size"),
                        '_error -> dForm.globalError,
                        '_min -> 0,
                        '_showConstraints -> false
                    )
                    </td>
                    <td></td>
                    <td></td>
				</tr>
				<tr>
					<td colspan="6">
						<div class="actions" align="right">
							<input type="submit" class="btn primary" value='@Messages("add")'>
							<a href="@routes.Application.index" class="btn">@Messages("cancel")</a>
						</div>
					</td>
				</tr>
			}
		</table>
	</div>
}
<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
<script type="text/javascript" src='@routes.Application.javascriptRoutes'></script>
<script type="text/javascript">
    $(".delete").click(function(){
    value = this.id;
    var r=confirm("@Messages("areYouSure")");
    if (value.length>0&&r==true) {
    $(this).attr("disabled", true);
    $(this).html("<img src='@routes.Assets.at("images/loaderAJAX.gif")'/>");
    myJsRoutes.controllers.accounting.DiscountMaxes.deleteDiscountMax(value).ajax({
    success : function(data) {
    $("#result_div").hide();
    $("#result_div").html(data);
    $("#result_div").slideDown();
    $("."+value).hide();
    },
    error : function(jqXHR, textStatus, errorThrown) {
    $("#"+value).attr("disabled", false);
    $("#"+value).html("<i class='icon icon-remove'></i>");
    $('#tb').prepend(''+jqXHR.responseText);
    }
    });
    }
    });
</script>