@(dForm: Form[models.entities.accounting.Holiday], id: Long)


@import helper._
@import helper.twitterBootstrap._
@import html5.tags.html._

@translate(text: String) = @{
    Messages(text)
}
@_content(Messages("holiday.edit")){
<div style="width: 220px">
    <div class="page-header">
        <h3>@Messages("holiday.edit")</h3>
    </div>
    <div style="display:none" id=result_div></div>
        @helper.form(action = controllers.accounting.routes.Holidays.editHoliday(id), 'method -> "POST") {
            @date(
                dForm("startDate"),
                'required->"true",
                '_label -> translate("start.date"),
                '_error -> dForm.globalError,
                '_showConstraints -> false
            )
            @date(
                dForm("endDate"),
                'required->"true",
                '_label -> translate("end.date"),
                '_error -> dForm.globalError,
                '_showConstraints -> false
            )
            <div class="actions" align="right">
                <input type="submit" class="btn primary" value='@Messages("save")'>
                <a href="/holiday" class="btn">@Messages("cancel")</a>
            </div>
        }
</div>
}
<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">