@(filledForm: Form[models.entities.accounting.DiscountMax], id: Long)


@import helper._
@import helper.twitterBootstrap._
@import html5.tags.html._

@translate(text: String) = @{
    Messages(text)
}
@_content(Messages("discountMax.edit")){
<div class="span9">
    <div class="page-header">
        <h3>@Messages("discountMax.edit")</h3>
    </div>
    <div style="display:none" id=result_div></div>
        @helper.form(action = controllers.accounting.routes.DiscountMaxes.saveExistingDiscount(id), 'method -> "POST") {
            @text(
                filledForm("nameKz"),
                '_label -> translate("discountMax.name.kz"),
                '_error -> filledForm.globalError,
                '_showConstraints -> false
            )
            @text(
                filledForm("nameRu"),
                '_label -> translate("discountMax.name.ru"),
                '_error -> filledForm.globalError,
                '_showConstraints -> false
            )
            @number(
                filledForm("value"),
                '_label -> translate("dmax.value"),
                '_error -> filledForm.globalError,
                '_min -> 0,
                '_max -> 100,
                '_showConstraints -> false
            )
            @number(
                filledForm("maxUserSize"),
                '_label -> translate("maxUserSize"),
                '_error -> filledForm.globalError,
                '_min -> 1,
                '_showConstraints -> false
            )
            <div class="actions" align="right">
                <input type="submit" class="btn primary" value='@Messages("save")'>
                <a href="/discount-maxes" class="btn">@Messages("cancel")</a>
            </div>
        }
</div>
}
<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">