@(hList: List[models.entities.accounting.Holiday], hForm: Form[models.entities.accounting.Holiday])


@import helper._
@import helper.twitterBootstrap._
@import html5.tags.html._

@translate(text: String) = @{
    Messages(text)
}
@_content(Messages("add.holiday")){
<div class="span9">
    <div class="page-header">
        <h3>@Messages("add.holiday")</h3>
    </div>
    <div style="display:none" id=result_div>
    </div>
    <table class="table table-striped" style="width: 300px">
        <tr>
            <td>
                <b>@Messages("start.date")</b>
            </td>
            <td>
                <b>@Messages("end.date")</b>
            </td>
            <td></td>
            <td></td>
        </tr>
        @for(holiday <- hList){
            <tr class=@holiday.id>
                <td>
                    @holiday.startDate.format("yyyy-MM-dd")
                </td>
                <td>
                    @holiday.endDate.format("yyyy-MM-dd")
                </td>
                <td>
                    <div class="actions">
                        <a href="/holiday/show/@holiday.id" class="btn"><i class="icon icon-edit"></i></a>
                    </div>
                </td>
                <td>
                    <div class="actions">
                        <button class="btn delete" id=@holiday.id ><i class="icon icon-remove"></i></button>
                    </div>
                </td>
            </tr>
        }
        @helper.form(action =  controllers.accounting.routes.Holidays.addHoliday, 'method -> "POST") {
        <tr>
            <td>
                @date(
                    hForm("startDate"),
                    'required->"true",
                    '_label -> translate("start.date"),
                    '_error -> hForm.globalError,
                    '_showConstraints -> false
                )
            </td>
            <td>
                @date(
                    hForm("endDate"),
                    'required->"true",
                    '_label -> translate("end.date"),
                    '_error -> hForm.globalError,
                    '_showConstraints -> false
                )
            </td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td colspan="5">
                <div class="actions" align="right">
                    <input type="submit" class="btn primary" value='@Messages("add")'>
                    <a href="@routes.Application.index" class="btn">@Messages("cancel")</a>
                </div>
            </td>
        </tr>
        }
    </table>
</div>
}
<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
<script type="text/javascript" src='@routes.Application.javascriptRoutes'></script>
<script type="text/javascript">
    $(".delete").click(function(){
        value = this.id;
        var r=confirm("@Messages("areYouSure")");
        if (value.length>0&&r==true) {
            $(this).attr("disabled", true);
            $(this).html("<img src='@routes.Assets.at("images/loaderAJAX.gif")'/>");
            myJsRoutes.controllers.accounting.Holidays.deleteHoliday(value).ajax({
                success : function(data) {
                    $("#result_div").hide();
                    $("#result_div").html(data);
                    $("#result_div").slideDown();
                    $("."+value).hide();
                },
                error : function(jqXHR, textStatus, errorThrown) {
                    $('#tb').prepend(''+jqXHR.responseText);
                    $(".alert-error").slideDown();
                    $("#"+value).attr("disabled", false);
                    $("#"+value).html("<i class='icon icon-remove'></i>");
                }
            });
        }
    });
</script>