@(range: String, start_price: Integer, end_price: Integer, outlays: List[models.entities.accounting.Payment],
        code: String, codes: List[String])

@import views.html.helps._
@import be.objectify.deadbolt.java.views.html._
@import be.objectify.deadbolt.core.utils.TemplateUtils._
@restrict(la(as("admin"),as("director"))){
@_content(Messages("payment.outlays")){
    <div class="well span12 row-fluid">
        <h1 id="homeTitle">@Messages("payment.outlays")</h1>
        <hr>
        @restrict(la(as("director"))) {
            <div class="accordion" id="accordion3">
                <div class="accordion-group">
                    <div class="accordion-heading">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion3" href="#collapseTwo">
                        @Messages("NewOutlay")
                        </a>
                    </div>
                    <div id="collapseTwo" class="accordion-body collapse @if(outlays == null) {in}">
                        <div class="accordion-inner">
                            <form method="POST" class=form-inline"
                            action='@controllers.accounting.routes.Payments.outlays()'>
                                <input type="number" id="price" name="price"
                                        title='@Messages("Price")' placeholder='@Messages("Price")' value="0" required/>тг.
                                @Messages("SelectCode"):
                                <select id="code" name="code" title='@Messages("SelectCode")'>
                                        @for(dcode <- codes) {
                                            <option value='@dcode'>
                                            @dcode
                                            </option>
                                        }
                                        </select>
                                <input type="text" id="comment" name="comment"
                                        title='@Messages("comment")' placeholder='@Messages("comment")'/>
                                <button type="submit" class="btn btn-primary">
                                        @Messages("Save")
                                        </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        }
        <div class="accordion" id="accordion2">
            <div class="accordion-group">
                <div class="accordion-heading">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
                    @Messages("OutlayReportControls")
                    </a>
                </div>
                <div id="collapseOne" class="accordion-body collapse @if(outlays==null){in}">
                    <div class="accordion-inner">
                        <form method="POST" class=form-inline"
                          action='@controllers.accounting.routes.Payments.outlays()'>
                            <input type="text" id="gRange" name="gRange" value="@range"
                                    title='@Messages("DateRange")' placeholder='@Messages("DateRange")'/>
                            <input type="number" id="sPrice" name="sPrice" value="@if(start_price!=null){@start_price}else{0}"
                                    title='@Messages("StartPrice")' placeholder='@Messages("StartPrice")'/> -
                            <input type="number" id="ePrice" name="ePrice" value="@if(end_price!=null){@end_price}else{999999999}"
                                    title='@Messages("EndPrice")' placeholder='@Messages("EndPrice")'/>тг.
                            @Messages("SelectCode"):
                            <select id="code" name="code" title='@Messages("SelectCode")'>
                                        <option value="all" @if(code.equals("all")){selected}>
                                            @Messages("All")
                                        </option>
                                        @for(dcode <- codes){
                                            <option value='@dcode' @if(dcode.equals(code)){selected}>
                                                @dcode
                                            </option>
                                        }
                                    </select>
                            <button type="submit" class="btn btn-success">
                                        <i class="icon-white icon-refresh"></i> @Messages("Refresh")
                                    </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="row-fluid">
        @if(outlays!=null) {
            @if(outlays.size() == 0) {
                @helpAlert(Messages("nothingFound"),"warning")
            }else {
                <table class="table table-condensed table-striped table-bordered">
                    <tr>
                        @restrict(la(as("admin"))) {
                            <th>@Messages("Director")</th>
                        }
                        <th>@Messages("Date")</th>
                        <th>@Messages("Outlay")</th>
                        <th>@Messages("Code")</th>
                        <th>@Messages("comments")</th>
                        @restrict(la(as("admin"))) {
                            <th></th>
                        }
                    </tr>


                    @for(outlay <- outlays) {
                        <tr>
                            @restrict(la(as("admin"))) {
                                <td>
                                    @outlay.user.profile.firstName @outlay.user.profile.lastName
                                </td>
                            }
                            <td>@outlay.startDate.format("yyyy-MM-dd HH:mm")</td>
                            <td>@outlay.payedPayment</td>
                            <td>@outlay.status</td>
                            <td>@outlay.comment</td>
                            @restrict(la(as("admin"))) {
                                <td>
                                    <form action='@controllers.accounting.routes.Payments.outlays()' method="POST">
                                        <input type="hidden" name="gRange" value="@range"/>
                                        <input type="hidden" name="sPrice" value="@start_price"/>
                                        <input type="hidden" name="ePrice" value="@end_price"/>
                                        <input type="hidden" name="code" value="@code"/>
                                        <input type="hidden" name="delete" value="@outlay.id"/>
                                        <button class="btn btn-danger">
                                            <i class="icon icon-remove icon-white"></i>
                                        </button>
                                    </form>
                                </td>
                            }
                        </tr>
                    }

                </table>
            }
        }
        </div>
    </div>
}
}
<script type="text/javascript" src='@routes.Application.javascriptRoutes'></script>
<script type="text/javascript" src='@routes.Assets.at("javascripts/moment.min.js")' type="text/javascript"></script>
<script type="text/javascript" src='@routes.Assets.at("javascripts/moment.js")' type="text/javascript"></script>
<script type="text/javascript">
$('#gRange').daterangepicker(
{
ranges: {
'@Messages("today")' : [ moment(),moment().add('days',1) ],
'@Messages("Yesterday")' : [moment().subtract('days', 1), moment() ],
'@Messages("Last7Days")' : [moment().subtract('days', 6), moment().add('days',1) ],
'@Messages("Last30Days")' : [moment().subtract('days', 29),moment().add('days',1) ],
'@Messages("ThisMonth")' : [moment().startOf('month'),moment().endOf('month').add('days',1) ],
'@Messages("LastMonth")' : [moment().subtract('month',1).startOf('month'),moment().subtract('month',1).endOf('month').add('days',1) ],
'@Messages("ThisYear")' : [moment().startOf('year'),moment().endOf('year').add('days',1) ],
'@Messages("LastYear")' : [moment().subtract('year',1).startOf('year'),moment().subtract('year',1).endOf('year').add('days',1) ]
},
format: 'DD/MM/YYYY',
startDate: moment().subtract('days', 29),
endDate: moment(),
buttonClasses : [ 'btn btn-default' ],
applyClass : 'btn btn-primary',
cancelClass : 'btn',
locale : {
applyLabel : '@Messages("submit")',
cancelLabel : '@Messages("cancel")',
fromLabel : '@Messages("From")',
toLabel : '@Messages("To")',
customRangeLabel : '@Messages("CustomRange")',
daysOfWeek : [ '@Messages("Su")', '@Messages("Mo")','@Messages("Tu")', '@Messages("We")', '@Messages("Th")','@Messages("Fr")', '@Messages("Sa")' ],
monthNames : [ '@Messages("January")','@Messages("February")','@Messages("March")', '@Messages("April")',
'@Messages("May")', '@Messages("June")','@Messages("July")','@Messages("August")',
'@Messages("September")','@Messages("October")','@Messages("November")','@Messages("December")' ],
firstDay : 1
}
},
function(start, end) {
    $('#gRange span').html(start.format('DD/MM/YYYY') + ' - ' + end.format('DD/MM/YYYY'));
}
);
</script>
