@import be.objectify.deadbolt.java.views.html._
@import be.objectify.deadbolt.core.utils.TemplateUtils._

@import html5.tags.html._

@_content(Messages("paymentList")){


	<div class="span9">
		<form id="searchForm">
			<div class="">
			    <div class="control-group">
					<label class="control-label" for="reservation">
						<div class="row span 12">
				      		<div class="span3">
				      			@Messages("payment.startDate") - @Messages("payment.endDate")
				      		</div>
				      		<div class="span2" style="padding-left: 10px">@Messages("payment.status")</div>
							<div class="span2" style="padding-left: 25px">@Messages("sort")</div>
						</div>
					</label>
				</div>
				<div class="controls">
					<div class=" input-append input-prepend">
						<span class="add-on"><i class="icon-calendar"></i></span>
						<input type="text" name="reservation" id="reservation" />

						<select name="status" class="span4" style="margin-left: 15px">
							<option value="all">@Messages("All")</option>
							<option value="CURRENT">@Messages("payment.status.CURRENT")</option>
							<option value="PAYED">@Messages("payment.status.PAYED")</option>
							@*<option value="COMPLETED">@Messages("payment.status.COMPLETED")</option>*@
						</select>

						<select name="sort" class="span4" style="margin-left: 15px">

							<option value="dostyk">@Messages("Dostyk")</option>
							<option value="studsize">@Messages("payment.students")</option>
							<option value="planed">@Messages("payment.planed")</option>
							<option value="payed">@Messages("payment.payed")</option>
							<option value="debt">@Messages("payment.debt")</option>

						</select>

					</div>
				</div>

		  	</div>
		  	<div class="span9">
		  		<div class="btn-group">
		  			<button id="search" class="btn btn-primary">@Messages("search")</button>
		  			<button id="myButtonControlID" class="btn">@Messages("excelExport")</button>
		  		</div>
		  		<input type="hidden" id="reportType" name="reportType" value="@flash().get("paymentReport")" />
		  		<input type="hidden" id="dostykid" name="dostykid" value="dostykid" />
		  		<input type="hidden" id="groupid" name="groupid" value="@flash().get("groupid")" />
		  	</div>
		 </form>
	</div>
	<div class="span9">	</div>
	<div class="span9"  id="divTableDataHolder">
	<table class="table" id="lessons">
		
	</table>
	<table class="table" id="groups">
		
	</table>
	<table class="table" id="students">
		
	</table>
	</div>
	
}


 
<script type="text/javascript">

</script>
<script type="text/javascript" src='@routes.Application.javascriptRoutes'></script>
<script>

$('#reservation').daterangepicker(
    {
      ranges: {
			'@Messages("today")' : [ moment(),moment() ],
			'@Messages("Yesterday")' : [moment().subtract('days', 1), moment().subtract('days', 1) ],
			'@Messages("Last7Days")' : [moment().subtract('days', 6), moment() ],
			'@Messages("Last30Days")' : [moment().subtract('days', 29),moment() ],
			'@Messages("ThisMonth")' : [moment().startOf('month'),moment().endOf('month') ],
			'@Messages("LastMonth")' : [moment().subtract('month',1).startOf('month'),moment().subtract('month',1).endOf('month') ],
			'@Messages("ThisYear")' : [moment().startOf('year'),moment().endOf('year') ],
			'@Messages("LastYear")' : [moment().subtract('year',1).startOf('year'),moment().subtract('year',1).endOf('year') ]
      },
      format: 'DD/MM/YYYY',
	  showDropdowns: true,
      startDate: moment().subtract('days', 29),
      endDate: moment(),
      buttonClasses : [ 'btn btn-default' ],
		applyClass : 'btn btn-primary',
		cancelClass : 'btn',
	  locale : {
			applyLabel : '@Messages("Submit")',
			cancelLabel : '@Messages("cancel")',
			fromLabel : '@Messages("From")',
			toLabel : '@Messages("To")',
			customRangeLabel : '@Messages("CustomRange")',
			daysOfWeek : [ '@Messages("Su")', '@Messages("Mo")','@Messages("Tu")', '@Messages("We")', '@Messages("Th")','@Messages("Fr")', '@Messages("Sa")' ],
			monthNames : [ '@Messages("January")','@Messages("February")','@Messages("March")', '@Messages("April")',
						   '@Messages("May")', '@Messages("June")','@Messages("July")','@Messages("August")',
						   '@Messages("September")','@Messages("October")','@Messages("November")','@Messages("December")' ],
			firstDay : 1
		}
    },
    function(start, end) {
        $('#reportrange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
    }
);

$("[id$=myButtonControlID]").click(function(e) {
    window.open('data:application/vnd.ms-excel,' 
    	+ encodeURIComponent( $('div[id$=divTableDataHolder]').html()));
    e.preventDefault();
});
$(document).on("click","#search", function(e){	
	e.preventDefault();
	var reportType = $("#reportType").val();
	$("#search").html("<img src='@routes.Assets.at("images/loaderAJAX.gif")'/>");

	
	//if(reportType=="dostyk"){
		myJsRoutes.controllers.accounting.Payments.dostykReport().ajax({
			data: $("#searchForm").serialize(),
			success : function(data) {
	         	$("#lessons").html(data);
	        },
	        complete : function(data) {
	         	$("#search").html("@Messages("search")");
	        },
	        error : function(jqXHR, textStatus, errorThrown) {
	        }
		});
	//}
	/*
	if(reportType=="group"){
		
		myJsRoutes.controllers.accounting.Payments.groupReport($("#dostykid").val()).ajax({
			data: $("#searchForm").serialize(),
			success : function(data) {
				//$("#lessons").hide();
	         	$("#groups").html(data);
	        },
	        complete : function(data) {
				$("#search").html("@Messages("search")");
	        },
	        error : function(jqXHR, textStatus, errorThrown) {
	           //console.log(jqXHR.responseText);
	        }
		});		
	}
	if(reportType=="student"){
			myJsRoutes.controllers.accounting.Payments.studentReport($("#groupid").val()).ajax({
			data: $("#searchForm").serialize(),
			success : function(data) {
	         	$("#students").html(data);
	        },
			complete : function(data) {
				$("#search").html("@Messages("search")");
	        },
	        error : function(jqXHR, textStatus, errorThrown) {
	          //  console.log(textStatus);
	        }
		});

	}	
	*/
});



</script>
