@(courseType: models.entities.education.CourseType, dostyk: models.entities.social.Dostyk)

@import be.objectify.deadbolt.java.views.html._
@import be.objectify.deadbolt.core.utils.TemplateUtils._

@import html5.tags.html._
@import models.logic.education._
@import models.logic.accounting._

@for(priceList<-PriceListLogic.getAll(dostyk,courseType)){
<form id="priceList-@courseType.id-@priceList.id">
    <div class="row-fluid input-prepend input-append pricelist">
        <input type="hidden" name="id" value="@priceList.id" />
        <input type="hidden" name="courseType.id" value="@courseType.id" />
        <input type="number" class="span3 text submit" step="1" min="0"  name="hours" placeholder="@Messages("priceList.hours")"  value="@priceList.hours" />
        <input type="number" class="span3 text submit" step="0.01" min="0" name="price" placeholder="@Messages("priceList.price")" value="@priceList.price" />
        <a class="btn delete"><i class="icon-remove"></i></a>

    </div>
</form>
}

<script type="text/javascript" src='@routes.Application.javascriptRoutes'></script>
<script>
	$(document).on("change","input.submit", function(e){
   
    e.preventDefault();
    
    var form_id = "#"+$(this).closest("form").attr('id');

    myJsRoutes.controllers.accounting.PriceLists.update().ajax({
    data: $(form_id).serialize(),
    success : function(data) {
    $("#paste").html(data);
    },
    error : function(jqXHR, textStatus, errorThrown) {
    console.log(textStatus);
    }
    });


    });

    $(document).on("click","a.delete", function(e){
    e.preventDefault();
    var form_id = "#"+$(this).closest("form").attr('id');

    myJsRoutes.controllers.accounting.PriceLists.delete().ajax({
    data: $(form_id).serialize(),
    success : function(data) {
    	location.reload();
    },
    error : function(jqXHR, textStatus, errorThrown) {
    console.log(textStatus);
    }
    });


    });
</script>