@(dostyk: models.entities.social.Dostyk)

@import be.objectify.deadbolt.java.views.html._
@import be.objectify.deadbolt.core.utils.TemplateUtils._

@import html5.tags.html._
@import models.logic.education._
@import models.logic.accounting._

@_content(Messages("priceList.Form")){
<div class="span4">
  <legend>@Messages("priceList.Form")</legend>
  <fieldset>
  @for(courseType<-CourseTypeLogic.getAll){
    <div class="row-fluid table pricelist">
      <div class="row-fluid pricelist">
      	<div class="span4">@courseType.name</div>
      </div>	
      <div class="row-fluid pricelist">
        <div class="span3">@Messages("priceList.hours")</div>
        <div class="span3">@Messages("priceList.price")</div>
      </div> 
      <div class="row-fluid" id="paste">
        @priceList(courseType,dostyk)
	  </div>
	  <form id="priceList_@courseType.id">	  
	  <div class="row-fluid input-prepend input-append pricelist" id="copy">
	  	<input type="hidden" name="courseType.id" value="@courseType.id" />
        <input type="number" class="span3" id="hours" step="1" min="0" class="text" name="hours" placeholder="@Messages("priceList.hours")" value="" />
        <input type="number" class="span3 save" id="" step="0.01" min="0" class="text" name="price" placeholder="@Messages("priceList.price")" value="" />
      </div>      
  	  </form>
  	</div>
  }
  </fieldset>
</div>
}
<style>
form{
	margin:0px;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
</style>

<script type="text/javascript" src='@routes.Application.javascriptRoutes'></script>
<script>
$(".save").on("change",function(e){
	e.preventDefault();
	
	var form_id = "#"+$(this).closest("form").attr('id');	
	myJsRoutes.controllers.accounting.PriceLists.save().ajax({	
			data: $(form_id).serialize(),				
			success : function(data) { 				
				//$("#paste").html(data);
				$(form_id)[0].reset();
				location.reload();
			},
			error : function(jqXHR, textStatus, errorThrown) {
				//console.log(textStatus);
				alert('@Messages("priceList.error")');
				$(form_id)[0].reset();
			}
	});
	
		
});
</script>

