@(user : models.entities.user.AuthorisedUser, receipt : models.entities.accounting.PaymentReceipt)


@import be.objectify.deadbolt.java.views.html._
@import be.objectify.deadbolt.core.utils.TemplateUtils._

@restrict(la(as("student"), as("moderator"), as("admin"))) {
<div class='WordSection1' id='show_receipt_@receipt.number'>
<div class='WordSection1' id='show_receipt_@receipt.number'>
<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/receipt.css")">
<table class=MsoNormalTable border=0 cellspacing=0 cellpadding=0 width=675
       style=' height=500pt;width:506.05pt;margin-left:12.5pt;border-collapse:collapse'>
    <tr style='height:39.6pt'>
        <td width=436 valign=top style='width:327.35pt;border:none;border-right:solid windowtext 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt;height:39.6pt'>
            <p class=MsoNormal align=right style='margin-top:0cm;margin-right:0cm;
  margin-bottom:0cm;margin-left:15.9pt;margin-bottom:.0001pt;text-align:right;
  line-height:normal'><i><span style='font-size:9.0pt;font-family:\"Times New Roman\",\"serif\";
  color:black'>Приложение 1 </span></i></p>
            <p class=MsoNormal align=right style='margin-bottom:0cm;margin-bottom:.0001pt;
  text-align:right;line-height:normal'><i><span style='font-size:9.0pt;
  font-family:\"Times New Roman\",\"serif\";color:black'>к приказу Министра
  финансов Республики Казахстан </span></i></p>
            <p class=MsoNormal align=right style='margin-bottom:0cm;margin-bottom:.0001pt;
  text-align:right;line-height:normal'><i><span style='font-size:9.0pt;
  font-family:\"Times New Roman\",\"serif\";color:black'>от июня 2007 года №216</span></i></p>
            <p class=MsoNormal style='margin-bottom:0cm;margin-bottom:.0001pt;line-height:
  normal'><span style='font-family:\"Times New Roman\",\"serif\";color:black'>&nbsp;</span></p>
        </td>
        <td width=18 valign=top style='width:13.8pt;border:none;border-right:solid windowtext 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt;height:39.6pt'>&brvbar;<br>&brvbar;<br>&brvbar;<br>&brvbar;<br></td>
        <td width=220 valign=top style='width:164.9pt;border:none;padding:0cm 5.4pt 0cm 5.4pt;
  height:39.6pt'>
            <p class=MsoNormal style='margin-top:0cm;margin-right:0cm;margin-bottom:0cm;
  margin-left:4.1pt;margin-bottom:.0001pt;line-height:normal'><span lang=RU
                                                                    style='font-size:9.0pt;font-family:\"Times New Roman\",\"serif\";color:black'>&nbsp;</span></p>
            <p class=MsoNormal style='margin-top:0cm;margin-right:0cm;margin-bottom:0cm;
  margin-left:4.1pt;margin-bottom:.0001pt;line-height:normal'><span lang=RU
                                                                    style='font-size:9.0pt;font-family:\"Times New Roman\",\"serif\";color:black'>&nbsp;</span></p>
            <p class=MsoNormal style='margin-top:0cm;margin-right:0cm;margin-bottom:0cm;
  margin-left:4.1pt;margin-bottom:.0001pt;line-height:normal'><u><span lang=RU
                                                                       style='font-size:12.0pt;font-family:\"Times New Roman\",\"serif\";color:black'>@user.dostyks.get(0).organization</span></u></p>
        </td>
    </tr>
    <tr style='height:140.35pt'>
        <td width=436 valign=top style='width:327.35pt;border:none;border-right:solid windowtext 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt;height:140.35pt'>
            <p class=MsoNormal align=right style='margin-bottom:0cm;margin-bottom:.0001pt;
  text-align:right;line-height:normal'><span lang=RU style='font-size:9.0pt;
  font-family:\"Times New Roman\",\"serif\";color:black'>Форма КО-1</span></p>

            <p class=\"MsoNormal\" align=\"right\" style=\"margin-bottom:0cm;margin-bottom:.0001pt;
            text-align:right;line-height:normal;padding-right: 10px;\"><span lang=\"RU\" style=\"font-size:9.0pt;
            font-family:&quot;Times New Roman&quot;,&quot;serif&quot;;color:black\"><br>Коды</span></p>
            <p class=\"MsoNormal\" align=\"right\" style=\"margin-bottom:0cm;margin-bottom:.0001pt;text-align:right;line-height:normal\">
            <table align=\"right\" style=\"border-collapse:collapse;border:none; margin-left:5pt;margin-right:6.75pt;\" border=\"1\">
            <tbody><tr>
    <td><span lang=\"RU\" style=\"font-size:10.0pt\";font-family:\"Times New Roman\">PHH</span></td>
    <td><span lang=\"RU\" style=\"font-size:10.0pt\";font-family:\"Times New Roman\">RNN oshirildy</span></td>
</tr>
    </tbody></table>
</span>
</p>

<p class=MsoNormal style='margin-bottom:0cm;margin-bottom:.0001pt;line-height:
  normal'><u><span lang=RU style='font-size:12.0pt;font-family:\"Times New Roman\",\"serif\";
  color:black'>@user.dostyks.get(0).organization</span></u></p>
<p class=MsoNormal style='margin-bottom:0cm;margin-bottom:.0001pt;line-height:
  normal'><span lang=EN-US style='font-size:9.0pt;font-family:\"Times New Roman\",\"serif\";
  color:black'><span style='text-decoration:none'>&nbsp;</span></span></p>
<table class=MsoTableGrid border=1 cellspacing=0 cellpadding=0 align=left
       width=186 style='width:139.55pt;border-collapse:collapse;border:none;
   margin-left:5pt;margin-right:6.75pt'>
    <tr style='height:6.7pt'>
        <td width=93 valign=top style='width:69.8pt;border:solid windowtext 1.0pt;
    padding:0cm 5.4pt 0cm 5.4pt;height:6.7pt'>
            <p class=MsoNormal align=center style='margin-bottom:0cm;margin-bottom:
    .0001pt;text-align:center;line-height:normal'><span lang=RU
                                                        style='font-size:7.0pt;font-family:\"Times New Roman\",\"serif\"'>Номер
    документа</span></p>
        </td>
        <td width=93 valign=top style='width:69.75pt;border:solid windowtext 1.0pt;
    border-left:none;padding:0cm 5.4pt 0cm 5.4pt;height:6.7pt'>
            <p class=MsoNormal align=center style='margin-bottom:0cm;margin-bottom:
    .0001pt;text-align:center;line-height:normal'><span lang=RU
                                                        style='font-size:7.0pt;font-family:\"Times New Roman\",\"serif\"'>Дата
    составления</span></p>
        </td>
    </tr>
    <tr style='height:3.0pt'>
        <td width=93 valign=top style='width:69.8pt;border:solid windowtext 1.0pt;
    border-top:none;padding:0cm 5.4pt 0cm 5.4pt;height:3.0pt'>
            <p class=MsoNormal align=center style='margin-bottom:0cm;margin-bottom:
    .0001pt;text-align:center;line-height:normal'><b><span lang=RU>@receipt.number</span></b></p>
        </td>
        <td width=93 valign=top style='width:69.75pt;border-top:none;border-left:
    none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
    padding:0cm 5.4pt 0cm 5.4pt;height:3.0pt'>
            <p class=MsoNormal align=center style='margin-bottom:0cm;margin-bottom:
    .0001pt;text-align:center;line-height:normal'><b><span lang=RU>@receipt.createdDate.format("dd.MM.yyyy")</span></b></p>
        </td>
    </tr>
</table>
<p class=MsoNormal style='margin-bottom:0cm;margin-bottom:.0001pt;line-height:
  normal'><span lang=RU style='font-size:9.0pt;font-family:\"Times New Roman\",\"serif\";
  color:black'>&nbsp;</span></p>
<p class=MsoNormal style='margin-bottom:0cm;margin-bottom:.0001pt;line-height:
  normal'><b><span lang=RU style='font-size:8.0pt;font-family:\"Times New Roman\",\"serif\";
  color:black'>ПРИХОДНОЙ КАССОВЫЙ ОРДЕР&nbsp;</span></b></p>
<p class=MsoNormal style='margin-bottom:0cm;margin-bottom:.0001pt;line-height:
  normal'><b>&nbsp;</b></p>
<p class=MsoNormal style='margin-bottom:0cm;margin-bottom:.0001pt;line-height:
  normal'><span lang=RU style='font-size:9.0pt;font-family:\"Times New Roman\",\"serif\";
  color:black'>Принято от: <b><u>@user.profile.firstName @user.profile.lastName</u></b></span></p>
<p class=MsoNormal style='margin-bottom:0cm;margin-bottom:.0001pt;line-height:
  normal'><span lang=RU style='font-size:9.0pt;font-family:\"Times New Roman\",\"serif\";
  color:black'>Основание: <b><u>Договор</u></b></span><span lang=RU> </span></p>
<p class=MsoNormal style='margin-bottom:0cm;margin-bottom:.0001pt;line-height:
  normal'><b><i><span lang=RU style='font-size:9.0pt;font-family:\"Times New Roman\",\"serif\";
  color:black'>Сумма: <u>
    @receipt.period.payedPayment
</u></span></i></b><u><span lang=RU
                                                                   style='font-size:9.0pt;font-family:\"Times New Roman\",\"serif\";color:black'>&nbsp;<b>тг</b></span></u><span
        lang=RU style='font-size:9.0pt;font-family:\"Times New Roman\",\"serif\";
  color:black'>&nbsp;&nbsp;&nbsp; ___________________________________</span></p>
<p class=MsoNormal style='margin-bottom:0cm;margin-bottom:.0001pt;line-height:
  normal'><span lang=RU style='font-size:9.0pt;font-family:\"Times New Roman\",\"serif\";
  color:black'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></p>
<p class=MsoNormal style='margin-bottom:0cm;margin-bottom:.0001pt;line-height:
  normal'><span lang=RU style='font-size:9.0pt;font-family:\"Times New Roman\",\"serif\";
  color:black'>Главный бухгалтер:&nbsp; ____________&nbsp;&nbsp;&nbsp;
  __________________</span></p>
<p class=MsoNormal style='margin-bottom:0cm;margin-bottom:.0001pt;line-height:
  normal'>&nbsp;</p>
<p class=MsoNormal style='margin-bottom:0cm;margin-bottom:.0001pt;line-height:
  normal'><span lang=RU style='font-size:9.0pt;font-family:\"Times New Roman\",\"serif\";
  color:black'>Получил</span><span lang=RU style='font-size:9.0pt;font-family:\"Times New Roman\",\"serif\";color:black'> </span><span lang=RU
                                                                                                                                       style='font-size:9.0pt;font-family:\"Times New Roman\",\"serif\";color:black'>кассир:
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;____________&nbsp;&nbsp; &nbsp;&nbsp;__________________</span><span
        lang=RU> </span></p>
<p class=MsoNormal style='margin-bottom:0cm;margin-bottom:.0001pt;line-height:
  normal'><span lang=RU style='font-size:9.0pt;font-family:\"Times New Roman\",\"serif\";
  color:black'>&nbsp;</span></p>
</td>
<td width=18 valign=top style='width:13.8pt;border:none;border-right:solid windowtext 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt;height:140.35pt'>
    &brvbar;<br>&brvbar;<br>&brvbar;<br>&brvbar;<br>&brvbar;<br>&brvbar;<br>&brvbar;<br>&brvbar;<br>&brvbar;<br>&brvbar;<br>&brvbar;<br>&brvbar;<br></td>
<td width=220 valign=top style='width:164.9pt;border:none;padding:0cm 5.4pt 0cm 5.4pt;
  height:140.35pt'>
    <p class=MsoNormal align=center style='margin-top:0cm;margin-right:0cm;
  margin-bottom:0cm;margin-left:4.1pt;margin-bottom:.0001pt;text-align:center;
  line-height:normal'><b><span lang=RU style='font-size:8.0pt;font-family:\"Times New Roman\",\"serif\";
  color:black'>КВИТАНЦИЯ</span></b></p>
    <p class=MsoNormal align=center style='margin-top:0cm;margin-right:0cm;
  margin-bottom:0cm;margin-left:4.1pt;margin-bottom:.0001pt;text-align:center;
  line-height:normal'><b><span lang=RU style='font-size:8.0pt;font-family:\"Times New Roman\",\"serif\";
  color:black'>к приходному кассовому ордеру</span></b></p>
    <p class=MsoNormal align=center style='margin-top:0cm;margin-right:0cm;
  margin-bottom:0cm;margin-left:4.1pt;margin-bottom:.0001pt;text-align:center;
  line-height:normal'><span lang=RU style='font-size:8.0pt;font-family:\"Times New Roman\",\"serif\";
  color:black'>№ <b><u>@receipt.number</u></b></span></p>
    <p class=MsoNormal align=center style='margin-top:0cm;margin-right:0cm;
  margin-bottom:0cm;margin-left:4.1pt;margin-bottom:.0001pt;text-align:center;
  line-height:normal'><span lang=EN-US style='font-size:8.0pt'>&nbsp;</span></p>
    <p class=MsoNormal style='margin-top:0cm;margin-right:0cm;margin-bottom:0cm;
  margin-left:4.1pt;margin-bottom:.0001pt;line-height:normal'><span lang=RU
                                                                    style='font-size:8.0pt;font-family:\"Times New Roman\",\"serif\";color:black'>Принято
  от: <b><u>@user.profile.firstName @user.profile.lastName</u></b></span></p>
    <p class=MsoNormal style='margin-top:0cm;margin-right:0cm;margin-bottom:0cm;
  margin-left:4.1pt;margin-bottom:.0001pt;line-height:normal'><span lang=RU
                                                                    style='font-size:8.0pt;font-family:\"Times New Roman\",\"serif\";color:black'>Основание:
  <b><u>Договор</u></b></span></p>
    <p class=MsoNormal style='margin-top:0cm;margin-right:0cm;margin-bottom:0cm;
  margin-left:4.1pt;margin-bottom:.0001pt;line-height:normal'><b><i><span
            lang=RU style='font-size:8.0pt;font-family:\"Times New Roman\",\"serif\";
  color:black'>Сумма: <u>
        @receipt.period.payedPayment
    </u></span></i></b><b><u><span lang=RU
                                                                       style='font-size:8.0pt;font-family:\"Times New Roman\",\"serif\";color:black'>тг</span></u></b></p>
    <p class=MsoNormal style='margin-top:0cm;margin-right:0cm;margin-bottom:0cm;
  margin-left:4.1pt;margin-bottom:.0001pt;line-height:normal'><span lang=RU
                                                                    style='font-size:8.0pt;font-family:\"Times New Roman\",\"serif\";color:black'>&nbsp;</span></p>
    <p class=MsoNormal style='margin-bottom:0cm;margin-bottom:.0001pt;line-height:
  normal'><span style='font-size:8.0pt'> </span><b><span lang=RU
                                                         style='font-size:8.0pt;font-family:\"Times New Roman\",\"serif\";color:black'>М.П.</span></b></p>
    <p class=MsoNormal style='margin-top:0cm;margin-right:0cm;margin-bottom:0cm;
  margin-left:4.1pt;margin-bottom:.0001pt;line-height:normal'><span lang=RU
                                                                    style='font-size:8.0pt;font-family:\"Times New Roman\",\"serif\";color:black'>&nbsp;</span><span
            lang=RU style='font-size:8.0pt'> </span></p>
    <p class=MsoNormal style='margin-top:0cm;margin-right:0cm;margin-bottom:0cm;
  margin-left:4.1pt;margin-bottom:.0001pt;line-height:normal'><span lang=RU
                                                                    style='font-size:8.0pt;font-family:\"Times New Roman\",\"serif\";color:black'>Гл.
  бухгалтер:________________</span></p>
    <p class=MsoNormal style='margin-top:0cm;margin-right:0cm;margin-bottom:0cm;
  margin-left:4.1pt;margin-bottom:.0001pt;line-height:normal'><span
            style='font-size:8.0pt'>&nbsp;</span></p>
    <p class=MsoNormal style='margin-top:0cm;margin-right:0cm;margin-bottom:0cm;
  margin-left:4.1pt;margin-bottom:.0001pt;line-height:normal'><span lang=RU
                                                                    style='font-size:8.0pt;font-family:\"Times New Roman\",\"serif\";color:black'>Кассир:_____________________</span></p>
    <p class=MsoNormal align=center style='margin-top:0cm;margin-right:0cm;
  margin-bottom:0cm;margin-left:4.1pt;margin-bottom:.0001pt;text-align:center;
  line-height:normal'><span lang=RU style='font-size:8.0pt;font-family:\"Times New Roman\",\"serif\";
  color:black'>&nbsp;</span></p>
</td>
</tr>
</table>
</div>
}
