@(user : models.entities.user.AuthorisedUser, receipt : models.entities.accounting.PaymentReceipt)


@import be.objectify.deadbolt.java.views.html._
@import be.objectify.deadbolt.core.utils.TemplateUtils._
@import helper.twitterBootstrap._

@restrict(la(as("student"), as("moderator"), as("admin"))) {

<link rel="stylesheet" media="screen" href="@routes.Assets.at("bootstrap/css/bootstrap.min.css")" />
<link rel="stylesheet" media="screen" href="@routes.Assets.at("bootstrap/css/bootstrap-responsive.min.css")" />

<div id='show_receipt_@receipt.number'>
    <table>
        <tr>
            <td align="center" valign="top">
                <p align="center">                <span class="btn-mini"><img src='@routes.Assets.at("images/Head.png")'/>                </span></p>
                <table>
                    <tr>
                        <td colspan="2"><p align="right" class="btn-mini"><i>Приложение 1</i></p>
                            <p align="right" class="btn-mini"><i>к приказу Министра финансов Республики Казахстан</i></p>                              <p align="right" class="btn-mini"><i>от июня 2007 года №216</i></p>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <p align="right" class="btn-mini">Форма КО-1</p>
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            <p align="right" class="btn-mini">Коды</p>
                            <p align="right">
                            <table  align="right">
                                <tr>
                                    <td>
                                        <p class="btn-mini">PHH</p>
                                    </td>
                                    <td>
                                        <p class="btn-mini">rnn oshirildy</p>
                                    </td>
                                </tr>
                            </table>                          <span class="btn-mini">
                                    </p>
                                    </span></td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <p class="btn-mini">@user.dostyks.get(0).organization</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <table>
                                <tr class="info">
                                    <td>
                                        <p class="btn-mini">Номер документа</p>
                                    </td>
                                    <td>
                                        <p class="btn-mini">Дата составления</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td align="center" valign="middle">
                                        <p class="btn-mini"><strong>@receipt.number</strong></p>
                                    </td>
                                    <td>
                                        <p>___/___/_____</p>
                                    </td>
                                </tr>
                            </table>
                        </td>
                        <td >
                            <p class="btn-mini"><strong>ПРИХОДНОЙ КАССОВЫЙ ОРДЕР</strong></p>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <table >
                                <tr>
                                    <td>
                                        <p class="btn-mini">Принято от:</p>
                                    </td>
                                    <td>
                                        <p class="btn-mini"><b><u>@user.profile.firstName @user.profile.lastName</u></b></p>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <p class="btn-mini">Основание:</p>
                                    </td>
                                    <td>
                                        <p class="btn-mini"><b><u>Договор</u></b></p>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <p class="btn-mini"><i>Сумма:</i></p>
                                    </td>
                                    <td>
                                        <p class="btn-mini"><b><i><u>@receipt.period.payedPayment тг</u></i></b>  ___________________________________</p>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <p class="btn-mini">Главный бухгалтер: _______________________________</p>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <p class="btn-mini">Получил кассир: __________________________________</p>
                        </td>
                    </tr>
                </table>
            </td>
            <td>
                <p class="btn-mini">&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;</p>
                <p class="btn-mini">&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;</p>
                <p class="btn-mini">&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;</p>
                <p class="btn-mini">&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;</p>
                <p class="btn-mini">&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;</p>
                <p class="btn-mini">&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;</p>
                <p class="btn-mini">&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;</p>
                <p class="btn-mini">&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;</p>
                <p class="btn-mini">&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;</p>
                <p class="btn-mini">&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;</p>
                <p class="btn-mini">&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;</p>
                <p class="btn-mini">&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;</p>
                <p class="btn-mini">&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;</p>
                <p class="btn-mini">&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;</p>
                <p class="btn-mini">&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;</p>
                <p class="btn-mini">&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;</p>                <p class="btn-mini">&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;</p>
            </td>
            <td align="center" valign="top">
                <p align="center">                  <span class="btn-mini"><img src='@routes.Assets.at("images/Head.png")'/>                </span></p>
                <table>
                    <tr>
                        <td>
                            <p class="btn-mini">@user.dostyks.get(0).organization</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p align="center" class="btn-mini"><strong>КВИТАНЦИЯ</strong></p>
                            <p align="center" class="btn-mini"><strong>к приходному кассовому ордеру</strong></p>
                            <p align="center" class="btn-mini"><strong>№ @receipt.number</strong></p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <table>
                                <tr>
                                    <td>
                                        <p class="btn-mini">Принято от:</p>
                                    </td>
                                    <td>
                                        <p class="btn-mini"><strong>@user.profile.firstName @user.profile.lastName</strong></p>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <p class="btn-mini">Основание:</p>
                                    </td>
                                    <td>
                                        <p class="btn-mini"><strong>Договор</strong></p>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <p class="btn-mini"><strong>Сумма:</strong></p>
                                    </td>
                                    <td>
                                        <p class="btn-mini"><strong>@receipt.period.payedPayment</strong></p>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p class="btn-mini"><strong>М.П.</strong></p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p class="btn-mini">Гл. бухгалтер:________________</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p class="btn-mini">Кассир:_____________________</p>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</div>
}
