@(dostyks : List[models.entities.social.Dostyk])

@import be.objectify.deadbolt.java.views.html._
@import be.objectify.deadbolt.core.utils.TemplateUtils._


@import helper.inputText;
@import models.entities.user._;
@import models.entities.social._;
@import helper.twitterBootstrap._

@import models.logic.social._;
@import models.logic.user._;
@import html5.tags.html._


@_content(Messages("revenue.report")){
<div id="divTableDataHolder">
<table class="table table-hover tablesorter" id="table">
    <thead>
        <tr>
            <th></th>
            @*
            <th>@Messages("StudentCount")</th>
            *@  
            @for((month,index)<-ProfileLogic.movementMonths.zipWithIndex){
            @if(index<9){
            <th>@Messages(month.format("MMMM"))</th>
            }
            }                                   
        </tr>
    </thead>
    <tbody>
	@for(dostyk<-dostyks){
        <tr class="dostyk" dostykid="@dostyk.id">
            <th><a>@dostyk.name</a></th>
            @*
            <td>@models.logic.social.DostykLogic.getStudentsSize(dostyk,"active")</td>
            *@
            @for((month,index)<-ProfileLogic.movementMonths.zipWithIndex){
            <td>@if(dostyk.revenue.get(month)!=null){
            @if(dostyk.revenue.get(month)>0){
            <a dostyk="@dostyk.id" month="@index" class="revenue">@dostyk.revenue.get(month)</a>
            }else{
            @dostyk.revenue.get(month)
            }
            }</td>
            } 
        </tr>
	}
	</tbody>
</table>
</div>
}
<script src='@routes.Application.javascriptRoutes'></script>
<script src='@routes.Assets.at("javascripts/jquery.tablesorter.min.js")'></script>

<script>
$(".dostyk").click(function() {
	var dostykid = $(this).attr("dostykid");
	$(".dostyk_" + dostykid).toggle();
});

$(document).on('click', '.revenue', function(e) {
    var init = $(this).html();
    var dostyk = $(this).attr("dostyk");
    var month = $(this).attr("month");
    $(this).html("<img src='@routes.Assets.at("images/loader.gif")' height='17' width='17'/>");
	e.preventDefault();
	$dostyk = $(this).attr('dostyk') * 1;
	$monthIndex = $(this).attr('month') * 1;
	myJsRoutes.controllers.user.UserManagement.revenueReportPrint($dostyk,$monthIndex).ajax({		
		success: function(data) {
            $(".revenue[dostyk="+dostyk+"],[month="+month+"]").html(init);
			var win = window.open('about:blank');
			with(win.document) {
				open();
				write(data);
				//window.open('data:application/vnd.ms-word,'+ encodeURIComponent( data));
				//window.open(data)
				//window.open('data:application/vnd.ms-excel,'+ encodeURIComponent( data));
				//print();
				//close();
			}
			//win.print();
		},
		error: function(data) {
            $(this).html(init);
			console.log("error")
		}
	});
});
</script>