@(directors : List[models.entities.user.AuthorisedUser])

@import be.objectify.deadbolt.java.views.html._
@import be.objectify.deadbolt.core.utils.TemplateUtils._


@import helper.inputText;
@import models.entities.user._;
@import models.entities.social._;
@import helper.twitterBootstrap._

@import models.logic.social._;
@import models.logic.education._;
@import html5.tags.html._

@import helper.inputPassword;
@import helper.inputRadioGroup;


@_content(Messages("users.list")) {

<a class="btn btn-primary" href="@controllers.user.routes.AuthorisedUsers.signUp("director")">@Messages("add.director")</a>

@if(flash.containsKey("success")) {
<div class="alert-message warning">
    <strong>Done!</strong> @flash.get("success")
</div>
}
<table class="table users table-striped">
    <thead>
    <tr class="">
        <th> @Messages("surname") </th>
        <th> @Messages("name") </th>
        <th> @Messages("email")</th>
        <th> @Messages("Dostyk")</th>
        <th> @Messages("role") </th>
        <th> @Messages("user.status") </th>
        <th> @Messages("DeleteFromDostyk")</th>
    </tr>
    </thead>
    <tbody>

    @for(user <- directors) {
    <tr>
        <td><a href="@controllers.user.routes.AuthorisedUsers.editProfile(user.id)">@user.profile.lastName</a></td>
        <td>
            @if(user.profile.lastName == null) {
            <em>-</em>
            } else {
            @user.profile.firstName
            }
        </td>
        <td>
            @if(user.email == null) {
            <em>-</em>
            } else {
            @user.email
            }
        </td>
        <td>
            @if(user.dostyks == null||user.dostyks.size<1) {
            <em>-</em>
            } else {
            @user.dostyks.get(0).name
            }
        </td>
        <td>
            @if(user.roles == null) {
            <em>-</em>
            } else {
            @user.roles.get(0).name
            }
        </td>
        <td>
            @if(user.status.equals("active")){
            <button type="button" userId="@user.id" status="@user.status" class="btn changeStatusBtn btn-danger"> @Messages("Deactivate") </button>
            } else {
            <button type="button" userId="@user.id" status="@user.status" class="btn changeStatusBtn btn-success"> @Messages("Activate") </button>
            }
        </td>
        <td>
            <button type="button" userId="@user.id" class="btn delete btn-warning"> @Messages("Delete") </button>
        </td>
    </tr>
    }

    </tbody>
</table>
}

<script type="text/javascript" src='@routes.Application.javascriptRoutes'></script>

<script>
    $('.dropdown-toggle').dropdown();

    $(".changeStatusBtn").on("click",
            function(){
                var userId = $(this).attr("userId");
                var status = $(this).attr("status");
                var cur = $(this);
                myJsRoutes.controllers.user.AuthorisedUsers.changeStatus(userId).ajax({
                    success : function(data) {
                        text = cur.html();
                        cur.toggleClass('btn-success btn-danger');
                        if (text.indexOf("Deactivate") != -1) text = "Activate"; else text = "Deactivate";
                        cur.html(text);
                    },
                    error : function(jqXHR, textStatus, errorThrown) {
                        console.log(textStatus);
                    }
                });
            }
    );

    $(".delete").on("click",
            function() {
                var userId = $(this).attr("userId");
                var cur = $(this);
                myJsRoutes.controllers.user.AuthorisedUsers.deleteFromDostyk(userId).ajax({
                    success : function(data) {
                        cur.parent().parent().remove();
                    },
                    error : function(jqXHR, textStatus, errorThrown) {
                        console.log(textStatus);
                    }
                });
            }
    );

    $(".group").on("change",
            function() {
                var userId = $(this).attr("userId");
                var dostykGroupId = $(this).val();

                if (dostykGroupId != "none") {
                    myJsRoutes.controllers.user.AuthorisedUsers.changeDostykGroup(userId, dostykGroupId).ajax({
                        success : function(data) {
                            //cur.parent().parent().remove();
                        },
                        error : function(jqXHR, textStatus, errorThrown) {
                            console.log(textStatus);
                        }
                    });
                }
            }
    );

    $(".electiveGroup").on("change",
            function() {
                var userId = $(this).attr("userId");
                var electiveGroupId = $(this).val();

                if (electiveGroupId != "none") {
                    myJsRoutes.controllers.user.AuthorisedUsers.changeElectiveGroup(userId, electiveGroupId).ajax({
                        success : function(data) {
                            //cur.parent().parent().remove();
                        },
                        error : function(jqXHR, textStatus, errorThrown) {
                            console.log(textStatus);
                        }
                    });
                }
            }
    );

</script>