@(currentPage : com.avaje.ebean.Page[models.entities.user.AuthorisedUser], page : Int, currentSortBy : String, currentOrder : String, currentFilter : String, currentGrade:String, currentRole:String, dostykGroups: List[models.entities.social.DostykGroup], electiveGroups : List[models.entities.social.DostykGroup])

@import be.objectify.deadbolt.java.views.html._
@import be.objectify.deadbolt.core.utils.TemplateUtils._


@import helper.inputText;
@import models.entities.user._;
@import models.entities.social._;
@import helper.twitterBootstrap._

@import models.logic.social._;
@import models.logic.education._;
@import html5.tags.html._

@import helper.inputPassword;
@import helper.inputRadioGroup;



@link(newPage:Int, newSortBy:String) = @{

var sortBy = currentSortBy
var order = currentOrder
var grade = currentGrade
var role = currentRole

if(newSortBy != null) {
sortBy = newSortBy
if(currentSortBy == newSortBy) {
if(currentOrder == "asc") {
order = "desc"
} else {
order = "asc"
}
} else {
order = "asc"
}
}

controllers.user.routes.UserManagement.list(newPage, sortBy, order, currentFilter, grade, role)

}



@header(key:String, title:String) = {
<th class="@key.replace("public","_") header @if(currentSortBy == key) @{if(currentOrder == "asc") "headerSortDown" else "headerSortUp"}"
xmlns="http://www.w3.org/1999/html">
<a href="@link(0, key)">@Messages(title)</a>
</th>
}


@_content(Messages("users.list")) {

<h1 id="homeTitle">@Messages("users.list.title") </h1>
<div class="btn-group">
    <a class="btn dropdown-toggle btn-primary" data-toggle="dropdown" href="#">
        @Messages("add.newuser")
        <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
        <!-- dropdown menu links -->
        <li><a href="@controllers.user.routes.AuthorisedUsers.signUp("student")">@Messages("add.student")</a></li>
        <li><a href="@controllers.user.routes.AuthorisedUsers.signUp("teacher")">@Messages("add.teacher")</a></li>
        @*<li><a href="@controllers.user.routes.UserManagement.uploadExcel()">@Messages("uploadExcel")</a></li>*@
        @restrict(la(as("admin"))) {
        <li><a href="@controllers.user.routes.AuthorisedUsers.signUp("moderator")">@Messages("add.moderator")</a></li>
        <li><a href="@controllers.user.routes.AuthorisedUsers.signUp("director")">@Messages("add.director")</a></li>
        }
    </ul>
</div>

@if(flash.containsKey("success")) {
<div class="alert-message warning">
    <strong>Done!</strong> @flash.get("success")
</div>
}
    <br><br>

    @*        <div id="actions">
            <form action="@link(0, "surname")" method="GET">
                <input type="search" id="searchbox" name="f" value="@currentFilter" placeholder="@Messages("Searchbyusernameorsurname")">
                <input type="submit" id="searchsubmit" value=@Messages("Search") class="btn btn-default" style="margin-top:-10px;">
            </form>
        </div>
*@

<table style="width: 100%;">
    <tr>
        <td width="10%">@Messages("Searchbyusernameorsurname")</td>
        <td width="10%"><label for="sel1">@Messages("grade")</label></td>
        <td width="10%"><label for="sel1">@Messages("role")</label></td>
        <td width="10%"></td>
        <td width="60%"></td>
    </tr>
    <tr>
        <form action="@link(0, "surname")" method="GET">
        <td>
            <div class="form-group">
                <input class="form-control input-sm" type="text" id="searchbox" name="f" value="@currentFilter">
            </div>
        </td>
        <td>
            <div class="form-group">
                <select class="form-control" id="grade" name="g">
                    <option value="all" @{if(currentGrade=="all") "selected" }>@Messages("all")</option>
                    <option value="1" @{if(currentGrade=="1") "selected" }>1</option>
                    <option value="2" @{if(currentGrade=="2") "selected" }>2</option>
                    <option value="3" @{if(currentGrade=="3") "selected" }>3</option>
                    <option value="4" @{if(currentGrade=="4") "selected" }>4</option>
                    <option value="5" @{if(currentGrade=="5") "selected" }>5</option>
                    <option value="6" @{if(currentGrade=="6") "selected" }>6</option>
                    <option value="7" @{if(currentGrade=="7") "selected" }>7</option>
                    <option value="8" @{if(currentGrade=="8") "selected" }>8</option>
                    <option value="9" @{if(currentGrade=="9") "selected" }>9</option>
                    <option value="10" @{if(currentGrade=="10") "selected" }>10</option>
                    <option value="11" @{if(currentGrade=="11") "selected" }>11</option>
                </select>
            </div>
        </td>
        <td>
            <div class="form-group">
                <select class="form-control" id="role"  name="r">
                    <option value="all" @{if(currentRole=="all") "selected" }>@Messages("all")</option>
                    <option value="student" @{if(currentRole=="student") "selected" }>@Messages("student")</option>
                    <option value="teacher" @{if(currentRole=="teacher") "selected" }>@Messages("teacher")</option>
                </select>
            </div>
        </td>
        <td><button type="submit" id="searchsubmit" class="btn btn-default" style="margin-top: -17px; width: 100px; margin-left: 5px">@Messages("Search")</button></td>
        </form>
        <td style="text-align:  right">
            @*
            <form action="@controllers.user.routes.AuthorisedUsers.diactivateAllStudents()" method="get">
                <button type="submit" userId="" status="" class="btn btn-danger" > @Messages("diactivateallstudents") </button>
            </form>
            *@
        </td>

    </tr>
</table>

@if(currentPage.getTotalRowCount == 0) {

<div class="well">
    <em>Nothing to display</em>
</div>

} else {

<table class="table users table-condensed table-hover">
    <thead>
    <tr class="">
        @header("name", "name")
        <th> @Messages("idNumber") </th>
        @header("email", "email")
        <th> @Messages("role") </th>
        <th> @Messages("grade") </th>
        <th> @Messages("user.status") </th>
        <th> @Messages("dostykGroup") </th>
        <th> @Messages("electiveGroup")</th>
     @*   <th> @Messages("DeleteFromDostyk")</th> *@
    </tr>
    </thead>
    <tbody>

    @for(user <- currentPage.getList if(!user.roles.get(0).name.equals("ten") && user.roles.get(0).name!="moderator" && user.status!="deleted")) {
    <tr class="okuwy">
        <td><a href="@controllers.user.routes.AuthorisedUsers.editProfile(user.id)">@user.profile.lastName @user.profile.firstName</a></td>
        <td>
            @if(user.profile.idNumber == null || !user.status.equals("active")) {
            	<em>@Messages("userNotActiveYet")</em>
            } else {
            	@user.profile.idNumber
            }
        </td>
        <td>
            @if(user.email == null) {
            	<em>-</em>
            } else {
            	@user.email
            }
        </td>
        <td>
            @if(user.roles == null) {
            <em>-</em>
            } else {
            	@if(user.roles.get(0).name.equals("student")) {
            		<img src="@routes.Assets.at("images/student.png")" alt="@Messages("student")" title="@Messages("student")" />
            	} else {
            		<img src="@routes.Assets.at("images/teacher.png")" alt="@Messages("teacher")" title="@Messages("teacher")"/>
            	}
            }
        </td>
        <td>
        	@if(user.profile.course == null) {
            <em>-</em>
            } else {
            @user.profile.course.classNumber
            }
        </td>
        <td>
            @if(user.status.equals("active")){
            <button type="button" userId="@user.id" status="@user.status" class="btn changeStatusBtn btn-danger" style="width: 120px;"> @Messages("Deactivate") </button>
            } else {
            <button type="button" userId="@user.id" status="@user.status" class="btn changeStatusBtn btn-success" style="width: 120px;"> @Messages("Activate") </button>
            }
        </td>
        <td>
            <select style="width:150px;" name = group userId="@user.id" class = group>
                <option value="none"> @Messages("SelectGroup") </option>
                @for(group <- dostykGroups) {
                <option value = @group.id @if(user.profile.dostykGroup != null && user.profile.dostykGroup.id==group.id){selected}>
                @group.name
                </option>
                }
            </select>
        </td>
        <td>
            <select style="width:150px;" name = group userId="@user.id" class = electiveGroup>
                <option value="none"> @Messages("SelectElectiveGroup") </option>
                @for(group <- electiveGroups) {
                <option value = @group.id @if(user.profile.electiveGroup != null && user.profile.electiveGroup.id==group.id){selected}>
                @group.name
                </option>
                }
            </select>
        </td>
        @* <td>
            <button type="button" userId="@user.id" class="btn delete btn-warning"> <i class="icon-trash"></i> </button>
         </td> *@
    </tr>
    }

    </tbody>
</table>

<div id="pagination" class="pagination">
    <ul>
        @if(currentPage.hasPrev) {
        <li class="prev">
            <a href="@link(currentPage.getPageIndex - 1, null)">&larr; @Messages("previous")</a>
        </li>
        } else {
        <li class="prev disabled">
            <a>&larr; @Messages("previous")</a>
        </li>
        }
        <li class="current">
            <a>@Messages("displaying") @currentPage.getDisplayXtoYofZ(" "+Messages("to")+" "," "+Messages("of")+" ")</a>
        </li>
        @if(currentPage.hasNext) {
        <li class="next">
            <a href="@link(currentPage.getPageIndex + 1, null)">@Messages("next") &rarr;</a>
        </li>
        } else {
        <li class="next disabled">
            <a>@Messages("next") &rarr;</a>
        </li>
        }
    </ul>
</div>

}

}
<script type="text/javascript" src='@routes.Application.javascriptRoutes'></script>

<script>
    $('.dropdown-toggle').dropdown();

    $(".changeStatusBtn").on("click", function(){
        var userId = $(this).attr("userId");
        var status = $(this).attr("status");
        var cur = $(this);
        myJsRoutes.controllers.user.AuthorisedUsers.changeStatus(userId).ajax({
            success : function(data) {
                text = cur.html();
                cur.toggleClass('btn-success btn-danger');
                if (text.indexOf("@Messages("Deactivate")") != -1) text = "@Messages("Activate")"; else text = "@Messages("Deactivate")";
                cur.html(text);
                if (data == "inactive") {
                    cur.parent().prev().prev().prev().prev().html("@Messages("userNotActiveYet")");
                } else {
                    cur.parent().prev().prev().prev().prev().html(data);
                }
            },
            error : function(jqXHR, textStatus, errorThrown) {
                alert("Error!");
                console.log(textStatus);
            }
        });
    });

    $(".delete").on("click",function() {
	    var userId = $(this).attr("userId");
	    var cur = $(this);
	    var result = confirm('@Messages("areYouSure")');
	    if (result) {
	        //Logic to delete the item
	        //alert("yes")
	        myJsRoutes.controllers.user.AuthorisedUsers.deleteFromDostyk(userId).ajax({
			    success : function(data) {
			    	cur.parent().parent().remove();
			    },
			    error : function(jqXHR, textStatus, errorThrown) {
			    	alert("Error!");
			    	console.log(textStatus);
			    }
		    });
	    }else{
	    	//alert("no")
	    }
	    	
	    /*
	    
	    */
    });

    $(".group").on("change",function() {
	    var userId = $(this).attr("userId");
	    var dostykGroupId = $(this).val();
	
	    if (dostykGroupId != "none") {
		    myJsRoutes.controllers.user.AuthorisedUsers.changeDostykGroup(userId, dostykGroupId).ajax({
			    success : function(data) {
			    	//cur.parent().parent().remove();
			    },
			    error : function(jqXHR, textStatus, errorThrown) {
			    	console.log(textStatus);
			    }
		    });
	    }
    });

    $(".electiveGroup").on("change", function() {
	    var userId = $(this).attr("userId");
	    var electiveGroupId = $(this).val();
	
	    if (electiveGroupId != "none") {
		    myJsRoutes.controllers.user.AuthorisedUsers.changeElectiveGroup(userId, electiveGroupId).ajax({
			    success : function(data) {
			    	//cur.parent().parent().remove();
			    },
			    error : function(jqXHR, textStatus, errorThrown) {
			    	console.log(textStatus);
			    }
		    });
	    }
    });

</script>