

@import be.objectify.deadbolt.java.views.html._
@import be.objectify.deadbolt.core.utils.TemplateUtils._


@import helper.inputText;
@import models.entities.user._;
@import models.entities.social._;
@import helper.twitterBootstrap._

@import models.logic.social._;
@import models.logic.education._;
@import html5.tags.html._

@import helper.inputPassword;
@import helper.inputRadioGroup;
 
@_content(Messages("user.restorePassword")){
	
	@if(flash().get("request")!=null){
    <div class="alert alert-error">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>@Messages(flash().get("request"))</strong>
    </div>
    }
    
	<form action="@controllers.user.routes.AuthorisedUsers.restorePassword()" method="post">
		<div class="input-append">
		<label>@Messages("Enter.your.mail")</label>
		<input type="text" name="email" />
		<input type="submit" class="btn btn-primary" value="@Messages("send")" />
	</form>
}