@(userForm : Form[models.entities.user.AuthorisedUser])

@import html5.tags.html._
@import helper._

@main(Messages("user.signIn")){
@*<div class="container row-fluid">*@
    <div class="login_wrapper " style="width:100%;min-height:100%">
        <div class="animate form login_form" style="max-width:220px">
            <section class="login_content">
                <form method="POST" action='@controllers.user.routes.AuthorisedUsers.userCheck()' >
                    <h1>@Messages("help.signIn")</h1>
                    <input type="text" name ="email" class="input-block-level" placeholder="email / id">
                    <input type="password" name ="password" class="input-block-level" placeholder="password">
                    @if(flash().get("authorization")!=null){
                    <div class="alert alert-error">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        <strong>@Messages(flash().get("authorization"))</strong>
                    </div>
                    }
                        <div class="btn-group col-md-3" style="padding-left:0px;">
                            <button class="btn btn-primary submit" type="submit">@Messages("user.signIn")</button>
                            @*<a class="btn btn-inverse" href="@controllers.user.routes.AuthorisedUsers.signUp("student")">@Messages("user.signUp")</a>*@
                        </div>
                        <a class="pull-right " href="@controllers.user.routes.AuthorisedUsers.restorePasswordPage">@Messages("forgotPassword")</a>

                    @*<hr>

                    <a class="btn btn-info" href="@controllers.ten.routes.UserTen.signUp()">@Messages("ten.signUp")</a>*@
                </form>
            </section>
    </div>
</div>
}
<style type="text/css">
    body {
    background-color: #f5f5f5;
    }
    .form-signin {
    max-width: 300px;
    padding: 19px 29px 29px;
    margin-top: 40px;
    margin: 0 auto 20px;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
    box-shadow: 0 1px 2px rgba(0,0,0,.05);
    }
    .form-signin .form-signin-heading,
    .form-signin .checkbox {
    margin-bottom: 10px;
    }
    .form-signin input[type="text"],
    .form-signin input[type="password"] {
    font-size: 16px;
    height: auto;
    margin-bottom: 15px;
    padding: 7px 9px;
    }
    #wrap{
        background-color: #F5F5F5;
    }

</style>
