@(signupForm: Form[models.entities.user.AuthorisedUser], role : String, regions : List[models.entities.social.Region])

@import be.objectify.deadbolt.java.views.html._
@import be.objectify.deadbolt.core.utils.TemplateUtils._

@import models.entities.user._;
@import models.entities.social._;
@import helper.twitterBootstrap._

@import models.logic.social._;
@import models.logic.education._;
@import html5.tags.html._
@import helper.inputText;
@import helper.inputPassword;
@import helper.inputRadioGroup;
    @import controllers.user.AuthorisedUsers
@language = @{ Seq("KZ"->"Қазақша","RU"->"Русский") }
@_content(Messages("signUpForm")){

<style>
    .multiselect {
    width:218px;
    @if(role=="student") {
    height:300px;
    }else{
    margin-top: 15px;
    height:261px;
    }
    
    
    border:solid 1px #c0c0c0;
    overflow:auto;
    border-color: transparent;
    }
    input:required:invalid, input:focus:invalid {
    background-image: url("/assets/images/invalid.png");
    background-position: right top;
    background-repeat: no-repeat;
    }
    input:required:valid {
    background-image: url(/assets/images/valid.png);
    background-position: right top;
    background-repeat: no-repeat;
    }
    div.profile {
    background-color: rgba(180, 180, 180, 0.1);
    padding: 20px;
    border-radius: 5px;
    }
    label.header{
        font-size: 25px;
        border-bottom: dotted 1px;
    }
    input.parent{
    	margin-bottom: 5px;
    }
</style>
    @*if(signupForm.hasErrors==true){
        <div class="messages">
            <p>@signupForm.errors.toString</p>
            @*for(error <- signupForm.errors){
                @for(map <- error.){
                    <p>@map</p>
                }
            }*@
        @*</div>
    }*@
@helper.form(action = controllers.user.routes.AuthorisedUsers.submit, 'id -> "form_id") {
    @if(signupForm.hasErrors==true){
        <div class="alert alert-warning">
            @for(error <- signupForm.errors()){
                <p>@error._1</p>
                <ul>
                    @for(message <- error._2){
                        <li>@message.message()</li>
                    }
                </ul>
            }
        </div>
    }
    <div ></div>
	<div class="span12 profile">       
            <label class="header">@Messages(role)</label>                             
            <div class="row-fluid">
                <div class="span3">
                	@text(signupForm("profile.lastName"), '_label -> Messages("profile.lastName"),'_help -> "")
                    @text(signupForm("profile.firstName"), '_label -> Messages("profile.firstName"),'_help -> "")                    
                    @text(signupForm("profile.secondName"), '_label -> Messages("profile.secondName"),'_help -> "")
                    @text(signupForm("profile.inn"), '_label -> Messages("profile.inn"),'_help -> "")

                    @select(
                    signupForm("profile.gender"),
                    options = options("male"->Messages("gender.male"), "female"->Messages("gender.female")),
                    '_help -> "",
                    '_label -> Messages("profile.gender"),
                    '_error -> signupForm("profile.dostyk").error.map(_.withMessage("Please select your gender"))
                    )

                    @date(
                    signupForm("profile.birthDate"),
                    '_help -> "",
                    '_label -> Messages("profile.birthdate")
                    )                    
                </div>

                <div class="span3">
                    @text(
                    signupForm("email"),
                    '_label -> Messages("email"),
                    '_help -> ""

                    )

                    @tel(
                    signupForm("profile.phoneNumber"),
                    '_help -> "",
                    '_label -> Messages("profile.phone"),
                    '_error -> signupForm("profile.phoneNumber").error.map(_.withMessage("Please select your dostyk"))
                    )

                    @password(
                    signupForm("password"),
                    'label -> "password",
                    'help -> "help.password",
                    '_help ->"",
                    'required -> "required"
                    )

                    @password(
                    signupForm("repeatPassword"),
                    '_label -> Messages("confirmPassword"),
                    '_help -> "",
                    '_error -> signupForm.error("password"),
                    'required -> "required"
                    )
                </div>

                <div class="span3">
                    @restrict(la(as("admin"))){
                    @select(
                    signupForm("dostyk"),
                    options = options(DostykLogic.list),
                    '_default -> Messages("help.dostyk"),
                    '_label -> Messages("profile.dostyk"),
                    'required -> "required",
                    '_error -> signupForm("profile.dostyk").error.map(_.withMessage("Please select your dostyk"))
                    )
                    }

                    @subjectNotPresent(){
                    @select(
                    signupForm("dostyk"),
                    options = options(DostykLogic.list),
                    '_default -> Messages("help.dostyk"),
                    '_label -> Messages("profile.dostyk"),
                    'required -> "required",
                    '_error -> signupForm("profile.dostyk").error.map(_.withMessage("Please select your dostyk"))
                    )
                    }

                    @if(role=="student") {
                        @select(
                            signupForm("course"),
                            options = options(CourseTypeLogic.list),
                            '_default -> Messages("help.courseType"),
                            '_label -> Messages("profile.courseType"),
                            'required -> "required",
                            '_error -> signupForm("profile.courseType").error.map(_.withMessage("Please select your course"))
                        )
                    }       

                    @if(role=="teacher"||role=="student") {
                        @if(role=="teacher"){
                            <div id="chooseLang" style="display: block">
                        }else{
                            <div id="chooseLang" style="display: none">
                        }

                        <label> @Messages("profile.language") </label>
                        <select name=lang id="lang" required>
                            <option value="" class=blank> @Messages("help.language")</option>
                            <option value="KZ"> Қазақша </option>
                            <option value="RU"> Русский </option>
                        </select>
                    </div>
                    <div class="multiselect" id="langCheckBox" >

                    </div>
                    }             
                </div>
                <div class="span3">
                    @if(role=="student") {
                    <label> @Messages("Ulgerimi") </label>
                    <select name=ulgerimi>
                        <option value="" class=blank> @Messages("Ulgerimi")</option>
                        <option value=jaksy> @Messages("jaksy")</option>
                        <option value=kizilAttestat> @Messages("kizilAttestat")</option>
                        <option value=altynBelgi> @Messages("altynBelgi")</option>
                    </select>

                    <label for="region">@Messages("region")</label>
                    <select name=region id=region required>
                    	<option value="" class=blank> @Messages("selectRegion")</option>                        
                        @for(r<-regions) {
                        <option value=@r.code> 
	                        @if(session().get("lang") == "kk"){
								@r.name_kz
							} else {
								@r.name_ru
							}
                        </option>
                        }
                    </select>
                    <div style="display:none" id="district_div"></div>
                    <div style="display:none" id="school_div"></div>
                        @restrict(la(as("moderator"))) {
                            <label for="sfirm">@Messages("Firm")</label>
                            <select name=sfirm id=sfirm required>
                                <option value="" class=blank>@Messages("ChooseFirm")</option>
                                @for(firm <- Firm.getAll(AuthorisedUsers.getConnectedUser.dostyks.get(0))) {
                                    <option value=@firm.id>
                                        @firm.name
                                    </option>
                                }
                            </select>
                        }
                    }
                </div>



                <input type=text name=role value=@role style="display:none">                
         
         </div>
    </div>
    @if(role=="student") {
    <div class="span12"></div>
    <div class="row-fluid" style="padding-left: 30px">
    @* @for(parent<-Seq("mother","father","guardian")){ *@
    @for(parent<-Seq("guardian")){
    <div class="span4 profile">
        <label class="header"><input type="radio" name="responsible" class="parent" value="@parent" required checked hidden> @Messages(parent)</label>
        <fieldset>            
            @text(signupForm(parent+".firstName"),   '_label -> Messages("profile.firstName"), '_help -> "")
            @text(signupForm(parent+".lastName"),    '_label -> Messages("profile.lastName"),  '_help -> "")
            @text(signupForm(parent+".inn"),    '_label -> Messages("profile.inn"),  '_help -> "")
            @tel(signupForm( parent+".phoneNumber1"), '_label -> Messages("profile.phone"),     '_help -> "")
            @tel(signupForm( parent+".phoneNumber2"), '_label -> Messages("profile.phone"),     '_help -> "")
            @select(
                    signupForm(parent+".work"),
                    options = options(models.logic.user.AuthorisedUserLogic.jobs),
                    '_default -> "",
                    '_label -> Messages("profile.work"),
                    '_error -> signupForm(parent+".work").error.map(_.withMessage("Please select your job"))
                    )
            
        </fieldset>
    </div>
    }
    </div>
	}
    <div class="row-fluid">
        <div class="span12">
               <fieldset>
                <br>
                <label class="checkbox">
                    @checkbox(
                    signupForm("accept"),
                    '_label -> None,
                    '_text -> Messages("help.agreement"),
                    '_showConstraints -> false
                    )
                </label>
            </fieldset>

            <div class="actions">
                <input type="submit" class="btn primary" value="@Messages("signUp")" id="signUp">
                <a href="@routes.Application.index" class="btn">@Messages("cancel")</a>
            </div>
        </div>
    </div>
}
}

<script src="@routes.Assets.at("javascripts/jquery.maskedinput.min.js")" type="text/javascript"></script>
<script type="text/javascript" src='@routes.Application.javascriptRoutes'></script>
<script>
    @restrict(la(as("moderator"))) {
@if(Firm.getAll(AuthorisedUsers.getConnectedUser().dostyks.get(0)).size()==0){
    $(document).on("ready",function(){
        alert('@Messages("RedirectingToFirms")');
        window.location.replace('@controllers.social.routes.Firms.viewAll');
    });
}
    }
$("input:checkbox").eq(-2).attr("required", "required");

$("#profile_phoneNumber").mask("+7(999) 999 99 99");
$("#mother_phoneNumber1").mask("+7(999) 999 99 99");
$("#mother_phoneNumber2").mask("+7(999) 999 99 99");

$("#father_phoneNumber1").mask("+7(999) 999 99 99");
$("#father_phoneNumber2").mask("+7(999) 999 99 99");

$("#guardian_phoneNumber1").mask("+7(999) 999 99 99");
$("#guardian_phoneNumber2").mask("+7(999) 999 99 99");

    var choosedCourseGrade = 0;

    $("#course").on("change", function() {
        value = $("#course option:selected").val();
        if (value.length > 0) {
            $('select[name="lang"]').val('');
            document.getElementById("langCheckBox").innerHTML = '';
            document.getElementById("chooseLang").style.display = 'block';

            myJsRoutes.controllers.education.CourseTypes.getByName(value).ajax({
                success: function(data) {
                    choosedCourseGrade = data;
                },
                error: function(jqXHR, textStatus, errorThrown) {
                    console.log(textStatus);
                }
            });

        }else{

            $('select[name="lang"]').val('');
            document.getElementById("chooseLang").style.display = 'none';
            document.getElementById("langCheckBox").innerHTML = '';
        }
    });

$("#lang").on("change", function(){
    var value = $("#lang option:selected").val();

    $("#langCheckBox").empty();
    @if(role=="student"){

        if(value == "KZ"){
            @for(lesson<-LessonLogic.getAll) {
                @if(lesson.language == "KZ"){
                    @for(c <- lesson.course){
                        if(@c.title == choosedCourseGrade){
                            $("#langCheckBox").append('<label><input type=checkbox name="lesson[]" value=@lesson.id> @lesson.name</label>');
                        }
                    }
                }
            }
        }else if(value == "RU"){
            @for(lesson<-LessonLogic.getAll) {
                @if(lesson.language == "RU"){
                    @for(c <- lesson.course){
                        if(@c.title == choosedCourseGrade){
                             $("#langCheckBox").append('<label><input type=checkbox name="lesson[]" value=@lesson.id> @lesson.name</label>');
                        }
                    }
                }
            }
        }
    }else{
        if(value == "KZ"){
            @for(lesson<-LessonLogic.getAll) {
                @if(lesson.language == "KZ"){
                    $("#langCheckBox").append('<label><input type=checkbox name="lesson[]" value=@lesson.id> @lesson.name</label>');
                }
            }
        }else if(value == "RU"){
            @for(lesson<-LessonLogic.getAll) {
                @if(lesson.language == "RU"){
                     $("#langCheckBox").append('<label><input type=checkbox name="lesson[]" value=@lesson.id> @lesson.name</label>');
                }
            }
        }
    }

});

$("input:checkbox").click(function() {
    ok = 0;
    $("input:checkbox").each(function() {
        if ($(this).is(":checked")) ok = ok + 1;
    });

    $("input:checkbox").each(function() {
        $(this).removeAttr("required");
    });

    if ($("input:checkbox").last().is(":checked")) ok = ok - 1;

    $("input:checkbox").last().attr("required", "required");

    if (ok == 0) {
        $("input:checkbox").eq(-2).attr("required", "required");
    }
});

$("#region").on("change", function() {
    $("#district_div").hide();
    $("#school_div").hide();
    region = $("#region option:selected").html();
    value = $("#region option:selected").val();
    if (value.length > 0) {
        myJsRoutes.controllers.social.Regions.getDistricts(value).ajax({
            success: function(data) {
                $("#district_div").html(data);
                $("#district_div").slideDown();
            },
            error: function(jqXHR, textStatus, errorThrown) {
                console.log(textStatus);
            }
        });

    }
});

$(document).on("change", "#district", function() {
    district = $("#district option:selected").html();
    value = $("#district option:selected").val();
    region = $("#region option:selected").html();
    reg = $("#region option:selected").val();
    if (value.length > 0) {
        myJsRoutes.controllers.social.Districts.getSchools(value, reg).ajax({
            success: function(data) {
                $("#school_div").hide();
                $("#school_div").html(data);
                $("#school_div").slideDown();
            },
            error: function(jqXHR, textStatus, errorThrown) {
                console.log(textStatus);
            }
        });
    }
});
@if(role == "student"){
    $('#signUpTab a').click(function(e) {
        e.preventDefault();
        $(this).tab('show');
    });
}
</script>


