@(studentSize : Int, list : List[models.entities.user.AuthorisedUser])

@import be.objectify.deadbolt.java.views.html._
@import be.objectify.deadbolt.core.utils.TemplateUtils._


@import helper.inputText;
@import models.entities.user._;
@import models.entities.social._;
@import helper.twitterBootstrap._

@import models.logic.social._;
@import models.logic.education._;
@import html5.tags.html._

@import helper.inputPassword;
@import helper.inputRadioGroup;


@_content(Messages("students.list")) {

	<table class="table table-condensed">
		<thead>
			<th>@Messages("Name")</th>
			<th>@Messages("idNumber")</th>
			<th>@Messages("birthDate")</th>
			<th>@Messages("viewRegister")</th>
			<th>@Messages("exams")</th>
		</thead>

			@for(user <- list) {
				<tr>
					<td>@if(user.profile.lastName != null && user.profile.firstName != null) {
						@user.profile.lastName @user.profile.firstName
					}</td>
					<td>@if(user.profile.idNumber != null){
						@user.profile.idNumber
					}</td>
					<td>@if(user.profile.birthDate != null){
						@user.profile.birthDate.format("dd-MM-yyyy")
					} </td>
					<td><a href=@controllers.education.routes.Registers.show(user.id)>@Messages("viewRegister")</a></td>
					<td><a href=@controllers.examination.routes.ExamResults.showByUser(user.id)>@Messages("exams")</a></td>
				</tr>
			}

	</table>
}
<script type="text/javascript" src='@routes.Application.javascriptRoutes'></script>

