@()

@import be.objectify.deadbolt.java.views.html._
@import be.objectify.deadbolt.core.utils.TemplateUtils._


@import helper.inputText;
@import models.entities.user._;
@import models.entities.social._;
@import helper.twitterBootstrap._

@import models.logic.social._;
@import models.logic.education._;
@import html5.tags.html._

@import helper.inputPassword;
@import helper.inputRadioGroup;


@_content(Messages("users.list")) {
	<div class="row-fluid">
                <div class="span12">
                	<div class="alert alert-info">
                		<h3 class="alert alert-danger">@Messages("Attention")</h3>
                		Uploading file must be correctly filled!!!<br>
                		Length of name and surname must be at least 3 characters.<br>
                		Dostyk id, gender, language, courseType must filled correctly.<br>
                		ParentNumber and phoneNumber must have 10 digits.
                	</div>
                    <form id="upload_form" action="@controllers.user.routes.UserManagement.uploadStudents" enctype="multipart/form-data" method="POST">
                           <input name="reg_file" id="reg_file" type="file"/>
                           <input type=submit value=upload>
                    </form>
                </div>
    </div>
}