@import be.objectify.deadbolt.java.views.html._
@import be.objectify.deadbolt.core.utils.TemplateUtils._

@import html5.tags.html._

@(userEmail: String)

<style>
.progress.active .progress-bar {
	-webkit-transition: none !important;
	transition: none !important;
}
</style>

@_content(Messages("exam.report")){

	<div class="row">
		<table>
			<thead>
				<th style="padding-left: 15px;display: none;" id="backBtnList">
						<a onclick="getExamList()"><h2>@Messages("Undo")</h2></a>
				</th>
				<th style="padding-left: 75px; padding-top: 7px;display: none;" id="backBtnResult">
					<div style="display: inline-block;">
						<a onclick="showList(0)"><h2>@Messages("Undo")</h2></a>
					</div>
					<div style="display: inline-block;  padding-left: 15px">
						<button onclick="printPDF()">@Messages("pdfExport")</button>
					</div>

				</th>

			</thead>
		</table>
	</div>

	<div class="form-group" id="animation">
			<div class="progress progress-striped active">
				<div class="progress-bar progress-bar-success" style="width:0%"></div>
			</div>
	</div>

	<div class="form-group">
		<div id="container" style="min-width: 310px; height: 400px; margin: 0 auto; padding-right: 10px;"></div>
	</div>

	<div id="here_table">

	</div>



}


<script type="text/javascript" src='@routes.Application.javascriptRoutes'></script>
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script>

		function callAnimation(){
			$(".progress-bar").attr("style", "width: 0%");
			$(".progress-bar").animate({
				width: "90%"
			}, 3500);
		}

		var examResultId = 0;
		var detailedResId = 0;

		showList('@userEmail');

		function showList(id){
			callAnimation();
		    document.getElementById("container").style.display = 'block';
			var examId = id;
			if(id == 0){
				examId = examResultId;
			}else{
				examResultId = examId;
			}

			var arr = { token: 'Hsgd34nsdhui34D2',id:examId,status:"student"};
			$.ajax({
				type: 'post',
				url: 'http://letscop.com/getExamResult',
				dataType: 'json',
				contentType: 'application/json; charset=utf-8',
				data: JSON.stringify(arr),
				success: function(value) {
				    console.log("value = "+value);
					var size = value.size;
					var examDate = [];
					var lesson1 = [];
					var lesson2 = [];
					var lesson3 = [];
					var lesson4 = [];
					var lesson5 = [];
					var lessonTotal = [];
					var lessonSize = 0;



					if(size  == 1){
						var result = value.result;
						var id = value.id;
						var maxLessonSize = value.maxLessonSize;
						lessonSize = maxLessonSize;
						var jsonData = JSON.parse(result);
						$("#here_table").html("");
						$('#here_table').append('<table id="example" style="font-size: 12px;" class="table table-striped" cellspacing="0"></table>');
						var table = $('#here_table').children();
						var th = '';
						for(var k = 1; k <= maxLessonSize; k++){
							th = th + '<th>@Messages("lesson") №'+ k +'</th><th>@Messages("examResult.totalGrade")</th>';
						}
						table.append( '<thead><tr><th>№</th><th>@Messages("name") @Messages("surname")</th><th>@Messages("examination")</th><th>@Messages("examResult.variant")</th><th>@Messages("grade")</th>'+ th +'<th>@Messages("total")</th><th></th></tr></thead><tbody>' );
						var ii = 0;
						for( var i in jsonData) {

							var td = '';

							for(var k = 0; k < maxLessonSize; k++){
								td = td + '<td>'+jsonData[i].lessons[k].lessonName+'</td><td>'+jsonData[i].lessons[k].correct+'</td>';
								if(k == 0){ lesson1[ii] = jsonData[i].lessons[k].correct;}
								else if(k == 1){ lesson2[ii] = jsonData[i].lessons[k].correct; }
								else if(k == 2){ lesson3[ii] = jsonData[i].lessons[k].correct; }
								else if(k == 3){ lesson4[ii] = jsonData[i].lessons[k].correct; }
								else if(k == 4){ lesson5[ii] = jsonData[i].lessons[k].correct; }
							}
							examDate[i] = jsonData[i].exam_date;
							lessonTotal[ii] = jsonData[i].total;
							ii++;
							table.append( '<tr><td>' + (parseInt(i)+1) + '</td><td>'+ jsonData[i].name + '' + jsonData[i].surname + '</td><td>' + jsonData[i].examName + '</td><td>' + jsonData[i].variant + '</td><td>'+ jsonData[i].course + '-' + jsonData[i].course_name + '</td>'+td+'<td>'+ jsonData[i].total + '</td><td><button type="btn" onClick=showTopicResult(this.id) id='+ jsonData[i].id+'>@Messages("Результаты по темам")</button></td></tr>' );

						}
						table.append( '</tbody>' );
						console.log(lesson1);
						drowChart(examDate,lesson1,lesson2,lesson3,lesson4,lesson5,lessonTotal,lessonSize);
					}
					document.getElementById("backBtnList").style.display = 'block';
					document.getElementById("backBtnResult").style.display = 'none';
					document.getElementById("animation").style.display = 'none';


				},
				error: function(e){
					alert(e.message);
				},

			});

		}

		function drowChart(examDate,lesson1,lesson2,lesson3,lesson4,lesson5,lessonTotal,lessonSize){
		    console.log(lesson1);
			Highcharts.chart('container', {
				chart: {
					type: 'line'
				},
				title: {
					text: '@Messages("exam.report")'
				},
				subtitle: {
					text: 'dostykbilim.kz'
				},
				xAxis: {
					categories: examDate
				},
				yAxis: {
					title: {
						text: '@Messages("examResult.totalGrade")'
					}
				},
				plotOptions: {
					line: {
						dataLabels: {
							enabled: true
						},
						enableMouseTracking: false
					}
				},
				series: [{
					name: '@Messages("lesson") №1',
					data: lesson1
				}, {
					name: '@Messages("lesson") №2',
					data: lesson2
				}, {
					name: '@Messages("lesson") №3',
					data: lesson3
				}, {
					name: '@Messages("lesson") №4',
					data: lesson4
				}, {
					name: '@Messages("lesson") №5',
					data: lesson5
				}, {
					name: '@Messages("total")',
					data: lessonTotal
				}]
			});
		}



		function showTopicResult(id){

			callAnimation();
			document.getElementById("animation").style.display = 'block';
			detailedResId = id;
			document.getElementById("container").style.display = 'none';


			var arr = { token: 'Hsgd34nsdhui34D2',examId:detailedResId};
			$.ajax({
				type: 'post',
				url: 'http://letscop.com/getExamHtmlPage',
				dataType: 'json',
				contentType: 'application/json; charset=utf-8',
				converters: {
					'text json': true
				},
				data: JSON.stringify(arr),
				success: function(value) {
					$("#here_table").html("");
					$("#here_table").html(value);
					document.getElementById("backBtnList").style.display = 'none';
					document.getElementById("backBtnResult").style.display = 'block';
					document.getElementById("animation").style.display = 'none';
					document.getElementById("print_id").value = detailedResId;
				},
				error: function(e){
					alert(e.message);
				},

			});

		}

		function printPDF(){
			//window.open('/printPDF?id='+detailedResId , '_blank');
			//var w = window.open();
			//var html = $("#here_table").html();
			//$(w.document.body).html(html);
			$("#here_table").show();
			window.print();

		}





</script>
