@import be.objectify.deadbolt.java.views.html._
@import be.objectify.deadbolt.core.utils.TemplateUtils._

@import html5.tags.html._

@(userEmail: String)



@_content(Messages("exam.report")){


	<div class="row">
		<table>
			<thead>
				<th style="padding-left: 15px;display: none;" id="backBtnList">
					<div style="display: inline-block;">
						<a onclick="getExamList()"><h2>@Messages("Undo")</h2></a>
					</div>
					<div style="padding-left: 15px" id="printAllPDF">
						<button onclick="printAllPDF()">@Messages("pdfExport")</button>
					</div>
				</th>
				<th style="padding-left: 75px; padding-top: 7px;display: none;" id="backBtnResult">
				<div style="display: inline-block;">
					<a onclick="showList(0)"><h2>@Messages("Undo")</h2></a>
				</div>

				<div style="display: inline-block;  padding-left: 15px">
					<button onclick="printPDF()">@Messages("pdfExport")</button>
				</div>

				</th>


			</thead>
		</table>
	</div>


	<div class="form-group" id="animation">
		<div class="progress progress-striped active">
			<!-- <div class="progress-bar progress-bar-success" style="width:0%"></div> -->
		</div>
	</div>



	<div style="overflow: auto">
		<div id="here_table">

		</div>
	</div>

	<div id="allPDF">

	</div>





}


<script>

		function callAnimation(){
			$(".progress-bar").attr("style", "width: 0%");
			$(".progress-bar").animate({width: "90%"}, 3500);
		}

		var examResultId = 0;
		var detailedResId = 0;

		function getExamList(){

			document.getElementById("animation").style.display = 'block';
			document.getElementById("printAllPDF").style.display = 'none';
			callAnimation();

		    var arr = { token: 'Hsgd34nsdhui34D2',user:'@userEmail'};
			$.ajax({
				type: 'post',
				url: 'http://letscop.com/getExamList',
				dataType: 'json',
				contentType: 'application/json; charset=utf-8',
				data: JSON.stringify(arr),
				success: function(value) {

					var string = value.examList;
					var jsonData = JSON.parse(string);

					$("#here_table").html("");
					$('#here_table').append('<table id="example" style="font-size: 12px; max-width: 400px;" class="table table-striped" cellspacing="0"></table>');
					var table = $('#here_table').children();
					table.append( '<thead><tr><th>№</th><th>@Messages("name")</th><th></th></tr></thead><tbody>' );
					for( var i in jsonData) {
						table.append( '<tr><td>' + (parseInt(i)+1) + '</td><td>'+ jsonData[i].name + '</td><td> <button type="btn" onClick=showList(this.id) id='+ jsonData[i].id+'>@Messages("exp_list")</button></td></tr>' );

					}
					table.append( '</tbody>' );
					document.getElementById("backBtnList").style.display = 'none';
					document.getElementById("animation").style.display = 'none';

				},
				error: function(e){
					alert(e.message);
				},

			});
		}
		getExamList();

		function showList(id){

			document.getElementById("animation").style.display = 'block';
			document.getElementById("printAllPDF").style.display = 'inline-block';
			callAnimation();

			var examId = id;
			if(id == 0){
				examId = examResultId;
			}else{
				examResultId = examId;
			}

			var arr = { token: 'Hsgd34nsdhui34D2',id:examId,status:"moder"};
			$.ajax({
				type: 'post',
				url: 'http://letscop.com/getExamResult',
				dataType: 'json',
				contentType: 'application/json; charset=utf-8',
				data: JSON.stringify(arr),
				success: function(value) {
					var result = value.result;
					var size = value.size;
					var id = value.id;
					var maxLessonSize = value.maxLessonSize;
					var jsonData = JSON.parse(result);

					if(size  == 1){
						$("#here_table").html("");
						$('#here_table').append('<table id="example" style="font-size: 12px;" class="table table-striped" cellspacing="0"></table>');
						var table = $('#here_table').children();
						var th = '';
						for(var k = 1; k <= maxLessonSize; k++){
							th = th + '<th>@Messages("lesson") №'+ k +'</th><th>@Messages("examResult.totalGrade")</th>';
						}
						table.append( '<thead><tr><th>№</th><th>@Messages("name") @Messages("surname")</th><th>@Messages("examination")</th><th>@Messages("examResult.variant")</th><th>@Messages("grade")</th>'+ th +'<th>@Messages("total")</th><th></th></tr></thead><tbody>' );
						for( var i in jsonData) {

							var td = '';
							for(var k = 0; k < maxLessonSize; k++){
								td = td + '<td>'+jsonData[i].lessons[k].lessonName+'</td><td>'+jsonData[i].lessons[k].correct+'</td>';
							}

							table.append( '<tr><td>' + (parseInt(i)+1) + '</td><td>'+ jsonData[i].name + '' + jsonData[i].surname + '</td><td>' + jsonData[i].examName + '</td><td>' + jsonData[i].variant + '</td><td>'+ jsonData[i].course + '-' + jsonData[i].course_name + '</td>'+td+'<td>'+ jsonData[i].total + '</td><td><button type="btn" onClick=showTopicResult(this.id) id='+ jsonData[i].id+'>@Messages("Результаты по темам")</button></td></tr>' );

						}
						table.append( '</tbody>' );
					}
					document.getElementById("backBtnList").style.display = 'block';
					document.getElementById("backBtnResult").style.display = 'none';
					document.getElementById("animation").style.display = 'none';


				},
				error: function(e){
					alert(e.message);
				},

			});

		}

		function showTopicResult(id){

			document.getElementById("animation").style.display = 'block';
			document.getElementById("printAllPDF").style.display = 'none';
			callAnimation();

			detailedResId = id;
			var arr = { token: 'Hsgd34nsdhui34D2',examId:detailedResId};
			$.ajax({
				type: 'post',
				url: 'http://letscop.com/getExamHtmlPage',
				dataType: 'json',
				contentType: 'application/json; charset=utf-8',
				converters: {
					'text json': true
				},
				data: JSON.stringify(arr),
				success: function(value) {
					$("#here_table").html("");
					$("#here_table").html(value);
					document.getElementById("backBtnList").style.display = 'none';
					document.getElementById("backBtnResult").style.display = 'block';
					//document.getElementById("print_id").value = detailedResId;
					document.getElementById("animation").style.display = 'none';
				},
				error: function(e){
					alert(e.message);
				},

			});

		}

		function printPDF(){
			window.open('/printPdf/'+detailedResId,'_blank');
		}

		function printAllPDF(){
			window.open('/printAllPdf/'+examResultId,'_blank');
		}



</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
