@(dostyks: List[models.entities.social.Dostyk])


@import helper._
@import helper.twitterBootstrap._
@import html5.tags.html._

@_content(Messages("SMS")){
	<table class="table table-condensed table-bordered table-striped" style="width:auto">
		<thead>
			<th> @Messages("dostyks")</th>
			<th> @Messages("SMS") </th>
		</thead>
		@for(d <- dostyks) {
			<tr>
				<td> @d.name </td>
				<td> <input type=number value=@d.smsLeft dostykId="@d.id"> <button class="btn btn-primary save">@Messages("save")</button> </td>
			</tr>
		}
	</table>
}
<script type="text/javascript" src='@routes.Application.javascriptRoutes'></script>
<script>
	$(".save").click(function(){
		cur = $(this).prev();
		val = cur.val();
		dostykId = cur.attr("dostykId");
		myJsRoutes.controllers.social.SMS.saveSMS(val, dostykId).ajax({
                success : function(data) {
                },
                error : function(jqXHR, textStatus, errorThrown) {
                	alert("error");
                }
            });
	}); 
</script>