@(dostyk : models.entities.social.Dostyk)
@import helper._
@import helper.twitterBootstrap._
@import html5.tags.html._

@import be.objectify.deadbolt.java.views.html._
@import be.objectify.deadbolt.core.utils.TemplateUtils._

@_content(Messages("SMS")){
<link rel="stylesheet" media="all" href='@routes.Assets.at("bootstrap-select-1.12.4/css/bootstrap-select.min.css")' />

@restrict(la(as("moderator"))){
<h1>@Messages("SMS")</h1>
<h2>@Messages("SMS"): @dostyk.smsLeft @Messages("unit")</h2>
@if(flash.get("bad")!=null){
<h2>@Messages("bad request")</h2>
}
@if(flash.get("notext")!=null){
<h2>@Messages("notext")</h2>
}

@if(flash.get("sms")!=null){
<h2>@Messages("sms.success")</h2>
}

@if(dostyk.smsLeft>0){
<form class="form-horizontal" action="@controllers.social.routes.SMS.smsSubmit()" method="POST" >
    <div class="form-group">
        <label for="groups" class="col-md-2  control-label"> @Messages("selectGroup")</label>
        <div class="col-md-10">
        <select name="groupIDs[]" id="groups" class="form-control selectpicker" data-width="fit" multiple data-live-search="true">
            @for(group <- models.logic.social.DostykGroupLogic.getAllByDostyk(dostyk)) {
            <option value="@group.id">@group.name</option>
            }
        </select>
        </div>
    </div>

    <br>
    <br>


    <div class="form-group">
        <label for="students" class="col-md-2 control-label">@Messages("studentlist")</label>
        <div class="col-md-10">
        <select name="studentIDs[]" id="students" class="form-control selectpicker" data-width="fit" multiple data-live-search="true">
            @for(user <- models.logic.user.AuthorisedUserLogic.getStudents(dostyk)) {
            <option value="@user.id">@user.profile.firstName @user.profile.lastName</option>
            }
        </select>
        </div>
    </div>

    <br>
    <br>
    <div class="form-group">
        <label for="textarea" class="control-label">@Messages("SMS")</label>
        <textarea name="text" id="textarea" class="form-control" style="height:150px"  id="" cols="30" rows="10"></textarea>

    </div>

    <br>
    <div class="form-group">
        <button class="btn btn-primary">@Messages("Submit")</button>


    </div>
</form>
}else{
<h2>@Messages("nosmsleft")</h2>
}

}

}
<script src='@routes.Assets.at("bootstrap-select-1.12.4/js/bootstrap-select.min.js")'></script>
<script type="text/javascript" src='@routes.Application.javascriptRoutes'></script>
<script>
        $('.selectpicker').selectpicker({
        noneSelectedText : "@Messages("ChooseOne")"
        });

</script>