@(title: String)(content: Html)

@import be.objectify.deadbolt.java.views.html._
@import be.objectify.deadbolt.core.utils.TemplateUtils._

@main(title) {
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span12 well">
                @content
            </div>
        </div>
    </div>
}