@(title: String)(content: Html)

@import be.objectify.deadbolt.java.views.html._
@import be.objectify.deadbolt.core.utils.TemplateUtils._

@workTime={
    <table class="table table-striped table-condensed" >
        <caption><h4>@Messages("support.notify")</h4></caption>
        <tbody>
            <tr>
                <th align="right">@Messages("Mo"):</th>
                <td>9:00 - 18:00</td>
            </tr>
            <tr>
                <th>@Messages("Tu"):</th>
                <td>9:00 - 18:00</td>
            </tr>
            <tr>
                <th>@Messages("We"):</th>
                <td>9:00 - 18:00</td>
            </tr>
            <tr>
                <th>@Messages("Th"):</th>
                <td>9:00 - 18:00</td>
            </tr>
            <tr>
                <th>@Messages("Fr"):</th>
                <td>9:00 - 18:00</td>
            </tr>
            <tr>
                <th>@Messages("Sa"):</th>
                <td>9:00 - 15:00</td>
            </tr>
            <tr>
                <th>@Messages("Su"):</th>
                <td>@Messages("support.weekend")</td>
            </tr>
        </tbody>
        <tfoot>
            <th>@Messages("support.dinner"):</th>
            <td>13:00 - 14:00</td>
        </tfoot>
    </table>
}

@main(title){
    @if(request.uri.contains("ten")){
        <style>
        body{
        background-image: url('/assets/images/akc_patt.png') ;
        }
        .navbar-inner{
            background-color: #DBBD00;
            background-image: none;
            border:none;

        }
        </style>
    }
    @restrict(la(as("ten"))){
        <style>
        body{
        background-image: url('/assets/images/akc_patt.png') ;
        }
        .navbar-inner{
        background-color: #DBBD00;
        background-image: none;
        border:none;

        }
        </style>
    }



    @_navbar()

    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span2 hidden-phone">
                <div class="row-fluid">
                    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                        <div class="menu_section">
                            @_navlist()
                        </div>
                    </div>
                </div>
                @if(request.uri.contains("ten")){
                    <div class="row-fluid no-print">
                        <div class="span12 well hidden-phone">
                            <img src="@routes.Assets.at("images/aks.png")" alt="" />
                        </div>
                    </div>
                }

                @restrictOr(la(as("ten"))){
                    <div class="row-fluid no-print">
                        <div class="span12 well hidden-phone">
                            <img src="@routes.Assets.at("images/aks.png")" alt="" />
                        </div>
                    </div>
                }{
                    @*
                    @subjectPresent(){
                        <div class="row-fluid no-print">
                            <div class="span12  hidden-phone">
                                @if(flash.get("email") != null){
                                    <div class="alert alert-success fade-in alert-dismissable" role="alert">
                                        <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only"></span></button>
                                        @Html(flash.get("email"))
                                    </div>
                                    @flash.clear()
                                }
                                <a href="#support" role="button" style="width: 100% ; padding: 10px ;" class="btn btn-primary" data-toggle="modal">
                                    <img src="@routes.Assets.at("images/support.svg")" id="bg" alt="HTML5 logo">
                                    <h3>
                                    @Messages("support")
                                    </h3>
                                </a>

                            </div>
                        </div>
                    }
                    *@

                }     </div>
            <div class="span10 well x_panel">
            @content
            </div>
        </div>

    </div>

    <div id="support" class="modal hide fade no-print" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="width: 25% ;">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="myModalLabel">@Messages("support")</h3>
        </div>
        <form action="@routes.Application.support" method="POST">
            <div class="modal-body">
                <div class="row-fluid">
                    <div class="span12"><input type="text" id="moderEmail" name="moderEmail" placeholder="@Messages("support.moderEmail")"/></div>
                </div>
                <div class="row-fluid">
                    <div class="span12"><input type="text" name="title" placeholder="@Messages("title")"/></div>
                </div>
                <div class="row-fluid">
                    <div class="span12"><textarea name="body" placeholder="@Messages("body")" rows="4" style="width: 90% ; height:100px"></textarea></div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="row-fluid">
                    <div class="span12">
                        <button class="btn" data-dismiss="modal" aria-hidden="true">@Messages("cancel")</button>
                        <button type="submit" class="btn btn-primary">@Messages("send")</button>
                    </div>
                </div>
                <div class="row-fluid">
                    <div class="span12">
                    @workTime
                    </div>
                </div>
            </div>
        </form>
    </div>

    }
<script>

        $('#moderEmail').popover({
            html:true,
            content:'@Messages("support.moderEmail.tooltip") <a href="@controllers.user.routes.AuthorisedUsers.editMail(-1)">@Messages("changeEmail")</a>',

            placement:'right'});
</script>


