@import be.objectify.deadbolt.java.views.html._
@import be.objectify.deadbolt.core.utils.TemplateUtils._


<style>
	@@media print {
		.noprint {
			display:none; 
		}
	}
</style>
<div class="navbar noprint">
  <div class="navbar-inner ">
    <div class="container">
      <button type="button" class="btn btn-navbar visible-phone" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      @*<a class="brand visible-desktop" href="@routes.Application.index"><img src='@routes.Assets.at("images/HeadWhite.png")'/></a>*@
      @*<a class="brand hidden-desktop" href="@routes.Application.index"><img src='@routes.Assets.at("images/DostykLogoWhite.png")'/></a>*@


        <div class="nav-collapse collapse visible-phone">
        <ul class="nav">
            @subjectPresent(){
            <li><a href="@controllers.user.routes.AuthorisedUsers.editProfile(-1)">&nbsp;&nbsp;&nbsp;@Messages("myProfile")</a></li>

            <li class="divider"></li>
            @restrict(la(as("teacher"))){
            <li><a href="@controllers.user.routes.UserManagement.showStudentList(-1)">&nbsp;&nbsp;&nbsp;@Messages("studentlist")</a></li>
            }

            @restrict(la(as("student"))){
                <li><a href="@controllers.accounting.routes.Payments.showPaymentList(-1)">&nbsp;&nbsp;&nbsp;@Messages("paymentList")</a></li>
                @*<li><a href="@controllers.letscope.routes.reportController.getStudentExamList()">&nbsp;&nbsp;&nbsp;@Messages("exam.report")</a></li>*@
            }

            @restrict(la(as("moderator"),as("admin"))) {
                <li class="" data-toggle="collapse" data-target="#submenu1" id="submenuli1">
                    <a tabindex="1" href="#">@Messages("dostykManagement") <i id="submenu_icon1" class="icon-chevron-right icon-white"></i></a>
                    <ul class="nav nav-list collapse" id="submenu1">
                        @restrict(la(as("admin"))) {
                            <li><a href="@controllers.user.routes.UserManagement.listAll(0, "name", "asc", "")">&nbsp;&nbsp;&nbsp;@Messages("userManagement")</a></li>

                            <li><a href="@controllers.user.routes.UserManagement.moderators()">&nbsp;&nbsp;&nbsp;@Messages("moderManagement")</a></li>
                            <li><a href="@controllers.user.routes.UserManagement.directors()">&nbsp;&nbsp;&nbsp;@Messages("directorManagement")</a></li>
                            <li><a href='@controllers.social.routes.Dostyks.showDostyks()'>&nbsp;&nbsp;&nbsp;@Messages("dostykList")</a></li>
                            @*<li><a href="@controllers.social.routes.DostykGroups.all()">@Messages("groupManagement")</a></li>*@
                            <li><a href='@controllers.education.routes.CourseTypes.showCourseTypes()'>&nbsp;&nbsp;&nbsp;@Messages("courseTypeList")</a></li>
                            <li><a href='@controllers.education.routes.Lessons.getCourseList()'>&nbsp;&nbsp;&nbsp;@Messages("LessonsList")</a></li>
                            @*<li><a href="@controllers.education.routes.Topics.manage()">@Messages("topics.page")</a></li>*@
                            @*<li><a href="@controllers.education.routes.Topics.uploadPage()">@Messages("uploadTasksByTopic")</a></li> *@
                        }
                        @restrict(la(as("moderator"))) {
                            <li><a href="@controllers.user.routes.UserManagement.list(0, "name", "asc", "")">&nbsp;&nbsp;&nbsp;@Messages("userManagement")</a></li>
                            @*<li><a href="@controllers.ten.routes.UserTen.list(0, "name", "asc", "")">&nbsp;&nbsp;&nbsp;@Messages("ten.userManagement")</a></li>*@
                            <li><a href="@controllers.social.routes.DostykGroups.all()">&nbsp;&nbsp;&nbsp;@Messages("groupManagement")</a></li>
                            @*<li><a href="@controllers.social.routes.Contents.all()">@Messages("contentManagement")</a></li>*@
                            @*<li><a href="@controllers.education.routes.Registers.currentDate()">@Messages("takeAttendance")</a></li>*@
                            <li><a href='@controllers.social.routes.Firms.viewAll'>&nbsp;&nbsp;&nbsp;@Messages("Firms")</a></li>

                        }

                    </ul>
                </li>
            }
            @restrict(la(as("moderator"),as("admin"),as("director"),as("accountant"))) {
                <li class="" data-toggle="collapse" data-target="#submenu2">
                    <a tab-index="2" href="#">@Messages("accounting") <i id="submenu_icon2" class="icon-chevron-right icon-white"></i></a>
                    <ul class="nav nav-list collapse" id="submenu2">
                        @restrict(la(as("admin"))) {
                            <li><a href='@controllers.accounting.routes.DiscountMaxes.showDiscountMaxes()'>&nbsp;&nbsp;&nbsp;@Messages("showDiscountMaxes")</a></li>
                        }
                        @restrict(la(as("moderator"))) {
                            <li><a href="@controllers.education.routes.LessonHourss.set()">&nbsp;&nbsp;&nbsp;@Messages("lessonHoursManagement")</a></li>
                            <li><a href='@controllers.accounting.routes.DiscountValues.showDiscountValues()'>&nbsp;&nbsp;&nbsp;@Messages("showDiscountValues")</a></li>
                            <li><a href='@controllers.accounting.routes.PriceLists.set()'>&nbsp;&nbsp;&nbsp;@Messages("showPriceList")</a></li>
                        }
                        @restrict(la(as("director"), as("admin"))) {
                            <li><a href="@controllers.accounting.routes.Payments.outlays()">&nbsp;&nbsp;&nbsp;@Messages("payment.outlays")</a></li>
                        }

                    </ul>
                </li>
            }
                @restrict(la(as("moderator"),as("admin"),as("director"),as("accountant"))) {
                    <li class="" data-toggle="collapse" data-target="#submenu3">
                        <a tab-index="2" href="#">@Messages("report") <i id="submenu_icon3" class="icon-chevron-right icon-white"></i></a>
                        <ul class="nav nav-list collapse" id="submenu3">
                            @restrict(la(as("moderator"))) {
                                @*<li><a href="@controllers.letscope.routes.reportController.getExamList()">&nbsp;&nbsp;&nbsp;@Messages("exam.report")</a></li>*@
                            }
                            @restrict(la(as("moderator"),as("accountant"),as("admin"),as("director"))) {
                                <li><a href="@controllers.accounting.routes.Payments.paymentReport()">&nbsp;&nbsp;&nbsp;@Messages("payment.report")</a></li>
                                <li><a href="@controllers.accounting.routes.DiscountValues.discountReport()">&nbsp;&nbsp;&nbsp;@Messages("discount.report")</a></li>
                            }
                            <li><a href="@controllers.user.routes.UserManagement.movementReport()">&nbsp;&nbsp;&nbsp;@Messages("movement.report")</a></li>
                            <li><a href="@controllers.user.routes.UserManagement.leftReport()">&nbsp;&nbsp;&nbsp;@Messages("left.report")</a></li>
                            <li><a href="@controllers.user.routes.UserManagement.getStudentBySchool()">&nbsp;&nbsp;&nbsp;@Messages("student.schools")</a></li>

                            @restrict(la(as("moderator"),as("accountant"),as("director"))) {
                                @*<li><a target="_blank" href="@controllers.user.routes.UserManagement.newRevenue()">@Messages("revenue.report")</a></li>*@
                                <li><a target="_blank" href="@controllers.user.routes.UserManagement.newRegistration()">&nbsp;&nbsp;&nbsp;@Messages("newRegistrationReport")</a></li>
                                <li><a href="@controllers.user.routes.UserManagement.ulgerimiReport()">&nbsp;&nbsp;&nbsp;@Messages("ulgerimi.report")</a></li>
                                <li><a href="@controllers.user.routes.UserManagement.genderReport()">&nbsp;&nbsp;&nbsp;@Messages("gender.report")</a></li>
                                <li><a href="@controllers.user.routes.UserManagement.courseTypeReport()">&nbsp;&nbsp;&nbsp;@Messages("courseType.report")</a></li>


                            }
                            @restrict(la(as("moderator"),as("accountant"))) {
                                <li><a href="@controllers.user.routes.UserManagement.cashBook()"&nbsp;&nbsp;&nbsp;>@Messages("CashBook")</a></li>
                            }
                            @*
                            <li><a href="@controllers.user.routes.UserManagement.jurnalReport()">@Messages("jurnal.report")</a></li>
                            *@
                            <li><a href="@controllers.user.routes.UserManagement.registrationReport()">&nbsp;&nbsp;&nbsp;@Messages("registration.report")</a></li>
                        </ul>
                    </li>
                }



            @restrict(la(as("moderator"),as("teacher"))){
                <li class="" data-toggle="collapse" data-target="#submenu4">
                    <a tab-index="2" href="#">@Messages("Timetable")<i id="submenu_icon3" class="icon-chevron-right icon-white"></i></a>
                    <ul class="nav nav-list collapse" id="submenu4">
                        @restrict(la(as("moderator"))){
                            <li><a href='@controllers.routes.CTimetableSettings.edit("new")'>&nbsp;&nbsp;&nbsp;@Messages("AllSettings")</a></li>
                            <li><a href='@controllers.routes.CTimetable.viewAll(0, "all" )'>&nbsp;&nbsp;&nbsp;@Messages("Timetable")</a></li>


                        }
                        @restrict(la(as("teacher"))){
                            <li><a href='@controllers.routes.CTimetable.viewTeacherTimetable()'>&nbsp;&nbsp;&nbsp;@Messages("Timetable")</a></li>
                        }
                    </ul>
                </li>
            }


            <li><a href="@controllers.user.routes.AuthorisedUsers.signOut()">&nbsp;&nbsp;&nbsp;@Messages("menu.signOut")</a></li>
            }
        </ul>
        <ul class="nav pull-left">
            <li >
                <div align="center">
                    <a class="badge btn-primary" href='@controllers.routes.Application.changeLanguage("kk")'>Қаз</a>
                    <a class="badge btn-primary" href='@controllers.routes.Application.changeLanguage("ru")'>Рус</a>
                </div>
            </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
    $('#submenu1').on('hidden', function () {
        $('#submenu_icon1').attr("class", "icon-chevron-right icon-white");
    });
    $('#submenu1').on('shown', function () {
        $('#submenu_icon1').attr("class", "icon-chevron-down icon-white");
    });
    $('#submenu2').on('hidden', function () {
        $('#submenu_icon2').attr("class", "icon-chevron-right icon-white");
    });
    $('#submenu2').on('shown', function () {
        $('#submenu_icon2').attr("class", "icon-chevron-down icon-white");
    });
    $('#submenu3').on('hidden', function () {
        $('#submenu_icon3').attr("class", "icon-chevron-right icon-white");
    });
    $('#submenu3').on('shown', function () {
        $('#submenu_icon3').attr("class", "icon-chevron-down icon-white");
    });
    $('#submenu4').on('shown', function () {
        $('#submenu_icon4').attr("class", "icon-chevron-right icon-white");
    });
    $('#submenu4').on('shown', function () {
        $('#submenu_icon4').attr("class", "icon-chevron-down icon-white");
    });
</script>