@import be.objectify.deadbolt.java.views.html._
@import be.objectify.deadbolt.core.utils.TemplateUtils._

<style>
@@media print
{
.no-print, .no-print *
{
    display: none !important;
}
}
</style>

@user() = {
    @models.entities.user.AuthorisedUser.getUserByEmail(session.get("connected")).profile.lastName.capitalize @models.entities.user.AuthorisedUser.getUserByEmail(session.get("connected")).profile.firstName.capitalize
}
<ul class="nav side-menu">
    <li align="center" style="background-color: white;border-radius:4px"><a href="#"><img src="/assets/images/educonlogo.png" id="logo3" alt="" ></a></li>
    <li>
        <div align="center" style="margin-top:20px">
            <a class="badge btn-primary" href='@controllers.routes.Application.changeLanguage("kk")'>Қаз</a>
            <a class="badge btn-primary" href='@controllers.routes.Application.changeLanguage("ru")'>Рус</a>
        </div>
    </li>
    @subjectPresent(){
        <li><a href="@controllers.user.routes.AuthorisedUsers.editProfile(-1)"><i class="fa fa-user"></i>
            @user()
            @*@Messages("myProfile")*@
        </a></li>

        <li class="divider"></li>
        @restrict(la(as("teacher"))){
            @* <li><a href="@controllers.social.routes.Contents.all()">@Messages("news")</a></li> *@
            <li><a href="@controllers.user.routes.UserManagement.showStudentList(-1)"><i class="fa fa-address-book-o" aria-hidden="true"></i>@Messages("studentlist")</a></li>
            @* <li><a href="@controllers.education.routes.Timetables.show(-1)">@Messages("timetable")</a></li> *@
            @* <li><a href="@controllers.education.routes.Registers.show(-1)">@Messages("viewRegister")</a></li> *@
        }

        @restrict(la(as("student"))){
            @* <li><a href="@controllers.social.routes.Contents.all()">@Messages("news")</a></li>
            <li><a href="@controllers.education.routes.Timetables.show(-1)">@Messages("timetable")</a></li> *@
            <li><a href="@controllers.accounting.routes.Payments.showPaymentList(-1)">@Messages("paymentList")</a></li>
            @*<li><a href="@controllers.letscope.routes.reportController.getStudentExamList()">@Messages("exam.report")</a></li>*@
            @* <li><a href="@controllers.examination.routes.ExamResults.showByUser(-1)">@Messages("examResults")</a></li>
            <li><a href="@controllers.examination.routes.ExamResults.showByUser2(-1)">@Messages("allResults")</a></li>
            <li><a href="@controllers.education.routes.Registers.show(-1)">@Messages("viewRegister")</a></li> *@
        }
        @restrict(la(as("moderator"),as("admin"))){
            <li class="dropdown-submenu">
                <a tabindex="1" href="#"><i class="fa fa-university" aria-hidden="true"></i> @Messages("dostykManagement") <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    @restrict(la(as("admin"))){
                        <li><a href="@controllers.user.routes.UserManagement.listAll(0, "name", "asc", "")">@Messages("userManagement")</a></li>

                        <li><a href="@controllers.user.routes.UserManagement.moderators()">@Messages("moderManagement")</a></li>
                        <li><a href="@controllers.user.routes.UserManagement.directors()">@Messages("directorManagement")</a></li>
                        <li><a href='@controllers.social.routes.Dostyks.showDostyks()'>@Messages("dostykList")</a></li>
                        @*<li><a href="@controllers.social.routes.DostykGroups.all()">@Messages("groupManagement")</a></li>*@
                        <li><a href='@controllers.education.routes.CourseTypes.showCourseTypes()'>@Messages("courseTypeList")</a></li>
                        <li><a href='@controllers.education.routes.Lessons.getCourseList()'>@Messages("LessonsList")</a></li>
                        @*<li><a href="@controllers.education.routes.Topics.manage()">@Messages("topics.page")</a></li>*@
                        @*<li><a href="@controllers.education.routes.Topics.uploadPage()">@Messages("uploadTasksByTopic")</a></li> *@
                    }
                    @restrict(la(as("moderator"))){
                        <li><a href="@controllers.user.routes.UserManagement.list(0, "name", "asc", "")">@Messages("userManagement")</a></li>
                        @*<li><a href="@controllers.ten.routes.UserTen.list(0, "name", "asc", "")">@Messages("ten.userManagement")</a></li>*@
                        <li><a href="@controllers.social.routes.DostykGroups.all()">@Messages("groupManagement")</a></li>
                        @*<li><a href="@controllers.social.routes.Contents.all()">@Messages("contentManagement")</a></li>*@
                        @*<li><a href="@controllers.education.routes.Registers.currentDate()">@Messages("takeAttendance")</a></li>*@
                        <li><a href='@controllers.social.routes.Firms.viewAll'>@Messages("Firms")</a></li>
                    }
                    @*<li class="divider"></li>*@
                    @* @restrict(la(as("admin"))){
                    <li><a href="@controllers.ten.routes.UserTen.genderReport()">@Messages("report.ten")</a></li>
                    } *@
                    @*
                    <li><a href="@controllers.user.routes.UserManagement.ulgerimiReport()">@Messages("ulgerimi.report")</a></li>
                    <li><a href="@controllers.user.routes.UserManagement.genderReport()">@Messages("gender.report")</a></li>
                    <li><a href="@controllers.user.routes.UserManagement.courseTypeReport()">@Messages("courseType.report")</a></li>
                    *@
                    @*
                    <li><a href="@controllers.user.routes.UserManagement.registrationReport()">@Messages("registration.report")</a></li>
                    *@
                </ul>
        }
        @restrict(la(as("moderator"),as("admin"),as("director"),as("accountant"))){
            <li class="dropdown-submenu">
                <a tab-index="2" href="#"><i class="fa fa-calculator" aria-hidden="true"></i> @Messages("accounting") <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    @restrict(la(as("admin"))){
                        <li><a href='@controllers.accounting.routes.DiscountMaxes.showDiscountMaxes()'>@Messages("showDiscountMaxes")</a></li>
                    }
                    @restrict(la(as("moderator"))){
                        <li><a href="@controllers.education.routes.LessonHourss.set()">@Messages("lessonHoursManagement")</a></li>
                        <li><a href='@controllers.accounting.routes.DiscountValues.showDiscountValues()'>@Messages("showDiscountValues")</a></li>
                        <li><a href='@controllers.accounting.routes.PriceLists.set()'>@Messages("showPriceList")</a></li>
                    }
                    @restrict(la(as("director"),as("admin"))){
                        <li><a href="@controllers.accounting.routes.Payments.outlays()">@Messages("payment.outlays")</a></li>
                    }
                </ul>
            </li>
        }
        @restrict(la(as("moderator"),as("admin"),as("director"),as("accountant"))){
            <li class="dropdown-submenu">
                <a tab-index="3" href="#"><i class="fa fa-file-powerpoint-o" aria-hidden="true"></i> @Messages("report") <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    @restrict(la(as("moderator"))) {
                        @*<li><a href="@controllers.letscope.routes.reportController.getExamList()">@Messages("exam.report")</a></li>*@
                    }
                    @restrict(la(as("moderator"),as("accountant"),as("admin"),as("director"))) {
                        <li><a href="@controllers.accounting.routes.Payments.paymentReport()">@Messages("payment.report")</a></li>
                        <li><a href="@controllers.accounting.routes.DiscountValues.discountReport()">@Messages("discount.report")</a></li>
                    }
                        <li><a href="@controllers.user.routes.UserManagement.movementReport()">@Messages("movement.report")</a></li>
                        <li><a href="@controllers.user.routes.UserManagement.leftReport()">@Messages("left.report")</a></li>
                        <li><a href="@controllers.user.routes.UserManagement.getStudentBySchool()">@Messages("student.schools")</a></li>

                    @restrict(la(as("moderator"),as("accountant"),as("director"))) {
                        @*<li><a target="_blank" href="@controllers.user.routes.UserManagement.newRevenue()">@Messages("revenue.report")</a></li>*@
                        <li><a target="_blank" href="@controllers.user.routes.UserManagement.newRegistration()">@Messages("newRegistrationReport")</a></li>
                        <li><a href="@controllers.user.routes.UserManagement.ulgerimiReport()">@Messages("ulgerimi.report")</a></li>
                        <li><a href="@controllers.user.routes.UserManagement.genderReport()">@Messages("gender.report")</a></li>
                        <li><a href="@controllers.user.routes.UserManagement.courseTypeReport()">@Messages("courseType.report")</a></li>

                    }
                    @restrict(la(as("moderator"),as("accountant"))) {
                        <li><a href="@controllers.user.routes.UserManagement.cashBook()">@Messages("CashBook")</a></li>
                    }
                    @restrict(la(as("moderator"),as("accountant"),as("director"))) {

                    }
                    @*
                    <li><a href="@controllers.user.routes.UserManagement.jurnalReport()">@Messages("jurnal.report")</a></li>
                    *@
                    <li><a href="@controllers.user.routes.UserManagement.registrationReport()">@Messages("registration.report")</a></li>
                </ul>
            </li>
        }
        @*
        @restrict(la(as("admin"),as("director"))){
            <li class="dropdown-submenu">
                <a tab-index="3" href="#"><i class="fa fa-shopping-cart" aria-hidden="true"></i> @Messages("orders")<span style="font-size:10px;background: red; border-radius: 5px;text-align: center; padding: 5px; margin-left: 5px">NEW</span> <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    @restrict(la(as("admin"))) {
                        <li><a href="/addOrder">@Messages("add.order")</a></li>
                        <li><a href="/settings">@Messages("settings")</a></li>
                        <li><a href="/debtors">@Messages("debtors")</a></li>
                        <li><a href="/orderReport">@Messages("order.report")</a></li>
                        <li><a href="/paymentReport">@Messages("payment.report")</a></li>

                    }
                    @restrict(la(as("director"))) {
                        <li><a href="/viewAllOrder">@Messages("order.view")</a></li>
                        <li><a href="/defaultOrderValue">@Messages("order.defaultValue")</a></li>
                        <li><a href="/viewDostykOrder">@Messages("order.dostykAmaount")</a></li>
                    }

                </ul>
            </li>
        }
        *@
        @restrict(la( as("moderator"), as("teacher"))){
            <li class="dropdown-submenu">
                <a tab-index="5" href="#"><i class="fa fa-table" aria-hidden="true"></i> @Messages("Timetable")<span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                @restrict(la(as("moderator"))){
                    <li><a href='@controllers.routes.CTimetableSettings.edit("new")'>@Messages("AllSettings")</a></li>
                    <li><a href='@controllers.routes.CTimetable.viewAll(0, "all" )'>@Messages("Timetable")</a></li>


                }
                @restrict(la(as("teacher"))){
                    <li><a href='@controllers.routes.CTimetable.viewTeacherTimetable()'>@Messages("Timetable")</a></li>
                }
                </ul>
            </li>
        }
        @restrict(la(as("admin"))){
        <li><a href='@controllers.social.routes.SMS.smsAdmin'><i class="fa fa-commenting-o" aria-hidden="true"></i>
            @Messages("SMS")</a></li>
        }
        @restrict(la(as("moderator"), as("teacher"))){
        <li><a href='@controllers.social.routes.SMS.smsWrite'><i class="fa fa-commenting-o" aria-hidden="true"></i>
        @Messages("SMS")</a></li>
        }

        <li class="divider"></li>
        <li><a href="@controllers.user.routes.AuthorisedUsers.signOut()"><i class="icon-off"></i> @Messages("menu.signOut")</a></li>

    }
</ul>