@(throwable: Throwable, id: String)

@import play.api.PlayException;
@import be.objectify.deadbolt.java.views.html._
@import be.objectify.deadbolt.core.utils.TemplateUtils._

@workTime = {
	 <table class="table table-striped table-condensed" >
 		<caption><h4>@Messages("support.notify")</h4></caption> 		
	 	<tbody>
    	<tr>
    		<th align="right">@Messages("Mo"):</th>
    		<td>9:00 - 18:00</td>
    	</tr>
    	<tr>
    		<th>@Messages("Tu"):</th>
    		<td>9:00 - 18:00</td>
    	</tr>
    	<tr>
    		<th>@Messages("We"):</th>
    		<td>9:00 - 18:00</td>
    	</tr>
    	<tr>
    		<th>@Messages("Th"):</th>
    		<td>9:00 - 18:00</td>
    	</tr>
    	<tr>
    		<th>@Messages("Fr"):</th>
    		<td>9:00 - 18:00</td>
    	</tr>
    	<tr>
    		<th>@Messages("Sa"):</th>
    		<td>9:00 - 15:00</td>
    	</tr>
    	<tr>
    		<th>@Messages("Su"):</th>
    		<td>@Messages("support.weekend")</td>
    	</tr>
    	</tbody>
    	<tfoot>
    		<th>@Messages("support.dinner"):</th>
    		<td>13:00 - 14:00</td>
    	</tfoot>
    </table>
}

@main(Messages("Error")){
    <div id="wrapper">
        <div class="container-fluid">
            <div class="row">
                <br/><br/><br/>
                <div class="span6 offset6">
                    <h3 class="page-header" align="center">
                        <img src='@routes.Assets.at("images/logo.png")' alt="Technovision LTD"/><br/>
                        @Messages("Error")
                    </h3>
                    <div class="alert alert-danger" role="alert" style="padding-right: 15px;word-wrap: break-word;">
                    @if(!id.equals("")) {
                    <b>@Messages("error") <a href="@routes.Application.index" class="pull-right label label-info">@Messages("toHome")</a></b>                    
					<div class="row-fluid no-print">
						<div class="span12 well hidden-phone">
						 @if(flash.get("email")!=null){
							<div class="alert alert-success fade-in alert-dismissable" role="alert">
							  <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only"></span></button>
							  @Html(flash.get("email"))
							</div>
							@flash.clear()
							}
						 <a href="#support" role="button" style="width: 95%;padding: 10px;" class="btn btn-primary"  data-toggle="modal">				   
						   <img src="@routes.Assets.at("images/support.svg")" id="bg" alt="HTML5 logo">
						   <h3>
						   @Messages("support")
						   </h3>
						 </a>
						 @* @workTime *@ 
						</div>
					</div>
					@*					
                    <br><br>
                    @Messages("ErrorLoggedWithId"): @id<br>
                    @throwable.getMessage<br>
                    @for(trace<-throwable.getStackTrace){
                    	@trace.toString()<br>
                    }
                    *@
                    }
                    
                    </div>
                </div>
            </div>
        </div>
    </div>

<!-- Modal -->
<div id="support" class="modal hide fade no-print" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="width: 25%;">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">@Messages("support")</h3>
  </div>
  <form action="@routes.Application.support" method="POST">
  <div class="modal-body">
  	<div class="row-fluid">
    	<div class="span12"><input type="text" id="moderEmail" name="moderEmail" placeholder="@Messages("support.moderEmail")"/></div>
    </div>
    <div class="row-fluid">
    	<div class="span12"><input type="text" name="title" placeholder="@Messages("title")" value="@Messages("error") <b>: @id</b>"/></div>
    </div>
    <div class="row-fluid">
    	<div class="span12">
    	<textarea name="body" placeholder="@Messages("body")" rows="4" style="width: 90%;">
    	@Messages("ErrorLoggedWithId"): @id<br>
			@throwable.getMessage<br>
		@for(trace<-throwable.getStackTrace){
			@trace.toString()<br>
		}
    	</textarea></div>
    </div>
  </div>
  <div class="modal-footer">
  	<div class="row-fluid">
  		<div class="span12">
  			<button class="btn" data-dismiss="modal" aria-hidden="true">@Messages("cancel")</button>
    		<button type="submit" id="submit" class="btn btn-primary">@Messages("send")</button>
  		</div>
  	</div>
  	<div class="row-fluid">
  		<div class="span12">
  			@workTime
  		</div>
  	</div>
  </div>
  </form>
</div>
}

<script>
$(document).ready(function() {
    $('form').submit(function() {
        $( "#submit" ).attr("disabled","disabled");
    });
});
</script>