@(request: play.mvc.Http.RequestHeader)

@import views.html.helps.helpAlertManual

@main(Messages("PageNotFound")){
    <div id="wrapper">
        <div class="container-fluid">
            <div class="row">
                <br/><br/><br/>
                <div class="span6 offset5">
                    <h3 class="page-header" align="center">
                        <img src='@routes.Assets.at("images/logo.png")' alt="Technovision LTD"/><br/>
                        @Messages("PageNotFound")
                    </h3>
                    @helpAlertManual(request.uri(),"warning")
                </div>
            </div>
        </div>
    </div>
}