


@_content("Processing"){
	<h3 id=message> @Messages("Checking") </h3>
	<progress id="progress" min="0" max="180" value="0"></progress>
	
	<script>
	function doit() {
		val = $("#progress").attr("value");
		if (val == 180) {
			$("#progress").remove();
			$("#message").html("@Messages("Done")");
		} else {
			$("#progress").animate({ value: "+=1" }, 1);
			setTimeout(doit, 1000);	
		}
	}
	
	$('document').ready(function () {
		doit();	
	}); 
</script>
}

